<div>


    <div *ngFor="let order of inventory" class="margin-bottom-3">
        <div class="large-text margin-bottom-05">

            <div class="flex-container">
                <div (click)="viewOrder(order)" class="flex-item flex-1">
                    
                    <span *ngIf="order.source"
                        class="status-label margin-right-05"> {{order.source}}</span>
                    <span class="status-label margin-right-05"> {{order.order_number}}</span>   {{order.sales_order?.shipping_address_name}}, {{order.sales_order?.shipping_city}} -  {{order.sales_order?.shipping_district}}

                </div>
                <div class="flex-item">
                    {{order.sales_order?.order_date | date : 'medium'}}

                 
                </div>
            </div>
        </div>
        <div class="table-body">
            <div *ngFor="let item of order.product" class=" flex-container table-body-item">




                <div class="flex-item flex-15 ">
                    {{item.name}}
                    <span class="span-label">{{item.type}}</span>
                    <div class="tiny-text color-grey" *ngFor="let item of item.bonus" >
                        - {{item.name}}
                    </div>
                   
                </div>




                <div class="flex-item flex-15">
                    <div class="flex-container">
                        <div class="flex-item">
                            {{item.location?.location}}
                        </div>
                        <div class="flex-item">
                            <span class="color-grey">Rack</span> {{item.location?.name}}
                        </div>
                        <div class="flex-item">
                            <span class="color-grey">Chamber</span> {{item.location?.chamber}}
                        </div>
                    </div>


                </div>



                <div class="flex-item flex-1">

                    <div  *ngIf="item.serial_number" class="status-label" style="margin-right: 2px;">
                        {{item.serial_number}}
                    </div>

                    <app-form-input *ngIf="!item.serial_number && item.type!=='BONUS'" isHideAction="true" label="Serial Number"
                        (onClose)="itemUpdate(item,$event)" [id]="'serial_number'" [value]="item.serial_number">
                    </app-form-input>


                </div>


                <!-- <div class="flex-item flex-1">
                    <button (click)="selected_order = item" class="button clear tiny">
                        Add Bonus
                    </button>
                   
                </div>
     -->

                <div class="flex-item flex-1">

                    <img *ngIf="item.image_url" class="packing_photo cursor" (click)="selected_image = item.image_url"
                        width="100" height="100" [src]="item.image_url" alt="">

                </div>





                <div class="flex-item flex-1 text-right">

                    <button *ngIf="item.type !== 'BONUS'" (click)="addBonus(order,item)" class="button margin-right-05 tiny clear active ">
                        + Add Bonus
                    </button>

                    <input class="hide" type="file" (change)="onChange($event,item)" #fileUpload />


                    <!-- 
                    <button (click)="item.is_valid = true" class="button tiny clear active" style="margin-right: 2px;">
                        <fa-icon  [icon]="faBarcode"></fa-icon>
                    </button> -->
                    <button *ngIf="item.type!=='BONUS'" (click)="fileUpload.click()" class="button tiny clear active margin-right-05  ">
                        <fa-icon [icon]="faCamera"></fa-icon>
                    </button>


                    <button *ngIf="item.type!=='BONUS'" [disabled]="!item.image_url" (click)="statusUpdate(item)"
                        class="button tiny button secondary">
                        Checkout
                    </button>
 
                    <button *ngIf="item.type =='BONUS'" [disabled]="!item.image_url" (click)="statusUpdate(item)"
                    class="button tiny button secondary">
                    Checkout
                </button>

                  


                </div>
            </div>
        </div>
    </div>



</div>

<app-modal-full (onClose)="selected_image =null" *ngIf="selected_image">
    <img width="100%" height="100%" [src]="selected_image" alt="">
</app-modal-full>

<app-modal *ngIf="selected_order" [title]="'Add Bonus'">

    <app-form-search [placeholder]="'Select Product'" (onSearch)="searchChanges($event)">
    </app-form-search>

    <div tabindex="-1" class="form search-container">



        <div *ngIf="products" class="search-content callout padding-center-1 rounded border medium-grey-bg">
            <div class="list-tile-container">
                <div *ngFor="let item of products" class="list-tile-item cursor cursor flex-container">


                    <div class="flex-item flex-1">
                        {{item.name}} {{item.order_number}}
                    </div>
                    <div class="flex-item">
                        <button (click)="addThisProduct(item)" [disabled]="item.added" class="button tiny clear">
                            {{item.added?'Added':'Add'}}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <button class="button expanded">
        Request
    </button> -->
</app-modal>


<app-order-management-view *ngIf="selected_order_view" [hide_action]="true" (onClose)="selected_order_view = null" [selected_order]="this.selected_order_view"></app-order-management-view>