<div>
           


    <div class="table-header">
        <div class=" flex-container table-header-item">



            <!-- <div class="flex-item flex-1">
                Product ID
            </div> -->

            <div class="flex-item flex-15 ">
                Name
            </div>

            <div class="flex-item flex-1 ">
                Checkin Request
            </div>

         




            <div class="flex-item flex-15">
                Location
            </div>

         





         

            <div class="flex-item flex-1 text-right">
                Action
            </div>
        </div>
    </div>

    <div class="table-body">
        <div *ngFor="let item of inventory" class=" flex-container table-body-item">

            <!-- <div class="flex-item flex-1">
                {{item.purchase_number}}
            </div> -->

            <!-- <div class="flex-item flex-1">
                {{item.product_id}}
            </div> -->

            <div class="flex-item flex-15 ">
                {{item.name}}
            </div>
         
            <div class="flex-item flex-1 ">
                {{item.total}}
            </div>

         


            <div class="flex-item flex-15 form">
                <!-- {{item.location?.name}} - {{item.location?.chamber}} -->
                <select [(ngModel)]="item.warehouse_rack_id">
                    <option >Select Rack</option>
                    <option *ngFor="let item of rack" [value]="item.id">{{item.location}} - Rack {{item.name}} - Chamber {{item.chamber}}</option>
                </select>
                
            </div>

          

           


          

            <div class="flex-item flex-1 text-right">
               
                <button *ngIf="!item.is_adding" [disabled]="!item.warehouse_rack_id" (click)="statusUpdate(item)" class="button tiny button secondary">
                    Check-In
                </button>
                <button disabled class="button tiny clear" *ngIf="item.is_adding">
                    Adding..
                </button>
            </div>
        </div>
    </div>

</div>