<app-modal (onClose)="closeModal()" *ngIf="selected_order" [title]="this.selected_order.id" isBorder="true"
    isHalf="true">

    <div *ngIf="!hide_action" topbar>
        <div class="flex-container ">
            <div class="flex-item flex-1">
                <ul *ngIf="!isAllowEdit()" class="menu">
                    <!-- && this.selected_order.status !== 'CANCELED' -->
                    <li *ngIf="!this.selected_order.payment_status" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('PROCESSING')" class="button    small   ">
                            Processing & Receive Payment
                        </button>
                    </li>
                    <li *ngIf="isNotAllowCancel()" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('CANCELED')" class="button   clear small active  ">
                            Cancel
                        </button>


                    </li>

                    <li *ngIf="selected_order.payment_status == true" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('REFUND')" class="button   clear small active  ">
                            Refund
                        </button>


                    </li>
                    <li *ngIf="selected_order.payment_status == true" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('UPGRADE')" class="button   clear small active  ">
                            Upgrade
                        </button>


                    </li>


                    <!-- <li class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('COMPLETE')" 
                            class="button   clear small active  ">
                            Complete
                        </button>
                    </li> -->



                </ul>
            </div>
            <div class="flex-item">
                <ul style="justify-content: flex-end;" class="menu menu-right">

                    <li class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="generatePdfs(this.selected_order)" class="button   clear small active  ">
                            Print <fa-icon [icon]="faPrint"></fa-icon>
                        </button>
                    </li>

                    <li *ngIf="isAllowEdit()" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('processing')" class="button   small   ">
                            Save Order
                        </button>
                    </li>


                </ul>
            </div>
        </div>

    </div>



    <div class="timeline-container medium-grey-bg" sidebar>
        <div class="callout padding-center">


            <div class="callout border padding-center-1 rounded small-text">
                <div class="flex-1 color-grey margin-bottom-05">
                    Shipping Address
                </div>
                <div>
                    <div>
                        <!-- {{this.selected_order.shipping_address_name}} -->

                        <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateField($event)"
                            [id]="'shipping_address'" [value]="selected_order.shipping_address_name">
                        </app-form-input>

                    </div>
                    <!-- {{this.selected_order.shipping_address}} -->


                    <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateField($event)"
                        [id]="'shipping_address'" [value]="selected_order.shipping_address">
                    </app-form-input>


                    <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateField($event)"
                        [id]="'shipping_region'" label="Region" [value]="selected_order.shipping_region">
                    </app-form-input>


                    <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateField($event)"
                        [id]="'shipping_city'" label="City" [value]="selected_order.shipping_city">
                    </app-form-input>

                    <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateField($event)"
                        [id]="'shipping_district'" label="District" [value]="selected_order.shipping_district">
                    </app-form-input>




                </div>
            </div>



            <div class="list-tile-container">
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey ">
                        Status
                    </div>
                    <div class="flex-1 ">
                        <span [ngClass]="this.selected_order.status" class="status-label">
                            {{this.selected_order.status}}
                        </span>

                    </div>
                </div>
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey ">
                        Payment Status
                    </div>
                    <div class="flex-1 ">
                        <span class="status-label">
                            {{this.selected_order.payment_status?'Paid':'Unpaid'}}
                        </span>

                    </div>
                </div>
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Sales Channel
                    </div>
                    <div class="flex-1 ">
                        <span class="status-label">{{this.selected_order.sales_channel}}</span>

                    </div>
                </div>
                <div *ngIf="this.selected_order.sales_channel_id" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Sales Channel ID
                    </div>
                    <div class="flex-1 ">

                        <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateField($event)"
                            [value]="selected_order.sales_channel_id" [id]="'sales_channel_id'"
                            [value]="selected_order.sales_channel_id">
                        </app-form-input>
                    </div>
                </div>
                <div *ngIf="this.selected_order.sales_channel == 'online_chat'" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Paymentlink
                    </div>
                    <div class="flex-1 ">
                        <button (click)="copyLink()" class="button tiny clear">
                            Copylink
                        </button>

                    </div>
                </div>
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Order Date
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.order_date?(this.selected_order.order_date | date :'medium'):(this.selected_order.created_at | date :'medium')}}
                    </div>
                </div>
                <div *ngIf="this.selected_order.payment_date" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Payment Date
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.payment_date | date : 'medium'}}
                    </div>
                </div>


                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Name
                    </div>
                    <div class="flex-1 ">

                        <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateField($event)"
                            [id]="'shipping_address_name'" [value]="selected_order.shipping_address_name">
                        </app-form-input>


                        <!-- {{this.selected_order.address.name}} -->


                    </div>
                </div>

                <div *ngIf="this.selected_order.sales_channel_id" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Email
                    </div>
                    <div class="flex-1 ">
                        <!-- {{this.selected_order.customer_email}} -->


                        <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateField($event)"
                            [id]="'customer_email'" [value]="selected_order.customer_email">
                        </app-form-input>




                    </div>
                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Phone
                    </div>
                    <div class="flex-1 ">
                        <!-- {{this.selected_order.shipping_phone}} -->

                        <!-- {{this.selected_order.shipping_phone}} -->


                        <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateField($event)"
                            [id]="'shipping_phone'" [value]="selected_order.shipping_phone">
                        </app-form-input>

                    </div>
                </div>


                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Payment Method
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.payment_method}}
                    </div>
                </div>
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Payment Bank
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.payment_bank}}
                    </div>
                </div>

                <div *ngIf="this.selected_order.payment_installment" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Payment Installment
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.payment_installment}}
                    </div>
                </div>


                <div *ngIf="this.selected_order.midtrans?.transaction_id" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Midtrans ID
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.midtrans?.transaction_id}}
                    </div>
                </div>

                <div *ngIf="this.selected_order.midtrans?.transaction_status" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Midtrans Status
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.midtrans?.transaction_status}}
                        <div class="tiny-text color-grey"> {{this.selected_order.midtrans?.settlement_time}}</div>
                    </div>
                </div>



                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Method
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_method_label}}
                    </div>
                </div>

                <div *ngIf="this.selected_order.shipping_number" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Number
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_number}}
                    </div>
                </div>
                <div *ngIf="this.selected_order.shipping_driver" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Driver
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_driver}}
                    </div>
                </div>

                <div *ngIf="this.selected_order.shipping_status" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Status
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_status}}
                    </div>
                </div>
                <div *ngIf="this.selected_order.shipping_photo_url" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Photo
                    </div>
                    <div class="flex-1 ">
                        <img class="cover-image" [src]="this.selected_order.shipping_photo_url" alt="">
                    </div>
                </div>

                <div *ngIf="this.selected_order.shipping_tracking_url" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Track Driver
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_tracking_url}}
                    </div>
                </div>


                <div *ngIf="this.selected_order.shipping_driver_name" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Driver Name
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_driver_name}}
                    </div>
                </div>


            </div>


        </div>


    </div>


    <div class="fade-in">




        <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
            <h4>Product Details</h4>

            <div *ngIf="isAllowEdit()">
                <app-form-search (onSearch)="getProductSearch($event)"></app-form-search>
                <app-card *ngIf="search_product?.length !== 0">
                    <div class="list-tile-container">
                        <div class="list-tile-item flex-container" *ngFor="let item of search_product">
                            <div class="flex-item flex-1">
                                <div>{{item.name}}</div>
                                <div><span class="color-grey">Stock</span> {{item.qty}}</div>

                            </div>
                            <div class="flex-item">
                                <button (click)="addProduct(item)" class="button tiny clear active">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>

                </app-card>
            </div>



            <div class="table-header">
                <div class="table-header-item flex-container">
                    <div class="flex-item flex-15">
                        Name
                    </div>


                    <div class="flex-item flex-1 text-center">
                        Qty
                    </div>

                    <div class="flex-item flex-1">
                        Discount
                    </div>

                    <div class="flex-item flex-1">
                        Price
                    </div>
                    <div *ngIf="selected_order.status == 'PROCESSING'" class="flex-item flex-1">
                        Inventory
                    </div>


                </div>
            </div>

            <div class="table-body">
                <div *ngFor="let item of selected_order?.product" class="table-body-item border flex-container">
                    <div class="flex-item flex-15">
                        <span *ngIf="item.is_flashdeal" class="span-label">Flashdeal</span>

                        <div class="margin-bottom-05">
                            {{item.name}}
                        </div>

                        <div class="tiny-text margin-bottom-05" *ngIf="item.bonus_items?.length > 0">
                            <div>Bonus Item</div>
                            <div class="color-grey tiny-text" *ngFor="let item of item.bonus_items">
                                - {{item.name}} X {{item.order_qty}}
                            </div>
                        </div>
                        <div class="tiny-text" *ngIf="item.bundling_items?.length > 0">
                            <div>Bundling Item</div>
                            <div class="color-grey tiny-text" *ngFor="let item of item.bundling_items">
                                - {{item.name}} X {{item.order_qty}}
                            </div>
                        </div>

                        

                    </div>


                    <div class="flex-item flex-1">


                        <div class="flex-container text-center">
                            <div *ngIf="isAllowEdit()" class="flex-item flex-1">
                                <button (click)="updateProductQty(false,item)" class="button tiny clear">
                                    -
                                </button>
                            </div>
                            <div class="flex-item flex-1">
                                <span (click)="selected_performace_id = item.entity_id" class="status-label">
                                    {{item.order_qty}}
                                </span>
                            </div>

                            <div *ngIf="isAllowEdit()" class="flex-item flex-1">
                                <button (click)="updateProductQty(true,item)" class="button tiny clear">
                                    +
                                </button>
                            </div>
                        </div>


                    </div>

                    <div class="flex-item flex-1">
                        <app-form-input [type]="'currency'" isHideLabel="true" [isHideAction]="true"
                            (onClose)="updateProduct(item,$event)" [id]="'discount_amount'"
                            [value]="item.discount_amount">
                        </app-form-input>


                        <!-- {{item.discount_amount | currency : "IDR"}} -->
                    </div>

                    <div class="flex-item flex-1">
                        <app-form-input [disabled]="!isAllowEdit()" [type]="'currency'" [isHideAction]="true"
                            (onClose)="updateProduct(item,$event)" [id]="'final_price'" [value]="item.final_price">
                        </app-form-input>


                        <!-- {{item.final_price | currency : "IDR"}} -->
                    </div>
                    <div *ngIf="selected_order.status == 'PROCESSING'" class="flex-item flex-1 form">
                        <select (change)="onChange(item,$event)">
                            <option value="">+ Add</option>
                            <option *ngFor="let item of warehouse" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>


                </div>
            </div>





            <div class="callout">
                <div class="flex-container small-text  margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Subtotal

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{selected_order.subtotal  | currency:"IDR":"Rp"}}
                    </div>
                </div>


                <div class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Shipping

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{selected_order.shipping_cost | currency:"IDR"}}

                    </div>
                </div>
                <div class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Discount

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{selected_order.total_discount | currency:"IDR":"Rp"}}
                    </div>
                </div>

                <div class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Total

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{selected_order.total  | currency:"IDR":"Rp"}}


                    </div>
                </div>
            </div>

        </div>

        <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
            <h4>Inventory</h4>



            <div *ngFor="let item of this.selected_order.inventory"
                class="callout padding-center-1 rounded border flex-container margin-bottom-05 small-text">


                <div class="flex-item flex-2">
                    <div class="flex-container">
                        <div class="flex-item flex-">
                            <img *ngIf="item.image_url" class="packing_photo cursor margin-right-05" width="100"
                                height="100" [src]="item.image_url" alt="">
                        </div>
                        <div class="flex-item flex-">
                            <div>{{item.name}} <span class="span-label"> {{item.type}} </span></div>
                            <div class="tiny-text color-grey">cogs : {{item.cogs | currency : "IDR"}}</div>

                            <div class="tiny-text color-grey" *ngFor="let item of item.bonus">
                                - {{item.name}}
                            </div>


                            <div>
                                Age : {{item.age}} D
                            </div>
                        </div>
                    </div>


                </div>





                <div class="flex-item">
                    <span class="status-label">
                        {{item.status}}
                    </span>

                </div>

                <div style="width: 50px;" class="flex-item text-right">
                    <app-remove-button (onClick)="statusUpdate(item)">
                        <button class="button tiny clear margin-bottom-0">
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </button>
                    </app-remove-button>

                </div>


            </div>


        </div>









    </div>

</app-modal>

<app-modal isHalf="true" (onClose)="selected_performace_id = null" *ngIf="selected_performace_id">
    <app-product-performance [product_id]="selected_performace_id"></app-product-performance>

</app-modal>