.tab-option-container{
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 1px;
    border-radius: 10px;
    font-size: 14px;
    width: fit-content;
    
    .tab-option-button{
        cursor: pointer;
        padding: 0.3rem 0.9rem;
        border-radius: 9px;
        color: #87909e !important;
        margin-left: 1px;
        margin-right: 2px;
        // border: 1px solid #2b3037  !important ;


        &.active{
            background: #30353ccc  !important;
            color: white !important;
            font-weight: bold;
           
           
        }
        &:hover{
            // border: 1px solid #5e5e5e66 !important ;
        }
    }
}