<div class="main-content page-enter-from-right">
    <div class="row collapse">



        <div class="medium-9 columns">

            <div class="content-wrapper">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        
                        <div class="label-text medium">
                            <span [routerLink]="'/order-management/'" class="cursor">
                                <fa-icon [icon]="faChevronLeft"></fa-icon> Back
                            </span>
                            <div class="title">
                                Create Sales Order
                            </div>

                        </div>
                    </div>

                </div>

                <form [formGroup]="manualOrderForm" class="row margin-bottom-1">
                    <div class="medium-6 columns">
                        <div formGroupName="customer" class="callout form padding-center  medium-grey-bg rounded">
                            <h4>Customer</h4>
                            <label for="">Source</label>

                            <select formControlName="email">
                                <option *ngFor="let item of sourceList" [value]="item.email">{{item.label}}</option>
                            </select>

                            <label for="">Fullname</label>
                            <input formControlName="firstname" type="text">
                            <label for="">Phone</label>
                            <input formControlName="telephone" type="number">

                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div formGroupName="shipping_address"
                            class="callout form padding-center  medium-grey-bg rounded">

                            <h4>Shipping Address</h4>
                            <label>Address</label>



                            <textarea formControlName="street" rows="4"></textarea>



                            <div class="form search-container">
                                <app-form-search [placeholder]="'pilih kota / kecamatan'"
                                    [searchKey]="this.selectedDistrict?.subdistrict_name"
                                    (onSearch)="findDistrict($event)">
                                </app-form-search>




                                <div *ngIf="cityList || districtList"
                                    class="search-content callout padding-center-1 rounded border medium-grey-bg">
                                    <div class="list-tile-container">
                                        <div *ngIf="show_city">
                                            <div (click)="selectCity(item)" class="cursor list-tile-item"
                                                *ngFor="let item of cityList">

                                                <fa-icon class="margin-right-05" [icon]="faMapMarker"></fa-icon> <span>
                                                    {{item.province}}</span>, <span>{{item.city_name}} </span>

                                            </div>
                                        </div>

                                        <div *ngIf="!show_city && districtList?.length>0">
                                            <h5>Pilih Kecamatan</h5>
                                        </div>

                                        <div (click)="selectDistrict(item)" class="list-tile-item cursor"
                                            *ngFor="let item of districtList">

                                            <fa-icon class="margin-right-05" [icon]="faMapMarker"></fa-icon> <span>
                                                {{item.province}}</span>,
                                            <span>{{item.city_name}}</span> -
                                            <span>{{item.subdistrict_name}}</span>

                                        </div>
                                    </div>
                                </div>

                            </div>





                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="medium-12 columns">
                        <div style="min-height: 40vh;" class="callout padding-center  rounded medium-grey-bg margin-bottom-2">
                            <h4>Add Product</h4>
                            <div tabindex="-1" class="form search-container">


                                <app-form-search [placeholder]="'Select Product'" [searchKey]="this.keyword"
                                    (onSearch)="searchChanges($event)">
                                </app-form-search>


                                <div *ngIf="products"
                                    class="search-content callout padding-center-1 rounded border medium-grey-bg">
                                    <div class="list-tile-container">
                                        <div (click)="addThisProduct(item)" *ngFor="let item of products"
                                            class="list-tile-item cursor cursor flex-container">


                                            <div class="flex-item flex-1">
                                                {{item.name}}
                                            </div>
                                            <!-- <div class="flex-item flex-05 text-right margin-right-2">
                                                Stock {{item.qty}}
                                            </div> -->
                                            <div class="flex-item text-right">
                                                <button class="button tiny clear">
                                                    Add
                                                </button>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div *ngIf="this.getQuote().length > 0">
                                <div class=" table-header">
                                    <div class="table-header-item flex-container">
                                        <div class="flex-item flex-15">
                                            Product
                                        </div>

                                        <div class="flex-item flex-1">
                                            Sell Price
                                        </div>

                                        <div class="flex-item flex-1">
                                            Discount
                                        </div>

                                        <div class="flex-item flex-1">
                                            Voucher Code
                                        </div>



                                        <!-- <div class="flex-item flex-1">
                                            Bonus Value
                                        </div> -->

                                        <div class="flex-item flex-05">
                                            Trx. Fee
                                        </div>
                                        <div class="flex-item flex-05 text-right">
                                            Qty
                                        </div>
                                       
                                    </div>

                                </div>
                                <div class=" table-body">
                                    <div class="table-body-item border flex-container"
                                        *ngFor="let product of getQuote()| keyvalue ; let i = index ">


                                        <div class="flex-item flex-15">

                                            <div class="flex-container">
                                                <div class="flex-item ">
                                                    <img width="40" height="50" [src]="product.value.image" alt="">

                                                </div>
                                                <div class="flex-item flex-1">
                                                    {{product.value.name}}
                                                   <div>Stock :  {{product.value.available_quantity}}  <button class="button tiny clear" (click)="removeProduct(i)">

                                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                                </button>
                                                
                                                <button (click)="this.selected_product_id = product.value.product_id"
                                            class="button clear tiny">
                                            Check Perfomance
                                        </button>
                                            </div>
                                                
                                                    
                                                </div>
                                            </div>


                                        </div>

                                        <div class="flex-item flex-1">

                                            <app-form-input [type]="'currency'" [isHideAction]="true" isHideLabel="true"
                                                (onClose)="product.value.custom_price = $event.value"
                                                [value]="product.value.custom_price"></app-form-input>
                                        </div>

                                        <div class="flex-item flex-1">

                                            <app-form-input [type]="'currency'" [isHideAction]="true" isHideLabel="true"
                                                (onClose)="product.value.promo_discount_amount = $event.value"
                                                [value]="product.value.promo_discount_amount"></app-form-input>

                                        </div>

                                        <div class="flex-item flex-1">
                                            <app-form-input [isHideAction]="true" isHideLabel="true"
                                                (onClose)="product.value.promo_code = $event.value"
                                                [value]="product.value.promo_code"></app-form-input>


                                        </div>



                                        <!-- <div class="flex-item flex-1">
                                            <app-form-input [isHideAction]="true" isHideLabel="true"
                                                (onClose)="product.value.bonus_value = $event.value"
                                                [value]="product.value.bonus_value"></app-form-input>


                                        </div> -->

                                        <div class="flex-item flex-05">
                                            <app-form-input [isHideAction]="true" isHideLabel="true"
                                                (onClose)="product.value.transaction_fee = $event.value"
                                                [value]="product.value.transaction_fee"></app-form-input>


                                        </div>
                                        <div class="flex-item flex-05 text-right">
                                            <app-form-input [isHideAction]="true" isHideLabel="true"
                                                (onClose)="product.value.request_quantity = $event.value"
                                                [value]="product.value.request_quantity"></app-form-input>

                                               
                                        </div>
                                       
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>



        </div>

        <div class="medium-3 columns" style=" position: sticky;top: 0;">
            <div class="callout form padding-center fullheight medium-grey-bg">
                <h3>Summary</h3>

                <!-- <div *ngIf="selectedDistrict?.subdistrict_name">
                    <fa-icon class="margin-right-05" [icon]="faMapMarker"></fa-icon> <span>{{selectedDistrict.city_name}}</span> -
                    <span>{{selectedDistrict.subdistrict_name}}</span></div> -->
                <div class="margin-bottom-2">
                    <div  [formGroup]="manualOrderForm"  class="list-tile-container margin-bottom-4">
                      
                        <label for="">Custom Date</label>
                        <input formControlName="created_date" type="date">
                        <div class="list-tile-item flex-container align-center">
                            <div class="flex-item flex-1">
                                Generate Paymentlink
                            </div>
                            <div class="flex-item">
                                <label class="switch">
                                    <input (change)="this.paymentLink = $event.target.checked" type="checkbox"
                                        [checked]="paymentLink">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>


                        <div *ngIf="isAllow()" class="list-tile-item flex-container align-center">
                            <div class="flex-item flex-1">
                                Processing & Get Inventory

                              
                            </div>
                            <div class="flex-item">
                                <!-- <button (click)="toggleCustomShipping()" class="button small margin-bottom-0  clear">
                                    Custom
                                </button> -->

                                <label class="switch">
                                    <input  [checked]="is_processing" (change)="this.is_processing = $event.target.checked" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>

                        </div>


                        <div class="list-tile-item flex-container align-center margin-bottom-1">
                            <div class="flex-item flex-1">
                                Custom Shipping
                            </div>
                            <div class="flex-item">
                                <!-- <button (click)="toggleCustomShipping()" class="button small margin-bottom-0  clear">
                                    Custom
                                </button> -->

                                <label class="switch">
                                    <input (change)="toggleCustomShipping()" [checked]="this.is_custom_shipping" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>

                        </div>

                       

                        <!-- <div  *ngIf="!this.is_custom_shipping && this.selectedDistrict" (click)="getShippingMethod()"
                            class="callout cursor padding-center-1 medium-grey-bg rounded border flex-container">
                            <div class="flex-item flex-1">
                            {{this.selectedShippingMethod.method?this.selectedShippingMethod.method:'+ Add Shipping'}}

                            </div>
                            <div class="flex-item">
                                <fa-icon [icon]="faChevronRight"></fa-icon>
                            </div>
                        </div> -->
                    </div>


                    <div class="list-tile-container">

                        <div class="list-tile-item flex-container align-center">
                            <div class="flex-item flex-1">
                                Subtotal
                            </div>
                            <div class="flex-item flex-1 text-right">
                                {{  getSubTotal() | currency :'Rp'}}
                            </div>
                        </div>


                        <div class="list-tile-item flex-container align-center">
                            <div class="flex-item flex-1">
                                Shipping Method
                            </div>
                            <div class="flex-item flex-1 text-right">
                                <div *ngIf="is_custom_shipping">
                                    <input class="margin-bottom-0" [(ngModel)]="this.selectedShippingMethod.method" type="text">
                                </div>
                                <div *ngIf="!is_custom_shipping">
                                    {{this.selectedShippingMethod.method}}
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedShippingMethod" class="list-tile-item flex-container align-center">
                            <div class="flex-item flex-1">
                                Shipping Cost
                            </div>
                            <div class="flex-item flex-1 text-right">
                                <div *ngIf="is_custom_shipping">
                                    <input class="margin-bottom-0" [(ngModel)]="this.selectedShippingMethod.price" type="number">
                                </div>
                                <div *ngIf="!is_custom_shipping">
                                    {{this.selectedShippingMethod?.price | currency :'Rp'}}
                                </div>

                            </div>
                        </div>

                        <div *ngIf="is_custom_shipping" class="list-tile-item flex-container align-center">
                            <div class="flex-item flex-1">
                                Shipping AWB
                            </div>
                            <div class="flex-item flex-1 text-right">
                                <div *ngIf="is_custom_shipping">
                                    <input class="margin-bottom-0" [(ngModel)]="this.selectedShippingMethod.tracking_code" type="text">
                                </div>
                                <div *ngIf="!is_custom_shipping">
                                    {{this.selectedShippingMethod.tracking_code}}
                                </div>
                            </div>
                        </div>


                        <div *ngIf="getDiscount() > 0" class="list-tile-item flex-container align-center">
                            <div class="flex-item flex-1">
                                Discount
                            </div>
                            <div class="flex-item flex-1 text-right">
                                {{getDiscount() | currency :'Rp'}}
                            </div>
                        </div>



                        <div class="list-tile-item flex-container align-center">
                            <div class="flex-item flex-1">
                                Total
                            </div>
                            <div class="flex-item flex-1 text-right">
                                {{getGrandTotal() | currency : 'Rp'}}
                            </div>
                        </div>
                    </div>


                    <!-- <label for="">Shipping Method</label>
                    <input type="text">

                    <label for="">Tracking Code</label>
                    <input type="text">

                    <label for="">Shipping Cost</label>
                    <input type="text"> -->


                </div>

                <div>
                    <button [disabled]="!this.manualOrderForm.valid" (click)="addToOrder()" class="button expanded">
                        <span *ngIf="!this.is_processing">Add Order</span>
                        <span *ngIf="this.is_processing">Processing & Get Inventory</span>

                    </button>
                </div>




            </div>
        </div>

    </div>
</div>

<app-modal *ngIf="shipping_rates" (onClose)="this.shipping_rates = null" [title]="'Select Shipping'">
    <div (click)="selectShippingMethod(item)" *ngFor="let item of shipping_rates"
        class="callout margin-bottom-05 cursor padding-center-1 border rounded flex-container ">
       
        <div class="flex-item flex-1">
            {{item.method}}
        </div>
        <div class="flex-item text-right margin-right-05">
            {{item.price}}
        </div>

    </div>
</app-modal>


<app-modal [title]="'Product Performance'" (onClose)="selected_product_id = null" *ngIf="selected_product_id"
    [isHalf]="true">
    <app-product-performance [product_id]="selected_product_id"></app-product-performance>
</app-modal>