<div>

    <app-table-action>
        <button (click)="addBundling('bundling')" class="button small clear margin-right-05">
            + Add Bundling
        </button>

        <button (click)="addBundling('bonus')" class="button small clear">
            + Add Bonus
        </button>

    </app-table-action>



    <div class="table-header">
        <div class="flex-container table-header-item">

          
            <div class="flex-item" style="width: 60px;">
                ID
            </div>

            <div class="flex-item flex-2">
                Name
            </div>

          


            <div class="flex-item flex-1">
                Type
            </div>

            <div class="flex-item flex-2">
                Total Item
            </div>


            <div class="flex-item flex-1">
                Start
            </div>


            <div class="flex-item flex-1">
                End
            </div>



            <div class="flex-item  text-right" style="width: 40px;">

            </div>
            <div class="flex-item  text-right" style="width: 40px;">

            </div>








        </div>
    </div>

    <div class="table-body">
        <div *ngFor="let item of bundling" class="flex-container table-body-item">

          


            <div (click)="selected_promotion = item" class="flex-item cursor" style="width: 60px;">
                {{item.id}}
            </div>

            <div (click)="selected_promotion = item" class="flex-item cursor flex-2">
           <img class="product-cover" [src]="item.image_path" alt="">     {{item.title}}
            </div>


            <div class="flex-item flex-1">
               <span (click)="selected_promotion = item"  class="status-label">
                {{item.type}}
               </span>
            </div>

            <div class="flex-item flex-2">
                {{item.total_item}}
            </div>

            <div class="flex-item flex-1">
                {{item.start_date | date}}
            </div>


            <div class="flex-item flex-1">
                {{item.end_date | date}}
            </div>





            <div class="flex-item  text-right" style="width: 40px;">

            </div>
            <div class="flex-item  text-right" style="width: 40px;">
                <label class="switch">
                    <input type="checkbox" [checked]="item.status"
                        (change)="updateStatus(item,'status',$event.target.checked)">
                    <span class="slider round"></span>
                </label>
            </div>








        </div>
    </div>






</div>


<app-bundling-view (onClose)="this.ngOnInit()" *ngIf="selected_promotion" [selected_promotion]="selected_promotion">
</app-bundling-view>