<div class="main-body  fade-in">
    <div>


        <div class="flex-container align-center">
            <div class="flex-item flex-1">
                <div class="label-text medium">
                    <div class="title">
                        Sales Order <span routerLink="/sales-order" class="tiny-text cursor">( View Old Sales )</span>
                    </div>

                </div>
            </div>
            <div class="flex-item text-right">
                <div class="flex-container form margin-right-05">
                    <div class="flex-item margin-right-05">
                        <input (change)="changeDate()" [(ngModel)]="start_date" type="date">
                    </div>
                    <div class="flex-item">
                        <input (change)="changeDate()" [(ngModel)]="end_date" type="date">
                    </div>
                  
                </div>
            </div>
            
        </div>

       
       

        <!-- <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu> -->
        <app-table-action [sortListItems]="sortListItems">
            <button (click)="generateReport()" class="button small">Generate Report</button>
        </app-table-action>

       

        <div *ngIf="is_show_report" class="flex-container margin-bottom-1">
            <div class="flex-item margin-right-05">
                <div class="callout padding-center-1 rounded border">
                    <div class="small-text color-grey">
                        Revenue
                    </div>
                    <div class="huge-text">{{total_revenue | currency : 'IDR'}}</div>
                </div>
            </div>
            <div class="flex-item margin-right-05">
                <div class="callout padding-center-1 rounded border">
                    <div class="small-text color-grey">
                        Trx.Fee
                    </div>
                    <div class="huge-text">{{total_payment_fee | currency : 'IDR'}}</div>
                </div>
            </div>
            <div class="flex-item margin-right-05">
                <div class="callout padding-center-1 rounded border">
                    <div class="small-text color-grey">
                       Discount
                    </div>
                    <div class="huge-text">{{total_discount | currency : 'IDR'}}</div>
                </div>
            </div>
            <div class="flex-item margin-right-05">
                <div class="callout padding-center-1 rounded border">
                    <div class="small-text color-grey">
                        Cogs
                    </div>
                    <div class="huge-text">{{total_cogs | currency : 'IDR'}}</div>
                </div>
            </div>
            <div class="flex-item margin-right-05">
                <div class="callout padding-center-1 rounded border">
                    <div class="small-text color-grey">
                        Profit
                    </div>
                    <div class="huge-text">{{total_profit | currency : 'IDR'}}</div>
                </div>
            </div>
        </div>

        <div class="table-header">
            <div class="flex-container table-header-item">

                <div class="flex-item flex-1">

                    Order Number
                </div>



                <div class="flex-item flex-1">
                    Ship To
                </div>





                <div class="flex-item flex-1">
                    Payment
                </div>


               
               
                <div class="flex-item flex-1">
                    COGS
                </div>

                <div class="flex-item flex-1">
                   Trx. Fee
                </div>
                <div class="flex-item flex-1">
                  Discount
                </div>

                <div class="flex-item flex-1">
                    Revenue
                </div>


                <div class="flex-item flex-1">
                    Profit
                </div>

                <div class="flex-item flex-05 text-right">
                   Journal Entry
                </div>

               
              

              

             

             

            </div>
        </div>
        <div class="table-body">
            <div *ngFor="let item of sales_order" class="flex-container table-body-item">

                <div (click)="selectOrder(item)" class="flex-item cursor flex-1">
                    <span class="border-bottom"> {{item.id}} </span> <span class="span-label">{{item.status}}</span> 
                    <div class="color-grey small-text">{{item.order_date?(item.order_date | date :'medium'):(item.created_at | date :'medium')}}</div>
                    <span class="color-grey small-text uppercase">{{item.sales_channel}}</span>
                </div>



                <div class="flex-item flex-1">
                    <div class="">
                        {{item.shipping_address_name | titlecase}}
                       
                       
                    </div>
                    <div class="color-grey hover-show relative">
                        <span (click)="selectOrder(item)"  *ngIf="item.shipping_city" class="border-bottom cursor">
                            {{item.shipping_region}}, {{item.shipping_city}}</span>
                        <div class="tooltip callout border padding-center-1 medium-grey-bg hide rounded ">
                            {{item.shipping_address}}
    
                      

                    
                        </div>
                    </div>

                    <div class="color-grey">{{item.shipping_phone}}</div>

                    

                </div>



                <div class="flex-item flex-1">
                    <div *ngIf="item.sales_channel_id">
                        <div>Via Marketplace</div>
                        <div class="tiny-text color-grey uppercase"> {{item.sales_channel_id}}</div>
                    </div>
                   <div> {{item.payment_method_label}}</div>
                   <div class="small-text color-grey uppercase"> {{item.payment_bank}}
                    <span *ngIf="item.payment_installment">- {{item.payment_installment}} X</span>    
                    
                </div>

            

                </div>






                <div class="flex-item flex-1">
                    {{item.total_cogs | currency : "IDR"}}
                   
                    

                </div>

                <div class="flex-item flex-1">
                    {{item.total_payment_fee | currency : "IDR"}}
                  
                    

                </div>
                <div class="flex-item flex-1">
                    {{item.total_discount | currency : "IDR"}}
                  
                    

                </div>

                <div class="flex-item flex-1">
                    {{item.total | currency : "IDR"}}
                    <div class="hover-show cursor relative">
                        <span (click)="selectOrder(item)"  class="color-grey border-bottom">
                            {{item.total_order_qty}} Items
                        </span>
                        <div class="tooltip callout border padding-center-1 medium-grey-bg hide rounded ">
                            <div *ngFor="let item of item.product">
                                <div>{{item.name}} - {{item.order_qty}}</div>
                              
                            </div>
                        </div>
                    </div>

                </div>


              

                <div class="flex-item flex-1">

                    {{item.profit | currency : "IDR"}}
                  
                  
                </div>
                <div class="flex-item flex-05 text-right">


                    <button *ngIf="item.status == 'COMPLETE'" class="button tiny clear active">
                        Receive
                    </button>
                  
                  
                </div>


              

             

                
             

            </div>
        </div>

        <div *ngIf="page>=1 && is_show_report == false" lazyload (onShown)="loadMore()"></div>




    
       



    </div>
</div>

<app-order-management-view *ngIf="selected_order" (onClose)="closeModal($event)" [selected_order]="this.selected_order">
</app-order-management-view>
