<div style="padding: 1rem;" class="main-body">

    <app-product-performance></app-product-performance>

    <div *ngIf="!show_report" class="text-center padding-middle">
        <button (click)="getReport()">
            Generate Report
        </button>
    </div>

    <div *ngIf="show_report">
     
        <div class="row margin-bottom-05">

            <div class="medium-4 columns">
                <app-card is_expand="true" [title]="'Best Selling Product'">
                    <app-tab-option style="position: sticky;top: 0;z-index:999" (onTab)="getBestSelling($event.name)"
                        [tab_option]="day_option_best"></app-tab-option>

                    <div *ngFor="let item of bestselling" class="list-tile-container">
                        <div (click)="this.selected_product_id = item.product_id" class="cursor list-tile-item flex-container">
                            <div class="flex-item flex-2 margin-right-05 small-text">
                                {{item.name}}
                            </div>

                           


                            <div class="flex-item flex-1 text-right margin-right-1">
                                <span class="color-grey tiny-text">Stock</span>
                                <div> {{item.total_stock}} </div>

                            </div>
                            <div class="flex-item flex-1 text-right">
                                <span class="color-grey tiny-text">Sold</span>
                                <div> {{item.total_order}}
                                    <span class="color-grey"><fa-icon [icon]="faCartPlus"></fa-icon>    
                                    </span>
                                </div>

                            </div>


                        </div>
                    </div>



                </app-card>
            </div>
            <div class="medium-4 columns">
                <app-card is_expand="true" [title]="'Top Product View'">
                    <app-tab-option style="position: sticky;top: 0;z-index:999" (onTab)="getTopView($event.name)"
                        [tab_option]="day_option_view"></app-tab-option>

                    <div *ngFor="let item of top_view" class="list-tile-container">
                        <div (click)="this.selected_product_id = item.product_id" class="cursor list-tile-item flex-container">
                            <div class="flex-item flex-2 margin-right-05 small-text">
                                {{item.summary.product}}  
                                
                                <span *ngIf="item.total > 150">
                                    <span  class="span-label"  *ngIf="item.summary.stock_level <= 1">+Stock</span>

                                </span>
                                <span>
                                    <span class="hide"> {{item.summary.stock_level}}</span>
                                    <span  class="span-label" *ngIf="item.summary.stock_level >= 10">+Traffic


                                    </span>

                                </span>
                            </div>

                            
                            <div class="flex-item flex-05 text-left">
                                <div class="tiny-text color-grey">Stock</div>
                                {{item.summary.stock_level}}
                            </div>

                            <div class="flex-item flex-05 text-right margin-right-05">
                                <div class="tiny-text color-grey">View</div>
                                {{item.total}} <span class="color-grey">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </span>
                            </div>

                           


                        </div>
                    </div>


                </app-card>
            </div>
            <div class="medium-4 columns">



                <app-card is_expand="true" [title]="'Sales Order Last 14 Day'">
                    <app-tab-option style="position: sticky;top: 0;z-index:999"
                        (onTab)="getSalesOrderSummary($event.name)" [tab_option]="sales_option"></app-tab-option>

                    <div class="callout padding-center-1 rounded border flex-container margin-bottom-05">

                        <div class="flex flex-1">
                            <div class="tiny-text color-grey">Revenue</div>
                            {{sales_order_summary_total_revenue | currency :"Rp"}}

                        </div>
                        <div class="flex flex-1">
                            <div class="tiny-text color-grey">Trx</div>
                            {{sales_order_summary_total_trx}}

                        </div>
                    </div>

                    <div class="list-tile-container">
                        <div *ngFor="let item of sales_order" class="list-tile-item flex-container"
                            style="border-bottom: none !important;">
                            <div class="flex-item flex-1 margin-right-05 small-text">
                                {{item.created_at | date}}
                            </div>
                            <div class="flex-item flex-3 margin-right-1">


                                <app-progress-component [value]="item.per" [isHideLabel]="true"
                                    [label]="item.total_revenue"></app-progress-component>
                            </div>
                            <div class="flex-item flex-05 text-right">
                                {{item.total_trx}} trx


                            </div>



                        </div>

                    </div>


                </app-card>
            </div>
        </div>

        <div class="row margin-bottom-05">
            <div class="medium-6 columns">

                <app-card is_expand="true" [title]="'Stock Level - WIA HQ / Sold in 30 Day'">
                    <app-tab-option style="position: sticky;top: 0;z-index:999" (onTab)="changeStockLevel($event)"
                        [tab_option]="tab_option"></app-tab-option>


                    <div *ngIf="!stock_level" class="loading">Loading</div>

                    <div *ngIf="stock_level">
                        <div *ngFor="let item of stock_level" class="list-tile-container">
                            <div (click)="this.selected_product_id = item.product_id" [ngClass]="{'red-bg': item.sold_per_age !== null}"
                                class="list-tile-item cursor flex-container">
                                <div class="flex-item flex-15 margin-right-2 small-text">
                                   <span class="cursor" > {{item.name}}</span>
                                   
                                  
                                </div>

                                <div class="flex-item flex-1 text-left  ">
                                    <span class="color-grey tiny-text">Value</span>

                                    <div>
                                        {{item.total_cogs | currency :'Rp'}}
                                    </div>
                                </div>


                                <div class="flex-item flex-05 text-right">
                                    <span class="color-grey tiny-text">Stock</span>
                                    <div>{{item.count}}</div>
                                </div>

                                <div class="flex-item flex-05 text-right margin-right-05">
                                    <span class="color-grey tiny-text">Sold</span>
                                    <div>{{item.summary.total_order}} </div>
                                </div>

                                <div class="flex-item flex-05 text-right">
                                    <span class="color-grey tiny-text">Age</span>

                                    <div>
                                        {{item.summary.avg_age}} D
                                    </div>
                                </div>

                                <div class="flex-item flex-05 text-right">
                                    <span *ngIf="item.sold_per_age !== null" class="color-grey tiny-text">Health</span>

                                    <div *ngIf="item.sold_per_age !== null" class="bold tiny-text">
                                        {{item.sold_per_age | number : '1.1-1'}} %
                                    </div>
                                </div>







                            </div>
                        </div>
                    </div>



                </app-card>
            </div>
            <div class="medium-6 columns">
                <app-card is_expand="true" [title]="'Ads Performance'">
                    <app-tab-option style="position: sticky;top: 0;z-index:999" (onTab)="getLinkbuilder($event.name)"
                        [tab_option]="ads_tab_option"></app-tab-option>


                    <div *ngIf="!link" class="loading">Loading</div>

                    <div *ngIf="link">
                        <div *ngFor="let item of link" class="list-tile-container">
                            <div class="list-tile-item flex-container">
                                <div style="overflow-wrap: anywhere;"
                                    class="flex-item small-text flex-2 margin-right-2">
                                    {{item.campaign_id}}
                                </div>

                                <div class="flex-item flex-1 text-left  ">
                                    <span class="color-grey tiny-text">Click</span>

                                    <div>
                                        {{item.click }}
                                    </div>
                                </div>

                                <div class="flex-item flex-1 text-left">
                                    <span class="color-grey tiny-text">Add To Cart</span>

                                    <div>
                                        {{item.add_to_cart }}
                                    </div>
                                </div>

                                <div class="flex-item flex-1 text-left">
                                    <span class="color-grey tiny-text">Checkout</span>

                                    <div>
                                        {{item.checkout }}
                                    </div>
                                </div>

                                <div class="flex-item flex-1 text-left">
                                    <span class="color-grey tiny-text">Purchase</span>

                                    <div>
                                        {{item.total_purchase }}
                                    </div>
                                </div>









                            </div>
                        </div>
                    </div>



                </app-card>

            </div>
        </div>
      

    </div>


    <app-modal [title]="'Product Performance'" (onClose)="selected_product_id = null" *ngIf="selected_product_id" [isHalf]="true">
        <app-product-performance [product_id]="selected_product_id"></app-product-performance>
    </app-modal>


</div>