.chart-container{
    padding: 2rem 0;
    .bar-container{
        height: 200px;
      
        min-height: 200px;
        width: 50px;
        position: relative;
       
        .bar-item{
         
            background: rgba(255, 255, 255, 0.363);
            bottom: 0;
            width: 50px;
            position: absolute;
            color: black;
            padding:5px;
            max-height: 200px;
           
           
        }
        .bar-height{
         
          
            bottom: 0;
            width: 50px;
            position: absolute;
            color: white;
          
            border-top: 1px solid white;
           
           
        }
        .date{
            position: absolute;
            bottom: -10%;
            z-index: 999;
            font-size: 10px;
        }
        .flex-item{
    
        }
        .green{
            background: chartreuse;
        }
        .red{
            color: brown !important;
        }
    }
}

.my_class{
    color: brown;
}

.red-bg{
    background: #a52a2a3d;
}