<div *ngIf="affiliate" class="callout padding-center medium-grey-bg rounded margin-bottom-1">
   <h3>Rule Settings</h3>

   <div class="form flex-container large-text margin-bottom-05 padding-bottom-05">
      <div class="flex-item flex-1 margin-right-05">
         <label for="">Referal Fee / Item ( Percentage )</label>
         <input [(ngModel)]="affiliate.referal_fee" type="text">
      </div>

      <div class="flex-item flex-1">
         <label for="">Reference Fee / Item ( Percentage )</label>
         <input [(ngModel)]="affiliate.reference_fee" type="text">

      </div>


   </div>

   <div class="form flex-container large-text margin-bottom-05 padding-bottom-05">
      <div class="flex-item flex-1 margin-right-05">
         <label for="">Status</label>
        <select [(ngModel)]="affiliate.status" name="" id="">
            <option value="ENABLE">Enable</option>
            <option value="DISABLE">Disable</option>
        </select>
      </div>

     


   </div>




</div>
