<div class="main-content">
  <div class="row collapse">
    <div class="medium-8 columns">
      <div class="content-wrapper">
        <div class="label-text medium border-bottom margin-bottom-1">
          <div class="flex-container align-center">
            <div class="flex-item flex-1">
              <a [routerLink]="['/cash-bank']" style="color: white">
                <fa-icon [icon]="faChevronLeft"></fa-icon> Back to Cash/Bank
              </a>
              <div class="title">
                {{ title }}
              </div>
              <div class="small-text">..</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <div
              class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
            >
              <h5>Transaction Details</h5>
              <form [formGroup]="manualOrderForm">
                <div class="bold large-text flex-container">
                  <div class="flex-item flex-1 margin-right-1">
                    {{ bank_account_title }}
                    <select
                      *ngIf="bank_accounts"
                      formControlName="bank_account"
                    >
                      <option
                        *ngFor="let item of bank_accounts"
                        [ngValue]="item"
                      >
                        {{ item.account_name }}
                      </option>
                    </select>
                  </div>
                  <div class="flex-item flex-1 margin-right-1">
                    Transaction Date
                    <input formControlName="create_date" type="date" />
                  </div>
                  <div class="flex-item flex-1">
                    Reference Number ( opsional , ex. #invoice / #transfer )
                    <input formControlName="reference_number" type="text" />
                  </div>
                </div>
              </form>
            </div>

            <div
              class="callout form margin-bottom-1 padding-center medium-grey-bg rounded margin-bottom-1"
            >
              <h5>{{ journal_account_title }}</h5>

              <div
                class="bold large-text flex-container margin-bottom-1 padding-bottom-1 border-bottom"
              >
                <div class="flex-item flex-1 margin-right-1">
                  <span *ngIf="type == 'make_payment'">
                    <a
                      routerLinkActive="router-link-active"
                      [routerLink]="['./']"
                      [queryParams]="{ payment_type: 'expenses' }"
                      >Expenses</a
                    >
                    |
                    <a
                      [routerLink]="['./']"
                      [queryParams]="{ payment_type: 'account_payment' }"
                      routerLinkActive="router-link-active"
                      >Account</a
                    >
                  </span>

                  <span *ngIf="type == 'receive_payment'">Account</span>
                </div>
                <div class="flex-item flex-1 margin-right-1">Description</div>
                <div class="flex-item flex-1 margin-right-1">Amount</div>
                <div class="flex-item">Action</div>
              </div>

              <div
                *ngFor="let item of getQuote() | keyvalue; let i = index"
                class="bold large-text flex-container"
              >
                <div class="flex-item flex-1 margin-right-1">
                  <app-form-select
                    label="Account"
                    [selected_option]="getAccountName(i)"
                    (onSearch)="handleSearchAccount($event)"
                    [value]="item.value.account"
                    (onSelect)="handleChangeAccount($event, i)"
                    [option]="filteredAccounts"
                  >
                  </app-form-select>
                </div>
                <div class="flex-item flex-1 margin-right-1">
                  <input
                    [(ngModel)]="item.value.account_description"
                    type="text"
                  />
                </div>
                <div class="flex-item flex-1 margin-right-1">
                  <input [(ngModel)]="item.value.amount" type="number" />
                </div>

                <div class="white flex-item">
                  <a (click)="removeAccount(i)">Remove</a>
                </div>
              </div>

              <a (click)="addMoreAccount()">+ Add More Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="medium-4 columns"
      style="position: sticky; top: 0; min-height: 100vh"
    >
      <div
        class="callout padding-center medium-grey-bg"
        style="min-height: 100vh"
      >
        <h5>Journal Entry</h5>
        <div
          class="bold large-text flex-container padding-bottom-05 margin-bottom-05 border-bottom"
        >
          <div class="flex-item flex-1 margin-right-05">Account</div>
          <div class="flex-item flex-1 margin-right-05">Credit</div>
          <div class="flex-item flex-1 margin-right-05">Debit</div>
        </div>
        <div *ngIf="manualOrderForm.value.bank_account">
          <div
            *ngFor="let item of getQuote() | keyvalue; let i = index"
            class="large-text flex-container margin-bottom-05 padding-bottom-05 border-bottom"
          >
            <div class="flex-item flex-1 margin-right-05">
              {{ manualOrderForm.value.bank_account?.account_name }}
            </div>
            <div class="flex-item flex-1 margin-right-05">
              <span *ngIf="type === 'make_payment'">{{
                item.value.amount | currency : "IDR" : "Rp"
              }}</span>
            </div>
            <div class="flex-item flex-1 margin-right-05">
              <span *ngIf="type === 'receive_payment'">{{
                item.value.amount | currency : "IDR" : "Rp"
              }}</span>
            </div>
          </div>
          <div
            *ngFor="let item of getQuote() | keyvalue; let i = index"
            class="large-text flex-container margin-bottom-05 padding-bottom-05 border-bottom"
          >
            <div class="flex-item flex-1 margin-right-05">
              {{ item.value.account?.account_name }}
            </div>
            <div class="flex-item flex-1 margin-right-05">
              <span *ngIf="type === 'receive_payment'">{{
                item.value.amount | currency : "IDR" : "Rp"
              }}</span>
            </div>
            <div class="flex-item flex-1 margin-right-05">
              <span *ngIf="type === 'make_payment'">{{
                item.value.amount | currency : "IDR" : "Rp"
              }}</span>
            </div>
          </div>
        </div>

        <div class="padding-center text-right">
          <button
            [disabled]="!this.manualOrderForm.valid"
            (click)="submitForm()"
            class="expanded"
          >
            {{ submit_button }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
