<div class="main-body">

    <div class="flex-container">
        <div class="flex-item">
            <app-bisidebar></app-bisidebar>
        </div>
        <div class="flex-item flex-1">
            <div style="padding:0 3%">
              
                <div class="label-text medium">
                    <div class="flex-container align-center margin-bottom-1 justify-space-between align-center">
    
                        <div class="flex-item flex-1 margin-right-1">
                            <a [routerLink]="['/inventory']" routerLinkActive="router-link-active" class="white">
                                <fa-icon class="margin-right-05" [icon]=faChevronLeft></fa-icon>Inventory
                            </a>
                            <div class="title">
                                Add Inventory
                            </div>
                        </div>
    
                        <div class="flex-item flex-1 text-right" *ngIf="purchase_order.items.length>0">
                         <h3 style="margin:0" >Total : {{getTotal()  | currency:'IDR':'Rp' }}</h3>
                         <p class="tiny-text"> {{getTotalProduct()}} item(s)</p>
                        </div>
    
                    </div>
    
                </div>
                <div class="row collapse">
                    <div class="medium-12 columns">
                        <div class="row">
                            <div class="medium-6 columns">
            
                                <div class="callout form padding-center medium-grey-bg margin-bottom-1 rounded">
            
            
            
                                    <input type="text" type="text" placeholder="type product name..."
                                        (keyup)="searchChanges($event)" #searchQuery>
            
                                    <div *ngIf="isLoading">
                                        Searching...
                                    </div>
                                    <div class="callout padding-center product-box" *ngIf="products">
                                        <div *ngFor="let item of products">
                                            <a (click)="addThisProduct(item)">
            
                                                <div class="flex-container align-center margin-bottom-05">
                                                    <div class="flex-05 margin-right-05">
                                                        <div class="image">
                                                            <img class="image-item" width="50" height="50"
                                                                [src]=item.image alt="">
                                                        </div>
                                                    </div>
            
                                                    <div class="flex-4 margin-right-05 small-text">
                                                        {{item.name}}
                                                    </div>
                                                    <div class="flex-1 text-right">
                                                        Add
                                                    </div>
                                                </div>
            
                                            </a>
                                        </div>
                                        <button class="button tiny expanded"
                                            (click)="loadMoreSearch($event)">Load More</button>
                                    </div>
            
                                </div>
            
            
                                <div class="callout form padding-center medium-grey-bg margin-bottom-1 rounded">
            
            
            
                                    <div class="flex-item flex-1 margin-bottom-1">
            
            
                                        <label>Vendor<span class="error bold">*</span></label>
                                        <input [(ngModel)]="purchase_order.vendor_name" type="text">
            
                                        <div class="">
                                           
                                            <label>Inventory Type<span class="error bold">*</span></label>
                                            <select [(ngModel)]="purchase_order.inventory_type">
                                                <option value="STOCK_ITEM">Stock Item</option>
                                                <option value="CONSIGNMENT">Consignment</option>
                                            </select>
            
                                            <div class="flex-item flex-1">
                                                <div class="bold">
                                                    Notes (optional)
                                                </div>
                                                <div class="flex-container">
                                                    <div class="flex-item flex-1">
                                                        <textarea [(ngModel)]="purchase_order.note"></textarea>
                                                    </div>
            
            
            
                                                </div>
                                            </div>
                                        </div>
            
            
                                    </div>
                                </div>
            
            
                            </div>
                            <div class="medium-6 columns summary-container">
                                <div class="callout form medium-grey-bg padding-center margin-bottom-1 rounded">
            
            
                                    <div class="overflow-containers">
                                        <div class="padding-bottom-1 margin-bottom-1 border-bottom"  *ngIf="purchase_order.items.length>0">
                                            <div class="flex-container small-text margin-bottom-1">
                                                <div class="flex-item flex-2 margin-right-05">
                                                    Item
                                                </div>
            
                                                <div class="flex-item flex-1 margin-right-05">
                                                    Stock / Buf
                                                </div>
                                                <div class="flex-item flex-1 margin-right-05">
                                                    Order Price
                                                </div>
            
                                                <div class="flex-item flex-1 margin-right-05">
                                                    Actual SRP
                                                </div>
            
            
                                                <div class="flex-item flex-05 margin-right-05">
                                                    Margin
                                                </div>
                                               
                                                <div class="flex-item flex-05 text-right">
                                                    Qty
                                                </div>
            
                                            </div>
                                            <div class="flex-container form small-text margin-bottom-1"
                                                *ngFor="let item of purchase_order.items  ; let i = index">
                                                <div class="flex-item flex-2 margin-right-05">
                                                    <a class="white" (click)="remove(i)">
                                                        <fa-icon [icon]=faTimesCircle></fa-icon>
                                                    </a> {{item.name}}
            
            
                                                </div>
                                                <div class="flex-item flex-1 margin-right-05">
                                                    {{item.inventory_stock}} /   {{item.stock_buffer}}
            
                                                </div>
                                                <div class="flex-item flex-1 margin-right-05">
                                                    <input style="font-size:14px !important;padding:3px !important"
                                                        [(ngModel)]="item.order_price" type="number">
            
                                                </div>
            
                                                <div class="flex-item flex-1 margin-right-05">
                                                    <input style="font-size:14px !important;padding:3px !important"
                                                        [(ngModel)]="item.price" type="number">
            
                                                </div>
            
            
                                                <div class="flex-item flex-05 margin-right-05">
            
                                                    {{getMargin(item,i)}}
                                                </div>
                                                <div class="flex-item flex-05 text-right">
                                                    <input style="font-size:14px !important;padding:3px !important"
                                                        [(ngModel)]="item.request_quantity" type="number">
            
                                                </div>
            
                                            </div>
                                        </div>
                                        <label for="">Shipping Fee</label>
                                        <input [(ngModel)]="purchase_order.shipping_fee" type="number">
            
            
                                    </div>
            
            
            
                                    <button [disabled]="purchase_order.items.length==0" class="button expanded primary margin-top-1" (click)="addPurchaseOrder()">Create
                                       Add Product
                                    </button>
            
                                </div>
            
                            </div>
            
            
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



