<div class="main-body">

    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                        Warehouse
                    </div>

                </div>

            </div>
            <div class="flex-item">
                <button (click)="showModal = 'addWarehouseModal'" class="button small clear active">
                    + Warehouse
                </button>

            </div>



        </div>
       <div class="row medium-up-2">
        <div class="columns margin-bottom-1" *ngFor="let item of warehouse">
            <div (click)="_navigateTo(item.id)"
                class="callout cursor padding-center medium-grey-bg rounded margin-bottom-05">
                <div class="flex-container align-center margin-bottom-2">
                     <div class="flex-item mega-text margin-right-1">
                        <fa-icon [icon]="faWarehouse"></fa-icon>

                    </div>
                    <div class="flex-item flex-1 margin-right-1">
                        <h3 class="margin-bottom-0">
                            {{item.name}}
                        </h3>
                       
                    </div>
                    <div class="flex-item flex-1 text-right">
                      
                        <div class="small-text color-grey">
                            {{item.location}}
                        </div>
                    </div>
                </div>
                <div class="flex-container margin-bottom-1 align-center">
                   
                    <div class="flex-item flex-1 margin-right-1">
                        <div class="callout padding-center-1 rounded border medium-grey-bg">
                            <div class="small-text color-grey margin-bottom-05">
                                Total Inventory
                            </div>
                            <div class="huge-text bold">
                                {{(item.summary.purchase_inventory?.value + item.summary.consign_inventory?.value + item.summary.bonus_inventory?.value) | currency :'Rp'}}
                                /
                                <span class="tiny-text">
                                    {{(item.summary.purchase_inventory?.count + item.summary.consign_inventory?.count + item.summary.bonus_inventory?.count)}}
                                    Items
                                </span>
    
    
                            </div>
                        </div>

                    </div>
                    <div class="flex-item flex-1 ">
                        <div class="callout padding-center-1 rounded border medium-grey-bg">
                        
                        <div class="small-text color-grey margin-bottom-05">
                            Overstock
                        </div>
                        <div class="huge-text bold">

                            {{item.summary.overstock.value | currency :'Rp'}} / <span class="tiny-text">
                                {{item.summary.overstock.count}} Brand
                            </span>

                        </div>
                        </div>


                    </div>


                </div>
                <div class="flex-container align-center margin-bottom-1">
                   
                    

                    <div class="flex-item flex-1 margin-right-1">
                        <div class="callout padding-center-1 rounded border medium-grey-bg">

                          
                        <div class="small-text color-grey margin-bottom-05">
                            In vs Out in 30 Days
                        </div>
                        <div class="huge-text bold">
                            {{item.summary.inventory_flow.in | currency : 'Rp'}} /   {{item.summary.inventory_flow.out | currency : 'Rp'}} 
                        </div>
                        </div>
                    </div>



                    <div class="flex-item flex-1">
                        <div class="callout padding-center-1 rounded border medium-grey-bg">
                        <div class="small-text color-grey margin-bottom-05">
                            Avg. Stock Out in 30D
                        </div>
                        <div class="huge-text bold">
                            {{item.summary.avg_stock_out.day}} / <span class="tiny-text color-grey">
                               day
                            </span>
                        </div>
                        </div>


                    </div>
                    <!-- <div class="flex-item flex-1 margin-right-1">
                        <div class="small-text color-grey">
                            Last Stock Opname
                        </div>
                        <div class="huge-text bold">
                            - / items
                        </div>

                    </div> -->

                </div>

                <div class="flex-container align-center">
                   
                    

                    <div class="flex-item flex-1 margin-right-1">
                        <div class="callout padding-center-1 rounded border medium-grey-bg">

                        <div class="small-text color-grey margin-bottom-05">
                            Last Stock Opname
                        </div>
                        <div class="huge-text bold">
                            

                            {{item.summary.opname.total}} / date {{item.summary.opname.last_request}} 
                        </div>
                        </div>
                    </div>



                    <div class="flex-item flex-1">
                        <div class="callout padding-center-1 rounded border medium-grey-bg">
                        <div class="small-text color-grey margin-bottom-05">
                            Heath
                        </div>
                        <div class="huge-text bold">
                            {{item.summary.health.score}}
                            {{item.summary.health.label}}
                        </div>
                        </div>


                    </div>
                   

                </div>




            </div>

        </div>
       </div>






    </div>
</div>


<app-modal (onClose)="this.showModal = null" *ngIf="showModal == 'addWarehouseModal'" [title]="'Add Warehouse'">
    <form [formGroup]="warehouseForm">
        <div class="margin-bottom-1 padding-bottom-1">




            <label for="">Name</label>
            <input type="text" formControlName="name">

            <label for="">Location</label>
            <input type="text" formControlName="location">







        </div>
        <button [disabled]="!this.warehouseForm.valid" class="button expanded " (click)="addWarehouse()">Add
            Warehouse</button>



    </form>
</app-modal>
