<div class="padding-middle">
    <div class="medium-4 medium-centered columns">
        <div class="callout padding-center medium-grey-bg rounded">
            <div class="form">
                <h4>WIA BI</h4>
                <label>Email</label>
                <input type="email" [(ngModel)]="loginForm.email" type="email" placeholder="me@wearinasia.com">
                <label>Password</label>
                <input type="password" [(ngModel)]="loginForm.password" type="password" placeholder="6 characters">
                <button class="button expanded" (click)="login()">Login</button>


            </div>
        </div>
    </div>
</div>