<div>
           
    <button (click)="showModal = true" class="button small clear hollow">
        Add Opname Request
    </button>

    <app-modal *ngIf="showModal" (onClose)="showModal =false" [title]="'Add Opname Request'">

        <app-form-search [placeholder]="'Select Product'" (onSearch)="searchChanges($event)">
        </app-form-search>
    
       
    
    
    
            <div *ngIf="products" class="search-content">
                <div class="list-tile-container">
                    <div *ngFor="let item of products"
                        class="list-tile-item cursor cursor flex-container">
    
    
                        <div class="flex-item flex-1">
                            {{item.name}}
                        </div>
                        <div class="flex-item">
                           

                            <div *ngIf="item.total_variant == 0">

                                <button class="button tiny clear">
                                     <span class="color-grey"> Stock Level</span>
        
                                    {{item.qty}}
                                </button>

                                <button  (click)="addThisProduct(item)"  [disabled]="item.added" class="button tiny active clear">
                                    {{item.added?'Added':'Add'}}
                                </button>
                            </div>
        
                            <div *ngIf="item.total_variant>0">
        
        
                                <button (click)="getProductVariant(item)" class="button tiny clear active ">
                                    Select <span class="color-grey"> Varian</span>
        
                                    {{item.total_variant}}
                                </button>
                            </div>

                            

                        </div>
                    </div>
    
                </div>

            <div *ngIf="this.page>=1" lazyload (onShown)="loadMoreSearch()"></div>

            </div>
    
    
        <!-- <button class="button expanded">
            Request
        </button> -->
    </app-modal>


    <div class="table-header">
        <div class=" flex-container table-header-item">



            <!-- <div class="flex-item flex-1">
                Product ID
            </div> -->

            <div class="flex-item flex-15 ">
                Name
            </div>

         
            <div class="flex-item flex-1 ">
               Opname Request
            </div>

         




            <div class="flex-item flex-15">
                Location
            </div>

         





         

            <div class="flex-item flex-1 text-right">
                Action
            </div>
        </div>
    </div>

    <div class="table-body">
        <div *ngFor="let item of inventory" class=" flex-container table-body-item">

            <!-- <div class="flex-item flex-1">
                {{item.purchase_number}}
            </div> -->

            <!-- <div class="flex-item flex-1">
                {{item.product_id}}
            </div> -->

            <div class="flex-item flex-15 ">
                {{item.name}}
            </div>
         
            <div class="flex-item flex-1 ">
                {{item.total}}
            </div>

         


            <div class="flex-item flex-15 form">
                <div class="flex-container">
                    <div class="flex-item">
                        {{item.location?.location}}
                    </div>
                    <div class="flex-item">
                        <span class="color-grey">Rack</span> {{item.location?.name}}
                    </div>
                    <div class="flex-item">
                        <span class="color-grey">Chamber</span> {{item.location?.chamber}}
                    </div>
                </div>
             
                
            </div>

          

           


          

            <div class="flex-item flex-1 text-right">
                <app-remove-button (onClick)="statusUpdate(item,'missing')">
                    <button *ngIf="!item.is_adding" [disabled]="!item.warehouse_rack_id"  class="button margin-right-05 tiny button active clear">
                        Missing
                    </button>
                </app-remove-button>
               
                <button *ngIf="!item.is_adding" [disabled]="!item.warehouse_rack_id" (click)="statusUpdate(item,'check_in')" class="button  tiny button secondary">
                    Check-In
                </button>
               
                <button disabled class="button tiny clear" *ngIf="item.is_adding">
                    Adding..
                </button>
            </div>
        </div>
    </div>

</div>

<app-modal (onClose)="this.variant = null" title="Select Variant" (onClose)="variant = null" *ngIf="variant">
    <div *ngFor="let item of variant">
       

        <button   (click)="addThisProduct(item)"  [disabled]="item.added" class="button expanded small active clear margin-bottom-05">
            {{item.variant_name}} - <span
            class="color-grey"> Stock Level</span>

        {{item.qty}} {{item.added?'Added':'Add'}}
        </button>
    </div>
</app-modal>