<div class="main-content">
  <div class="row collapse">
    <div class="medium-7 columns">
      <div
        class="content-wrapper border-bottom margin-bottom-1 padding-bottom-1"
      >
        <div class="label-text medium border-bottom margin-bottom-1">
          <div class="flex-container align-center">
            <div class="flex-item flex-1">
              <a [routerLink]="['/cash-bank']" style="color: white">
                <fa-icon [icon]="faChevronLeft"></fa-icon> Back to Cash/Bank
              </a>
              <div class="title">
                {{ transactionTypeTitle }}
              </div>
            </div>
          </div>
        </div>

        <div class="form">
          <label>Cash & Bank Account *</label>
          <app-form-select
            [selected_option]="selectedCashBankAccountFullName"
            label="Bank & Account"
            (onBlur)="handleBlurCashBankOptionField()"
            [option]="filteredCashBankAccountOptions"
            (onSearch)="handleSearchCashbackOptions($event)"
            (onSelect)="selectedCashBankAccount.setValue($event.id)"
          ></app-form-select>
          <form-error-display
            [formControlObject]="selectedCashBankAccount"
          ></form-error-display>
        </div>

        <app-modal-full
          *ngIf="state.showUnsupportedTransactionDialog"
          (onClose)="handleGoBackToPreviousPage()"
          title="Unsupported type of transactions"
        >
          <div class="margin-bottom-05">
            Add Cash & Bank Transaction is only supported between Make Payment
            or Receive Payment. Please check your link and try again
          </div>
          <button (click)="handleGoBackToPreviousPage()">Go Back</button>
        </app-modal-full>

        <div>
          <div class="flex-container" *ngIf="form.controls.length === 0">
            <div class="flex-1">
              You have no journal transaction items. Please add at least one to
              make this request
            </div>
          </div>

          <div
            *ngFor="let form of forms; let i = index"
            [formGroup]="form"
            class="border-bottom callout margin-bottom-05"
          >
            <div>
              Transaction {{ i + 1 }}
              <button
                class="button tiny margin-bottom-0 white"
                (click)="removeEntry(i)"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
                Delete
              </button>
            </div>
            <div class="flex-container">
              <div class="flex-item flex-1 margin-right-05 form">
                <label>Journal Account *</label>
                <app-form-select
                  [selected_option]="
                    getJournalAccountNameFromId(
                      form.get('journal_account_id').value
                    )
                  "
                  label="Account"
                  [option]="filteredJournalAccountOptions"
                  (onBlur)="journalAccountSearchState = ''"
                  (onSearch)="journalAccountSearchState = $event"
                  (onSelect)="
                    form.get('journal_account_id').setValue($event.id)
                  "
                >
                </app-form-select>
                <form-error-display
                  [formControlObject]="form.get('journal_account_id')"
                ></form-error-display>
              </div>
              <div class="flex-item flex-1 form margin-right-05">
                <label>Value *</label>
                <input type="number" formControlName="value" />
                <form-error-display
                  [errorMessages]="{
                    min: 'Min Transaction Value is 0 or greater'
                  }"
                  [formControlObject]="form.get('value')"
                ></form-error-display>
              </div>
              <div class="flex-item flex-1 form margin-right-05">
                <label>Reference Channel</label>
                <app-form-select
                  [selected_option]="form.get('reference_channel').value"
                  label="Reference"
                  [option]="referenceChannelOptionsResult"
                  [isLoadingOptions]="isLoadingReferenceChannelOptions"
                  (onFocus)="
                    handleSearchReferenceChannel(
                      form.get('reference_channel').value
                    )
                  "
                  (onBlur)="referenceChannelOptionsResult = []"
                  (onSearch)="handleSearchReferenceChannel($event)"
                  (onSelect)="form.get('reference_channel').setValue($event.id)"
                >
                </app-form-select>
              </div>
            </div>
            <div class="medium-10 form">
              <label>Description</label>
              <textarea
                formControlName="description"
                class="ruggedTextarea"
              ></textarea>
            </div>
          </div>
        </div>

        <button
          (click)="addEntry()"
          [disabled]="isProcessing"
          class="button tiny white"
        >
          + Add Another Transaction Entry
        </button>
      </div>
      <div class="content-wrapper">
        <button
          (click)="handleSubmit()"
          *ngIf="!isProcessing"
          [disabled]="!isRequestOverallValid"
        >
          <fa-icon [icon]="faSend"></fa-icon> Submit Request
        </button>
        <button *ngIf="isProcessing" disabled>Processing...</button>
      </div>
    </div>
  </div>
</div>

<div class="callout medium-5 columns summaryPanel padding-top-2">
  <h3>Journal Entry</h3>

  <div class="table-header">
    <div class="flex-container table-header-item">
      <div class="flex-item flex-2 margin-right-05">Account</div>
      <div class="flex-item flex-1 margin-right-05">Credit</div>
      <div class="flex-item flex-1 margin-right-05">Debit</div>
    </div>
  </div>
  <div class="table-body">
    <div
      class="flex-container margin-bottom-05"
      *ngFor="let i of correspondingCashBankAccount"
    >
      <div class="flex-item flex-2">
        {{ selectedCashBankAccountFullName || "?" }}
      </div>
      <div class="flex-item flex-1">
        {{
          actualTransactionType === "CREDIT"
            ? (i | currency : "IDR" : "Rp")
            : "-"
        }}
      </div>
      <div class="flex-item flex-1">
        {{
          actualTransactionType === "CREDIT"
            ? "-"
            : (i | currency : "IDR" : "Rp")
        }}
      </div>
    </div>
    <div class="flex-container margin-bottom-05" *ngFor="let form of forms">
      <div class="flex-item flex-2">
        {{ getJournalAccountNameFromId(form.value.journal_account_id) || "?" }}
      </div>
      <div class="flex-item flex-1">
        {{
          actualTransactionType === "CREDIT"
            ? "-"
            : (form.value.value | currency : "IDR" : "Rp")
        }}
      </div>
      <div class="flex-item flex-1">
        {{
          actualTransactionType === "CREDIT"
            ? (form.value.value | currency : "IDR" : "Rp")
            : "-"
        }}
      </div>
    </div>
  </div>
</div>
