<div class="main-body">

    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                        Affiliate
                    </div>

                </div>

            </div>

        </div>


        <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


        <div *ngIf="active_view == 'members'">
            <div>


                <div class="table-header">
                    <div class=" flex-container table-header-item">


                        <div class="flex-item flex-05  margin-right-05">
                            ID
                        </div>
                        <div class="flex-item flex-1  margin-right-05">
                            Join Date
                        </div>
                        <div class="flex-item flex-2 margin-right-05">
                            Email
                            <div class="italic tiny-text">Customer ID</div>
                        </div>

                        <div class="flex-item flex-2 margin-right-05">
                            Transaction

                        </div>

                        <div class="flex-item flex-2 margin-right-05">
                            Balance
                        </div>








                        <div class="flex-item flex-1 text-right">
                            Action
                        </div>
                    </div>
                </div>
                <div class="table-body">
                    <div *ngFor="let item of members" class="flex-container table-body-item">


                        <div class="flex-item flex-05  margin-right-05">
                            {{item.id}}
                        </div>
                        <div class="flex-item flex-1  margin-right-05">
                            {{item.created_at | date}}
                        </div>

                        <div class="flex-item flex-2 margin-right-05 form ">
                            {{item.email}}
                            <div> {{item.customer_id}}</div>

                        </div>





                        <div class="flex-item flex-2 margin-right-05">
                            Transaction

                        </div>

                        <div class="flex-item flex-2 margin-right-05">
                            Balance
                        </div>





                        <div class="flex-item flex-1 text-right">



                            <button (click)="saveMember(item)" *ngIf="item.edit" class="button tiny rounded secondary">
                                Save
                            </button>



                            <a *ngIf="!item.edit" [routerLink]="['/referal/view/', item.id ]"
                                [queryParams]="{active_view: 'overview'}"
                                class="button tiny rounded clear active margin-right-05">
                                <fa-icon [icon]="faExpandAlt"></fa-icon>
                            </a>
                            <!-- <button (click)="editMember(item)" *ngIf="!item.edit"
                                class="button tiny rounded secondary margin-right-05">
                                Edit
                            </button> -->
                        </div>
                    </div>


                </div>

            </div>


        </div>

        <div *ngIf="active_view == 'product_setting'">
            <app-table-action [sortListItems]="sortListItemss"></app-table-action>
            <div class="table-header">
                <div class=" flex-container table-header-item">
                    <div class="flex-item flex-2">
                        Product

                    </div>
                    <div class="flex-item flex-1">
                        Brand

                    </div>






                    <div class="flex-item flex-1">
                        Referal Fee %
                    </div>
                    <div class="flex-item flex-1">
                        Reference Fee %
                    </div>



                </div>
            </div>
            <div class="table-body">
                <div *ngFor="let item of product" class=" flex-container table-body-item align-center">
                    <div class="flex-item flex-2">
                        <img width="40" height="40" [src]="item.image" alt="" class="margin-right-1">

                        {{item.name}}

                    </div>
                    <div class="flex-item flex-1">
                        {{item.brand_value}}

                    </div>


                    <div class="flex-item flex-1">


                        <app-form-input (onClose)="updateProduct(item,$event)" [id]="'referal_fee'" [type]="'number'"
                            [placeholder]="'percentage value'" [isHideAction]="true" [isHideLabel]="'true'"
                            [value]="item.referal_fee"></app-form-input>
                    </div>
                    <div class="flex-item flex-1">

                        <app-form-input (onClose)="updateProduct(item,$event)" [id]="'reference_fee'" [type]="'number'"
                            [placeholder]="'percentage value'" [isHideAction]="true" [isHideLabel]="'true'"
                            [value]="item.reference_fee"></app-form-input>

                    </div>




                </div>
            </div>
        </div>

        <div *ngIf="active_view == 'withdrawal'">
            <div *ngIf="withdrawal">


                <div class="table-header">
                    <div class=" flex-container table-header-item">


                        <div class="flex-item flex-05  margin-right-05">
                            ID
                        </div>
                        <div class="flex-item flex-1  margin-right-05">
                            Date
                        </div>


                        <div class="flex-item flex-1 margin-right-05">
                            Bank
                        </div>
                        <div class="flex-item flex-1 margin-right-05">
                            Request Amount

                        </div>

                        <div class="flex-item flex-1 margin-right-05">
                            Status
                        </div>
                        <div class="flex-item flex-1 text-right">
                            Action
                        </div>







                    </div>
                </div>
                <div class="table-body">
                    <div *ngFor="let item of withdrawal" class="flex-container table-body-item align-center">


                        <div class="flex-item flex-05  margin-right-05">
                            {{item.id}}
                        </div>
                        <div class="flex-item flex-1  margin-right-05">
                            {{item.created_at | date}}
                        </div>

                        <div class="flex-item flex-1 margin-right-05">


                            {{item.bank_account_name}}
                            <div> {{item.bank_name}} - {{item.bank_account}}</div>

                        </div>


                        <div class="flex-item flex-1 margin-right-05">
                            {{item.value | currency :'Rp'}}

                        </div>

                        <div class="flex-item flex-1 margin-right-05">
                            {{item.status}}
                        </div>

                        <div class="flex-item form flex-1 text-right">
                            <button *ngIf="item.status=='pending'"  (click)="item.edit= true" class="button tiny">
                                Transfer
                            </button>
                            <div *ngIf="item.edit">
                                <input class="form" [(ngModel)]="item.bank_transaction_id" type="text" placeholder="input reference number">
                                <button (click)="confirm(item)" class="button tiny">
                                    Confirm Transfer
                                </button>
                            </div>
                        </div>







                    </div>


                </div>

            </div>
        </div>



    </div>
</div>