<div class="main-body">

    <div class="flex-container">
        <div class="flex-item">
            <app-bisidebar></app-bisidebar>
        </div>
        <div class="flex-item flex-1">
            <div style="padding:0 3%">

                <div class="label-text large">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1">
                            <div class="title">
                                Expenses
                            </div>

                            <!-- <mat-form-field>
                                <input matInput [(ngModel)]="range" placeholder="Select the range..." readonly
                                    [matRangeDatepicker]="resultPicker">
                                <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                                <mat-range-datepicker #resultPicker [rangeMode]="true">
                                </mat-range-datepicker>
                            </mat-form-field> -->

                            <button class="button tiny secondary margin-right-05"
                                (click)="getExpense(false)">Search</button>

                        </div>

                    </div>
                </div>
                <div class="callout rounded medium-grey-bg padding-center margin-bottom-2">


                    <div class="flex-container">

                        <div class="flex-item flex-1">
                            <p class="tiny-text">Total Expense</p>
                            <h4>{{totalExpense  | currency:"IDR":"Rp"}}</h4>


                        </div>



                    </div>


                </div>

                <div class="flex-container small-text bold border-bottom padding-bottom-1 margin-bottom-1">
                    <div class="flex-item flex-05 margin-right-05">
                        Id
                    </div>
                    <!-- <div class="flex-item flex-1 margin-right-05">
                        Create By
                    </div> -->
                    <div class="flex-item flex-1 margin-right-05">
                        Create Date
                    </div>

                    <div class="flex-item flex-1 margin-right-05">
                        Account
                    </div>
                    <div class="flex-item flex-2 margin-right-05">
                        Description
                    </div>





                    <div class="flex-item flex-1">
                        Amount
                    </div>



                </div>

                <div class="flex-container small-text bold border-bottom padding-bottom-1 margin-bottom-1"
                    *ngFor="let item of expenses; let i = index">
                    <div class="flex-item flex-05 margin-right-05">
                        {{item.data.id}}
                    </div>
                    <!-- <div class="flex-item flex-1 margin-right-05">
                        {{item.create_by}}
                    </div> -->
                    <div class="flex-item flex-1 margin-right-05">
                        {{item.data.create_date | date}}
                    </div>

                    <div class="flex-item flex-1 margin-right-05">
                        {{item.account.account_name}}
                    </div>
                    <div class="flex-item flex-2 margin-right-05">
                        {{item.data.account_description}}
                    </div>






                    <div class="flex-item flex-1 ">
                        {{item.data.debit | currency:"IDR":"Rp"}}
                    </div>


                </div>


            </div>

        </div>
    </div>
</div>