<div tabindex="-1" (blur)="onHandleBlur($event)" class="form relative">
  <div [ngClass]="{ input: !isClean }" class="margin-bottom-0">
    <div (click)="toggleOption()" class="flex-container align-center cursor">
      <div class="flex-item flex-1 margin-right-05">
        <div *ngIf="selected_option">
          {{ selected_option | titlecase }}
        </div>
        <div class="color-grey" *ngIf="!selected_option">
          {{ "Select " + label }}
        </div>
      </div>
      <div class="flex-item small-text">
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </div>
    </div>
  </div>

  <div *ngIf="showOption" class="option-container elevate form fade-in">
    <div class="search-bar border-bottom">
      <app-form-search
        placeholder="Type here to start.."
        (onBlur)="onSearchBlur($event)"
        (onSearch)="search($event)"
      ></app-form-search>
    </div>
    <div class="search-container">
      <div class="waitingIcon" *ngIf="isLoadingOptions">
        <fa-icon [icon]="faHourglass"></fa-icon>
      </div>
      <div *ngIf="option" class="list-tile-container">
        <div
          (click)="selectOption(item)"
          *ngFor="let item of option"
          class="list-tile-item cursor align-center"
        >
          <span class="prefixLabel" *ngIf="item.prefix">
            {{ item.prefix }}
          </span>
          {{ item.label | titlecase }}
        </div>
      </div>
    </div>
  </div>
</div>
