.option-container{
    background: #26292f !important;
    
     border-radius: 10px;
     position: absolute;
    width: 100%;
     min-width: 250px;
     border: 1px solid rgb( 60, 65, 74 )!important;
 
 
     
        box-shadow: 0 2px 16px #0006;
     z-index: 99999999;
 }
 .search-bar{
     padding: 1rem;
 }
 
 .search-container{
     position: relative;
     padding: 1rem;

 .waitingIcon{
    position: absolute;
    top: 5px;
    right: 5px;
 }
     .search-icon{
         position: absolute;
         left: 0;
         line-height: 37px;
         height: 37px;
         padding-left: 0.5rem;
     }
     .search-bar{
         margin-right: 2px;
         input{
             line-height: 36px !important;
             height: 37px !important;
             padding-left: 1.9rem !important;
         }
     }
     .clear-search{
        
         border-radius: 3px;
         background:  #26292f !important;
         color: rgba(255, 255, 255, 0.7) !important;
         font-size: 14px;
         padding: 0.7rem 0.5rem;
        border: none;
        line-height: 0 !important;
        margin-bottom: 0 !important;
     }
     
 }

 .input{
 
    margin-bottom: 1rem;
    font-size: 16px !important;
    border-radius: 0 !important;
    padding: 0.5rem !important;
    line-height: 1.4;
    border-radius: 3px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    background: #373c43 !important;
    margin-bottom:1rem !important;
 }

 .prefixLabel{
    font-size: 8pt;
    background: #373c43 !important;
    padding: 2pt;
    border: 0.5pt solid #ffffff;
    border-radius: 2pt;
    margin-right: 5pt;
 }