<div class="main-body">
    <div>

        <div class="label-text medium">
            <div class="title">
                Vendor Report
            </div>
        </div>

        <div class="callout  padding-center rounded medium-grey-bg margin-bottom-1">
            <div class="flex-container form">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Start Date</label>
                    <input [(ngModel)]="start_date" type="date">
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">End Date</label>
                    <input [(ngModel)]="end_date" type="date">
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Product Name</label>

                    <input [(ngModel)]="productName" type="text">
                </div>
                <div class="flex-item flex-1">
                    <label for="">Send To ( Vendor Name )</label>
                    <input [(ngModel)]="vendor_name" type="text">
                </div>
            </div>




            <button [disabled]="!productName || !vendor_name" (click)="getSalesByProduct()">Create Report</button>


        </div>

        <div *ngIf="sales_items" class="callout form padding-center rounded medium-grey-bg">

            <div class="flex-container padding-bottom-1 margin-bottom-1 border-bottom align-center">
                <div class="flex-item flex-1">
                    <p>Total</p>
                    <h3> {{grand_total | currency:'IDR':'Rp'}}</h3>
                </div>
                <div class="flex-item flex-1">
                    <p>Total Product</p>
                    <h3> {{getTotalProduct() }}</h3>
                </div>

                <div class="flex-item flex-1 text-right">
                    <button class="button white" (click)="generatePdf()">Download Pdf</button>
                    <button class="button white" (click)="download()">Download CSV</button>

                </div>
            </div>

            <div class="flex-container padding-bottom-1 border-bottom margin-bottom-1">
                <div class="flex-item flex-1 margin-right-05">
                    Order Id
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    Date
                </div>
                <div class="flex-item flex-2 margin-right-05">
                    Name
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    Qty
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    Price
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    Cashback
                </div>
                <div class="flex-item flex-1 text-right">
                    Sub Total
                    <div class="tiny-text">( price - cashback)</div>
                </div>
            </div>

            <div class="flex-container" *ngFor="let item of sales_items">
                <div class="flex-item flex-1 margin-right-05">
                    {{item.order_id}}
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    {{item.order_date | date}}
                </div>
                <div class="flex-item flex-2 margin-right-05">
                    {{item.name}}
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    {{item.qty}}
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    <input (ngModelChange)="calculateGrandTotal()" type="number" [(ngModel)]="item.order_price">

                </div>
                <div class="flex-item flex-1 margin-right-05">
                    {{item.cashback?item.cashback:0}}
                </div>
                <div class="flex-item flex-1 text-right">
                    {{item.qty * item.order_price | currency : "IDR"}}

                </div>
            </div>




        </div>




        <!-- <mat-paginator #paginator [pageSizeOptions]="[10,20,50,100]" (page)="updatePage($event)">
        </mat-paginator> -->

    </div>
</div>