<div class="main-body  fade-in">
    <div>


        <div class="flex-container align-center">
            <div class="flex-item flex-1">
                <div class="label-text medium">
                    <div class="title">
                        Order Management ( Backup )
                    </div>

                </div>
            </div>
            <!-- <div class="flex-item flex-1 text-right">
                <button [routerLink]="['/manual-order/']" class="button small clear active">+ Create Order</button>

            </div> -->
        </div>


        <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>
        <app-table-action>
            <ul style="justify-content: flex-end;" class="menu menu-right">


                <li *ngIf="status=='processing'" class="flex-item margin-bottom-1 margin-right-05">
                    <button [disabled]="selected_order.length==0" (click)="updateSelected('PRINT_PACKING')"
                        class="button  tiny clear active s ">
                        <fa-icon [icon]="faPrint"></fa-icon> Print Packing
                        <span *ngIf="selected_order.length>0"> (
                            {{selected_order.length?selected_order.length:''}} )</span>
                    </button>
                </li>

                <li *ngIf="status=='processing'" class="flex-item margin-right-05 margin-bottom-1">
                    <button [disabled]="selected_order.length==0" (click)="updateSelected('PRINT_INVOICE')"
                        class="button  tiny clear active s ">
                        <fa-icon [icon]="faPrint"></fa-icon> Print Invoice
                        <span *ngIf="selected_order.length>0"> (
                            {{selected_order.length?selected_order.length:''}} )</span>
                    </button>
                </li>

                <!-- <li *ngIf="status=='processing' && !isConfirm" class="flex-item margin-right-05 margin-bottom-1">
                    <button [disabled]="selected_order.length==0" (click)="_toggleConfirm()"
                        class="button  tiny clear active s ">
                        <fa-icon [icon]="faShippingFast"></fa-icon> Ship Order
                        <span *ngIf="selected_order.length>0"> (
                            {{selected_order.length?selected_order.length:''}} )</span>
                    </button>
                </li> -->
<!-- 
                <li *ngIf="status=='processing' && isConfirm" class="flex-item margin-right-05 margin-bottom-1">
                    <button [disabled]="selected_order.length==0" (click)="updateSelected('SHIP')"
                        class="button  tiny clear active s " style="background: royalblue !important;">
                        <fa-icon [icon]="faCheckCircle"></fa-icon> Confirm Ship <span *ngIf="selected_order.length>0"> (
                            {{selected_order.length?selected_order.length:''}} )</span>

                    </button>
                </li> -->


                <li class="mini-menu-container flex-item margin-right-05 margin-bottom-1">
                    <button (click)="toggleMiniMenu()" class="button  tiny clear active  s ">
                        <fa-icon [icon]="faChevronDown"></fa-icon> {{this.count?this.count:'20'}} Items
                    </button>

                    <div *ngIf="this.isMiniMenuShow" class="mini-menu">
                        <ul class="menu vertical">
                            <li><a class="tiny-text white" [routerLink]="['./']" queryParamsHandling="merge"
                                    [queryParams]="{count: 'all'}">All</a></li>
                            <li><a class="tiny-text white" [routerLink]="['./']" queryParamsHandling="merge"
                                    [queryParams]="{count: '20'}">20</a></li>
                            <li><a class="tiny-text white" [routerLink]="['./']" queryParamsHandling="merge"
                                    [queryParams]="{count: '50'}">50</a></li>
                            <li><a class="tiny-text white" [routerLink]="['./']" queryParamsHandling="merge"
                                    [queryParams]="{count: '100'}">100</a></li>

                        </ul>
                    </div>
                </li>
                <li class="">
                    <button (click)="getSalesOrders(status)" class="button  button tiny clear active s s ">
                        <fa-icon [icon]="faSync"></fa-icon>
                    </button>
                </li>



            </ul>
        </app-table-action>


        <div *ngIf="!status" class="form">
            <input [(ngModel)]="increment_id" (keyup)="search()" placeholder="Type #order" class="form" type="text">
        </div>

        <div *ngIf="orders" class="table-header">
            <div class="flex-container table-header-item">

                <div class="flex-item flex-1">

                    ID <a class="margin-left-05" style="color: white;" (click)="selectAll()">Select All</a>
                </div>

                <div class="flex-item flex-1">

                    Date
                </div>


                <div class="flex-item flex-15">
                    Ship To
                </div>

                <div class="flex-item flex-15">
                    Purchase
                </div>
                <div class="flex-item flex-15">
                    Status
                </div>
                <div *ngIf="status=='processing'" class="flex-item flex-15">
                    Packing Status
                </div>




                <div class="flex-item flex-1">
                    Shipping
                </div>


                <div class="flex-item flex-1 text-right">
                    Action
                </div>
                <div style="width: 20px;" class="flex-item">
                   
                </div>
            </div>
        </div>

        <div *ngIf="orders" class="table-body">

            <div *ngFor="let item of orders" class="flex-container table-body-item">


                <div class="flex-item flex-1">
                    <label class="container small-text">
                        <input type="checkbox" (change)="checkValue($event,item)" [checked]="item.check">
                        <span class="checkmark"></span>
                        <span class="text">#{{item.increment_id}}</span>

                    </label>
                </div>
                <div class="flex-item flex-1">
                    {{item.order_date | date}}
                </div>


                <div class="flex-item flex-15">


                    <div class="">
                        {{item.shipping_address.firstname | titlecase}}


                    </div>
                    <div class="tiny-text color-grey">
                        <fa-icon class="margin-right-05" [icon]="faPhone"></fa-icon> {{item.shipping_address.telephone}}
                    </div>

                    <div class=" tiny-text color-grey">
                        <fa-icon class="margin-right-05" [icon]="faStore"></fa-icon>
                        {{item.customer_group}}
                    </div>
                    <div *ngIf="item.customer_note" class="tiny-text color-grey">
                        <fa-icon class="margin-right-05" [icon]="faStickyNote"></fa-icon>
                        {{item.customer_note}}
                    </div>
                    <div *ngIf="item.gift?.gift_message_id">
                        <fa-icon class="margin-right-05" [icon]="faGift" class="profitable"></fa-icon> Send as gift to
                        {{item.gift.recipient}}
                    </div>

                </div>

                <div class="flex-item flex-15">
                    <div class="margin-bottom-05">
                        {{item.grand_total | currency:"IDR":"Rp"}} ( {{item.total_product  | number}} items)
                    </div>
                    <ul class="tiny-text color-grey">
                        <li *ngFor="let item of item.items">
                            <div>{{item.name}} x {{item.qty | number}}</div>
                        </li>
                    </ul>

                </div>
                <div class="flex-item flex-15">
                    <div class="status-label margin-bottom-05"
                        [ngClass]="{processing: item.state=='processing',shipment: item.status=='shipment', pickedup: item.status=='shipment_update'}">
                        <span>
                            <span class="margin-bottom-0" *ngIf="item.status == 'shipment_update'">
                                <fa-icon [icon]="faCheckCircle"></fa-icon>
                            </span>
                            <span style="color: white;" class="margin-bottom-0" *ngIf="item.status == 'shipment'">
                                <fa-icon [icon]="faCircle"></fa-icon>
                            </span> {{item.status_label}}

                        </span>
                    </div>



                </div>


                <div *ngIf="status=='processing'" class="flex-item flex-15">

                    {{item.total_packed}} of {{item.total_product}}

                    <div (click)="getInventoryByOrder(item,true)" *ngIf="item.total_product == item.total_packed"
                        class="status-label processing margin-bottom-05">
                        Packed <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>

                    <div (click)="getInventoryByOrder(item,true)" *ngIf="item.total_product !== item.total_packed"
                        class="status-label margin-bottom-05">
                        Check
                    </div>

                    


                  

                </div>



                <div class="flex-item flex-1">
                    <!-- <input placeholder="Carrier" type="text">
                    <input placeholder="Tracking ID" type="text"> -->
                    <span *ngIf="item.warehouse?.location.location">
                        VIA {{item.warehouse?.location.name}}
    
                        </span>
                   <div>
                    {{item.shipping_method}}

                   
                    
                   </div>
                    <span *ngIf="item.custom_shipping_method" class="span-label">
                        {{item.custom_shipping_method}}   
                    </span>

                    <span *ngIf="item.shipping_method == 'PAXEL-SAMEDAY'">
                        <span *ngIf="item.status == 'shipment'" (click)="cancelShipment(item,'PAX')" class="span-label cursor">
                            cancel
                         </span>
                    </span>
                    
                    <!-- <div *ngIf="!item.isEnableTracking && item.tracking.title">
                      
                        <span class="span-label">
                            {{item.tracking.title}} - {{item.tracking.track_number}}
                        </span>
                      
                    </div> -->

                    

                    <div *ngIf="status=='shipment,shipment_update'  || status=='complete'" class="form">
                        <span *ngIf="item.isEnableTracking">
                            <input [(ngModel)]="item.tracking.title" placeholder="Carrier" type="text">
                            <input [(ngModel)]="item.tracking.track_number" placeholder="Tracking ID" type="text">
                        </span>
                        <button (click)="toggleTracking(item)"
                            *ngIf="item.shipping_method=='CUSTOM_SHIPPING' || item.shipping_method=='PICKUP' || item.shipping_method==null"
                            class="button tiny clear rounded ">
                            
                            <span>+ Add Tracking</span>

                        </button>


                       

                       
                        <!-- <button
                            *ngIf="checkAnterAja(item.shipping_method) && status == 'shipment,shipment_update' && item.tracking.track_number && item.status=='shipment'"
                            (click)="getTrackingOrder(item)" class="button tiny secondary rounded margin-right-05">
                            <fa-icon [icon]="faRoute"></fa-icon> Track Order
                        </button> -->


                        <button (click)="addTracking(item,'shipment_update')"
                            *ngIf="status=='shipment,shipment_update' && item.tracking.length==0 && item.isEnableTracking"
                            class="button tiny primary rounded margin-right-05">
                            Save
                        </button>

                        <button (click)="toggleTracking(item)"
                            *ngIf="status=='shipment,shipment_update'  && item.isEnableTracking"
                            class="button tiny secondary rounded margin-right-05">

                            <span>Cancel</span>
                        </button>

                    </div>
                </div>





                <div class="flex-item flex-1 text-right">







                    <button
                        *ngIf="checkGojek(item.shipping_method) && status == 'shipment' && item.status=='shipment' && item.tracking.track_number"
                        (click)="addTracking(item,'shipment_update')"
                        class="button tiny secondary rounded margin-right-05">
                        Confirm Pickup
                    </button>
                    <button
                        *ngIf="checkAnterAja(item.shipping_method) && status == 'shipment' && item.status=='shipment' && item.tracking.track_number"
                        (click)="addTracking(item,'shipment_update')"
                        class="button tiny secondary rounded margin-right-05">
                        Confirm Pickup
                    </button>


                 

                    <div *ngIf="status=='processing'">
                        <div *ngIf="item.total_product == item.total_packed">
                            <button *ngIf="!checkSource(item.customer_group)"
                                (click)="selectShipment(item,'COMPLETE')"
                                class="tiny button white rounded">
                                <fa-icon [icon]="faCheck"></fa-icon>
                                Complete
                            </button>
                            <app-status-label   *ngIf="checkSource(item.customer_group)"
                                (onSelect)="selectShipment(item,$event)" [label]="'Ship'"
                                [option]="status_label"></app-status-label>
                        </div>
                    </div>




                    <!-- <button *ngIf="item.shipping_method == 'GOSEND'"
                        (click)="updateStatus(item,'shipment_update','complete')"
                        class="button tiny clear active">
                        <fa-icon [icon]="faCheck"></fa-icon>
                        Picked Up
                    </button> -->
                    <button *ngIf="item.status == 'shipment' && item.shipping_method == 'GOSEND'"
                        (click)="updateStatus(item,'shipment_update','complete')"
                        class="button tiny secondary rounded margin-left-05">
                        <fa-icon [icon]="faCheck"></fa-icon>
                        Picked Up
                    </button>

                    <!-- <button (click)="updateStatus(item,'shipment','complete')" *ngIf="status=='processing'"
                        class="button tiny secondary rounded margin-left-05">
                        <fa-icon [icon]="faCheck"></fa-icon> Ship
                    </button> -->




                </div>
                
                <div style="width: 20px;" class="flex-item">
                    <button (click)="selectOrder(item)" class="button tiny clear active">
                        <fa-icon [icon]="faExpandAlt"></fa-icon>
                    </button>
                </div>
            </div>

            <button *ngIf="orders.length>0 && total_orders > orders.length" (click)="loadMoreSalesOrders()">Load
                More</button>
        </div>

        <div class="callout padding-center text-center" *ngIf="orders == null">
            No Order Found
        </div>





    </div>
</div>

<div class="modal-container" *ngIf="order_tracking">
    <div class="row">
        <div class="medium-8 columns medium-centered">
            <a class="white close" (click)="closeDetails()">Close</a>
            <div class="modal-content">
                <div class="timeline-container padding-center medium-grey-bg">
                    <div class="margin-bottom-1 text-left" *ngIf="order_tracking">
                        <h5>Order Tracking</h5>
                        <div class="timeline text-left" *ngFor="let item of order_tracking?.history">
                            <div class="small-text">
                                <b>{{item.timestamp | date}} - {{item.hub_name}}</b>

                            </div>
                            <div class=" tiny-text">
                                <div>{{item.message.id}}</div>


                            </div>
                            <span class="node"></span>
                            <span class="bar"></span>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<app-modal [title]="'Packing Status'" (onClose)="selected_inventory = null" *ngIf="selected_inventory">

    <div *ngFor="let item of selected_inventory"
        class="callout padding-center-1 rounded medium-grey-bg flex-container margin-bottom-05">




        <!-- <div class="flex-item flex-1">
            {{item.location?.name}} - {{item.location?.chamber}}
        </div> -->
        <div class="flex-item margin-right-05">
            <img *ngIf="item.image_url" class="packing_photo cursor" (click)="selected_image = item.image_url"
                width="100" height="100" [src]="item.image_url" alt="">

        </div>
        <div class="flex-item flex-1">
            <div class="large-text margin-bottom-05">
                {{item.name}}
            </div>
            <div class="tiny-text color-grey">
                SN {{item.serial_number}}
            </div>

        </div>



        <div class="flex-item flex-1 text-right">
            <span class="status-label">
                {{item.status}}
            </span>

            <span class="status-label">
                {{item.location.location}}  - {{item.location.name}}
            </span>
            <!-- <div>
                <button (click)="statusUpdate(item)" class="button tiny clear margin-bottom-0">
                    Decline
                </button>
            </div> -->
        </div>


    </div>
</app-modal>

<app-modal-full (onClose)="selected_image =null" *ngIf="selected_image">
    <img width="100%" height="100%" [src]="selected_image" alt="">
</app-modal-full>

<app-sales-order-view (onClose)="closeOrderView($event)" *ngIf="selected_order_view"
    [order_id]="selected_order_view.entity_id"></app-sales-order-view>