<app-modal (onClose)="closeModal()" *ngIf="selected_order" [title]="this.selected_order.id" isBorder="true"
    isHalf="true">

    <div *ngIf="!hide_action" topbar>
        <div class="flex-container ">
            <div class="flex-item flex-1">
                <ul *ngIf="!isAllowEdit()" class="menu">
                    <!-- && this.selected_order.status !== 'CANCELED' -->

                    <li *ngIf="selected_order.payment_status == false"
                        class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('WAIT_FOR_PAYMENT')" class="button   clear small active  ">
                            Create Order
                        </button>


                    </li>


                    <!-- <li class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('COMPLETE')" 
                            class="button   clear small active  ">
                            Complete
                        </button>
                    </li> -->



                </ul>
            </div>
            <div class="flex-item">
                <ul style="justify-content: flex-end;" class="menu menu-right">

                    <li class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="generatePdfs(this.selected_order)" class="button   clear small active  ">
                            Print <fa-icon [icon]="faPrint"></fa-icon>
                        </button>
                    </li>

                    <li *ngIf="isAllowEdit()" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('processing')" class="button   small   ">
                            Save Order
                        </button>
                    </li>


                </ul>
            </div>
        </div>

    </div>



    <div class="timeline-container medium-grey-bg" sidebar>
        <div class="callout padding-center">

            <div class="list-tile-container">
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey ">
                        Status
                    </div>
                    <div class="flex-1 ">
                        <span [ngClass]="this.selected_order.status" class="status-label">
                            {{this.selected_order.status}}
                        </span>

                    </div>
                </div>
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey ">
                        Payment Status
                    </div>
                    <div class="flex-1 ">
                        <span class="status-label">
                            {{this.selected_order.payment_status?'Paid':'Unpaid'}}
                        </span>

                    </div>
                </div>
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Sales Channel
                    </div>
                    <div class="flex-1 ">
                        <span class="status-label">{{this.selected_order.sales_channel}}</span>

                    </div>
                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Deal Stage
                    </div>
                    <div class="flex-1 ">
                        <span class="status-label">{{this.selected_order.deal_stage}}</span>

                    </div>
                </div>
                <div *ngIf="this.selected_order.sales_channel_id" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Company
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.sales_channel_id}}

                    </div>
                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Order Date
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.order_date?(this.selected_order.order_date | date :'medium'):(this.selected_order.created_at | date :'medium')}}
                    </div>
                </div>


                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Name
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_address_name}}
                        <!-- {{this.selected_order.address.name}} -->


                    </div>
                </div>

                <div *ngIf="this.selected_order.sales_channel_id" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Email
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.customer_email}}
                    </div>
                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Phone
                    </div>
                    <div class="flex-1 ">
                        <!-- {{this.selected_order.shipping_phone}} -->

                        {{this.selected_order.shipping_phone}}
                    </div>
                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Address
                    </div>
                    <div class="flex-1 ">
                        <div>
                            {{this.selected_order.shipping_address_name}}

                        </div>
                        {{this.selected_order.shipping_address}}
                        <div>{{this.selected_order.shipping_region}}</div>
                        <div>{{this.selected_order.shipping_city}}</div>
                        <div>{{this.selected_order.shipping_district}}</div>
                    </div>
                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Note
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.gift_message}}
                    </div>
                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Payment Method
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.payment_method}}
                    </div>
                </div>
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Payment Bank
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.payment_bank}}
                    </div>
                </div>

                <div *ngIf="this.selected_order.payment_installment" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Payment Installment
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.payment_installment}}
                    </div>
                </div>


                <div *ngIf="this.selected_order.midtrans?.transaction_id" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Midtrans ID
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.midtrans?.transaction_id}}
                    </div>
                </div>

                <div *ngIf="this.selected_order.midtrans?.transaction_status" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Midtrans Status
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.midtrans?.transaction_status}}
                        <div class="tiny-text color-grey"> {{this.selected_order.midtrans?.settlement_time}}</div>
                    </div>
                </div>



                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Method
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_method_label}}
                    </div>
                </div>

                <div *ngIf="this.selected_order.shipping_number" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Number
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_number}}
                    </div>
                </div>
                <div *ngIf="this.selected_order.shipping_driver" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Driver
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_driver}}
                    </div>
                </div>

                <div *ngIf="this.selected_order.shipping_status" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Status
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_status}}
                    </div>
                </div>
                <div *ngIf="this.selected_order.shipping_photo_url" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Shipping Photo
                    </div>
                    <div class="flex-1 ">
                        <img class="cover-image" [src]="this.selected_order.shipping_photo_url" alt="">
                    </div>
                </div>

                <div *ngIf="this.selected_order.shipping_tracking_url" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Track Driver
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_tracking_url}}
                    </div>
                </div>


                <div *ngIf="this.selected_order.shipping_driver_name" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Driver Name
                    </div>
                    <div class="flex-1 ">
                        {{this.selected_order.shipping_driver_name}}
                    </div>
                </div>


            </div>


        </div>


    </div>


    <div class="fade-in">




        <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
            <h4>Product Details</h4>

            <div>
                <app-form-search (onSearch)="getProductSearch($event)"></app-form-search>
                <app-card [is_expand]="true" [is_clear]="true"  *ngIf="search_product?.length !== 0">
                    <div class="list-tile-container">
                        <div class="list-tile-item flex-container" *ngFor="let item of search_product">
                            <div class="flex-item flex-1">
                                <div>{{item.name}}</div>
                                <div><span class="color-grey">Stock</span> {{item.qty}}</div>

                            </div>
                            <div class="flex-item">
                                <button (click)="addProduct(item)" class="button tiny clear active">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="this.page>=1" lazyload (onShown)="loadMoreSearch()"></div>


                </app-card>
            </div>



            <div class="table-header">
                <div class="table-header-item flex-container">
                    <div class="flex-item flex-15">
                        Name
                    </div>


                    <div class="flex-item flex-05  margin-right-1">
                        Qty
                    </div>

                    <div class="flex-item flex-1">
                        Discount
                    </div>

                    <div class="flex-item flex-1">
                        Price
                    </div>



                </div>
            </div>

            <div class="table-body">
                <div *ngFor="let item of selected_order?.product" class="table-body-item border flex-container">
                    <div class="flex-item flex-15">



                        <app-form-input isHideLabel="true" [isHideAction]="true" (onClose)="updateProduct(item,$event)"
                            [id]="'name'" [value]="item.name">
                        </app-form-input>

                        <div class="tiny-text color-grey">
                            <app-form-input isHideLabel="true" [isHideAction]="true"
                                (onClose)="updateProduct(item,$event)" [id]="'note'" [label]="'Product Note'"
                                [value]="item.note">
                            </app-form-input>
                        </div>

                        <span *ngIf="item.is_flashdeal" class="span-label">Flashdeal</span>

                        <div *ngIf="item.bundling_items.length > 0">
                            <div>Bundling Item</div>
                            <div class="color-grey tiny-text" *ngFor="let item of item.bundling_items">
                                - {{item.name}}
                            </div>
                        </div>

                    </div>


                    <div class="flex-item flex-05 margin-right-1">


                        <div class="flex-container">
                            <div class="flex-item">
                                <button (click)="updateProductQty(false,item)" class="button tiny clear">
                                    -
                                </button>
                            </div>
                            <div class="flex-item">
                                {{item.order_qty}}
                            </div>

                            <div class="flex-item">
                                <button (click)="updateProductQty(true,item)" class="button tiny clear">
                                    +
                                </button>
                            </div>
                        </div>


                    </div>

                    <div class="flex-item flex-1">
                        <app-form-input [type]="'currency'" isHideLabel="true" [isHideAction]="true"
                            (onClose)="updateProduct(item,$event)" [id]="'discount_amount'"
                            [value]="item.discount_amount">
                        </app-form-input>


                        <!-- {{item.discount_amount | currency : "IDR"}} -->
                    </div>

                    <div class="flex-item flex-1">
                        <app-form-input [type]="'currency'" [isHideAction]="true" (onClose)="updateProduct(item,$event)"
                            [id]="'final_price'" [value]="item.final_price">
                        </app-form-input>


                        <!-- {{item.final_price | currency : "IDR"}} -->
                    </div>



                </div>
            </div>





            <div class="callout">
                <div class="flex-container small-text  margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Subtotal

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{selected_order.subtotal  | currency:"IDR":"Rp"}}
                    </div>
                </div>


                <div class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Shipping

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{selected_order.shipping_cost | currency:"IDR"}}

                    </div>
                </div>
                <div class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Discount

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{selected_order.total_discount | currency:"IDR":"Rp"}}
                    </div>
                </div>

                <div class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Total

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{selected_order.total  | currency:"IDR":"Rp"}}


                    </div>
                </div>
            </div>

        </div>









    </div>

</app-modal>

<app-modal isHalf="true" (onClose)="selected_performace_id = null" *ngIf="selected_performace_id">
    <app-product-performance [product_id]="selected_performace_id"></app-product-performance>

</app-modal>