.chart-container{
    padding: 2rem 0;
    overflow-y: clip;
    overflow-x: scroll;
    padding-bottom: 2rem;
    min-height: 200px;
    .bar-container{
        height: 200px;
      
        min-height: 200px;
        width: 50px;
        position: relative;
       
        .bar-item{
            cursor: pointer;
            background: rgba(255, 255, 255, 0.363);
            bottom: 0;
            width: 50px;
            position: absolute;
            color: black;
            padding:1px;
            max-height: 200px;
            .revenue{
                font-size: 10px;
            }
            .transaction{
                font-size: 10px;
            }
            .calluot-info{
                display: none;
                position: absolute;
                top: -100px;
                background: white;
                box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
                border-radius: 10px;
                padding: 0.5rem;
                z-index: 9999;
                .revenue{
                    font-size: 12px;
                    }
                    .transaction{
                        font-size: 12px;
                    }
            }
            &:hover{
               background: white;
               .calluot-info{
                display: block;
               }
              
            }

           
           
        }
        .bar-height{
         
          
            bottom: 0;
            width: 50px;
            position: absolute;
            color: white;
          
            border-top: 1px solid white;
           
           
        }
        .date{
            position: absolute;
            bottom: -10%;
            z-index: 999;
            font-size: 10px;
        }
        .flex-item{
    
        }
        .green{
            background: chartreuse;
        }
        .red{
            color: brown !important;
        }
    }
}
