<div class="chart-container">
    <div class="flex-container">
        <div style="position: absolute;
        opacity: 0.3;" class="flex-item margin-right-05">
            <div class="bar-container">
               
                <div style="height: 200px;" class="bar-height">
                    <div class="tiny-text">
                        40 trx
                    </div>
                  
                </div>
                <div style="height: 150px;" class="bar-height">
                    <div class="tiny-text">
                        30 trx
                    </div>
                  
                </div>
                <div style="height: 100px;" class="bar-height">
                    <div class="tiny-text">
                        20 trx
                    </div>
                  
                </div>
                <div style="height: 50px;" class="bar-height">
                    <div class="tiny-text">
                        10 trx
                    </div>
                  
                </div>
            </div>

         
        </div>
        <div  class="flex-item margin-right-05">
            <div class="bar-container">
               
                <div style="height: 0px;" class="bar-height">
                    <div class="tiny-text">
                        0 trx
                    </div>
                  
                </div>
            </div>

         
        </div>
        <div *ngFor="let item of chart_data" class="flex-item margin-right-05">
            <div class="bar-container">
                <div class="date">
                    {{item.date }}
                </div>
                <div [ngStyle]="{height: item.bar_height}" class="bar-item">
                    <div class="transaction">
                        {{item.transaction}} Trx
                    </div>
                    <div class="revenue">
                        {{item.revenue | currency:"IDR":"Rp"}}
                    </div>
                    <div class="calluot-info">
                        
                        <div class="transaction margin-bottom-05">
                            <div class="tiny-text">Transaction</div>
                            {{item.transaction}} trx /  {{item.product}} item
                        </div>
                        <div class="revenue">
                            <div class="tiny-text">Gross Revenue</div>
                            {{item.revenue | currency:"IDR":"Rp"}}
                        </div>
                    </div>
                </div>
            </div>

         
        </div>
      
      
       
     
    </div>
</div>
