<div class="main-body">
    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                        Sales Order ( Backup )
                    </div>

                </div>
            </div>

        </div>

        <div class="form  flex-container callout padding-center-1 border rounded  align-center medium-grey-bg margin-bottom-1">
            <div class="flex-item flex-05 margin-right-05">
                <div class="">


                    <div>
                        <p class="small-text color-grey">Start Date</p>
                        <input class="margin-bottom-0" [(ngModel)]="start_date" type="date">
                    </div>

                </div>

            </div>
            <div class="flex-item flex-05 margin-right-05">
                <div>



                    <div class="flex-container">

                        <div class="flex-item  flex-1">
                            <p class="small-text color-grey">End Date</p>
                            <input class="margin-bottom-0" [(ngModel)]="end_date" type="date">
                        </div>
                    </div>

                </div>






            </div>

            <div class="flex-item flex-05 margin-right-1">
                <div>
                    <p class="small-text color-grey">Sales Channel</p>
                    <select class="margin-bottom-0" #mySelectss (change)='changeAsset(mySelectss.value)' name="" id="">
                        <option *ngFor="let item of sourceList" [selected]="item.id == current_asset" [value]="item.id">
                            {{item.label}} </option>

                    </select>
                </div>

            </div>
            <div class="flex-item text-right">
                <button (click)="search()" class="button circle small clear margin-bottom-0">
                    <fa-icon [icon]="faSearch"></fa-icon> Search
                </button>

            </div>
        </div>

        <div class="flex-container margin-bottom-05 ">


            <div class="flex-item flex-1 margin-right-05">
                <div class="callout padding-center-1 rounded border medium-grey-bg">
                    <p class="small-text color-grey">Total Gross Revenue </p>
                    <h4 class="margin-bottom-0">{{total + total_transaction_fee_income   | currency:'IDR':'Rp'}}

                        <!-- <div class="tiny-text">Product Sales {{total | currency:'IDR':'Rp'}} + Trx Fee Inc
                            {{total_transaction_fee_income   | currency:'IDR':'Rp'}}</div>
                        <div> </div> -->
                    </h4>
                </div>

            </div>

            <div class="flex-item flex-1 margin-right-05">
                <div class="callout padding-center-1 border rounded medium-grey-bg">
                    <p class="small-text color-grey">Total Inventory ( COGS )</p>
                    <h4 class="margin-bottom-0">{{total_cogs  | currency:'IDR':'Rp'}} (
                        {{total_cogs/total | percent : '1.2-2'}} )


                    </h4>
                </div>

            </div>

            <div class="flex-item flex-1 margin-right-05">
                <div class="callout padding-center-1 border rounded medium-grey-bg">
                    <p class="small-text color-grey">Total Bonus ( COGS )</p>
                    <h4 class="margin-bottom-0">{{total_bonus   | currency:'IDR':'Rp'}} (
                        {{total_bonus/total | percent : '1.2-2'}} )


                    </h4>
                </div>

            </div>

            <div class="flex-item flex-1">
                <div class="callout padding-center-1 border rounded medium-grey-bg">
                    <p class="small-text color-grey">Total Sales Discount</p>
                    <h4 class="margin-bottom-0">{{total_sales_discount   | currency:'IDR':'Rp'}} (
                        {{total_sales_discount/total | percent : '1.2-2'}} )


                    </h4>
                </div>

            </div>






        </div>



        <div class="flex-container margin-bottom-1 padding-bottom-1">



            <div class="flex-item flex-1 margin-right-05">
                <div class="callout padding-center-1 rounded border medium-grey-bg">
                    <p class="small-text color-grey">Total Trx Fee</p>
                    <h4 class="margin-bottom-0">{{total_transaction_fee   | currency:'IDR':'Rp'}} (
                        {{total_transaction_fee/total | percent : '1.2-2'}} )


                    </h4>
                </div>

            </div>

            <div class="flex-item flex-1 margin-right-05">
                <div class="callout padding-center-1 border rounded medium-grey-bg">
                    <p class="small-text color-grey">Shipping Cost Revenue </p>
                    <h4 class="margin-bottom-0">{{shipping_cost   | currency:'IDR':'Rp'}} (
                        {{shipping_cost/total | percent : '1.2-2'}} )

                    </h4>

                </div>

            </div>

            <div class="flex-item flex-1  margin-right-05">
                <div class="callout padding-center-1 border rounded medium-grey-bg">
                    <p class="small-text color-grey">Loss Profit Transaction</p>
                    <h4 class="margin-bottom-0" style="color: brown;">{{loss_profit  | currency:'IDR':'Rp'}} (
                        {{loss_profit/total | percent : '1.2-2'}} ) </h4>
                </div>

            </div>

            <div class="flex-item flex-1 ">
                <div class="callout padding-center-1 border rounded medium-grey-bg">
                    <p class="small-text color-grey">Gross Profit</p>
                    <h4 class="margin-bottom-0" style="color: greenyellow;">
                        {{total_profit  | currency:'IDR':'Rp'}} ( {{total_profit/total | percent : '1.2-2'}} )
                    </h4>
                </div>

            </div>




        </div>



        <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>











        <div *ngIf="table_view == 'order'">
            <div class="flex-container">
                <!-- <div class="flex-item flex-05 margin-right-05">
                    <select #mySelects (change)='changeYear(mySelects.value)' name="" id="">
                        <option *ngFor="let item of years" [selected]="item.value == current_year"
                            [value]="item.value">
                            {{item.name}} </option>
    
                    </select>
                </div> -->
                <div class="flex-item flex-2 form">
                    <!-- <input type="text" [placeholder]="'Filter by product name'" [(ngModel)]="searchInput"
                        (keyup)="searchKeyword()"> -->

                    <app-form-search (onSearch)="searchKeyword($event)"></app-form-search>

                </div>
            </div>

            <div *ngIf="sales_orders">
                <div *ngFor="let item of sales_orders">
                    <div  (click)="viewOrder(item)"
                        class="callout padding-center-1 margin-bottom-1 rounded medium-grey-bg  cursor">

                        <div class="flex-container margin-bottom-1">
                            <div class="flex-item  margin-right-05">
                                #{{item.increment_id}} ,  {{item.order_date | date}}
                            </div>
                            <div class="flex-item  margin-right-05">
                               |
                           </div>
                            <div class="flex-item flex-1">
                               {{item.shipping_address.firstname}}
                               <span class="color-grey small-text">
                               {{item.customer_group}}
                               </span> 
                            </div>
                            <div class="flex-item flex-1 text-right">
                               
                               <span [ngClass]="{red: item.gross_profit <= 10}" class="status-label margin-right-05">
                              Profit  {{item.gross_profit  | currency:'IDR':'Rp'}}
                            </span>

                            <span *ngIf="item.journal_entry" class="status-label processing">
                               Payment Receive
                            </span>
                            <span *ngIf="!item.journal_entry" class="status-label shipment">
                               Open Invoice
                             </span>

                            

                            </div>
                           
                        </div>

                      

                        <div class="flex-container align-center align-center">
                            <div class="flex  margin-right-05">
                                <img style="border-radius: 10px;" width="75" height="75" [src]="item.products[0].image" alt="">
                               
                            </div>
                            
                            <div class="flex flex-2 margin-right-2">
                               
                                <div class="large-text">
                                    {{item.products[0].name}}
                                </div>
                                <div class="small-text color-grey">
                                  Total Product {{item.products.length}}
                                </div>
        
                            </div>
                            <!-- <div class="flex-item margin-right-05">
                                <div class="callout padding-center-1 rounded medium-grey-bg border">
                                    <div class="small-text color-grey">
                                        Payment Method : {{item.midtrans?.payment_type}}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="flex-item margin-right-05">
                                <div class="callout padding-center-1 rounded medium-grey-bg border">
                                    <div class="small-text color-grey">
                                        Shipping Method : {{item.shipping_method}}
                                    </div>
                                </div>
                                
                            </div> -->

                           
                            <div class="flex-item flex-1   margin-right-1">
                                <div class="small-text color-grey">
                                    Income
                                </div>
                               <div class="huge-text">
                                {{(item.transaction_fee_income + item.shipping_cost) | currency:'IDR':'Rp'}}
                               </div>
                            </div>

                            <div class="flex-item flex-1 margin-right-1">
                                <div class="small-text color-grey">
                                    Expense
                                </div>
                               <div class="huge-text">
                                {{ (item.discount + item.transaction_fee )  | currency:'IDR':'Rp'}}
                               </div>
                            </div>
                            <div class="flex-item flex-1">
                                <div class="small-text color-grey">
                                    Revenue
                                </div>
                               <div class="huge-text">
                                {{item.subtotal  | currency:'IDR':'Rp'}}
                               </div>
                            </div>
                            <div class="flex-item flex-1 text-right">
                              <!-- <button class="button small clear">
                                <fa-icon [icon]="faArrowRight"></fa-icon>
                              </button> -->
                            </div>
                           
                        </div>

                        <!-- <div class="flex-item flex-1">

                            #{{item.increment_id}}
                           

                        </div>
                        <div class="flex-item flex-1">
                            {{item.order_date | date}}

                        </div> -->

                        <!-- <div class="flex-item flex-1 margin-right-05">
                            #{{item.invoice_number}}
                        </div> -->

                        <!-- <div class="flex-item flex-15">
                            {{item.shipping_address.firstname}}
                            <div class="tiny-text color-grey"> {{item.customer_group}}</div>
                        </div>







                      
                        <div class="flex-item flex-15  ">

                            <div>T. Fee : {{item.transaction_fee  | currency:'IDR':'Rp'}}
                                <span class="tiny-text">(
                                    {{item.transaction_fee/item.subtotal | percent : '1.2-2'}} )</span> </div>

                            <div>Discount : {{item.discount  | currency:'IDR':'Rp'}} <span class="tiny-text">
                                    (
                                    {{item.discount/item.subtotal | percent : '1.2-2'}} )
                                </span></div>

                        </div>


                        <div class="flex-item flex-15 ">

                            <div> T.Fee : {{item.transaction_fee_income  | currency:'IDR':'Rp'}}
                                <span class="tiny-text">
                                    (
                                    {{item.transaction_fee_income/item.subtotal | percent : '1.2-2'}} )
                                </span>
                            </div>
                            <div>Ship : {{item.shipping_cost  | currency:'IDR':'Rp'}}</div>
                        </div>


                        <div class="flex-item flex-15 ">
                            {{item.cogs  | currency:'IDR':'Rp'}} <span class="tiny-text">
                                ( {{item.cogs/item.subtotal | percent : '1.2-2'}} )
                            </span>
                        </div>



                        <div class="flex-item flex-1 ">
                            {{(item.subtotal)   | currency:'IDR':'Rp'}}
                        </div>

                        <div class="flex-item flex-1 text-right">


                            <span [ngClass]="{red: item.gross_profit <= 10}" class="status-label">
                                {{item.gross_profit  | currency:'IDR':'Rp'}}
                            </span>


                        </div>
                   -->



                    </div>

                    <app-salesorder-view *ngIf="item.show"  [selected_order]="item"
                    (onClose)="item.show = false"></app-salesorder-view>

                    

                </div>


            </div>
        </div>



    </div>
</div>