<div class="main-body ">

    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                       Sales Pipeline
                    </div>

                   

                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <button class="button small  margin-bottom-0" (click)="openModal('addForm')">+ New Pipeline</button>
            </div>

        </div>

        <!-- <app-table-action></app-table-action> -->
        <div class="table-header">
            <div class="flex-container table-header-item">
                <div class="flex-item flex-05">
                    Order ID
                </div>

                
                <div class="flex-item flex-1">
                    Customer
                </div>

            

                <div class="flex-item flex-1">
                    Product
                </div>

                <div class="flex-item flex-1">
                    Total Amount
                </div>
                <div class="flex-item flex-1">
                    Deal Stage
                </div>
                <div class="flex-item flex-1">
                 Expired On
                </div>

                <div class="flex-item flex-1">
                  Source
                   </div>
               
            
                <!-- <div class="flex-item flex-1">
                    Last Update
                </div> -->
                <div class="flex-item text-right flex-05" >
                  
                </div>
            </div>
        </div>
        <div class="table-body">
            <div *ngFor="let item of order">
                <div class="flex-container table-body-item">
                    <div class="flex-item flex-05">
                        {{item.businessorder_id}}
                    </div>
                    <div class="flex-item flex-1">
                        {{item.customer_name}}
                        <div> <fa-icon [icon]="faPhone"></fa-icon> {{item.customer_phone}}</div>
                    </div>

                    <div class="flex-item flex-1">
                        {{item.products?.length?item.products?.length:'0'}} Items
                    </div>

                    <div class="flex-item flex-1">
                       {{item.total_amount | currency: 'IDR'}}
                    </div>
                    <div class="flex-item flex-1">
                        <app-status-label (onSelect)="onSelect($event,item.businessorder_id)" [label]="item.deal_stage" [option]="status_label"></app-status-label>
                    </div>
                 
                    <div class="flex-item flex-1">
                        <div *ngIf="checkDate(item)">
                            {{item.update_date | date}}
                        </div>
                       
                    </div>
                    <div class="flex-item flex-1">
                        {{item.source}}
                       
                    </div>
                    <div  class="flex-item flex-05 text-right cursor">
                       <button (click)="toggleitem(item)" class="button tiny clear margin-right-05 active">
                        <fa-icon [icon]="faExpandAlt"></fa-icon>
                       </button>

                    
                       <button (click)="deleteBusinessOrder(item.businessorder_id)" class="button tiny clear active">
                        <fa-icon [icon]="faTrash"></fa-icon>
                       </button>
                    </div>
                </div>
                <app-modal [isHalf]="true" [title]="'Product'" (onClose)="toggleitem(item)" *ngIf="item.isEdit" >
                    <app-business-order-view [order]="item"></app-business-order-view>
                </app-modal>
              
            </div>

        </div>



    </div>
</div>




<app-modal *ngIf="showModal == 'addForm' " title="Add Order" (onClose)="closeModal()">
    <form class="form" [formGroup]="orderForm">
        <label for="">Customer Name</label>
        <input formControlName="customer_name" type="text" name="" id="">

        <label for="">Create By</label>
        <input formControlName="sales_name" type="text" name="" id="">




        <button [disabled]="!orderForm.valid" (click)="addOrder()" class="button expanded">Create New Order</button>
    </form>

</app-modal>
