<app-table-action>
    <button (click)="setPromoType(this.tab_view);this.showModal = 'addPromoModal'" class="button small clear">
        + Add {{this.tab_view}}
    </button>

</app-table-action>




<div *ngIf="tab_view == 'product_discount'">
    <div class="table-header">
        <div class=" flex-container table-header-item">



            <div class="flex-item flex-2  margin-right-05">
                Name
            </div>

            <div class="flex-item flex-1  margin-right-05">
                Voucher Code
            </div>





            <div class="flex-item flex-1 margin-right-05">
                Start Date
            </div>

            <div class="flex-item flex-1 margin-right-05">
                End Date
            </div>

            <div class="flex-item flex-1 margin-right-05">
                Quota / Used
            </div>

            <div class="flex-item flex-1 margin-right-05">
                Status
            </div>

            <div class="flex-item flex-1 text-right">
                Action
            </div>
        </div>
    </div>

    <div class="table-body">
        <div *ngFor="let item of promo" class=" flex-container table-body-item">




            <div class="flex-item flex-2  margin-right-05">
                {{item.name}}

            </div>

            <div class="flex-item flex-1  margin-right-05">
                <span class="status-label">
                    {{item.promo_code}}
                </span>

            </div>



            <div class="flex-item flex-1 margin-right-05">
                {{item.start_date}}

            </div>

            <div class="flex-item flex-1 margin-right-05">
                {{item.end_date}}

            </div>

            <div class="flex-item flex-1 margin-right-05">
                {{item.quota}}
                {{item.used}}


            </div>

            <div class="flex-item flex-1 margin-right-05">


                <span *ngIf="item.status == 1" class="status-label green">
                    Enable
                </span>
                <span *ngIf="item.status == 0" class="status-label">
                    Disable
                </span>

            </div>

            <div class="flex-item flex-1 text-right">
                <button (click)="_navigateTo(item.id)" class="button tiny clear">
                    View
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="tab_view == 'special_price'">
    <div class="table-header">
        <div class=" flex-container table-header-item">



            <div class="flex-item flex-2  margin-right-05">
                Name
            </div>





            <div class="flex-item flex-1 margin-right-05">
                Start Date
            </div>

            <div class="flex-item flex-1 margin-right-05">
                End Date
            </div>


            <div class="flex-item flex-1 margin-right-05">
                Status
            </div>

            <div class="flex-item flex-1 text-right">
                Action
            </div>
        </div>
    </div>

    <div class="table-body">
        <div *ngFor="let item of promo" class=" flex-container table-body-item">




            <div class="flex-item flex-2  margin-right-05">
                {{item.name}}

            </div>




            <div class="flex-item flex-1 margin-right-05">
                {{item.start_date}}

            </div>

            <div class="flex-item flex-1 margin-right-05">
                {{item.end_date}}

            </div>



            <div class="flex-item flex-1 margin-right-05">


                <span *ngIf="item.status == 1" class="status-label green">
                    Enable
                </span>
                <span *ngIf="item.status == 0" class="status-label">
                    Disable
                </span>

            </div>

            <div class="flex-item flex-1 text-right">
                <button (click)="_navigateTo(item.id)" class="button tiny clear">
                    View
                </button>
            </div>
        </div>
    </div>
</div>

<app-modal (onClose)="this.showModal = null" *ngIf="showModal == 'addPromoModal'" [title]="'Add ' + this.tab_view">
    <form [formGroup]="promoForm">
        <div class="margin-bottom-1 padding-bottom-1 border-bottom">




            <label for="">Name</label>
            <input type="text" formControlName="name">

            <div *ngIf="tab_view == 'product_discount'">
                <label for="">Voucher Code</label>
                <input type="text" formControlName="promo_code">
            </div>






        </div>


        <button [disabled]="!this.promoForm.valid" class="button expanded " (click)="addPromoRule()">Add
            Promotion</button>

    </form>

</app-modal>