<div *ngIf="product">
    <div class="margin-bottom-1">
        <h3>{{product.product.name}}</h3>
    </div>

    <div class="flex-container margin-bottom-1">

        <div class="flex-item flex-1 flex-1 margin-right-1">
            <div class="callout padding-center-1 medium-grey-bg  rounded">
                <div class="small-text">
                    Stock Level
                </div>
                <div class="huge-text">
                    {{product.product.total_stock}}
                </div>
            </div>
        </div>
        <div class="flex-item flex-1 flex-1 margin-right-1">
            <div class="callout padding-center-1 medium-grey-bg  rounded">
                <div class="small-text">
                    Total View
                    <div class="huge-text">
                        {{product.product.total_click}}
                    </div>

                </div>
            </div>
        </div>
        <div class="flex-item flex-1 flex-1 ">
            <div class="callout padding-center-1 medium-grey-bg  rounded">
                <div class="small-text">
                    Total Purchase
                </div>
                <div class="huge-text">
                    {{product.product.total_inventory_sold}}
                </div>
            </div>
        </div>

    </div>
    <div class="flex-container">
        <div class="flex-item flex-1 flex-1 margin-right-1">
            <app-card [title]="'Sales Perfomance'">
                <div *ngIf="sales_perfomance">

                    <div *ngFor="let item of sales_perfomance" class="list-tile-container align-center">
                        <div class="list-tile-item flex-container  align-center">
                            <div class="flex-item flex-15 margin-right-2 small-text">
                                {{item.label}}
                            </div>
                            <div class="flex-item flex-15 margin-right-2 small-text">
                                <span class="color-grey tiny-text">Total Purchase</span>

                                <div> {{item.value?.count}}</div>
                            </div>
                            <div class="flex-item flex-15 margin-right-2 small-text">
                              
                               <app-progress-component   [value]="getPerc(item)"></app-progress-component>
                            </div>

                        </div>

                    </div>

                </div>


            </app-card>
        </div>
        <div class="flex-item flex-1">
            <app-card [title]="'View Perfomance'">
                <div *ngIf="view_performance">

                    <div *ngFor="let item of view_performance" class="list-tile-container align-center">
                        <div class="list-tile-item flex-container  align-center">
                            <div class="flex-item flex-15 margin-right-2 small-text">
                                {{item.label}}
                            </div>
                            <div class="flex-item flex-15 margin-right-2 small-text">
                                <span class="color-grey tiny-text">Total View</span>

                                <div> {{item.value?.total}}</div>
                            </div>
                            <div class="flex-item flex-15 margin-right-2 small-text">
                              
                                <app-progress-component [value]="getPerc2(item)"></app-progress-component>
                             </div>

                        </div>

                    </div>

                </div>
            </app-card>
        </div>
    </div>

    <app-card [title]="'Inventory'">
        <div class="table-container">



            <div class="parrent">

                <div class="child">

                    <div class="table-header">
                        <div class=" flex-container table-header-item">





                            <div class="flex-item flex-15">
                                Name
                            </div>

                            <div class="flex-item flex-1">
                                Type
                            </div>

                            <div class="flex-item flex-1">
                                Warehouse
                            </div>

                            <div class="flex-item flex-1">
                                COGS
                            </div>

                            <div class="flex-item flex-05">
                                Age
                            </div>

                            <div class="flex-item flex-1">
                                Date
                            </div>

                            <div class="flex-item flex-1">
                                Status
                            </div>


                            <div class="flex-item flex-1">
                                Action
                            </div>



                        </div>
                    </div>

                    <div class="table-body">

                        <div *ngFor="let item of product.inventory" class=" flex-container table-body-item">


                            <div class="flex-item flex-15">
                                {{item.name}}
                            </div>

                            <div class="flex-item flex-1">
                                {{item.type}}
                              
                            </div>

                            <div class="flex-item flex-1">
                                {{item.warehouse?.name}}
                              
                            </div>


                            <div class="flex-item flex-1">
                                {{item.cogs | currency : "Rp"}}
                            </div>

                            <div class="flex-item flex-05">
                                {{item.age}} D

                                
                            </div>

                            <div class="flex-item flex-1">
                                <div class="small-text ">
                                    <span class="color-grey">  Receive </span> {{item.created_at |date}}
                                   </div>
                                   <div class="small-text ">
                                       <span class="color-grey">   Last Opname</span>  {{item.opname_check_date |date}}
                                    </div>

                                
                            </div>

                            
                           


                            <div class="flex-item flex-1">
                                <span class="status-label">
                                    {{item.status}}
                                </span>
                            </div>

                            <div class="flex-item flex-1">
                                <button *ngIf="item.type == 'PURCHASE'" class="button tiny clear active" (click)="updateInventory(item,'FLASHDEAL')">
                                    Add to Flashdeal
                                 </button>
                                 <button *ngIf="item.type == 'FLASHDEAL'" class="button tiny clear active" (click)="updateInventory(item,'PURCHASE')">
                                    Remove From Flashdeal
                                 </button>
                            </div>

                           


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </app-card>


</div>