<app-modal  isBorder="true" isHalf="true">

    <div topbar>
        <div class="flex-container ">
            <div class="flex-item flex-1">
                <ul class="menu">




                    <!-- <li class="flex-item margin-right-05 margin-bottom-0">
                        <button class="button   clear small active  ">
                            Delete
                        </button>
                    </li>
                    <li class="flex-item margin-right-05 margin-bottom-0">
                        <button class="button   clear small active  ">
                            Duplicate
                        </button>
                    </li>
                    <li class="flex-item margin-right-05 margin-bottom-0">
                        <button class="button   clear small active  ">
                            Last Update
                        </button>
                    </li> -->



                </ul>
            </div>
            <!-- <div class="flex-item">
                <ul style="justify-content: flex-end;" class="menu menu-right">

                    <li class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="generatePdfs(this.selected_order)" class="button   clear small active  ">
                            Print <fa-icon [icon]="faPrint"></fa-icon>
                        </button>
                    </li>

                    <li *ngIf="isAllowEdit()" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('processing')" class="button   small   ">
                            Save Order
                        </button>
                    </li>


                </ul>
            </div> -->
        </div>

    </div>



    <div class="timeline-container medium-grey-bg" sidebar>
        <div class="callout padding-center">

            <div class="list-tile-container">


                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Status
                    </div>
                    <div class="flex-1 ">
                        <!-- <label class="switch">
                            <input type="checkbox" [checked]="selected_product.status"
                                (change)="updateStatus(selected_product,'status',$event.target.checked)">
                            <span class="slider round"></span>
                        </label> -->
                    </div>
                </div>

                




            </div>


        </div>


    </div>


    <div class="fade-in">

        <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
            <h4>Brand Details</h4>
           


        </div>

        <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
            <h4>Product</h4>
           
            <app-form-search (onSearch)="searchProduct($event)"></app-form-search>
            <div class="table-header">
                <div class="flex-container table-header-item">

                    <div class="flex-item flex-05">

                        ID
                    </div>



                    <div class="flex-item flex-15">
                        Name
                    </div>

                    <div class="flex-item flex-1">
                        Brand
                    </div>



                    <div class="flex-item flex-1 text-right">
                        Status
                    </div>








                </div>
            </div>
            <div class="table-body">
                <div *ngFor="let item of this.product" class="flex-container table-body-item">

                    <div class="flex-item flex-05">

                        {{item.id}}
                    </div>



                    <div class="flex-item flex-15">
                        {{item.name}}
                    </div>

                    <div class="flex-item flex-1">
                        {{item.name}}
                    </div>



                    <div class="flex-item flex-1 text-right">
                        {{item.status}}
                    </div>








                </div>
            </div>


        </div>



      











    </div>

</app-modal>