<div class="main-body  fade-in">
    <div>


        <div class="flex-container align-center">
            <div class="flex-item flex-1">
                <div class="label-text medium">
                    <div class="title">
                        Product
                    </div>

                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <!-- <button (click)="toggleAddOrder()" class="button small clear active">+ Create Order</button> -->

            </div>
        </div>
        <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


        <div *ngIf="tab_view == 'product'">
            <app-table-action [sortListItems]="sortListItems">
                <button (click)="addProduct()" class="button small clear">
                     Create New Product
                </button>

                <button *ngIf="selected_added_product.length !== 0" (click)="toggleCollection()"
                    class="button small clear margin-left-05">
                   Collection <fa-icon [icon]="faPlusCircle"></fa-icon>
                </button>

                <button *ngIf="selected_added_product.length !== 0" (click)="togglePromotion()"
                    class="button small clear margin-left-05">
                    Promotion <fa-icon [icon]="faPlusCircle"></fa-icon>
                </button>
            </app-table-action>

            <div class="table-header">
                <div class="flex-container table-header-item">

                    <div class="flex-item" style="width: 40px;">
                        <span class="cursor border-bottom" (click)="selectAllSelected()"> All</span>


                    </div>


                    <div class="flex-item" style="width: 60px;">
                        ID
                    </div>


                    <div class="flex-item flex-2">
                        Name
                    </div>

                    <div class="flex-item flex-1">
                        Brand
                    </div>


                    <div class="flex-item flex-1">
                        Promotion
                    </div>

















                    <div class="flex-item flex-1">
                        Price
                    </div>
                    <div class="flex-item flex-1">
                        Special Price
                    </div>

                    <div class="flex-item flex-05">
                        Inventory
                    </div>



                    <div class="flex-item  text-right" style="width: 40px;">

                    </div>









                </div>
            </div>
            <div class="table-body">
                <div *ngFor="let item of product">
                    <div class="flex-container table-body-item">

                        <div class="flex-item cursor" style="width: 40px;">

                            <label class="container">
                                <input type="checkbox" [checked]="is_select_all"
                                    (change)="selectAddedProduct($event.target.checked,item.id)">
                                <span class="checkmark"></span>
                            </label>

                        </div>

                        <div (click)="selected_product = item" class="flex-item cursor" style="width: 60px;">
                            <span class="border-bottom">{{item.id}}</span>

                        </div>


                        <div class="flex-item flex-2">
                            <div class="flex-container">
                                <div style="width: 50px  !important" (click)="selected_product = item"
                                    class="flex-item">
                                    <div class="cursor">
                                        <img *ngIf="item.feature_image" width="50" height="50"
                                            style="width: 50px; height: 50px;" class="product-cover"
                                            [src]="item.feature_image" alt="">

                                        <div style="width: 50px;height: 50px;" *ngIf="!item.feature_image"
                                            class="callout product-cover text-center medium-grey-bg">

                                        </div>
                                    </div>

                                </div>

                                <div class="flex-item flex-1 cursor">

                                    <div class="margin-bottom-05">

                                        <app-form-input (onClose)="updateProduct(item, $event)" isHideAction="true"
                                            isHideLabel="true" [id]="'name'" [value]="item.name" [label]="'Name'">
                                        </app-form-input>

                                    </div>
                                    <div>

                                        
                                        <span *ngIf="item.total_variant" (click)="getProductVariant(item)"
                                            class="span-label margin-right-02">{{item.total_variant}} Variant <fa-icon
                                                [icon]="faChevronCircleDown"></fa-icon> </span>

                                        <span (click)="addVariant(item)" class="span-label hover-show  margin-right-02">
                                            <fa-icon [icon]="faPlus"></fa-icon> <span class="hide">Add Variant</span>
                                        </span>

                                        <app-remove-button (onClick)="removeProduct(item)">
                                            <span class="span-label   margin-right-02">
                                                <fa-icon [icon]="faTrashAlt"></fa-icon>
                                            </span>
                                        </app-remove-button>


                                    </div>


                                </div>
                            </div>

                        </div>

                        <div class="flex-item flex-1">




                            {{item.brand?.name}}

                        </div>

                        <div class="flex-item flex-1">
                            <div *ngIf="item.bundling_group" style="margin-bottom: 2px;">
                                <span  *ngIf="item.bundling_group"  (click)="this.selected_promotion = item.bundling_group" class="span-label cursor">
                                    {{item.bundling_group?.total_item}} Bundling <fa-icon [icon]="faChevronCircleDown"></fa-icon>
                                </span>
                            </div>

                            <span *ngIf="item.bonus_group" (click)="this.selected_promotion = item.bonus_group" class="span-label cursor">
                                {{item.bonus_group?.total_item}} Bonus <fa-icon [icon]="faChevronCircleDown"></fa-icon>
                            </span>


                        </div>














                        <div class="flex-item flex-1">


                            <app-form-input (onClose)="updateProduct(item, $event)" type="currency" isHideAction="true"
                                isHideLabel="true" [id]="'price'" [value]="item.price" [label]="'price'">
                            </app-form-input>

                        </div>
                        <div class="flex-item flex-1">


                            <app-form-input (onClose)="updateProduct(item, $event)" type="currency" isHideAction="true"
                                isHideLabel="true" [id]="'special_price'" [value]="item.special_price"
                                [label]="'special_price'"></app-form-input>

                            <div class="tiny-text color-grey">
                                {{item.special_price_start_date | date}} -
                                {{item.special_price_end_date | date}}
                            </div>

                        </div>

                        <div class="flex-item flex-05">

                            <span (click)="selected_performace_id = item.id" class="status-label">
                                {{item.qty}} <fa-icon [icon]="faChevronCircleDown"></fa-icon>
                            </span>

                        </div>


                        <div class="flex-item  text-right" style="width: 40px;">

                            <label class="switch">
                                <input type="checkbox" [checked]="item.status"
                                    (change)="updateStatus(item,'status',$event.target.checked)">
                                <span class="slider round"></span>
                            </label>


                        </div>







                    </div>
                    <div *ngIf="item.variant" class="margin-bottom-2">
                        <div *ngFor="let item of item.variant" class="flex-container table-body-item border">

                            <div class="flex-item cursor" style="width: 40px;">



                            </div>

                            <div (click)="selected_product = item" class="flex-item cursor" style="width: 60px;">
                                <span class="border-bottom">{{item.id}}</span>

                            </div>


                            <div class="flex-item flex-2">
                                <div class="flex-container">


                                    <div style="width: 50px  !important" (click)="selected_product = item"
                                        class="flex-item">
                                        <div (click)="selected_product = item" class="cursor">
                                            <img *ngIf="item.feature_image" width="50" height="50"
                                                style="width: 50px; height: 50px;" class="product-cover"
                                                [src]="item.feature_image" alt="">

                                            <div style="width: 50px;height: 50px;" *ngIf="!item.feature_image"
                                                class="callout product-cover text-center medium-grey-bg">

                                            </div>


                                        </div>

                                    </div>

                                    <div class="flex-item flex-1 cursor">

                                        <div class="margin-bottom-05">

                                            <app-form-input (onClose)="updateProduct(item, $event)" isHideAction="true"
                                                [id]="'variant_name'" [value]="item.variant_name"
                                                [label]="'Variant Name'">
                                            </app-form-input>
                                            <app-remove-button (onClick)="removeProductVariant(item)">
                                                <span class="span-label">
                                                    <fa-icon [icon]="faTrashAlt"></fa-icon>

                                                </span>
                                            </app-remove-button>
                                        </div>


                                    </div>
                                </div>

                            </div>

                            <div class="flex-item flex-1">


                               -
                            </div>


                            <div class="flex-item flex-1">

-

                            </div>



                            <div class="flex-item flex-1">


                                <app-form-input (onClose)="updateProduct(item, $event)" type="currency"
                                isHideAction="true" [id]="'price'" [value]="item.price" [label]="' Price'">
                             </app-form-input>

                            </div>
                            <div class="flex-item flex-1">


                                <app-form-input (onClose)="updateProduct(item, $event)" type="currency"
                                isHideAction="true" [id]="'special_price'" [value]="item.special_price" [label]="'Special'">
                             </app-form-input>

                            </div>

                            <div class="flex-item flex-05">
                                <span class="status-label">
                                    {{item.qty}} 
                                </span>
    
                            </div>


                            <div class="flex-item  text-right" style="width: 40px;">

                                <label class="switch">
                                    <input type="checkbox" [checked]="item.status"
                                        (change)="updateStatus(item,'status',$event.target.checked)">
                                    <span class="slider round"></span>
                                </label>


                            </div>






                        </div>
                    </div>

                </div>


            </div>

            <div *ngIf="page>=1" lazyload (onShown)="loadMore()"></div>





            <!-- <div *ngIf="page>=1" lazyload (onShown)="loadMore()"></div> -->
            <app-product-view (onClose)="closeModal()" *ngIf="this.selected_product"
                [selected_product]="this.selected_product">
            </app-product-view>

            <app-modal *ngIf="is_show_collection" title="Add To Collection">
                <app-form-search (onSearch)="searchCollection($event)"></app-form-search>

                <div class="flex-container">
                    <div class="flex-item flex-1 margin-right-05">

                        <div class="list-tile-container">
                            <div (click)="addCategoryProduct(item)" *ngFor="let item of collection.BRAND"
                                class="list-tile-item cursor flex-container">
                                <div class="flex-item flex-1">
                                    {{item.name}}
                                </div>
                                <div class="flex-item">
                                    <span class="span-label">Brand</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="flex-container">
                    <div class="flex-item flex-1 margin-right-05">

                        <div class="list-tile-container">
                            <div (click)="addCategoryProduct(item)" *ngFor="let item of collection.CATEGORY"
                                class="list-tile-item cursor flex-container">
                                <div class="flex-item flex-1">
                                    {{item.name}}
                                </div>
                                <div class="flex-item">
                                    <span class="span-label">Category</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </app-modal>

            <app-modal *ngIf="is_show_promotion" title="Add To Promotion">
                <!-- <app-form-search (onSearch)="searchCollection($event)"></app-form-search> -->

                <div class="flex-container">
                    <div class="flex-item flex-1 margin-right-05">

                        <div class="list-tile-container">
                            <div (click)="addProductToPromotion(item)" *ngFor="let item of bundling"
                                class="list-tile-item cursor flex-container">
                                <div class="flex-item flex-1">
                                    {{item.title}}
                                </div>
                                <div class="flex-item">
                                    <span class="span-label">{{item.type}}</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

              
            </app-modal>

            <app-modal isHalf="true" (onClose)="selected_performace_id = null" *ngIf="selected_performace_id">
                <app-product-performance [product_id]="selected_performace_id"></app-product-performance>

            </app-modal>

            <app-bundling-view (onClose)="selected_promotion = null"  *ngIf="selected_promotion" [selected_promotion]="selected_promotion">
            </app-bundling-view>



        </div>

        <app-collection *ngIf="tab_view == 'collection'"></app-collection>

        <app-voucher-discount *ngIf="tab_view == 'discount'"></app-voucher-discount>

        <app-bundling *ngIf="tab_view == 'promotion'"></app-bundling>
        <app-review *ngIf="tab_view == 'review'"></app-review>


        <app-voucher-discount *ngIf="tab_view == 'product_discount' || tab_view == 'special_price'">
        </app-voucher-discount>

    </div>
</div>