<div class="main-body">

    <div>
        <div class="label-text medium border-bottom margin-bottom-1">
            <div class="flex-container horizontal justify-space-between align-center">
                <div class="flex-item flex-1 margin-right-1">
                    <div class="title">
                        Finance Report
                    </div>


                </div>

            </div>
        </div>

        

        <!-- <div class="flex-item margin-bottom-1">
           

            <div *ngIf="IncomeStatement" class="callout padding-center rounded medium-grey-bg">
               
                <div class="flex-container">
                    <div class="flex-item flex-1">
                        <h3>Balance Statement {{this.current_year}}</h3>
                    </div>
                    <div class="form flex-item text-right">
                        <div class="flex-container">
                            <div class="flex-item margin-right-1">
                                <select #device   (change)="changeYear(device.value)" class="form" name="" id="">
                                    <option *ngFor="let item of years" [value]="item.year">{{item.year}}</option>
                                </select>

                            </div>
                            <div class="flex-item">
                                
                                <select #devices   (change)="changeQuarter(devices.value)" class="form" name="" id="">
                                    <option *ngFor="let item of quarter" [value]="item.value">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    
                    </div>
                </div>


              
              
                <div class="flex-container bold large-text margin-bottom-1 padding-bottom-1 border-bottom">
                    <div class="flex-item flex-1 margin-right-05">
                        Account
                    </div>
                    <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                        {{item.month_name}}
                    </div>


                </div>

                <div class="hover flex-container bold large-text margin-bottom-05   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05 margin-bottom-05 ">
                       Asset
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                        {{item.asset.total | currency:'IDR':'Rp'}}


                    </div>



                </div>
               
                <div class="hover flex-container italic  small-text  margin-bottom-05   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Cash / Bank Equivalents( 41 )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                        <a (click)="goToDetails(41,item.month)">  {{item.asset.cash_bank  | currency:'IDR':'Rp'}}  <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon> </a>
                    </div>

                </div>

                

                <div class="hover flex-container italic  small-text  margin-bottom-05   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Petty Cash ( 41 )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                        <a (click)="goToDetails(41,item.month)">  {{item.asset.petty_cash  | currency:'IDR':'Rp'}}  <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon> </a>
                    </div>

                </div>

                <div class="hover flex-container italic  small-text  margin-bottom-05   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Inventory - Sales Goods ( 117 )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                        <a (click)="goToDetails(117,item.month)">   {{item.asset.inventory_goods  | currency:'IDR':'Rp'}} <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                    </div>

                </div>

                <div class="hover flex-container italic  small-text  margin-bottom-05   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Inventory - Bonus Item ( 117 )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                        <a (click)="goToDetails(117,item.month)">   {{item.asset.inventory_bonus  | currency:'IDR':'Rp'}} <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                    </div>

                </div>

                <div class="hover flex-container italic  small-text  margin-bottom-05   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Inventory - CBD ( 117 )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                        <a (click)="goToDetails(117,item.month)">   {{item.asset.inventory_cbd  | currency:'IDR':'Rp'}} <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                    </div>

                </div>

                
                <div class="hover flex-container italic  small-text  margin-bottom-05   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Prepaid Expense - Building ( 117 )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                        <a (click)="goToDetails(117,item.month)">   {{item.asset.prepaid_building  | currency:'IDR':'Rp'}} <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                    </div>

                </div>

                <div class="hover flex-container italic  small-text  margin-bottom-05   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Prepaid Expense - Company Outing ( 117 )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                        <a (click)="goToDetails(117,item.month)">   {{item.asset.prepaid_outing  | currency:'IDR':'Rp'}} <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                    </div>

                </div>

                <div class="hover flex-container italic  small-text  margin-bottom-2   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Holding Account
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                      <a (click)="goToDetails(39,item.month)">{{item.asset.holding_account  | currency:'IDR':'Rp'}}  <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>   </a>  
                    </div>
                </div>

             
               


                <div class="hover flex-container bold large-text   margin-bottom-05 border-bottom padding-bottom-05 ">
                    <div class="flex-item flex-1 margin-right-05 margin-bottom-05  ">
                        Liabilities
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05 ">
                        {{item.asset.total | currency:'IDR':'Rp'}}
                    </div>

                </div>

                <div class="hover flex-container italic  small-text  margin-bottom-2   border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Account Payable ( 39 )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                      <a (click)="goToDetails(39,item.month)">{{item.asset.account_payable  | currency:'IDR':'Rp'}}  <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>   </a>  
                    </div>

                </div>

                <div class="hover flex-container bold large-text   margin-bottom-05 border-bottom padding-bottom-05 ">
                    <div class="flex-item flex-1 margin-right-05 margin-bottom-05  ">
                        Shareholder Equity
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05 ">
                        {{item.asset.total | currency:'IDR':'Rp'}}
                    </div>

                </div>

                

                <div class="hover flex-container italic  small-text  margin-bottom-05   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Retained Earnings ( 90% )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                      <a (click)="goToDetails(39,item.month)">{{item.asset.retained_earnings  | currency:'IDR':'Rp'}}  <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>   </a>  
                    </div>
                </div>

               

                <div class="hover flex-container italic  small-text  margin-bottom-2   margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                       - Devidend ( 10% )
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05">
                      <a (click)="goToDetails(39,item.month)">{{item.asset.devidend  | currency:'IDR':'Rp'}}  <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>   </a>  
                    </div>

                </div>
            
                
                <div class="hover flex-container bold large-text   margin-bottom-05 border-bottom padding-bottom-05 ">
                    <div class="flex-item flex-1 margin-right-05 margin-bottom-05  ">
                        Net Profit
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05 ">
                        {{'0' | currency:'IDR':'Rp'}}
                    </div>

                </div>

                <div class="hover flex-container bold large-text   margin-bottom-05 border-bottom padding-bottom-05 ">
                    <div class="flex-item flex-1 margin-right-05 margin-bottom-05  ">
                        Net Worth
                    </div>
                    <div *ngFor="let item of balanceStatment" class="flex-item flex-05 margin-right-05 ">
                        {{'0' | currency:'IDR':'Rp'}}
                    </div>

                </div>

               
             

                
             


              





             

               





            </div>
        </div> -->


     
        <div *ngIf="IncomeStatement">
               
            <div class="flex-container">
                <div class="flex-item flex-1">
                    <h3>Income Statement {{this.current_year}}</h3>
                </div>
                <div class="form flex-item text-right">
                    <div class="flex-container">
                        <div class="flex-item margin-right-1">
                            <select #device   (change)="changeYear(device.value)" class="form" name="" id="">
                                <option *ngFor="let item of years" [value]="item.year">{{item.year}}</option>
                            </select>

                        </div>
                        <div class="flex-item">
                            
                            <select #devices   (change)="changeQuarter(devices.value)" class="form" name="" id="">
                                <option *ngFor="let item of quarter" [value]="item.value">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                
                </div>
            </div>


            <div class="flex-container margin-bottom-1 padding-bottom-1">
        
     
                <div class="flex-item flex-1 margin-right-05">
                    <div class="callout padding-center rounded medium-grey-bg">
                        <p class="small-text">Total Income </p>
                        <h4 class="margin-bottom-0">  {{total_income | currency:'IDR':'Rp'}}</h4>
                    </div>
        
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    <div class="callout padding-center rounded medium-grey-bg">
                        <p class="small-text">Total Cogs </p>
                        <h4 class="margin-bottom-0">  {{total_cogs | currency:'IDR':'Rp'}} ( {{total_cogs/total_income | percent : '1.2-2'  }} ) </h4>
                    </div>
        
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    <div class="callout padding-center rounded medium-grey-bg">
                        <p class="small-text">Total Expenses </p>
                        <h4 class="margin-bottom-0">  {{total_expenses | currency:'IDR':'Rp'}} ( {{total_expenses/total_income | percent : '1.2-2'  }} )</h4>
                    </div>
        
                </div>

               



                

                <div class="flex-item flex-1 ">
                    <div class="callout padding-center rounded medium-grey-bg">
                        <p class="small-text">Net Profit</p>
                        <h4 class="margin-bottom-0">  {{total_net_profit | currency:'IDR':'Rp'}} ( {{total_net_profit/total_income |  percent : '1.2-2'  }} )</h4>
                    </div>
        
                </div>
                
              
            </div>
            <!-- <div class="flex-container margin-bottom-1 padding-bottom-1 border-bottom">
                <div class="flex-item flex-1 margin-right-05">
                    <p class="small-text">Income</p>
                    <h4 class="margin-bottom-0">{{profitLossLifetime.revenue| currency:'IDR':'Rp'}}</h4>
                </div>
                <div class="flex-item flex-1 margin-right-05 margin-right-05">
                    <p class="small-text">Cogs</p>
                    <h4 class="margin-bottom-0">{{profitLossLifetime.cogs| currency:'IDR':'Rp'}}
                    </h4>

                </div>
                <div class="flex-item flex-1 margin-right-05 margin-right-05">
                    <p class="small-text">Expenses</p>
                    <h4 class="margin-bottom-0">{{profitLossLifetime.marketing| currency:'IDR':'Rp'}}
                    </h4>

                </div>

              
wewrdd

                <div class="flex-item flex-1 margin-right-05">
                    <p class="small-text">Net Profit</p>
                    <h4 class="margin-bottom-0">
                        {{profitLossLifetime.profit | currency:'IDR':'Rp'}}
                    </h4>
                </div>
            </div> -->
            <div class="table-body">
                <div class="flex-container table-body-item">
                    <div class="flex-item flex-1 margin-right-05">
                        Account
                    </div>
                    <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                        {{item.month_name}}
                    </div>


                </div>

                <div class="hover flex-container table-body-item">
                    <div class="flex-item flex-1 margin-right-05 margin-bottom-05 ">
                       Income
                    </div>
                    <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                        {{item.income.total | currency:'IDR':'Rp'}}


                    </div>



                </div>

                <div class="hover flex-container italic  table-body-item">
                    <div class="flex-item flex-1 margin-right-05">
                       - Sales Revenue ( 41 )
                    </div>
                    <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                        <a (click)="goToDetails(41,item.month)">  {{item.income.sales_revenue  | currency:'IDR':'Rp'}}  <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon> </a>
                    </div>

                </div>



            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Credit Note ( 117 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(117,item.month)">   {{item.income.credit_note  | currency:'IDR':'Rp'}} <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Transaction Fee ( 115 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(115,item.month)">   {{item.income.transaction_fee  | currency:'IDR':'Rp'}} <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                </div>

            </div>
            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Split Payment ( 119 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(119,item.month)">   {{item.income.split_payment  | currency:'IDR':'Rp'}} <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                </div>

            </div>
            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Shipping Revenue ( 114 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(114,item.month)">   {{item.income.shipping_revenue  | currency:'IDR':'Rp'}} <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                </div>

            </div>

           


            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05 margin-bottom-05  ">
                    Cost of Sales
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05 ">
                    {{item.cogs.total | currency:'IDR':'Rp'}} ( {{item.cogs.total/item.income.total | percent: '1.2-2'}} )
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Sales Inventory ( 39 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                  <a (click)="goToDetails(39,item.month)">{{item.cogs.goods  | currency:'IDR':'Rp'}}  ( {{item.cogs.goods/item.income.total | percent :'1.2-2' }} )  <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>   </a>  
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Bonus Inventory ( 122 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(122,item.month)">  {{item.cogs.bonus  | currency:'IDR':'Rp'}}  ( {{item.cogs.bonus/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon> </a>
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   Expenses
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    {{item.expense.total  | currency:'IDR':'Rp'}} ( {{item.expense.total/item.income.total | percent : '1.2-2'}} )
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - General Expenses ( 30 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(30,item.month)">  {{item.expense.general_expense  | currency:'IDR':'Rp'}} ( {{item.expense.general_expense/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a> 
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Marketing Expenses ( 31 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(31,item.month)">  {{item.expense.marketing_expense  | currency:'IDR':'Rp'}}  ( {{item.expense.marketing_expense/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>  
                </div>

            </div>

        

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Operational Expenses ( 35 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(35,item.month)">   {{item.expense.operational_expense  | currency:'IDR':'Rp'}}  ( {{item.expense.operational_expense/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a> 
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Building( 32 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(32,item.month)">  {{item.expense.building  | currency:'IDR':'Rp'}} ( {{item.expense.building/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a> 
                </div>

            </div>

            
            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Electricity, Security & Utilities ( 40 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(40,item.month)">  {{item.expense.utility  | currency:'IDR':'Rp'}} ( {{item.expense.building/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a> 
                </div>

            </div>


            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Tech Infrastucture ( 33 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(33,item.month)">    {{item.expense.tech  | currency:'IDR':'Rp'}}   ( {{item.expense.tech/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                </div>

            </div>


            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Sales Expense, Sales Discount ( 73 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(73,item.month)">  {{item.expense.sales_discount  | currency:'IDR':'Rp'}}   ( {{item.expense.sales_discount/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Sales Expense, Transaction Fee ( 74 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(74,item.month)">   {{item.expense.transaction_fee  | currency:'IDR':'Rp'}}  ( {{item.expense.transaction_fee/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a> 
                </div>

            </div>
            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Sales Expense, Shipping Cost ( 75 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(75,item.month)">   {{item.expense.shipping_cost  | currency:'IDR':'Rp'}}   ( {{item.expense.shipping_cost/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Sales Expense, Cashback ( 91 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(91,item.month)">   {{item.expense.cashback  | currency:'IDR':'Rp'}}  ( {{item.expense.cashback/item.income.total | percent : '1.2-2'}} )  <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Exployee ( 36 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(36,item.month)">   {{item.expense.employee  | currency:'IDR':'Rp'}}  ( {{item.expense.employee/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>   </a> 
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Exployee Bonus ( 37 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(37,item.month)">   {{item.expense.employee_bonus  | currency:'IDR':'Rp'}} ( {{item.expense.employee_bonus/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>  
                </div>

            </div>

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                   - Production Expenses ( 34 )
                </div>
                <div *ngFor="let item of IncomeStatement" class="flex-item flex-05 margin-right-05">
                    <a (click)="goToDetails(34,item.month)">    {{item.expense.production  | currency:'IDR':'Rp'}}  ( {{item.expense.production/item.income.total | percent : '1.2-2'}} ) <fa-icon class="margin-left-05" [icon]="faChevronCircleDown"></fa-icon>  </a>  
                </div>

            </div>





         

            <div class="hover flex-container italic  table-body-item">
                <div class="flex-item flex-1 margin-right-05">
                    Net Profit
                </div>
                <div *ngFor="let item of IncomeStatement" class= "profit-100 flex-item flex-05 margin-right-05">
                  <b>{{ item.income.total -  item.cogs.total - item.expense.total | currency:'IDR':'Rp'}} (  {{ (item.income.total -  item.cogs.total - item.expense.total)/item.income.total | percent : '1.2-2'  }}  )</b>  
                </div>

            </div>

            </div>
           

        
           
           





        </div>
    







    </div>
</div>