<div  tabindex="100"  (blur)="closeMenu()" (click)="toggleStatusMenu()" [ngClass]="label" class="status-label">
    <div class="flex-container align-center">
        
        <div class="flex-item flex-1" style="margin: 0 !important;">
             <fa-icon [icon]="faDotCircle"></fa-icon> 

             {{ label?.length >= 13 ? (label | slice:0:13)+'...' : label}}

        </div>
        <div *ngIf="option" class="flex-item action text-right">
            <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
    </div>
    <div>
        <div *ngIf="!disabled">
            <div *ngIf="option">
                <div  *ngIf="show_menu" class="status-menu elevate">
                    <ul  class="menu vertical">
                     <li *ngFor="let item of option">
                         <a (click)="selectLabel(item)">
                            {{item.label}}
                         </a>
                     </li>       
                    </ul>
                 </div>
            </div>
        </div>
       
    </div>
 

    
</div>


