




.status-label {
  position: relative;
    border-radius: 6px;
    border: 1px solid #5e5e5e66 !important;
    text-align: center;
    display: inline-block;
    line-height: 2;
    padding: 0px 10px;
    font-size: 14px;
      background: rgb( 48, 53, 60 )  !important;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    .icon-container{
     
      .icon {
        line-height: 1.5;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background: #cccccc !important;
      }
    }
  
  
    .action {
      // position: absolute;
      // right: 2px;
    border-left: 1px solid #5e5e5ea5 !important;
      padding-left: 7px;
      margin-left:7px;
      margin-right: 0 !important;
  
      
    }
  
    .status-menu {
      position: absolute;
      border: 1px solid rgba(119, 119, 119, 0.189) !important;
      bottom: 1;
      box-shadow: 0 2px 16px #0006;
      background: rgb( 48, 53, 60 )  !important;
      padding: 0.5rem;
      margin-top: 7px;
      left: 0;
      
      width: auto;
      min-width: 100%;
      border-radius: 6px;
      z-index:9999;
  
      a {
        font-size: 12px;
        color: #cccccc;
        text-align: left !important;
        padding: 0.5rem;
        display: block;
        
        border-radius: 3px;
        margin: 0;
  
        &:hover {
          background: rgb( 60, 65, 74 )  !important;
    
        }
      }
  
    }
  
    cursor: pointer;
  
    &.deal {
      background: green !important;
      ;
    }
    &.waiting {
      background: #ff981f !important;
      ;
    }

    &.waiting {
      background: #ff981f !important;
      ;
    }


    &.new_request {
      background: #7a7a7a !important;
      ;
    }
  

    &.initiate_contact {
      background: #ff981f !important;
      ;
    }
    &.quote_sent {
      background: #ff981f !important;
      ;
    }
  
  
  
    &.loss {
      background: #961616 !important;
      ;
    }
  
  
  
  
  
  }
