.timeline-container{
    overflow-y: auto;
    overflow-x: clip;
    
    padding: 2rem;
    min-height: 100vh;
    max-height: 100vh;
    overflow-wrap: anywhere;
  position: sticky;top: 0;

    .timeline{
    
        padding-left: 2rem;
        padding-bottom: 1rem;
        position: relative;
        .node{
            position: absolute;
            background: white;
            left: 0;
            height: 11px;
            width: 11px;
            border-radius: 100%;
            top: 0;
        }
        .bar{
            position: absolute;
            background: rgba(255, 255, 255, 0.514);
            left: 5px;
            height: 100%;
            width: 2px;
            top: 0;
         
        }
    }
}
