<div class="main-content page-enter-from-right">
    <div class="row">



        <div class="medium-12 columns">

            <div class="content-wrapper">
                <div *ngIf="transaction" class="label-text medium margin-bottom-1">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1">
                            <a [routerLink]="['/referal/']" style="color: white;"> Back to Referal</a>
                            <div class="title">
                                Total Balance : {{this.transaction.balance.total | currency : "Rp"}}
                            </div>
                            <div class="large-text">
                                Customer ID {{this.transaction.member.customer_id}} |
                                {{this.transaction.member.email}}
                            </div>

                        </div>

                    </div>

                </div>


                <div class="flex-container ">
                    <div class="flex-item flex-1">
                        <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


                    </div>

                </div>






                <div *ngIf="tab_view == 'transaction'">
                    <div>


                        <div class="table-header">
                            <div class=" flex-container table-header-item">


                                <div class="flex-item flex-05  margin-right-05">
                                    ID
                                </div>
                                <div class="flex-item flex-05  margin-right-05">
                                    Date
                                </div>
                                <div class="flex-item flex-05  margin-right-05">
                                    Type
                                </div>
                                <div class="flex-item flex-1  margin-right-05">
                                    Description
                                </div>


                                <div class="flex-item flex-1 margin-right-05">
                                    Value

                                </div>





                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of transaction.items" class="flex-container table-body-item">


                                <div class="flex-item flex-05  margin-right-05">
                                    {{item.id}}
                                </div>
                                <div class="flex-item flex-05  margin-right-05">
                                    {{item.created_at | date}}
                                </div>
                                <div class="flex-item flex-05  margin-right-05">
                                    <div>{{item.type}}</div>
                                    <div *ngIf="item.order_id">

                                        Order# {{item.order_id}}

                                    </div>
                                    <div *ngIf="item.withdrawal_id">
                                        {{item.withdrawal_id}}
                                    </div>

                                </div>
                                <div class="flex-item flex-1  margin-right-05">
                                    {{item.description}}
                                </div>


                                <div class="flex-item flex-1 margin-right-05">
                                    <span *ngIf="item.type == 'credit'">+</span>
                                    <span *ngIf="item.type == 'debit'">-</span>


                                    {{item.value | currency :'Rp'}}

                                </div>





                            </div>


                        </div>

                    </div>
                </div>
                <div *ngIf="tab_view == 'withdrawal'">
                    <div *ngIf="withdrawal">


                        <div class="table-header">
                            <div class=" flex-container table-header-item">


                                <div class="flex-item flex-05  margin-right-05">
                                    ID
                                </div>
                                <div class="flex-item flex-1  margin-right-05">
                                    Date
                                </div>
                                <div class="flex-item flex-2 margin-right-05">
                                    Type
                                </div>

                                <div class="flex-item flex-2 margin-right-05">
                                    Value

                                </div>

                                <div class="flex-item flex-2 margin-right-05">
                                    Description
                                </div>




                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of withdrawal.items" class="flex-container table-body-item">


                                <div class="flex-item flex-05  margin-right-05">
                                    {{item.id}}
                                </div>
                                <div class="flex-item flex-1  margin-right-05">
                                    {{item.created_at | date}}
                                </div>
                                <div class="flex-item flex-2 margin-right-05">
                                    {{item.status}}
                                </div>

                                <div class="flex-item flex-2 margin-right-05">
                                    {{item.value}}

                                </div>

                                <div class="flex-item flex-2 margin-right-05">
                                    {{item.description}}
                                </div>





                            </div>


                        </div>

                    </div>
                </div>









            </div>



        </div>


    </div>
</div>