
.tab-menu-container{
    margin-bottom: 1rem;
    .menu {
        &.tab-bar-menu {
          border-bottom: 1px solid #5e5e5e66 !important;
          height: 37px;
      
          li {
            a {
              padding: 0.5rem 0.8rem !important;
              color: #cccccc !important;
              margin: 0 !important;
              position: relative;
              margin-bottom: 1px;
              font-size: 14px;
              @media only screen and (min-width: 961px) and (max-width: 1180px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
                font-size: 12px !important;
               
               
               }
              
              .count{
                font-size: 9px;
                width: 15px;
                height: 15px;
                line-height: 15px;
                text-align: center;
                border-radius: 100%;
                position: absolute;
                background: #ad1fff;
                top: 2px;
              }
              &:hover{
                background: #5e5e5e66;
                border-radius: 3px;
                transition: all .3s ease;
              }
            }
      
            &.active_tab {
              border-bottom: 2px solid white !important;
              transition: all .1s ease;
            }
      
          }
      
        }
      }
}




.pulse{
  animation: chat-pulse 1.5s infinite;
  @keyframes chat-pulse {
   0% {
     transform: scale(0.7);
     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
   }
   
   70% {
     transform: scale(0.85);
     box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
   }
   
   100% {
     transform: scale(0.7);
     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
   }
 }
}