<div class="main-body">

    <div *ngIf="purchase" class="page-enter-from-right">
        <div class="label-text medium border-bottom margin-bottom-1">
            <div class="flex-container horizontal justify-space-between align-center">
                <div class="flex-item flex-1 margin-right-1">
                    <a style="color: white;" (click)="navBack()">
                        <fa-icon [icon]="faChevronLeft"></fa-icon> Back
                    </a>
                    <div class="title">
                        Purchase #{{ purchase_order_number }} <span *ngIf="isCBD">( Cash Before Delivery )</span>


                    </div>
                    <div class="subtitle">
                        Invoice #{{ purchase.invoice_number }} <span *ngIf="purchase.do_number">/ Delivery
                            #{{ purchase.do_number }}</span>
                    </div>


                </div>
                <div class="flex-item flex-1 text-right">


                    <div class="subtitle">
                        Payment Status : {{purchase.payment_status}}
                    </div>


                </div>

            </div>
        </div>

        <div class="flex-container ">
            <div class="flex-item flex-1">
                <ul class="menu">

                    <li class="flex-item  margin-bottom-1">
                        <button [disabled]="purchase.status == 'RECEIVED' "
                            (click)="openModal('receivePurchase')" class="button   clear active small">
                            Receive Purchase
                        </button>
                    </li>

                    <li *ngIf="!isCBD" class="flex-item margin-bottom-1 ">
                        <button [disabled]="purchase.payment_status == 'PAID' || _getInventoryReceiveAmount()==0"
                            (click)="openModal('sendPayment')" class="button   clear active small">
                            Send Payment
                        </button>
                    </li>

                    <li *ngIf="isCBD" class="flex-item margin-bottom-1 ">
                        <button [disabled]="purchase.payment_status == 'PAID'" (click)="openModal('sendPayment')"
                            class="button   clear active small">
                            Send Payment
                        </button>
                    </li>

                

                    

                 










                </ul>
            </div>
            <div class="flex-item">
                <ul style="justify-content: flex-end;" class="menu menu-right">



               

                </ul>
            </div>
        </div>

        <div class="row collapse">
            <div class="medium-12 columns margin-bottom-1">
                <div class="row">
                    <div class="medium-6 columns">
                        <div class="callout small-text padding-center medium-grey-bg rounded">

                            <h4>Purchase Details</h4>

                            <div class="list-tile-container">
                                <div class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-2">
                                            Vendor
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            {{purchase.vendor}}
                                        </div>
                                    </div>
                                </div>

                                <div class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-2">
                                            Term of Payment
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            {{purchase.term_of_payment}}
                                        </div>
                                    </div>
                                </div>

                                <div class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-2">
                                            Due Date
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            {{purchase.due_date | date}}
                                        </div>
                                    </div>
                                </div>

                                <div class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-2">
                                            Note
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            {{purchase.note}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="callout padding-center medium-grey-bg rounded">
                            <h4>Payment Details</h4>

                            <div class="list-tile-container">
                                <div class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-2">
                                            Payment Due 
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            <span
                                                *ngIf="purchase.payment_status == 'UN_PAID'">{{purchase.purchase_amount  | currency:'IDR':'Rp'}}</span>
                                            <span *ngIf="purchase.payment_status == 'PAID'"> - </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-2">
                                            Payment Paid
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            <span
                                                *ngIf="purchase.payment_status == 'PAID'">{{purchase.purchase_amount  | currency:'IDR':'Rp'}}</span>
                                            <span *ngIf="purchase.payment_status == 'UN_PAID'"> - </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-tile-item">
                                    <div class="flex-container">
                                        <div class="flex-item flex-2">
                                            Inventory Receive
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            {{_getInventoryReceiveAmount()  | currency:'IDR':'Rp'}}
                                        </div>

                                        
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="medium-12 columns">
                <div class="callout padding-center medium-grey-bg margin-bottom-1 rounded">
                    <h4>Purchase Item</h4>
                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-05 ">
                                ID
                            </div>
                            <!-- <div class="flex-item flex-1 ">
                                Receive Date
                            </div> -->
                            <div class="flex-item flex-2 ">
                                Name
                            </div>

                            <div class="flex-item flex-1 ">
                                Order Price
                            </div>






                            <div class="flex-item flex-05 ">
                                Qty
                            </div>

                            <!-- <div class="flex-item flex-1 ">
                                Rack
                            </div> -->



                            <div class="flex-item flex-1 text-right">
                                Action
                            </div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div *ngFor="let item of purchase.items" class="flex-container border form table-body-item">


                            <div class="flex-item flex-05 ">
                                {{item.product_id}}
                            </div>
                            <!-- <div class="flex-item flex-1 ">
                                <span *ngIf="item.receive_date">{{item.receive_date | date}}</span>

                            </div> -->

                            <div class="flex-item flex-2 ">
                                {{item.name}}
                            </div>

                            <div class="flex-item flex-1 ">
                                {{item.order_price | currency:'IDR':'Rp'}}
                            </div>




                            <div class="flex-item flex-05 ">
                                <span *ngIf="item.receive_date">{{item.order_qty}}</span>
                                <input *ngIf="!item.receive_date" class="input" [(ngModel)]="item.order_qty"
                                    type="text">
                            </div>

                            <!-- <div class="flex-item flex-1 ">
                                <select [(ngModel)]="item.warehouse_rack_id">
                                    <option *ngFor="let item of rack" [value]="item.id">
                                        {{item.location}} - {{item.name}} - {{item.chamber}}
                                    </option>
                                </select>

                                
                            </div> -->


                            <div class="flex-item flex-1 text-right">
                                <div *ngIf="!this._getTotalAllocate(item.product_id)">
                                    <button  *ngIf="!item.receive_date" (click)="receiveItem(item)"
                                    class="button  tiny   rounded margin-bottom-0 margin-right-05">
                                        Receive
                                    </button>
                                </div>

                                <div *ngIf="this._getTotalAllocate(item.product_id)">
                                    Item Received!
                                </div>
                               

                               
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div *ngIf="inventory" class="medium-12 columns">
                <div class="callout padding-center medium-grey-bg rounded">
                    <h4>Inventory</h4>
                    <div class="table-header">
                        <div class="flex-container table-header-item">

                          
                            <div class="flex-item flex-15 ">
                              Name
                            </div>

                            <div class="flex-item flex-1 ">
                                Serial Number
                            </div>

                            <div class="flex-item flex-1 ">
                                Warehouse
                            </div>
                            <div class="flex-item flex-1 ">
                                Rack
                            </div>

                         



                            <div class="flex-item flex-1 text-right">
                                Status
                            </div>

                        </div>
                    </div>
                    <div class="table-body">
                        <div *ngFor="let item of inventory" class="flex-container border table-body-item">

                            <!-- <div class="flex-item flex-1 ">
                               {{item.purchase_number}}
                            </div>

                            <div class="flex-item flex-1 ">
                                {{item.product_id}}
                            </div> -->
                            <div class="flex-item flex-15 ">
                                {{item.name}}
                            </div>

                            <div class="flex-item flex-1 ">
                                {{item.serial_number}}
                            </div>

                            <div class="flex-item flex-1 ">
                                {{item.warehouse?.name}}
                            </div>
                            <div class="flex-item flex-1 ">
                                {{item.location?.name}} -  {{item.location?.chamber}}
                       
                            </div>

                       


                            <div class="flex-item flex-1 text-right">
                               <span class="status-label">
                                {{item.status}}
                               </span>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>


    </div>
</div>


<app-modal (onClose)="showModal=null" *ngIf="showModal == 'receivePurchase'" [title]="'Receive Purchase'">


    <div class="form" [formGroup]="receivePurchaseForm">
        <label for="">Total Inventory Amount</label>
        <input formControlName="payment_amount" type="text">

        <label for="">Delivery Number</label>
        <input type="text" formControlName="delivery_number">

        <button (click)="addPurchaseReceive()" class="button">Receive Purchase</button>

    </div>
</app-modal>

<app-modal (onClose)="showModal=null" [title]="'Send Payment'" *ngIf="showModal == 'sendPayment'">


    <div class="form" [formGroup]="sendPaymentForm">


        <label for="">Payment Amount</label>
        <input disabled formControlName="payment_amount" type="text">

        <label for="">Purchase Discount</label>
        <input (keyup)="calculatePayment($event)" #searchQuery formControlName="purchase_discount" type="number">



        <label for="">Payment Account</label>
        <select formControlName="account_id">
            <option *ngFor="let item of accounts" [value]="item.id">{{item.account_name}} -
                {{item.account_balance  | currency:'IDR':'Rp' }}</option>
        </select>


        <label for="">Payment Method</label>
        <input type="text" formControlName="payment_method">


        <button (click)="addPurchasePayment()" class="button">Send Payment</button>

    </div>
</app-modal>

<app-modal-full (onClose)="showModal=null;journal_transactions = null" *ngIf="showModal == 'journalTransactions'">
    <div *ngIf="journal_transactions">
        <h3 class="margin-bottom-1">Journal Entry - Purchase Order #{{purchase_order_number}}</h3>

        <div class="small-text bold border-bottom padding-bottom-05 margin-bottom-05 flex-container">
            <div class="flex-item flex-1">
                Account Number
            </div>
            <div class="flex-item flex-1">
                Account Name
            </div>
            <div class="flex-item flex-1">
                Credit
            </div>
            <div class="flex-item flex-1">
                Debit
            </div>
        </div>
        <div *ngFor="let item of journal_transactions"
            class="small-text border-bottom padding-bottom-05 margin-bottom-05 flex-container">
            <div class="flex-item flex-1">
                {{item.account_details.account_number}}
            </div>
            <div class="flex-item flex-1">
                {{item.account_details.account_name}}
            </div>
            <div class="flex-item flex-1">
                {{item.credit  | currency:'IDR':'Rp'}}
            </div>
            <div class="flex-item flex-1">
                {{item.debit  | currency:'IDR':'Rp'}}
            </div>
        </div>

        <div class="small-text bold border-bottom padding-bottom-05 margin-bottom-05 flex-container">
            <div class="flex-item flex-1">
                Total
            </div>
            <div class="flex-item flex-1">

            </div>
            <div class="flex-item flex-1">
                {{journal_transactions_credit | currency:'IDR':'Rp'}}
            </div>
            <div class="flex-item flex-1">
                {{journal_transactions_debit | currency:'IDR':'Rp'}}
            </div>
        </div>
    </div>
</app-modal-full>