<div class="main-body">

    <div >
        <div class="label-text medium border-bottom margin-bottom-1">
            <div class="flex-container horizontal justify-space-between align-center">
                <div class="flex-item flex-1 margin-right-1">
                    <div class="title">
                       Chart of Account
                    </div>
                </div>
                <div class="flex-item flex-1 text-right">


                    <a (click)="openModal()" class="white bold">+ Create New Account</a>


                </div>
            </div>
        </div>

        <div class="table-header">
            <div class="flex-container table-header-item">
              
                <div class="flex-item margin-right-1">
                  ID
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    Account Number
                </div>
                <div class="flex-item flex-2 margin-right-05">
                    Account Name
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    Type
                </div>
              
                <div class="flex-item flex-1 margin-right-05">
                    Balance
                </div>


               

               
                
                <div class="flex-item flex-1 text-right">
                    Action
                </div>
            </div>
        </div>
        <div class="table-body">
            <div *ngFor="let item of accounts" class="flex-container table-body-item">
                <div class="flex-item margin-right-1">
                    {{item.id}} 
                </div>
               
                <div class="flex-item flex-1 margin-right-05">
                   {{item.account_number}}
                </div>
                <div class="flex-item flex-2 margin-right-05">
                    {{item.account_name}}
                    <div class="tiny-text italic"> {{item.account_description}}</div>
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    {{item.account_type}}
                </div>
              
                <div class="flex-item flex-1 margin-right-05">
                    {{item.account_balance | currency:'IDR':'Rp'}}
                </div>


               

               
                
                <div class="flex-item flex-1 text-right">
                    <a [routerLink]="['/chart-account/view/', item.id ]"   class="button tiny secondary rounded margin-bottom-0">
                        View Transaction
                    </a>
                </div>
            </div>
         
            
        </div>

    </div>
</div>


<!-- <app-modal></app-modal> -->

