<div class="main-body">
  <div>
    <div class="flex-container align-center">
      <div class="flex-item flex-1">
        <div class="label-text medium">
          <div class="title">Cash & Bank</div>
        </div>
      </div>
      <div class="flex-item flex-1 text-right">
        <ul style="justify-content: flex-end" class="menu menu-right">
          <li class="flex-item">
            <a
              [routerLink]="['add', 'v2', 'make-payment']"
              routerLinkActive="router-link-active"
              class="button margin-right-05 secondary chips"
            >
              + Make Payment
            </a>
          </li>

          <li class="flex-item">
            <a
              [routerLink]="['add', 'v2', 'receive-payment']"
              routerLinkActive="router-link-active"
              class="button secondary chips"
            >
              + Receive Payment
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item margin-right-05 flex-1">
        <div class="callout padding-center rounded medium-grey-bg">
          <p class="small-text">Total Balance</p>
          <h4 class="margin-bottom-0">{{ total | currency : "IDR" : "Rp" }}</h4>
        </div>
      </div>
    </div>

    <div class="table-header">
      <div class="flex-container table-header-item">
        <div class="flex-item flex-1 margin-right-05">Account Number</div>
        <div class="flex-item flex-1 margin-right-05">Account Name</div>
        <div class="flex-item flex-1 margin-right-05">Type</div>

        <div class="flex-item flex-1 margin-right-05">Balance</div>

        <div class="flex-item flex-2 text-right">Action</div>
      </div>
    </div>
    <div class="table-body">
      <div *ngFor="let item of accounts" class="flex-container table-body-item">
        <div class="flex-item flex-1 margin-right-05">
          {{ item.id }}
        </div>
        <div class="flex-item flex-1 margin-right-05">
          {{ item.name }}
        </div>
        <div class="flex-item flex-1 margin-right-05">
          {{ item.type }}
        </div>

        <div class="flex-item flex-1 margin-right-05">
          {{ item.balance | currency : "IDR" : "Rp" }}
        </div>

        <div class="flex-item flex-2 text-right">
          <a
            [routerLink]="['/journal-account/view', item.id]"
            class="button tiny secondary rounded margin-bottom-0"
          >
            View Transaction
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
