<div class="main-body">

    <div class="flex-container">
        <div class="flex-item" >
            <app-bisidebar></app-bisidebar>
        </div>
        <div class="flex-item flex-1">
            <div style="padding:0 3%">
                <div class="label-text medium border-bottom margin-bottom-1">
                    <div class="flex-container horizontal justify-space-between align-center">
                        <div class="flex-item flex-1 margin-right-1">
                            <div class="title">
                               Assets Management
                            </div>
    
                           
                        </div>
                        <div class="flex-item flex-1 text-right">
    
    
                            <a  class="white bold">Action</a>
    
    
                        </div>
                    </div>
                </div>
            </div>
          

        </div>
    </div>
</div>


