<app-modal (onClose)="this.onClose.emit(true)" title="Create Sales Order" isBorder="true" isHalf="true">
  <div [formGroup]="orderForm" class="flex-container">
    <div class="flex-item flex-1 margin-right-1">
      <div class="form">
        <div class="small-text color-grey">Sales Channel</div>
        <select formControlName="sales_channel">
          <option *ngFor="let item of tab_option" [value]="item.name">
            {{ item.label }}
          </option>
        </select>

        <div class="small-text color-grey">Fullname</div>
        <input formControlName="shipping_address_name" type="text" />

        <div class="small-text color-grey">Phone</div>
        <input formControlName="shipping_phone" type="text" />

        <div class="small-text color-grey">Email</div>
        <input formControlName="customer_email" type="text" />
      </div>
    </div>
    <div class="flex-item flex-1">
      <div class="form">
        <div class="small-text color-grey">Sales Channel ID</div>
        <input formControlName="sales_channel_id" type="text" />

        <div class="small-text color-grey">Address</div>
        <input formControlName="shipping_address" type="text" />

        <div class="small-text color-grey">District</div>
        <app-form-select [selected_option]="this.orderForm.get('shipping_city').value" [label]="'City / District'"
          [option]="city_list" (onSelect)="selectCity($event)" (onSearch)="getDistrict($event)"></app-form-select>

        <div class="small-text color-grey">Map Coordinate</div>
        <input disabled type="text" />
      </div>
    </div>
  </div>

  <div class="form">
    <h3>Product</h3>

    <app-form-search (onSearch)="getProductSearch($event)"></app-form-search>
    <app-card [is_half]="true" *ngIf="product?.length !== 0">
      <div class="list-tile-container">
        <div class="list-tile-item flex-container" *ngFor="let item of product">
          <div class="flex-item flex-1">
            <div>{{ item.name }} </div>

            <div *ngIf="item.total_variant == 0">
              <span class="color-grey">Stock</span> {{ item.qty }}
            </div>
          </div>
          <div class="flex-item">
            <button *ngIf="item.total_variant == 0" (click)="addProduct(item)" class="button tiny clear active">
              Add
            </button>

            <button *ngIf="item.total_variant>0" (click)="getProductVariant(item)" class="button tiny clear active">
              Select Variant ( {{item.total_variant}})
            </button>


          </div>
        </div>
      </div>
   
      <div *ngIf="this.page>=1" lazyload (onShown)="loadMoreSearch()"></div>
    </app-card>
  </div>

  <div *ngIf="this.getQuote().length > 0">
    <div class="callout padding-center-1 rounded medium-grey-bg align-center flex-container large-text margin-bottom-05"
      *ngFor="let product of getQuote() | keyvalue; let i = index">
      <div class="flex-item flex-15">
        <div class="flex-container">
          <div class="flex-item margin-right-05">
            <img width="75" height="75" [src]="product.value.image_url" alt="" class="product-cover" />
          </div>
          <div class="flex-item flex-15 margin-bottom-1">
            {{ product.value.name }}





          </div>
        </div>
      </div>

      <div class="flex-item flex-1">
        <app-form-input [type]="'currency'" label="Sell Price" [isHideAction]="true"
          (onClose)="product.value.final_price = $event.value" [value]="product.value.final_price">
        </app-form-input>
      </div>

      <div class="flex-item flex-1">
        <app-form-input [type]="'currency'" label="Discount" [isHideAction]="true"
          (onClose)="product.value.discount_amount = $event.value" [value]="product.value.discount_amount">
        </app-form-input>
      </div>

      <div class="flex-item flex-05 text-right">
        <div class="flex-container text-center">
          <div class="flex-item flex-1">
            <button (click)="updateProductQty(false, product, i)" class="button tiny clear">
              +
            </button>
          </div>
          <div class="flex-item flex-1">
            {{ product.value.order_qty }}
          </div>
          <div class="flex-item flex-1">
            <button (click)="updateProductQty(true, product, i)" class="button tiny clear">
              +
            </button>
          </div>
        </div>
        <!-- <app-form-input [isHideAction]="true" label="qty"  
                    (onClose)="product.value.order_qty= $event.value"
                    [value]="product.value.order_qty"></app-form-input> -->
      </div>

      <!-- <div class="flex-item text-right">
                <button class="button tiny clear" (click)="removeProduct(i)">

                    -
                     </button>
               

                   
            </div> -->
    </div>
  </div>

  <div class="timeline-container medium-grey-bg" sidebar>
    <div class="callout padding-center">
      <div class="list-tile-container">
        <div class="list-tile-item align-center flex-container">
          <div class="flex-1 flex-item">Custom Date</div>
          <div class="flex-item form">
            <input class="margin-bottom-0" [(ngModel)]="custom_date" type="date" />
          </div>
        </div>
      </div>

      <div class="list-tile-container">
        <div class="list-tile-item align-center flex-container">
          <div class="flex-1 flex-item">Processing & Receive Inventory</div>
          <div class="flex-item">
            <label class="switch">
              <input [checked]="is_processing" (change)="this.is_processing = $event.target.checked" type="checkbox" />

              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="list-tile-container">
        <div class="list-tile-item align-center flex-container">
          <div class="flex-1 flex-item">Generate Paymentlink</div>
          <div class="flex-item">
            <label class="switch">
              <input [checked]="is_payment_link" (change)="this.is_payment_link = $event.target.checked"
                type="checkbox" />

              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="margin-bottom-1 list-tile-container">
        <div class="list-tile-item flex-container align-center">
          <div class="flex-1 flex-item">Custom Shipping</div>
          <div class="flex-item">
            <label class="switch">
              <input (change)="toggleShipping()" [checked]="this.is_custom_shipping" type="checkbox" />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>

      <div [formGroup]="orderForm" *ngIf="is_custom_shipping" class="list-tile-container form margin-bottom-1">
        <div class="list-tile-item align-center flex-container align-center">
          <div class="flex-1 flex-item">Shipping Method</div>
          <div class="flex-item flex-1">
            <input formControlName="shipping_method_label" type="text" />
          </div>
        </div>
        <div class="list-tile-item align-center flex-container align-center">
          <div class="flex-1 flex-item">Shipping Cost</div>
          <div class="flex-item flex-1">
            <input formControlName="shipping_cost" type="text" />
          </div>
        </div>
        <div class="list-tile-item align-center flex-container align-center">
          <div class="flex-1 flex-item">Shipping AWB</div>
          <div class="flex-item flex-1">
            <input formControlName="shipping_number" type="text" />
          </div>
        </div>
      </div>

      <div class="list-tile-container form margin-bottom-1">
        <div class="list-tile-item flex-container align-center">
          <div class="flex-1 flex-item">Subtotal</div>
          <div class="flex-item flex-1">
            {{ this.getSubtotal() | currency : "IDR" }}
          </div>
        </div>
        <div class="list-tile-item flex-container align-center">
          <div class="flex-1 flex-item">Total Discount</div>
          <div class="flex-item flex-1">
            {{ this.getTotalDiscount() | currency : "IDR" }}
          </div>
        </div>
        <div class="list-tile-item flex-container align-center">
          <div class="flex-1 flex-item">Shipping</div>
          <div class="flex-item flex-1">
            {{ this.getShippingCost() | currency : "IDR" }}
          </div>
        </div>

        <div class="list-tile-item flex-container align-center">
          <div class="flex-1 flex-item">Total</div>
          <div class="flex-item flex-1">
            {{ this.getTotal() | currency : "IDR" }}
          </div>
        </div>
      </div>

      <button [disabled]="!this.orderForm.valid" (click)="addOrder()" class="button expanded">
        Add Order
      </button>
    </div>
  </div>
</app-modal>



<app-modal (onClose)="this.variant = null" title="Select Variant" (onClose)="variant = null" *ngIf="variant">
  <div *ngFor="let item of variant">
    <button class="button expanded clear hollow" (click)="addProduct(item)">{{item.variant_name}} - Qty :
      {{item.qty}}</button>
  </div>
</app-modal>