<div class="table-header">
    <div class="flex-container table-header-item">




        <div class="flex-item flex-05">
            Date
        </div>


        <div class="flex-item flex-1">
            Customer
        </div>

        <div class="flex-item flex-2 margin-right-2">
            Review
        </div>

        <div class="flex-item flex-05">
            Photo
        </div>
        <div class="flex-item flex-05">
            Rating
        </div>




        <div class="flex-item flex-05">
            Approve
        </div>












    </div>
</div>
<div class="table-body">
    <div *ngFor="let item of review" class="flex-container table-body-item">



        <div class="flex-item flex-05">
            {{item.created_at | date}}
        </div>


        <div class="flex-item flex-1">
           
            {{item.customer_name}}
        </div>

        <div class="flex-item flex-2 margin-right-2">
            <div class="margin-bottom-05 bold">
                {{item.product?.name}}
            </div>
            <div class="margin-bottom-1">
                {{item?.description}}
            </div>

            <app-form-input isHideAction="true" [id]="'response'" [label]="'Response'" [value]="item.response"  (onClose)="updateReview(item, $event)" ></app-form-input>

           
        </div>

        <div class="flex-item flex-05">
            <img *ngIf="item.photo_url" class="product-cover" [src]="item.photo_url" alt="">
        </div>


        <div class="flex-item flex-05">
            {{item.score}}
        </div>

        <div class="flex-item flex-05">
            <label class="switch">
                <input type="checkbox" [checked]="item.status"
                    (change)="updateStatus(item,'status',$event.target.checked)">
                <span class="slider round"></span>
            </label>

        </div>






    </div>
</div>

<div *ngIf="page>=1" lazyload (onShown)="loadMore()"></div>
