<div class="main-body">

    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                        Purchase Order
                    </div>

                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <button (click)="showModal = 'createPurchase'" class="button clear active small">+
                    Create Purchase Order</button>
            </div>
        </div>

        <div *ngIf="summary" class="flex-container margin-bottom-1">

            <div class="flex-item flex-1 margin-right-05">
                <div class="callout flex-container padding-center-1 medium-grey-bg border rounded align-center">
                    <div class="flex-item flex-2 margin-right-1">
                        <div class="small-text color-grey">
                           Total Wait for Payment
                        </div>
                        <h4>{{summary.wait_for_payment | currency : "Rp"}}</h4>

                    </div>


                </div>
            </div>


            <div class="flex-item flex-1 margin-right-05">
                <div class="callout flex-container padding-center-1 medium-grey-bg border rounded align-center">
                    <div class="flex-item flex-2 margin-right-1">
                        <div class="small-text color-grey">
                            Overdue
                        </div>
                        <h4>{{summary.overdue | currency : "Rp"}}</h4>


                    </div>


                </div>
            </div>

            <div class="flex-item flex-1 margin-right-05">
                <div class="callout flex-container padding-center-1 medium-grey-bg border rounded align-center">
                    <div class="flex-item flex-2 margin-right-1">
                        <div class="small-text color-grey">
                            Next Due ( Next 7 Days )
                        </div>
                        <h4>--</h4>

                    </div>


                </div>
            </div>







        </div>

        <app-tab-menu [tab_menu_list]="purchase_menu_list"></app-tab-menu>





        <div *ngIf="this.status !== 'vendor'">
            <app-table-action [sortListItems]="sortListItems"></app-table-action>

            <div class="table-header">

                <div class="flex-container table-header-item">

                    <div class="flex-item flex-1 ">
                        Purchase Number
                    </div>

                    <div class="flex-item flex-1">
                       Request
                    </div>

                    <div class="flex-item flex-1">
                      Approve
                    </div>

                 

                    <div class="flex-item flex-1">
                        Vendor
                    </div>


                   



                    <div class="flex-item flex-1">
                        Total Order
                    </div>

                    <div class="flex-item flex-1 margin-right-1">
                        Total Sold
                    </div>


                    


                   
                    <div class="flex-item flex-1  ">
                       Payment Status
                    </div>
                  
                    <div class="flex-item flex-1 text-right ">
                        Status
                    </div>




                </div>

            </div>
            <div class="table-body">

                <div *ngFor="let item of purchase_order2" (click)="_navigateTo(item.id)" class="flex-container cursor table-body-item">

                    <div class="flex-item flex-1 ">
                        
                        <span class="status-label"> {{item.purchase_company_id==1?'WIA':'PDB'}}</span>{{item.id}}
                    </div>
                    <div class="flex-item flex-1">
                        {{item.create_by}}
                       <div class="small-text color-grey"> {{item.created_at | date}}</div>
                    </div>
                    <div class="flex-item flex-1">
                        {{item.approve_by}}
                       <div class="small-text color-grey">  {{item.approve_date | date}}</div>
                    </div>

                 

                    <div class="flex-item flex-1">
                        {{item.vendor.name}}
                    </div>


                   







                    <div class="flex-item flex-1">
                        {{item.total_order | currency : "Rp"}} 
                    </div>


                    <div class="flex-item flex-1 margin-right-1">
                        <app-progress-component isHideLabel="true" [value]="item.sold_perc"></app-progress-component>
                        {{item.total_sold | currency : "Rp"}} 

                       
                    </div>


                  
                    

                    <div class="flex-item flex-1">
                        
                        <div  *ngIf="item.payment_status" class="status-label">
                            {{item.payment_status?'Paid':'Unpaid'}}
                        </div>
                        <span [ngClass]="_getExpired(item.payment_date)" *ngIf="!item.payment_status" class="status-label">
                        
                            <div *ngIf="item.payment_date"> Due On {{item.payment_date | date}}   <div class="tiny-text">{{_getExpired(item.payment_date)}}</div></div>
                            <div *ngIf="!item.payment_date"> 
                                Date not Set
                            </div>
                            
                        </span>
                      
                      
                    </div>

                    <div class="flex-item flex-1  text-right">
                        <span class="status-label">
                         {{item.status}} 
                        </span>
                     </div>




                </div>


            </div>
            

        </div>

        <div *ngIf="page>=1" lazyload (onShown)="loadMore()"></div>

        <div *ngIf="this.status == 'vendor'">
            <app-table-action>
                <button (click)="showModal = 'addVendor'" class="button small clear hollow">
                    Add Vendor
                </button>
            </app-table-action>

            <div class="table-header">

                <div class="flex-container table-header-item">

                    <div class="flex-item flex-15 ">
                        Vendor
                    </div>

                  
                    <div class="flex-item flex-1  ">
                        Payment Type
                    </div>





                  


                   


                    <div class="flex-item flex-1  ">
                        Total Purchase
                    </div>

                    <div class="flex-item flex-1  ">
                        Credit / Capital
                    </div>


                    <div class="flex-item flex-1  ">
                       Wait for Payment
                    </div>

                    <div class="flex-item flex-1  ">
                     Remain Credit
                    </div>









                </div>

            </div>
            <div class="table-body">

                <div *ngFor="let item of vendor" class="flex-container table-body-item">

                    <div class="flex-item flex-15 ">
                        <div> {{item.name}} </div>
                        <span class="status_label"> {{item.purchase_company_id}}</span>
                        <div class="status-label">
                            NPWP : {{item.npwp}}
                        </div>
                    </div>

                  
                    <div class="flex-item flex-1  ">
                        {{item.term_of_payment}}
                    </div>

                    <div class="flex-item flex-1  ">
                        {{item.summary.total_purchase | currency : "Rp"}}
                    </div>

                    <div class="flex-item flex-1  ">
                        {{item.credit | currency : "Rp"}}
                    </div>



                  



                 
                    <div class="flex-item flex-1  ">
                        {{item.summary.wait_for_payment | currency : "Rp"}}
                    </div>

                    <div class="flex-item flex-1  ">
                        {{item.summary.remain_credit | currency : "Rp"}}
                    </div>



                </div>


            </div>
        </div>


    </div>
</div>



<app-modal (onClose)="this.showModal=null" *ngIf="this.showModal=='createPurchase'" [title]="'Create Purchase Order'">
    <form class="form" [formGroup]="purchaseForm">
        <div class="margin-bottom-1 form padding-bottom-1">




            <div class="margin-bottom-1 ">
                <app-tab-option (onTab)="selectForm('purchase_company_id',$event.id)" [tab_option]="tab_option">
                </app-tab-option>

            </div>



           <div class="margin-bottom-05">
            <label for="">Vendor</label>

            <div class="input">
                <app-form-select [isClean]="false" [selected_option]="" [label]="'Vendor'" [option]="vendor_list"
                    (onSelect)="selectForm('purchase_vendor_id',$event.id)" (onSearch)="searchVendor($event)">
                </app-form-select>
            </div>
           </div>

           



            <div class="callout">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1 margin-right-05">
                        Cash Before Delivery
                    </div>
                    <div class="flex-item">
                        <label class="switch">
                            <input type="checkbox" formControlName="is_cbd">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>





         











        </div>
        <button [disabled]="!this.purchaseForm.valid" class="button expanded " (click)="addPurchase()"> Save &
            Continue</button>



    </form>
</app-modal>



<app-modal (onClose)="this.showModal=null" *ngIf="showModal=='addVendor'" [title]="'Add New Vendor'">
    <form class="form" [formGroup]="vendorForm">
        <div class="margin-bottom-1 form padding-bottom-1">


            <label for="">Name</label>
            <input type="text" formControlName="name">

            <label for="">Company</label>
            <select formControlName="purchase_company_id">
                <option value="1">WIA</option>
                <option value="2">PDB</option>

            </select>

            <label for="">NPWP</label>
            <input type="text" formControlName="npwp">

            <label for="">PIC</label>
            <input type="text" formControlName="pic">

            <label for="">Payment Type</label>

            <select formControlName="term_of_payment">
                <option value="CAPITAL">CAPITAL</option>
                <option value="CREDIT">CREDIT</option>

            </select>

            <label *ngIf="this.vendorForm.get('term_of_payment').value =='CREDIT'" for="">Credit Limit</label>
            <label *ngIf="this.vendorForm.get('term_of_payment').value =='CAPITAL'" for="">Capital Limit</label>

            <input *ngIf="this.vendorForm.get('term_of_payment').value" type="number" formControlName="credit">



        </div>
        <button [disabled]="!this.vendorForm.valid" class="button expanded " (click)="addPurchaseVendor()">
            Add Vendor
        </button>



    </form>
</app-modal>