.table-body .table-body-item {
    padding: 1rem 1rem;
    font-size: 13px;
    overflow-wrap: anywhere;
    background: rgba(48, 53, 60, 0.547) !important;
    border-radius: 3px;
    margin-bottom: 2px;
}