<div class="main-body">

    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                        Analytics
                    </div>

                </div>

            </div>
            <div class="flex">
            <button class="small button clear" (click)="this.showModal ='linkModal'">Add Link</button>

            </div>

        </div>


        <app-tab-menu [tab_menu_list]="tab_menu_list">

            
        </app-tab-menu>

       

        <div class="table-containe" *ngIf="tab_view == 'link_builder'">
          <app-table-action [sortListItems]="sortListItems"></app-table-action>
            <div class="parrent">
                
                <div class="child">
                    <div class="table-header">
                        <div class=" flex-container table-header-item">
        
        
                         
        
                           
        
                            
        
                           
                            <div   class="flex-item flex-15 ">
                                Campaign
                            </div>
                           
                            
                            
                            <div   class="flex-item flex-1 ">
                                Source
                            </div>
        
                            <div  class="flex-item flex-1">
                                Shortlink
                              </div>
                            <div class="flex-item flex-1 ">
                               Click
                            </div>
                            <div class="flex-item flex-05 ">
                                Add to Cart
                             </div>

                             <div class="flex-item flex-05 ">
                                Checkout
                             </div>
                            <div class="flex-item flex-05 ">
                                Purchase
                             </div>
                           
        
                            <div style="width: 20px;" class="flex-item text-right ">
                             
                            </div>
        
        
        
        
        
                         
        
        
        
        
        
        
        
        
                        </div>
                    </div>
        
                    <div class="table-body">
                        <div *ngFor="let item of link" class=" flex-container table-body-item">
        
        
                         
        
                            
                            
        
                            
                            <div class="flex-item flex-15 ">
                                <div class="small-text"> {{item.created_at | date}}</div>
                                {{item.campaign_id}}
                                <div class="small-text color-grey">  {{item.description}}</div>
                            </div>
                           
                          
                          
                            <div class="flex-item flex-1 ">
                                {{item.source}}
        
                            </div>
                            
                            <div class="flex-item flex-1">
                                <span class="status-label" style="text-transform: lowercase;">
                                    https://wia.id/link/{{item.id}}
                                </span>
                               
                               </div>
        
        
                            <div class="flex-item flex-1 ">
                                <span class="status-label">
                                    {{item.click}} Click
                                </span>
        
                            </div>

                            <div class="flex-item flex-05 ">
                              {{item.add_to_cart}}
                             </div>

                             <div class="flex-item flex-05 ">
                                {{item.checkout}}
                             </div>
                            <div class="flex-item flex-05 ">
                                {{item.total_purchase}}

                               
                             </div>
                           
                             <div style="width: 20px;" class="flex-item text-right ">
                               <button (click)="removeLink(item.id)" class="button tiny clear">
                                <fa-icon [icon]="faTrash"></fa-icon>
                               </button>
                            </div>
        
        
        
        
        
                         
        
        
        
        
        
        
        
        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="tab_view == 'conversion'">
            <app-table-action>
                <div class="flex-container form text-right" style="justify-content: space-between;">
                    <div class="flex-item flex-1 margin-right-05">
    
                        <input (change)='updateDate()' [(ngModel)]="start_date" type="date">
                    </div>
                    <div class="flex-item flex-1">
    
                        <input (change)='updateDate()' [(ngModel)]="end_date" type="date">
                    </div>
                </div>
            </app-table-action>

            <div class="table-container">
                <div class="parrent">
                    <div class="child">
                        <div class="table-header">
                            <div class=" flex-container table-header-item">
            
            
                                <div style="width: 300px !important;" class="flex-item flex-1">
                                    Campaign / ID
                                </div>
            
                                <div style="width: 300px !important;" class="flex-item flex-1 ">
                                    Source
                                </div>
            
            
            
            
                                <div style="width: 300px !important;" class="flex-item flex-1 ">
                                    <div class="margin-bottom-05"> Product View</div>
            
                                    <div class="large-text margin-bottom-05">
                                        {{total_product_count}} / {{total_product_value | currency :"IDR"}}
            
                                    </div>
            
                                </div>
            
                                <div style="width: 300px !important;" class="flex-item flex-1 ">
                                    <div class="margin-bottom-05"> Add to Cart</div>
            
                                    <div class="large-text">
                                        {{total_cart_count}} / {{total_cart_value | currency :"IDR"}}
                                        <span class="tiny-text"> ({{getPercentage(total_product_count,total_cart_count)}})</span>
            
                                    </div>
                                    <div class="tiny-text italic">Click add to cart button </div>
            
                                </div>
                                <div style="width: 300px !important;" class="flex-item flex-1 ">
                                    <div class="margin-bottom-05"> Checkout Page</div>
            
                                    <div class="large-text">
                                        {{total_checkout_count}} / {{total_checkout_value | currency :"IDR"}}
            
                                        <span class="tiny-text">
                                            ({{getPercentage(total_product_count,total_checkout_count)}})</span>
            
                                    </div>
                                    <div class="tiny-text italic">Add address and shipping method</div>
            
                                </div>
            
                                <div style="width: 300px !important;" class="flex-item flex-1 ">
                                    <div class="margin-bottom-05"> Payment Page</div>
            
                                    <div class="large-text">
                                        {{total_payment_count}} / {{total_payment_value | currency :"IDR"}}
                                        <span class="tiny-text"> ({{getPercentage(total_product_count,total_payment_count)}})</span>
            
                                    </div>
                                    <div class="tiny-text italic">Begin to select payment method </div>
            
                                </div>
            
                                <div style="width: 300px !important;" class="flex-item flex-1 ">
                                    <div class="margin-bottom-05"> Order</div>
            
                                    <div class="large-text">
                                        {{total_order_count}} / {{total_order_value | currency :"IDR"}}
                                        <span class="tiny-text"> ({{getPercentage(total_product_count,total_order_count)}})</span>
                                    </div>
                                    <div class="tiny-text italic">Order without payment</div>
            
                                </div>
            
                                <div style="width: 300px !important;" class="flex-item flex-1 ">
                                    <div class="margin-bottom-05"> Purchase</div>
            
                                    <div class="large-text">
                                        {{total_purchase_count}} / {{total_purchase_value | currency :"IDR"}}
            
                                        <span class="tiny-text">
                                            ({{getPercentage(total_product_count,total_purchase_count)}})</span>
                                    </div>
                                    <div class="tiny-text italic">Order with payment</div>
            
                                </div>
            
            
            
            
            
            
            
            
            
                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of conversion" class=" flex-container table-body-item align-center ">
            
            
                                <div class="flex-item flex-1">
                                    {{item.campaign_id}}
                                </div>
            
            
            
                                <div class="flex-item flex-1 ">
                                    {{item.source}}
            
                                </div>
            
            
                                <div class="flex-item flex-1 ">
                                   <span  (click)="getProductByConversionType(item,'product_view')" class="status-label margin-bottom-05">
                                    {{item.product_view.count}} View  
                                    
                                   </span>
                                    
                                    <div class="tiny-text">{{item.product_view.value | currency :'IDR'}}</div>
                                </div>
            
                                <div class="flex-item flex-1 ">
            
                                    <span  (click)="getProductByConversionType(item,'add_to_cart')" class="status-label margin-bottom-05">
                                        {{item.add_to_cart.count}} Add  ({{getPercentage(item.product_view.count,item.add_to_cart.count)}})
                                        
                                       </span>
            
            
                                   
                                    <div class="tiny-text">{{item.add_to_cart.value | currency :'IDR'}}</div>
                                    
            
                                </div>
            
                                <div class="flex-item flex-1 ">
            
                                    <span  class="status-label margin-bottom-05">
                                        {{item.checkout_page.count}} Checkout  ({{getPercentage(item.product_view.count,item.checkout_page.count)}})
                                        
                                       </span>
            
            
                                     
            
                                    <div class="tiny-text">{{item.checkout_page.value | currency :'IDR'}}</div>
                                 
                                </div>
            
            
                                <div class="flex-item flex-1 ">
                                    <span  class="status-label margin-bottom-05">
                                        {{item.payment_page.count}}  View ({{getPercentage(item.product_view.count,item.payment_page.count)}})
                                        
                                       </span>
            
            
            
                                    
                                    <div class="tiny-text">{{item.payment_page.value | currency :'IDR'}}</div>
                                    
                                </div>
            
                                <div class="flex-item flex-1 ">
                                    <span (click)="getCheckoutConversionType(item,'order')"  class="status-label margin-bottom-05">
                                        {{item.order.count}} Order  ({{getPercentage(item.product_view.count,item.order.count)}})
                                        
                                       </span>
            
            
                                    <div> 
                                       
            
                                    
                                    </div>
                                    <div class="tiny-text">{{item.order.value| currency :'IDR'}}</div>
                                   
                                </div>
            
                                <div class="flex-item flex-1 ">
                                    <span (click)="getCheckoutConversionType(item,'purchase')"  class="status-label margin-bottom-05">
                                        {{item.purchase.count}} Purchase ({{getPercentage(item.product_view.count,item.purchase.count)}})
                                        
                                       </span>
            
            
                                    <div> 
                                       
            
                                        
                                    </div>
                                    <div class="tiny-text">{{item.purchase.value | currency :'IDR'}}</div>
                                  
                                </div>
            
            
            
            
            
            
            
            
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

        </div>


    </div>
</div>

<app-modal [title]="'Product'" *ngIf="showModal == 'detailModal'" (onClose)="showModal = null">
    <div *ngIf="selected_item" class="list-tile-container ">
        <div *ngFor="let item of selected_item.items" class="list-tile-item border-bottom padding-bottom-05 margin-bottom-05">

            <div class="flex-container align-center">
                <div class="flex-item flex-1 small-text">
                   Product Id : {{item.product_id}}
                    <!-- <div>{{item.final_price | currency : "IDR"}}</div> -->
                </div>
                <div class="flex-item">
                    <!-- <img width="50" height="50" [src]="item.image" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</app-modal>

<app-modal [title]="'Transaction'" *ngIf="showModal == 'trxModal'" (onClose)="showModal = null">
    <div *ngIf="selected_order" class="list-tile-container ">
        <div *ngFor="let item of selected_order.items" class="list-tile-item border-bottom padding-bottom-05 margin-bottom-05">

            <div (click)="openInNewTab(item.order_id)" class="flex-container cursor align-center">
                <div class="flex-item flex-1 small-text">
                    #{{item.order_id}}


                </div>
                <!-- <div class="flex-item small-text">
                    {{item.status}}
                </div> -->
            </div>
        </div>
    </div>
</app-modal>

<app-modal (onClose)="showModal = null" [title]="'Generate Link'" *ngIf="showModal == 'linkModal'" >
    <form [formGroup]="linkForm">
        <div class="margin-bottom-1 padding-bottom-1 border-bottom">


            <label for="">URL</label>
            <input type="text" formControlName="link">


            <label for="">Campaign ID</label>
            <input type="text" placeholder="kapital & underscore ex. PAYDAY_PROMO" formControlName="campaign_id">



            <label for="">Source</label>
            <select formControlName="source">

                <option *ngFor="let item of source" [value]="item">{{item}}</option>


            </select>


            <label for="">Description</label>
            <input type="text" formControlName="description">





            
           

           










        </div>


        <button [disabled]="!this.linkForm.valid" class="button" (click)="addLinkBuilder()">Generate</button>

    </form>
</app-modal>