<div class="main-body">

    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                        Shipping
                    </div>

                </div>
            </div>

        </div>

        <div class="form">
            <label>Kota / Kecamatan</label>

            <div *ngIf="selectedDistrict" class="subtitle">
                {{ this.selectedDistrict.subdistrict_name}} <a (click)="changeDistrict()"> change</a>
            </div>

            <input *ngIf="!selectedDistrict" placeholder="ketik nama kota atau kecamatan" #username
                (keyup)="findDistrict(username.value)" type="text">

            <div *ngIf="cityList || districtList" class=" border callout padding-center city-container white">
                <div *ngIf="show_city">
                    <div class="list-tile border-bottom" *ngFor="let item of cityList">
                        <a (click)="selectCity(item)" class="subtitle">
                            <span> {{item.province}}</span>, <span>{{item.city_name}} </span>
                        </a>
                    </div>
                </div>

                <div *ngIf="!show_city && districtList?.length>0" class="callout">
                    <h5>Pilih Kecamatan</h5>
                </div>

                <div class="list-tile border-bottom" *ngFor="let item of districtList">
                    <a (click)="selectDistrict(item)" class="subtitle">
                        <span> {{item.province}}</span>, <span>{{item.city_name}}</span> -
                        <span>{{item.subdistrict_name}}</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="table-header">
            <div class="flex-container small-text bold">


                <div class="flex-item flex-05 margin-right-1">
                    ID
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    City
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    District
                </div>



                <div class="flex-item flex-1 margin-right-05">
                    Description
                </div>
                <div class="flex-item flex-1 margin-right-1">
                    Courier Code
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    Service Code
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    Rates / kg
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    Action
                </div>








            </div>
        </div>
        <div *ngIf="rates" class="table-body">
            <div *ngFor="let item of rates"
                class="flex-container align-center small-text bold border-bottom padding-bottom-1 margin-bottom-1">

                <div class="flex-item flex-05 margin-right-1">
                    {{item.id}}
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    {{selectedDistrict.city_name}}
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    {{selectedDistrict.subdistrict_name}}
                </div>




                <div class="flex-item flex-1 margin-right-05">
                    <span *ngIf="!item.is_edit"> {{item.method}}</span>
                    <input class=" margin-bottom-0" *ngIf="item.is_edit" [(ngModel)]="item.method"
                        type="text">
                </div>

                <div class="flex-item flex-1 margin-right-1">
                    <span *ngIf="!item.is_edit"> {{item.method_code}}</span>
                    <input class=" margin-bottom-0" *ngIf="item.is_edit" [(ngModel)]="item.method_code"
                        type="text">
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    <span *ngIf="!item.is_edit">{{item.service_code}}</span>
                    <input class=" margin-bottom-0" *ngIf="item.is_edit" [(ngModel)]="item.service_code"
                        type="text">
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    <span *ngIf="!item.is_edit">{{item.price}}</span>
                    <input class=" margin-bottom-0" *ngIf="item.is_edit" [(ngModel)]="item.price" type="number">
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    <div *ngIf="item.is_edit">
                    
                        <button class="tiny button margin-bottom-0" (click)="saveRate(item)">Save</button>
                    </div>

                    <button class="tiny button margin-bottom-0" (click)="removeShippingRates(item)">Delete</button>

                </div>


            </div>

            <Button (click)="addMore()" class="button secondary tiny margin-bottom-0">Add More</Button>



        </div>




    </div>
</div>
