<div class="flex-container">
    
    <div class="flex-item flex-2 margin-right-2">
        <div class="">

            <div class="flex-container align-center">
                <div class="flex-1">
                    <h4>Quote Product</h4>
                </div>
                <div class="flex-1 text-right">
                    <button (click)="openModal('addProductModal')" class="button small clear hollow margin-bottom-0">+
                        Add
                        Product</button>
                </div>
            </div>



            <div *ngIf="order">

                <div class="table-header">
                    <div class="flex-container table-header-item">

                        <div class="flex-item flex-2">
                            Name
                        </div>
                        <div class="flex-item flex-1">
                            Qty
                        </div>
                        <div class="flex-item flex-1">
                            Price
                        </div>
                        <div class="flex-item flex-1">
                            Discount(%)
                        </div>
                        <div class="flex-item flex-1">
                            Offer Price
                        </div>


                    </div>
                </div>

                <div class="table-body">
                    <div *ngFor="let item of order.products" class="flex-container table-body-item border hover-show">

                        <div class="flex-item flex-2">
                            {{item.product.name}}
                        </div>

                        <div class="flex-item flex-1">
                            <app-form-input [isHideAction]="true" [isHideLabel]="true" [label]="'Qty'"
                                [value]="item.order_qty" [id]="'order_qty'" (onClose)="updateProduct($event,item)">
                            </app-form-input>
                        </div>

                        <div class="flex-item flex-1">
                            {{item.product.final_price | currency : 'IDR'}}
                        </div>
                        <div class="flex-item flex-1">
                            <app-form-input [isHideAction]="true" [isHideLabel]="true" [label]="'Discount'"
                                [value]="item.order_discount_percentage" [id]="'order_discount_percentage'"
                                (onClose)="updateProduct($event,item)">
                            </app-form-input>
                        </div>
                        <div class="flex-item flex-1">
                            {{item.order_final_price | currency : 'IDR'}}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-item flex-1">
        <div class="callout padding-center medium-grey-bg rounded">
            <h5>Order Details</h5>
            <div class="small-text list-tile-container margin-bottom-1">

                <div class="list-tile-item margin-bottom-05 padding-bottom-05 border-bottom">
                    <app-form-input [label]="'Source'" [value]="order.source" [id]="'source'"
                        (onClose)="updateOrder($event,order.source)"></app-form-input>
                </div>


                <div class="list-tile-item margin-bottom-05 padding-bottom-05 border-bottom">
                    <app-form-input [label]="'Quotation ID'" [value]="order.quote_id" [id]="'quote_id'"
                        (onClose)="updateOrder($event,order.businessorder_id)"></app-form-input>
                </div>



                <div class="list-tile-item margin-bottom-05 padding-bottom-05 border-bottom">
                    <app-form-input [label]="'Invoice Number'" [value]="order.invoice_number" [id]="'invoice_number'"
                        (onClose)="updateOrder($event,order.businessorder_id)"></app-form-input>
                </div>

                <div class="list-tile-item margin-bottom-05 padding-bottom-05 border-bottom">
                    <app-form-input [label]="'Description'" [value]="order.description" [id]="'description'"
                        (onClose)="updateOrder($event,order.businessorder_id)"></app-form-input>
                </div>
            </div>

            <h5>Customer Details</h5>

            <div class="list-tile-container small-text">
                <div class="list-tile-item margin-bottom-05 padding-bottom-05 border-bottom">
                    <app-form-input [label]="'Customer Name'" [value]="order.customer_name" [id]="'customer_name'"
                        (onClose)="updateOrder($event,order.businessorder_id)"></app-form-input>
                </div>
                <div class="list-tile-item margin-bottom-05 padding-bottom-05 border-bottom">
                    <app-form-input [label]="'Address'" [value]="order.customer_address" [id]="'customer_address'"
                        (onClose)="updateOrder($event,order.businessorder_id)"></app-form-input>
                </div>
                <div class="list-tile-item margin-bottom-05 padding-bottom-05 border-bottom">
                    <app-form-input [label]="'Phone'" [value]="order.customer_phone" [id]="'customer_phone'"
                        (onClose)="updateOrder($event,order.businessorder_id)"></app-form-input>
                </div>
                <div class="list-tile-item margin-bottom-05 padding-bottom-05 border-bottom">
                    <app-form-input [label]="'Email'" [value]="order.customer_email" [id]="'customer_email'"
                        (onClose)="updateOrder($event,order.businessorder_id)"></app-form-input>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal title="Add Product" (onClose)="closeModal()" *ngIf="showModal == 'addProductModal'">
    <app-form-search (onSearch)="searchProduct($event)" (onSelect)="selectProduct($event)"></app-form-search>
    <div *ngFor="let item of product" class="padding-bottom-05 margin-bottom-05 border-bottom">
        <div class="flex-container">
            <div class="flex-item margin-right-05">

                <img [src]="item.image" alt="" width="70px" height="70px">
            </div>
            <div class="flex-item flex-1 large-text">

                <div class="">
                    {{item.name}}
                </div>
                <div class="">
                    {{item.final_price | currency :'IDR'}}
                </div>

            </div>
            <div class="flex-item flex-05 text-right">
                <button [disabled]="item.isAdded" (click)="addProduct(item)"
                    class="button tiny clear active hollow">{{item.isAdded?'Added!':'Add Product'}}</button>
            </div>
        </div>
    </div>

</app-modal>