<div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
    <h3>Referal Sales</h3>

    <div class="table-header">
        <div class="table-header-item flex-container">
          
            <div class="flex-item flex-1">
                Order Number
    
            </div>
    
            <div class="flex-item flex-1">
                Customer
    
            </div>
    
            <div class="flex-item flex-1">
                Revenue
    
            </div>
        
            <div class="flex-item flex-1">
                Order Status
    
            </div>
    
        </div>
    </div>

    <div class="table-body">
        <div *ngFor="let item of sales" class="table-body-item flex-container border ">
          
            <div class="flex-item flex-1">
                {{item.order_number}}
    
            </div>
    
            <div class="flex-item flex-1">
                {{item.customer_name}}
            </div>
    
            <div class="flex-item flex-1">
                {{item.revenue}}
    
            </div>
          
            <div class="flex-item flex-1">
              {{item.status}}
            </div>
    
        </div>
    </div>





</div>
