<div class="main-body">
    <div class="row collapse">

        <div class="medium-12 columns" style="padding:0 3%">
            <div class="flex-container align-center">
                <div class="flex-item flex-1">
                    <div class="label-text medium">
                        <div class="title">
                            Search
                        </div>
                        <span> status : All Status</span>
                    </div>
                </div>
                <!-- <div class="flex-item flex-1 text-right">
                    <a  [routerLink]="['/sales-order/view/', 'create_new']"  class="bold white">+ Create Promotion </a>
                </div> -->
            </div>


            <div class="flex-container ">
                <div class="flex-item flex-1">
                    <ul class="menu">
                        <li class="flex-item margin-right-05 margin-bottom-1">
                            <a  [ngClass]="{hollow: page_view !='product'}"   [routerLink]="['./']" [queryParams]="{page_view: 'product'}" class="button tiny secondary chips">
                               Product
                            </a>
                        </li>
                        <li class="flex-item margin-right-05 margin-bottom-1">
                            <a  [ngClass]="{hollow: page_view !='category'}"   [routerLink]="['./']" [queryParams]="{page_view: 'category'}" class="button tiny secondary chips">
                               Category
                            </a>
                        </li>
                       
                        <li class="flex-item margin-right-05 margin-bottom-1">
                            <a  [ngClass]="{hollow: page_view !='recommendation'}" [routerLink]="['./']" [queryParams]="{page_view: 'recommendation'}" class="button tiny secondary chips">
                               Recommendation
                            </a>
                        </li>

                        <li class="flex-item margin-right-05 margin-bottom-1">
                            <a  [ngClass]="{hollow: page_view !='top_click'}" [routerLink]="['./']" [queryParams]="{page_view: 'top_click'}" class="button tiny secondary chips">
                               Top Click
                            </a>
                        </li>

                        <li class="flex-item margin-right-05 margin-bottom-1">
                            <a [ngClass]="{hollow: page_view !='search_term'}" [routerLink]="['./']" [queryParams]="{page_view: 'search_term'}" class="button tiny secondary chips ">
                               Search Term</a>
                        </li>
                    

                    </ul>
                </div>
                <div class="flex-item flex-1">
                    <ul style="justify-content: flex-end;" class="menu menu-right">


                        <li class="flex-item margin-bottom-1 margin-right-05">
                            <button (click)="updateSearch(null)" class="button  secondary chips ">
                                <fa-icon [icon]="faSync"></fa-icon> Sync Catalog

                            </button>
                        </li>

                    </ul>
                </div>
            </div>


            <div  class="form">
                <input placeholder="Product" [(ngModel)]="keyword" class="form" (keyup)="findSearch()" type="text">
            </div>
           
            <div *ngIf="page_view != 'search_term'">
                <div class="table-header">
                    <div class="flex-container small-text bold">
                      
                        <div class="flex-item flex-05 margin-right-05">
                            Entity ID
                        </div>
                        <div class="flex-item flex-05 margin-right-05">
                            Type
                        </div>
                        <div class="flex-item flex-2 margin-right-05">
                            Name
                        </div>
                        <div class="flex-item flex-05 margin-right-05">
                            Total Click
                        </div>
                        <div class="flex-item flex-05 margin-right-05">
                           Recomendation
                        </div>
                        <div class="flex-item flex-1  margin-right-05">
                            Status
                        </div>
    
                        <div class="flex-item flex-2  margin-right-05">
                            Search Term
                        </div>
                        <div class="flex-item flex-1 text-right">
                            Action
                        </div>
                    </div>
                </div>
    
                <div *ngIf="search">
                    <div class="table-body" *ngFor="let item of search.items">
                        <div class="flex-container small-text bold margin-bottom-1 padding-bottom-1 border-bottom">
                            
                            <div class="flex-item flex-05 margin-right-05">
                                {{item.entity_product_id}}
                            </div>
                            <div class="flex-item flex-05 margin-right-05">
                                {{item.type}}
                            </div>
                            <div class="flex-item flex-2 margin-right-05">
                              <img class="margin-right-05" width="50" height="50" [src]="item.image" alt="">  {{item.name}}
                            </div>
        
        
                           
        
                            <div class="flex-item flex-05 margin-right-05">
                                {{item.total_click}}
                            </div>
                            <div class="flex-item flex-05 margin-right-05">
                               
                                <span *ngIf="item.recommended == '1'">Yes</span>
                                <span *ngIf="item.recommended == '0'">No</span>
                                <input [(ngModel)]="item.recommended" type="text">
                            </div>
                            <div class="flex-item flex-1  margin-right-05">
                                <span *ngIf="item.status == '1'">Enable</span>
                                <span *ngIf="item.status == '0'">Disable</span>
                            </div>
        
                            <div class="flex-item flex-2  margin-right-05">
                                {{item.search_term}}
                            </div>
                            <div class="flex-item flex-1 text-right">
                                <!-- <button (click)="updateSearchById(item)" class="button tiny secondary">Edit</button> -->
                                <button (click)="updateSearchById(item)" class="button tiny secondary">Save</button>
                               
                            </div>
                        </div>
                    </div>
                </div>
               
    
            </div>

            <div *ngIf="page_view == 'search_term'">
                
                <div class="table-header">
                    <div class="flex-container small-text bold">
                      
                        <div class="flex-item flex-05 margin-right-05">
                            ID
                        </div>
                        <div class="flex-item flex-1 margin-right-05">
                            Name
                        </div>
                        <div class="flex-item flex-2 margin-right-05">
                            Search Term
                        </div>
                      
                        <div class="flex-item flex-1 text-right">
                            Action
                        </div>
                    </div>
                </div>
                <div class="table-body">
                    <div class="flex-container small-text bold border-bottom margin-bottom-1 padding-bottom-1">
                      
                        <div class="flex-item flex-05 margin-right-05">
                            ID
                        </div>
                        <div class="flex-item flex-1 margin-right-05">
                            Kanken
                        </div>
                        <div class="flex-item flex-2 margin-right-05">
                           Tas Kanken, Fjallraven
                        </div>
                      
                        <div class="flex-item flex-1 text-right">
                            Edit
                        </div>
                    </div>

                    <div class="flex-container small-text bold border-bottom margin-bottom-1 padding-bottom-1">
                      
                        <div class="flex-item flex-05 margin-right-05">
                            ID
                        </div>
                        <div class="flex-item flex-1 margin-right-05">
                            DJI
                        </div>
                        <div class="flex-item flex-2 margin-right-05">
                          Kamera pemetaan
                        </div>
                      
                        <div class="flex-item flex-1 text-right">
                            Edit
                        </div>
                    </div>
                    
                </div>

              
            </div>
           



        </div>
    </div>
</div>