<div class="main-body">
    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                        Revenue Planning

                    </div>


                </div>
            </div>

            <div class="flex-item flex-1 text-right">


                <button (click)="openModal('revenueModal')" class="button secondary small margin-bottom-0">+ Add
                    Revenue</button>
            </div>
        </div>
        <div class="flex-container form">
            <div class="flex-item flex-1 margin-right-05">
                <select #mySelects (change)='changeYear(mySelects.value)' name="" id="">
                    <option *ngFor="let item of years" [selected]="item.value == current_year" [value]="item.value">
                        {{item.name}} </option>

                </select>
            </div>
            <div class="flex-item flex-1">
                <select #mySelect (change)='changeMonth(mySelect.value)' name="" id="">
                    <option *ngFor="let item of months" [selected]="item.value == current_month" [value]="item.value">
                        {{item.name}} </option>

                </select>


            </div>
        </div>


        <div class="flex-container margin-bottom-1">
            <div class="flex-item flex-1 margin-right-05">
                <div *ngIf="total_planning" class="callout padding-center medium-grey-bg rounded">
                    <div class="small-text">
                        Total Planning
                    </div>
                    <h3>{{total_planning | currency : 'IDR'}}</h3>

                    <div class="flex-container">
                        <div class="flex-item flex-1">
                            <div class="callout padding-center-1 rounded border margin-right-05">
                                <div class="tiny-text">
                                    Active Lifestyle
                                </div>
                                <div class="small-text">
                                    {{total_active_lifestyle | currency : 'IDR'}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="callout padding-center-1 rounded border margin-right-05">
                                <div class="tiny-text">
                                    Content Creator
                                </div>
                                <div class="small-text">
                                    {{total_content_creator | currency : 'IDR'}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="callout padding-center-1 rounded border">
                                <div class="tiny-text">
                                    Traveling
                                </div>
                                <div class="small-text">
                                    {{total_traveling | currency : 'IDR'}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="flex-item flex-1 margin-right-05">
                <div *ngIf="total_actual" class="callout padding-center medium-grey-bg rounded">
                    <div class="small-text">
                        Total Actual
                    </div>
                    <h3>{{total_actual | currency : 'IDR'}}</h3>

                    <div class="flex-container">
                        <div class="flex-item flex-1">
                            <div class="callout padding-center-1 rounded border margin-right-05">
                                <div class="tiny-text">
                                    Active Lifestyle
                                </div>
                                <div class="small-text">
                                    {{total_actual_active_lifestyle | currency : 'IDR'}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="callout padding-center-1 rounded border margin-right-05">
                                <div class="tiny-text">
                                    Content Creator
                                </div>
                                <div class="small-text">
                                    {{total_actual_content_creator | currency : 'IDR'}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="callout padding-center-1 rounded border">
                                <div class="tiny-text">
                                    Traveling
                                </div>
                                <div class="small-text">
                                    {{total_actual_traveling | currency : 'IDR'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flex-item flex-1">
                <div *ngIf="total_actual" class="callout padding-center medium-grey-bg rounded">
                    <div class="small-text">
                        Planning vs Actual
                    </div>
                    <h3>{{total_actual - total_planning| currency : 'IDR'}}</h3>

                    <div class="flex-container">
                        <div class="flex-item flex-1">
                            <div class="callout padding-center-1 rounded border margin-right-05">
                                <div class="tiny-text">
                                    Active Lifestyle
                                </div>
                                <div class="small-text">
                                    {{total_actual_active_lifestyle - total_active_lifestyle | currency : 'IDR'}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="callout padding-center-1 rounded border margin-right-05">
                                <div class="tiny-text">
                                    Content Creator
                                </div>
                                <div class="small-text">
                                    {{total_actual_content_creator - total_content_creator | currency : 'IDR'}}
                                </div>
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="callout padding-center-1 rounded border">
                                <div class="tiny-text">
                                    Traveling
                                </div>
                                <div class="small-text">
                                    {{total_actual_traveling - total_traveling  | currency : 'IDR'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>
        <div class="table-header">
            <div class="table-header-item flex-container">
                <div class="flex-1">
                    Brand
                </div>
                <div class="flex-1">
                    Planning
                </div>

                <div class="flex-1">
                    Actual
                </div>

                <div class="flex-1">
                    Planning vs Actual
                </div>

                <div class=" flex-05 text-right">
                    Action
                </div>

                <!-- <div class="flex-1">
                    Week 1
                </div>
                <div class="flex-1">
                    Week 2
                </div>
                <div class="flex-1">
                    Week 3
                </div>
                <div class="flex-1">
                    Week 4
                </div> -->
            </div>
        </div>

        <div class="table-body">
            <div *ngFor="let item of revenue_plannings" class="table-body-item flex-container">
                <div class="flex-1">
                    {{item.brand}}
                    <span *ngIf="item.category" class="span-label">
                        {{item.category}}
                    </span>

                    <div>


                    </div>
                </div>
                <div class="flex-1">
                    {{item.target_revenue | currency : 'IDR'}}
                </div>

                <div class="flex-1">
                    {{item.actual_revenue | currency : 'IDR'}}
                </div>

                <div class="flex-1">
                    {{item.actual_revenue - item.target_revenue  | currency : 'IDR'}}
                </div>
                <div class=" flex-05 text-right">
                    <button (click)="removeItem(item)" class="button tiny clear active margin-bottom-0">
                        Remove
                    </button>
                </div>
            </div>
        </div>





    </div>
</div>




<app-modal *ngIf="showModal == 'revenueModal'" (onClose)="closeModal()" [title]="'Add Revenue'">
    <form [formGroup]="revenueForm">
        <div class="margin-bottom-1 padding-bottom-1 border-bottom">

            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Month</label>
                    <select formControlName="month">

                        <option *ngFor="let item of months" [value]="item.value">{{item.name}}</option>

                    </select>
                </div>
                <div class="flex-item flex-1">
                    <label for="">Year</label>
                    <select formControlName="year">

                        <option *ngFor="let item of years" [value]="item.value">{{item.name}}</option>


                    </select>
                </div>
            </div>



            <label for="">Revenue</label>
            <input type="number" formControlName="target_revenue">

            <label for="">Brand</label>
            <input placeholder="type brand name" formControlName="brand" type="text" (keyup)="getBrands($event)">
            <div class="callout margin-bottom-1 padding-center border rounded brand" *ngIf="brands">
                <a class="white small-text" (click)="selectBrand(item)" *ngFor="let item of brands">
                    <div class="flex-container">
                        <div class="flex-item flex-1 margin-right-05">
                            {{item.name}}

                        </div>
                        <div class="flex-item flex-1 text-right">
                            Add

                        </div>
                    </div>
                </a>

            </div>

            <label for="">Category</label>

            <select formControlName="category">
                <option value="active_lifestyle">Active Lifestyle</option>
                <option value="content_creator">Content Creator</option>
                <option value="traveling">Traveling</option>


            </select>











        </div>


        <button [disabled]="!this.revenueForm.valid" class="button " (click)="addRevenue()">Submit</button>

    </form>
</app-modal>