.progress-bar-container{
    padding: 3px 0;
    width: 100%;
    max-width: 100%;
    background: #424242d1 !important;
    position: relative;
    .progress-bar{
        background: #7fff00;
        height: 100%;
        max-width: 100%;
        position: absolute;
        left: 0;
        top:0;
        bottom: 0;

    }
    .progress-bar-forecast{
      background: #7fff00;
      height: 100%;
      max-width: 100%;
      position: absolute;
      left: 0;
      top:0;
      bottom: 0;
      opacity: 0.3;
      

  }
}

