<div class="main-body  fade-in">
    <div>


        <div class="flex-container align-center">
            <div class="flex-item flex-1">
                <div class="label-text medium">
                    <div class="title">
                        Order Management <span routerLink="/order-management" class="tiny-text cursor">( View Old Order
                            )</span>
                    </div>

                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <button (click)="toggleAddOrder()" class="button small clear active">+ Create Order</button>

            </div>
        </div>


        <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>
        <app-table-action  [sortListItems]="sortListItems"></app-table-action>

        <div class="table-header">
            <div class="flex-container table-header-item">

                <div class="flex-item flex-1">

                    Order Number
                </div>



                <div class="flex-item flex-15">
                    Ship To
                </div>







                <div class="flex-item flex-1">
                    Total Purchase
                </div>

                <div class="flex-item flex-1">
                    Payment
                </div>

                <div class="flex-item flex-1">
                    Status
                </div>

             


                <div class="flex-item flex-1">
                   Packing & Shipping
                </div>







            </div>
        </div>
        <div class="table-body">
           
           
            <div *ngFor="let item of sales_order" class="flex-container table-body-item">

                <div (click)="selectOrder(item)" class="flex-item cursor flex-1">
                    <span class="border-bottom"> {{item.id}}
                        <span class="span-label" style="margin-right: 2px;">{{item.sales_channel}}</span>
                        
                    </span>
                    <div>
                        <span *ngIf="item.sales_device" class="span-label">{{item.sales_device}}

                        </span>
                    </div>
                    <div class="color-grey small-text">
                        {{item.order_date?(item.order_date | date :'medium'):(item.created_at | date :'medium')}}</div>

                </div>



                <div class="flex-item flex-15">
                    <div class="">
                        {{item.shipping_address_name | titlecase}}


                    </div>
                    <div class="color-grey hover-show relative">
                        <span (click)="selectOrder(item)" *ngIf="item.shipping_city" class="border-bottom cursor">
                            {{item.shipping_region}}, {{item.shipping_city}}</span>
                        <div class="tooltip callout border padding-center-1 medium-grey-bg hide rounded ">
                            {{item.shipping_address}}




                        </div>
                    </div>

                    <div class="color-grey">{{item.shipping_phone}}</div>



                </div>








                <div class="flex-item flex-1">
                    {{item.total | currency : "IDR"}}
                    <div class="hover-show cursor relative">
                        <span (click)="selectOrder(item)" class="color-grey border-bottom">
                            {{item.total_order_qty}} Items
                        </span>
                        <div class="tooltip callout border padding-center-1 medium-grey-bg hide rounded ">
                            <div *ngFor="let item of item.product">
                                <div>{{item.name}} - {{item.order_qty}}</div>

                            </div>
                        </div>
                    </div>


                </div>


                <div class="flex-item flex-1">
                    <div *ngIf="item.sales_channel_id">
                        <div>Via Marketplace</div>
                        <div class="small-text color-grey uppercase"> {{item.sales_channel_id}}</div>
                    </div>
                    <div> {{item.payment_method_label}}</div>
                    <div class="small-text color-grey uppercase"> {{item.payment_bank}}
                        <span *ngIf="item.payment_installment">- {{item.payment_installment}} X</span>

                    </div>

                    <div *ngIf="item.status == 'WAIT_FOR_PAYMENT' && item.payment_due" class="small-text color-grey">
                        Exp. {{item.payment_due | date : 'medium'}}</div>



                </div>


                <div class="flex-item flex-1">

                    <span [ngClass]="item.status" class="status-label margin-right-05"> {{item.status}}</span>
                    <span *ngIf="item.status == 'WAIT_FOR_PAYMENT'">
                        <span *ngIf="!item.is_followup" (click)="checkFu(item)" class="cursor">
                            <fa-icon [icon]="faHeadphonesAlt"></fa-icon>
                        </span>

                        <span *ngIf="item.is_followup == true" class="color-grey">
                            <fa-icon class="color-green" [icon]="faCheckCircle"></fa-icon>
                        </span>
                    </span>

                </div>


             


                <div class="flex-item flex-1">



                    <div *ngIf="status == 'processing'">
                        <div class="status-label margin-bottom-05" *ngIf="item.packing_status.total !== 0">
                            {{item.packing_status.packed}} of {{item.packing_status.total}}
                            <span *ngIf="item.packing_status.packed == item.packing_status.total"> Packed <fa-icon
                                    [icon]="faCheckCircle"></fa-icon></span>
    
                            </div>
    
                        <div class="status-label" *ngIf="item.packing_status.total == 0">Not Found</div>
                    </div>





                    <div *ngIf="item.status != 'PROCESSING'" class="hover-show cursor relative">
                        <div> {{item.shipping_method_label}}

                            <app-remove-button (onClick)="changeShipment(item)" *ngIf="item.status == 'SHIPMENT'">
                                <span class="tiny-text cursor color-grey border-bottom">Change</span>

                            </app-remove-button>

                        </div>


                    </div>





                    <div *ngIf="item.status == 'SHIPMENT'" class="color-grey">
                        <app-form-input isHideLabel="true" label="Tracking" [value]="item.shipping_number"
                            [id]="'shipping_number'" (onClose)="updateField(item,$event)" isHideAction="true">
                        </app-form-input>
                    </div>


                    <div *ngIf="isAllowShipping(item.sales_channel)">
                        <div *ngIf="item.status == 'PROCESSING'">
                            <app-status-label [disabled]="item.packing_status.packed !== item.packing_status.total"
                                (onSelect)="selectShipment(item,$event)"
                                [label]="item.shipping_method_label?item.shipping_method_label:'Ship'"
                                [option]="status_label">
                            </app-status-label>
                        </div>
                    </div>

                    <div *ngIf="!isAllowShipping(item.sales_channel) && item.status == 'PROCESSING'">
                        <div *ngIf="item.packing_status.packed == item.packing_status.total">
                            <button (click)="complete(item)"
                                class="button tiny clear hollow status-label cursor complete">
                                Ship & Complete <fa-icon [icon]="faCheckCircle"></fa-icon>
                            </button>
                        </div>
                    </div>





                    <div *ngIf="item.status == 'complete'" class="color-grey">
                        {{item.shipping_number}}
                    </div>

                    <div class="color-grey tiny-text" *ngIf="item.shipping_status">
                        {{item.shipping_status}} - {{item.shipping_driver_name}}


                    </div>

                    <div *ngIf="item.shipping_tracking_url"><a [href]="item.shipping_tracking_url" target="_blank"
                            class="button clear tiny hollow">
                            <fa-icon [icon]="faVectorSquare"></fa-icon>
                            Track Driver
                        </a>
                    </div>





                </div>





            </div>
            <div *ngIf="isLoading">
                <div *ngFor="let item of [].constructor(10)" class="flex-container table-body-item loading"></div>

            </div>
        </div>




        <div *ngIf="page>=1" lazyload (onShown)="loadMore()"></div>



    </div>
</div>

<app-order-management-view *ngIf="selected_order" (onClose)="closeModal($event)" [selected_order]="this.selected_order">
</app-order-management-view>
<app-order-management-add (onClose)="toggleAddOrder()" *ngIf="showAddOrder"></app-order-management-add>