<div class="main-body fade-in">
  <div>
    <div class="flex-container align-center">
      <div class="flex-item flex-1">
        <div class="label-text medium">
          <div class="title">
            Product Report
            <span routerLink="/sales-order" class="tiny-text cursor"
              >( View Old Sales )</span
            >
          </div>
        </div>
      </div>
      <div class="flex-item text-right">
        <div class="flex-container form margin-right-05">
          <div class="flex-item margin-right-05">
            <input
              (change)="changeDate()"
              [(ngModel)]="start_date"
              type="date"
            />
          </div>
          <div class="flex-item">
            <input (change)="changeDate()" [(ngModel)]="end_date" type="date" />
          </div>
        </div>
      </div>
    </div>

    <!-- <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu> -->
    <app-table-action [sortListItems]="sortListItems">
      <button (click)="generateReport()" class="button small margin-right-05">
        Generate Report
      </button>
      <button
      
        (click)="generateReport(true)"
        class="button small clear"
      >
        <fa-icon [icon]="faDownload"></fa-icon>
      </button>
    </app-table-action>

    <div *ngIf="is_show_report" class="flex-container margin-bottom-1">
      <div class="flex-item margin-right-05">
        <div class="callout padding-center-1 rounded border">
          <div class="small-text color-grey">Total Product</div>
          <div class="huge-text">{{ total_product }}</div>
        </div>
      </div>
      <div class="flex-item margin-right-05">
        <div class="callout padding-center-1 rounded border">
          <div class="small-text color-grey">Revenue</div>
          <div class="huge-text">{{ total_revenue | currency : "IDR" }}</div>
        </div>
      </div>
      <div class="flex-item margin-right-05">
        <div class="callout padding-center-1 rounded border">
          <div class="small-text color-grey">Cogs</div>
          <div class="huge-text">{{ total_cogs | currency : "IDR" }}</div>
        </div>
      </div>

      <div class="flex-item margin-right-05">
        <div class="callout padding-center-1 rounded border">
          <div class="small-text color-grey">Product Discount</div>
          <div class="huge-text">{{ total_discount | currency : "IDR" }}</div>
        </div>
      </div>

      <div class="flex-item margin-right-05">
        <div class="callout padding-center-1 rounded border">
          <div class="small-text color-grey">Bonus</div>
          <div class="huge-text">{{ total_bonus | currency : "IDR" }}</div>
        </div>
      </div>

      <div class="flex-item margin-right-05">
        <div class="callout padding-center-1 rounded border">
          <div class="small-text color-grey">Trx Fee</div>
          <div class="huge-text">
            {{ total_payment_fee | currency : "IDR" }}
          </div>
        </div>
      </div>

      <div class="flex-item margin-right-05">
        <div class="callout padding-center-1 rounded border">
          <div class="small-text color-grey">Profit</div>
          <div class="huge-text">{{ total_profit | currency : "IDR" }}</div>
        </div>
      </div>
    </div>

    <div class="table-header">
      <div class="flex-container table-header-item">
        <div class="flex-item flex-15">Order Number</div>

        <div class="flex-item flex-15">Product</div>

        <div class="flex-item flex-1">Total Cogs</div>
        <div class="flex-item flex-1">Total Bonus</div>

        <div class="flex-item flex-1">Affiliate. Fee</div>

        <div class="flex-item flex-1">Discount</div>

        <div class="flex-item flex-1">Trx. Fee</div>
        <div class="flex-item flex-1">Sell Price</div>

        <div class="flex-item flex-1 text-right">Profit</div>
      </div>
    </div>
    <div class="table-body">
      <div
        *ngFor="let item of sales_order"
        class="flex-container table-body-item"
      >
        <div (click)="selectOrder(item)" class="flex-item cursor flex-15">
          <span class="border-bottom"> {{ item.sales_order_id }} </span>
          <span class="span-label">{{ item.sales_order.status }}</span>

          <div class="color-grey tiny-text">
            {{ item.sales_order.order_date | date }}
          </div>
          <span class="color-grey tiny-text uppercase">{{
            item.sales_order.sales_channel
          }}</span>
          <div class="color-grey tiny-text uppercase">
            {{ item.sales_order.sales_channel_id }}
          </div>
        </div>

        <div class="flex-item flex-15">
          <div class="flex-container">
            <div class="flex-item margin-right-05">
              <img
                class="cover-image"
                width="50"
                height="50"
                [src]="item.image_url"
                alt=""
              />
            </div>
            <div class="flex-item flex-1">
              {{ item.name }}
              <span *ngIf="item.is_flashdeal" class="span-label"
                >Flashdeal</span
              >
              <div class="small-text color-grey">
                Order Qty : {{ item.order_qty }}
              </div>
            </div>
          </div>
        </div>

        <div class="flex-item flex-1">
          {{ item.cogs | currency : "IDR" }}
        </div>

        <div class="flex-item flex-1">
          {{ item.bonus | currency : "IDR" }}
        </div>

        <div class="flex-item flex-1">
          {{ item.affiliate_fee | currency : "IDR" }}
        </div>

        <div class="flex-item flex-1">
          {{ item.discount_amount | currency : "IDR" }}
          <div>{{ item.discount_name }}</div>
        </div>

        <div class="flex-item flex-1">
          <div class="margin-bottom-05">
            <app-form-input
              isHideLabel="true"
              label="Trx Fee"
              [value]="item.payment_fee"
              [id]="'payment_fee'"
              [type]="'currency'"
              (onClose)="updateTrxFee(item, $event)"
              isHideAction="true"
            >
            </app-form-input>
          </div>

          <div class="tiny-text">
            <div>{{ item.sales_order.payment_method_label }}</div>
            <div class="tiny-text color-grey uppercase">
              {{ item.sales_order.payment_bank }}
              <span *ngIf="item.sales_order.payment_installment"
                >- {{ item.sales_order.payment_installment }} X</span
              >
            </div>
          </div>
        </div>
        <div class="flex-item flex-1">
          {{ item.final_price | currency : "IDR" }}
        </div>

        <div class="flex-item flex-1 text-right">
          {{ item.profit | currency : "IDR" }}

          <app-form-input
            isHideLabel="true"
            label="Credit Note"
            [value]="item.credit_note"
            [id]="'credit_note'"
            [type]="'currency'"
            (onClose)="updateCreditNote(item, $event)"
            isHideAction="true"
          >
          </app-form-input>
          <!-- <div>{{getPotential(item) | currency : "IDR"}}</div> -->
        </div>
      </div>
    </div>

    <div
      *ngIf="page >= 1 && is_show_report == false"
      lazyload
      (onShown)="loadMore()"
    ></div>
  </div>
</div>

<app-order-management-view
  *ngIf="selected_order"
  [hide_action]="true"
  (onClose)="closeModal($event)"
  [selected_order]="this.selected_order"
>
</app-order-management-view>
