.overlays{
  background: #050607a8;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 999999;
}

.modal-container-right {
position: fixed;
animation: show-from-left 0.5s;
width: 32%;
top: 0;
right: 0;
bottom: 0;
overflow-y: auto;
background: rgb( 42, 46, 52 );
box-shadow: 0 2px 16px #0006;
z-index: 9999999999;
max-height: 100vh;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

scrollbar-width: thin;
&.isHalf{
  width: 83% !important;
}
.modal-header{
  padding: 1rem 1.5rem;
  
 
}
.modal-body{
  padding: 2rem;
  max-height: 99vh;
  min-height: 99vh;
  scrollbar-color: dark;
  scrollbar-width: none;
  overflow-y: auto;
 
}
.modal-footer{
  background: rgb( 42, 46, 52 );
  padding: 1rem 1.5rem;
border-top: 1px solid rgb( 60, 65, 74 )!important;
display: block;
position: sticky;
bottom: 0;

&:empty {
  display: none;
}

}

}

.modal-container-left {
  position: fixed;

  scrollbar-width: thin;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background: rgb( 42, 46, 52 );
  box-shadow: 0 2px 16px #0006;
  z-index: 9999999999;
  max-height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: show-from-right 0.5s;
  .modal-header{
    padding: 1rem 1.5rem;
  border-bottom: 1px solid rgb( 60, 65, 74 )!important;
   
  }
  .modal-body{
    padding: 1rem 1.5rem;
    max-height: 90vh;
    min-height: 90vh;
    
  scrollbar-color: dark;
  scrollbar-width: none;
    overflow-y: auto;
   
  }
  .modal-footer{
    background: rgb( 42, 46, 52 );
    padding: 1rem 1.5rem;
  border-top: 1px solid rgb( 60, 65, 74 )!important;
  display: block;
  position: sticky;
  bottom: 0;
  
  &:empty {
    display: none;
  }
  
  }
  
  }

  
.show-from-left {
  animation: show-from-left 0.5s;
}

.show-from-right {
  animation: show-from-right 0.5s;
}


@keyframes show-from-left {
  0% {
    right: -25%;
    z-index: 9999999999;
  }

  100% {
    right: 0
  }
}



@keyframes show-from-right {
  0% {
    left: -25%;
    z-index: 9999999999;
  }

  100% {
    left: 0
  }
}
