<div class="flex-container align-center form hover-show">
    <div class="flex-item flex-1 margin-right-05">
        <div class="cursor" (click)="toggleEdit()" *ngIf="!isEdit">
            <div *ngIf="input.value">
                <div *ngIf="!isHideLabel" class="large-text color-grey  ">{{ input.label }}</div>
                <div *ngIf="!isProgress">
                    <span class="hover-show">
                        <span class="active_link" *ngIf="type === 'currency'">{{ input.value | currency: 'IDR' }} <fa-icon class="hide color-grey tiny-text " [icon]="faPencilAlt"></fa-icon> </span>
                        <span class="active_link" *ngIf="type !== 'currency'">
                           
                            {{ input.value.length > 100 ? (input.value  | slice:0:100)+"..." : input.value}}
                            
                            <fa-icon  class="hide  color-grey tiny-text" [icon]="faPencilAlt"></fa-icon></span>
                       
                    </span>
                </div>
            </div>
            <div *ngIf="!input.value" class="large-text color-grey">
                <span class="active_link"><fa-icon [icon]="faPlusCircle"></fa-icon> {{ input.label }}</span>
            </div>
        </div>

        <div *ngIf="isEdit">
            <label *ngIf="!isHideLabel">{{ input.label }}</label>
            <input #search [placeholder]="placeholder || 'Add ' + input.label" (keydown.enter)="saveData()"
                [(ngModel)]="input.value" class="margin-bottom-0" [type]="getType()">
        </div>
    </div>
    
    <div class="flex-item">
        <span *ngIf="!isHideAction">
            <button [disabled]="disabled" *ngIf="!isEdit" (click)="toggleEdit()" class="button margin-bottom-0 tiny clear">
                {{ input.value ? 'Edit' : 'Add' }}
            </button>
        </span>
        <span (click)="saveData()" *ngIf="isEdit" class="span-label cursor ">
            <fa-icon  [icon]="faCheckCircle"></fa-icon>
        </span>
    </div>
</div>
