<div class="main-body  fade-in">
    <div>


        <div class="flex-container align-center">
            <div class="flex-item flex-1">
                <div class="label-text medium">
                    <div class="title">
                        Business Order<span routerLink="/business-order/old" class="tiny-text cursor">( View Old Order
                            )</span>
                    </div>

                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <button (click)="toggleAddOrder()" class="button small clear active">+ Create Order</button>

            </div>
        </div>


        <app-table-action [sortListItems]="sortListItems"></app-table-action>

        <div class="table-header">
            <div class="flex-container table-header-item">

                <div class="flex-item flex-1">

                    Order Number
                </div>



                <div class="flex-item flex-15">
                    Customer
                </div>







                <div class="flex-item flex-1">
                    Total Purchase
                </div>


                <div  class="flex-item flex-1">
                    Deal Stage
                </div>


             






            </div>
        </div>
        <div class="table-body">
            <div *ngFor="let item of sales_order" class="flex-container table-body-item">

                <div (click)="selectOrder(item)" class="flex-item cursor flex-1">
                    <span class="border-bottom"> {{item.id}}
                      
                        <span *ngIf="item.sales_device" class="span-label">
                           

                            {{item.status}}

                          

                        </span>
                    </span>
                    <div class="color-grey small-text">
                        {{item.order_date?(item.order_date | date :'medium'):(item.created_at | date :'medium')}}</div>

                </div>



                <div class="flex-item flex-15">
                    <div> {{item.sales_channel_id}}</div>
                    <div class="">
                        {{item.shipping_address_name | titlecase}}


                    </div>
                    <div class="color-grey hover-show relative">
                        <span (click)="selectOrder(item)" *ngIf="item.shipping_city" class="border-bottom cursor">
                            {{item.shipping_region}}, {{item.shipping_city}}</span>
                        <div class="tooltip callout border padding-center-1 medium-grey-bg hide rounded ">
                            {{item.shipping_address}}




                        </div>
                    </div>

                    <div class="color-grey">{{item.shipping_phone}}</div>



                </div>








                <div class="flex-item flex-1">
                    {{item.total | currency : "IDR"}}
                    <div class="hover-show cursor relative">
                        <span (click)="selectOrder(item)" class="color-grey border-bottom">
                            {{item.total_order_qty}} Items
                        </span>
                        <div class="tooltip callout border padding-center-1 medium-grey-bg hide rounded ">
                            <div *ngFor="let item of item.product">
                                <div>{{item.name}} - {{item.order_qty}}</div>

                            </div>
                        </div>
                    </div>


                </div>


             

                <div *ngIf="status == 'processing'" class="flex-item flex-1">
                    <span class="status-label" *ngIf="item.packing_status.total !== 0">
                        {{item.packing_status.packed}} of {{item.packing_status.total}}
                        <span *ngIf="item.packing_status.packed == item.packing_status.total"> Packed <fa-icon
                                [icon]="faCheckCircle"></fa-icon></span>

                    </span>

                    <div class="status-label" *ngIf="item.packing_status.total == 0">Not Found</div>
                </div>


                <div class="flex-item flex-1">
                  


                    <div >
                        <div >
                            <app-status-label 
                                (onSelect)="selectShipment(item,$event)"
                                [label]="item.deal_stage?item.deal_stage:'Stage'"
                                [option]="status_label">
                            </app-status-label>
                        </div>
                    </div>










                </div>





            </div>
        </div>




        <div *ngIf="page>=1" lazyload (onShown)="loadMore()"></div>



    </div>
</div>


<app-business-solution-view *ngIf="selected_order" (onClose)="closeModal($event)" [selected_order]="this.selected_order"></app-business-solution-view>



<app-order-management-add (onClose)="toggleAddOrder()" *ngIf="showAddOrder"></app-order-management-add>