<app-modal (onClose)="closeModal()" isBorder="true" [title]="'#'+order.increment_id" [isHalf]="true" *ngIf="order">
        <div topbar>
            <ul style="justify-content: flex-end;" class="menu menu-right">

                <button *ngIf="allowClose" (click)="receivePayment()" class="button">Receive
                    Purchase</button>
        



           

            

                <li class="flex-item">
                    <button *ngIf="inventory" (click)="openModal('receivePayment')" class="button  small">
                        Receive Payment
                    </button>

                  
                </li>




            </ul>
        </div>
        <div class="timeline-container medium-grey-bg" sidebar>
            <div class="callout large-text padding-center">
                <div>
                    <h4 class="margin-bottom-1">Payment Summary</h4>
                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                           Journal Status
                        </div>
                        <div class="flex-item flex-1 text-right">
                            <span *ngIf="order.journal_entry" class="status-label processing">
                                Payment Receive
                             </span>
                             <span *ngIf="!order.journal_entry" class="status-label shipment">
                                Open Invoice
                              </span>
                        </div>
                    </div>


                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                           Profit
                        </div>
                        <div class="flex-item flex-1 text-right">
                           <span class="status-label">
                            {{this.getTotalProfit()    | currency:'IDR':'Rp'}}
                           </span>
                        </div>
                    </div>

                 

                     

                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                            Sales Revenue
                        </div>
                        <div class="flex-item flex-1 text-right">
                            {{order.subtotal | currency:'IDR':'Rp'}}
                        </div>
                    </div>

                  


                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                             Revenue - Shipping 
                        </div>
                        <div class="flex-item flex-1 text-right">
                            {{order.shipping_cost | currency:'IDR':'Rp'}}
                        </div>
                    </div>

                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                             Revenue - Split Payment
                        </div>
                        <div class="flex-item flex-1 text-right">
                            {{order.split_payment | currency:'IDR':'Rp'}}
                        </div>
                    </div>

                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                             Revenue - T. Fee
                        </div>
                        <div class="flex-item flex-1 text-right">
                            {{order.transaction_fee_income | currency:'IDR':'Rp'}}
                        </div>
                    </div>


                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                             Expenses - Discount
                        </div>
                        <div class="flex-item flex-1 text-right">
                            {{order.discount | currency:'IDR':'Rp'}}
                        </div>
                    </div>


                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                             Expenses - T. Fee
                        </div>
                        <div class="flex-item flex-1 text-right">
                            {{transaction_fee | currency:'IDR':'Rp'}}
                        </div>
                    </div>

                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                            COGS ( Item )
                        </div>
                        <div class="flex-item flex-1 text-right">
                            {{inventory | currency:'IDR':'Rp'}}
                        </div>
                    </div>

                    <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                        <div class="flex-item flex-1">
                           COGS( Bonus )
                        </div>
                        <div class="flex-item flex-1 text-right">
                            {{bonus_value | currency:'IDR':'Rp'}}
                        </div>
                    </div>


                </div>
             
        
            </div>

            <div class="callout padding-center large-text">
                
                <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                    <div class="flex-item flex-1">
                        Order Status
                    </div>
                    <div class="flex-item flex-1 text-right">
                        {{order.status_label}}
                    </div>
                </div>
                <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                    <div class="flex-item flex-1 ">
                        Create Date
                    </div>
                    <div class="flex-item flex-1 text-right">
                        {{order.order_date}}
                    </div>
                </div>
                <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                    <div class="flex-item flex-1">
                        Source
                    </div>
                    <div class="flex-item flex-1 text-right">
                        {{order.customer_group}}
                    </div>
                </div>
                <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                    <div class="flex-item flex-1">
                        Customer
                    </div>
                    <div class="flex-item flex-1 text-right">
                        {{order.shipping_address.firstname}} - {{order.shipping_address.lastname}}
                    </div>
                </div>
                <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                    <div class="flex-item flex-1">
                        Payment Method
                    </div>
                    <div class="flex-item flex-1 text-right">
                        <div *ngIf="order.midtrans">
                            <div>{{order.payment_method}} - {{order.midtrans.payment_type}} </div>
    
                            <div *ngIf="order.midtrans.va_numbers">
                                <div *ngFor="let item of order.midtrans.va_numbers">
                                    {{item.bank}} - {{item.va_number}}
                                </div>
                            </div>
    
                            <div *ngIf="order.midtrans.payment_type == 'credit_card'">
                                <div>{{order.midtrans.bank}} - <span
                                        *ngIf="order.midtrans.installment_term">Installment
                                        {{order.midtrans.installment_term}} x</span> </div>
                            </div>
                        </div>
    
                        <div *ngIf="order.midtrans">
                            <button class="button tiny secondary" (click)="openModal('midtransModal')">View
                                Raw Data</button>
    
                        </div>
    
                    </div>
                </div>
                <!-- <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                    <div class="flex-item flex-1">
                        Shipping Method
                    </div>
                    <div class="flex-item flex-1 text-right">
                        {{order.shipping_method}}
                    </div>
                </div>
                <div class="flex-container border-bottom padding-bottom-05 margin-bottom-05">
                    <div class="flex-item flex-1">
                        Invoice Number
                    </div>
                    <div class="flex-item flex-1 text-right">
                        {{order.invoice_number}}
                    </div>
                </div>
     -->
    
            </div>
    
    
    
        </div>

        <div class=" margin-bottom-1">
            <h4>Product</h4>
         
            <div *ngFor="let item of order.products" class="callout padding-center-1 medium-grey-bg rounded margin-bottom-05">

                <div class="flex-container large-text">
                    <div class="flex-item flex-15 margin-right-05">
                        {{item.name}}
                        <!-- <app-form-input [isHideAction]="true" (onClose)="updateTransactionFee(item,$event)" [label]="'bonus_item'"  [id]="'bonus_item'" [value]="item.bonus_item"></app-form-input> -->
    
                    </div>
                    <div class="flex-item flex-05 margin-right-05">
                        {{item.qty  | number}}
                    </div>
    
    
    
                    <!-- <div class="flex-item flex-1 margin-right-05">
                        <div *ngFor="let item of item.purchase_order_item">
                            <div>{{item.order_price | currency:'IDR':'Rp'}}</div>
                            <div>Inventory #{{item.inventory_item_id}}</div>
                        </div>
    
    
                    </div> -->
    
    
    
                   
    
                    <div class="flex-item flex-1 margin-right-05">
                        <div class="small-text color-grey">
                            Discount
                        </div>
                        <div> {{item.total_discount_amount | currency:'IDR':'Rp'}}</div>
                        <div class="large-text color-grey"> {{item.promo_code}}</div>
                    </div>
    
    
    
                   
    
                    <!-- <div class="form flex-item flex-1 margin-right-05">
                       
                        <app-form-input [isHideAction]="true" [type]="'currency'" [label]="'Bonus Value'" (onClose)="updateTransactionFee(item,$event)" [id]="'bonus_value'" [value]="item.bonus_value"></app-form-input>

                    </div> -->

                    <div class="flex-item flex-1 margin-right-05">
                        <div class="small-text color-grey">
                            Sell Price
                        </div>
                        {{item.sell_price | currency:'IDR':'Rp'}}
                    </div>

                    <div class="form flex-item flex-1 margin-right-05">
                       
                        <app-form-input [isHideAction]="true" [label]="'Trx. Fee'" [type]="'currency'" (onClose)="updateTransactionFee(item,$event)" [id]="'transaction_fee'" [value]="item.transaction_fee"></app-form-input>
    
                    </div>
    
                 
                </div>



            </div>

        </div>

        <div class="flex-container">
            <div class="flex flex-1">
                <h4>Inventory</h4>
            </div>
           
        </div>
        <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
            <div class="table-header">
                <div class="table-header-item flex-container">
                 
                    <div class="flex-item flex-15">
                       Name
                    </div>
                    <div class="flex-item flex-1">
                        Type
                    </div>
                    <div class="flex-item flex-1">
                        COGS
                    </div>
                    <div class="flex-item flex-05">
                        Age
                    </div>

                    
                </div>
            </div>
            <div class="table-body">
                <div *ngFor="let item of inventory_items" class="table-body-item border flex-container">
                   
                    <div class="flex-item flex-15">
                     <div> {{item.name}}</div>
                        <span *ngIf="item.serial_number" class="status-label"> {{item.serial_number}}</span>
                    </div>
                    <div class="flex-item flex-1">
                        {{item.type}}
                     
                    </div>


                    <div class="flex-item flex-1">
                        {{item.cogs | currency : "Rp"}}
                       <div class="small-text color-grey">Purchase # {{item.purchase_number}}</div>
                        
                    </div>

                   
                    <div class="flex-item flex-05">
                       <span class="status-label"> {{item.age}} D</span>
                    </div>

                   

                    <!-- <div class="flex-item flex-1 text-right">
                        <button class="button tiny clear margin-bottom-0">
                            Change
                        </button>
                    </div> -->
                </div>
            </div>



        </div>

       

</app-modal>
<app-modal [title]="'Receive Purchase'" (onClose)="showModal=null" *ngIf="showModal == 'receivePayment'">
    <div class="form" [formGroup]="receivePaymentForm">
        <label for="">Receive Amount</label>
        <input disabled formControlName="receive_amount" type="text">



        <label for="">Deposit Account</label>
        <select formControlName="deposit_account_id">
            <option *ngFor="let item of accounts" [value]="item.id">{{item.account_name}} -
                {{item.account_balance  | currency:'IDR':'Rp' }}</option>
        </select>


        <button [disabled]="!receivePaymentForm.valid" (click)="receivePayment()" class="button">Receive
            Purchase</button>

    </div>
</app-modal>



<app-modal isHalf="true" title="Journal Entry - Sales Order" (onClose)="showModal = null"
    *ngIf="showModal == 'journalTransactions'">
    <div *ngIf="journal_transactions" class="">


        <div class="large-text bold border-bottom padding-bottom-05 margin-bottom-05 flex-container">
            <div class="flex-item flex-1">
                Account Number
            </div>
            <div class="flex-item flex-1">
                Account Name
            </div>

            <div class="flex-item flex-1">
                Debit
            </div>
            <div class="flex-item flex-1">
                Credit
            </div>
            <div class="flex-item flex-1">
                Description
            </div>
        </div>
        <div *ngFor="let item of journal_transactions"
            class="large-text border-bottom padding-bottom-05 margin-bottom-05 flex-container">
            <div class="flex-item flex-1">
                {{item.account_details.id}}
                {{item.account_details.account_number}}
            </div>
            <div class="flex-item flex-1">
                {{item.account_details.account_name}}


            </div>

            <div class="flex-item flex-1">
                {{item.debit  | currency:'IDR':'Rp'}}
            </div>
            <div class="flex-item flex-1">
                {{item.credit  | currency:'IDR':'Rp'}}
            </div>
            <div class="flex-item flex-1">
                {{item.journal_details.account_description}}
            </div>
        </div>

        <div class="large-text bold border-bottom padding-bottom-05 margin-bottom-05 flex-container">
            <div class="flex-item flex-1">
                Total
            </div>
            <div class="flex-item flex-1">

            </div>

            <div class="flex-item flex-1">
                {{journal_transactions_debit | currency:'IDR':'Rp'}}
            </div>
            <div class="flex-item flex-1">
                {{journal_transactions_credit | currency:'IDR':'Rp'}}
            </div>
            <div class="flex-item flex-1">

            </div>
        </div>
    </div>
</app-modal>



<div *ngIf="showModal == 'midtransModal'" class="modal-container">
    <div class="row">
        <div class="medium-5 columns medium-centered">
            <a (click)="openModal(null)" class="white close">Close</a>
            <div *ngIf="order.midtrans" class="callout border medium-grey-bg padding-center rounded">
                <pre>{{order.midtrans|json}}</pre>


            </div>
        </div>
    </div>
</div>