<app-modal (onClose)="closeModal()" [title]="selected_product.name" isBorder="true" isHalf="true">

    <div topbar>
        <div class="flex-container ">
            <div class="flex-item flex-1">
                <ul class="menu">




                    <!-- <li class="flex-item margin-right-05 margin-bottom-0">
                        <button class="button   clear small active  ">
                            Delete
                        </button>
                    </li>
                   
                    <li class="flex-item margin-right-05 margin-bottom-0">
                        <button class="button   clear small active  ">
                            Last Update
                        </button>
                    </li> -->
                    <li class="flex-item margin-right-05 margin-bottom-0">
                        <app-remove-button (onClick)="duplicateProduct()">
                            <button class="button   clear small active  ">
                                Duplicate
                            </button>
                        </app-remove-button>

                    </li>



                </ul>
            </div>
            <!-- <div class="flex-item">
                <ul style="justify-content: flex-end;" class="menu menu-right">

                    <li class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="generatePdfs(this.selected_order)" class="button   clear small active  ">
                            Print <fa-icon [icon]="faPrint"></fa-icon>
                        </button>
                    </li>

                    <li *ngIf="isAllowEdit()" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus('processing')" class="button   small   ">
                            Save Order
                        </button>
                    </li>


                </ul>
            </div> -->
        </div>

    </div>



    <div class="timeline-container medium-grey-bg" sidebar>

        <div class="callout padding-center border-bottom">

            <div class="flex-container align-center margin-bottom-05">
                <div class="flex-item flex-1">
                    <h4>Gallery</h4>
                </div>
                <div class="flex-item">
                    <input class="hide" type="file" (change)="onChange($event,selected_product)" #fileUpload />


                    <button (click)="fileUpload.click()" class="button tiny clear">
                        + Gallery
                    </button>
                </div>
            </div>

            <div class="flex-container">


                <div *ngFor="let item of selected_product.gallery"
                    class="flex-item hover-show cursor hide_action margin-right-05">

                    <div> <img width="80" height="80" style="width: 80px; height: 80px;" class="product-cover"
                            [src]="item.url_path" alt=""></div>
                    <div class="hide">
                        <button (click)="setCoverImage(item)" class="button tiny clear">Set Cover</button>
                        <button (click)="deleteProductGallery(item)" class="button tiny clear">
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </button>
                    </div>


                </div>


            </div>
        </div>
        <div class="callout padding-center">

            <div class="list-tile-container">


                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Status
                    </div>
                    <div class="flex-1 ">
                        <label class="switch">
                            <input type="checkbox" [checked]="selected_product.status"
                                (change)="updateStatus(selected_product,'status',$event.target.checked)">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Presale
                    </div>
                    <div class="flex-1 ">
                        <label class="switch">
                            <input type="checkbox" [checked]="selected_product.is_presale"
                                (change)="updateStatus(this.selected_product,'is_presale',$event.target.checked)">
                            <span class="slider round"></span>
                        </label>

                    </div>

                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Presale End Date
                    </div>
                    <div class="flex-1 ">
                        <app-form-input [type]="'date'" isHideAction="true"
                            (onClose)="updateProduct(this.selected_product,$event)" [id]="'presale_end_date'"
                            [value]="selected_product.presale_end_date"></app-form-input>


                    </div>
                </div>



                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Class
                    </div>
                    <div class="flex-1 ">
                        <span class="status-label">
                            -
                        </span>

                    </div>
                </div>
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Brand
                    </div>
                    <div class="flex-1 ">
                        <span class="status-label">
                            {{selected_product.brand?.name}}
                        </span>

                    </div>
                </div>


                <!-- <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Activity
                    </div>
                    <div class="flex-1 ">
                    
                        <app-form-multiple-select [label]="'Category'" (onSelect)="selectActivity($event)"
                        [option]="category_option">
                    </app-form-multiple-select>


                    </div>
                </div> -->

                <!-- <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Bundling
                    </div>
                    <div class="flex-1 ">
                        10 
                    </div>
                </div>

                 -->
                <!-- 
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Voucher Promo
                    </div>
                    <div class="flex-1 ">
                        5 Promo
                    </div>
                </div> -->

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Variant
                    </div>
                    <div class="flex-1 ">
                        {{selected_product.total_variant}}
                    </div>
                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Inventory
                    </div>
                    <div class="flex-1 ">
                        5
                    </div>
                </div>




            </div>




        </div>


    </div>

    <div *ngIf="show_detail">
        <div *ngIf="selected_product" class="fade-in">

            <div *ngIf="!this.selected_product.parrent_id"
                class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                <h4>Product Details</h4>
                <div class="list-tile-container">
                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateProduct(selected_product, $event)" isHideAction="true"
                            [id]="'name'" [value]="selected_product.name" [label]="'Name'"></app-form-input>
                    </div>

                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateProduct(selected_product, $event)" isHideAction="true"
                            [id]="'url_key'" [value]="selected_product.url_key" [label]="'url_key'"></app-form-input>
                    </div>

                </div>



                <div class="list-tile-container">
                    <div class="list-tile-item">
                        <div class="flex-container">

                            <div class="flex-item flex-1 margin-right-1">
                                <app-form-input [type]="'currency'" isHideAction="true"
                                    (onClose)="updateProduct(selected_product,$event)" [id]="'price'"
                                    [value]="selected_product.price" [label]="'Price'"></app-form-input>

                            </div>
                            <div class="flex-item flex-1">
                                <app-form-input [type]="'currency'" isHideAction="true"
                                    (onClose)="updateProduct(selected_product,$event)" [id]="'special_price'"
                                    [value]="selected_product.special_price" [label]="'Special Price'"></app-form-input>

                            </div>
                        </div>
                    </div>
                    <div class="list-tile-item">
                        <div class="flex-container">

                            <div class="flex-item flex-1 margin-right-1">
                                <app-form-input [type]="'date'" isHideAction="true"
                                    (onClose)="updateProduct(selected_product,$event)" [id]="'special_price_start_date'"
                                    [value]="selected_product.special_price_start_date" [label]="'Special Price Start'">
                                </app-form-input>

                            </div>
                            <div class="flex-item flex-1">
                                <app-form-input [type]="'date'" isHideAction="true"
                                    (onClose)="updateProduct(selected_product,$event)" [id]="'special_price_end_date'"
                                    [value]="selected_product.special_price_end_date" [label]="'Special Price End'">
                                </app-form-input>

                            </div>
                        </div>
                    </div>

                    <div class="list-tile-item">
                        <div class="flex-container">

                            <div class="flex-item flex-1 margin-right-1">
                                <app-form-input [type]="'number'" isHideAction="true"
                                    (onClose)="updateProduct(selected_product,$event)" [id]="'weight'"
                                    [value]="selected_product.weight" [label]="'Weight ( kg )'"></app-form-input>

                            </div>
                            <div class="flex-item flex-1">
                                <app-form-input [type]="'number'" isHideAction="true"
                                    (onClose)="updateProduct(selected_product,$event)" [id]="'weight'"
                                    [value]="selected_product.affiliate_percentage" [label]="'Affiliate(%)'">
                                </app-form-input>

                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                <div class="flex-container align-center margin-bottom-05">
                    <div class="flex-item flex-1">
                        <h4>Description</h4>
                    </div>
                    <div class="flex-item">
                        <button *ngIf="!description" (click)="addDescription()" class="button tiny clear">
                            + Add
                        </button>

                        <ng-container *ngIf="description">
                            <button *ngIf="!show_editor" (click)="show_editor = true" class="button tiny clear">
                                Edit
                            </button>
                            <button *ngIf="show_editor" (click)="saveDesc()" class="button tiny">
                                Save
                            </button>
                        </ng-container>
                    </div>
                </div>

                <div *ngIf="description">
                    <div *ngIf="!show_editor" class="description-container">
                        <div [innerHTML]="description.description"></div>
                    </div>

                    <div *ngIf="show_editor" class="editor-container">
                        <angular-editor [config]="config" [(ngModel)]="description.description"
                            placeholder="Enter text here...">
                            <ng-template #customButtons let-executeCommandFn="executeCommandFn">
                                <button aeButton title="Angular editor logo"
                                    (click)="executeCommandFn('insertHtml', angularEditorLogo)">
                                    123
                                </button>
                            </ng-template>
                        </angular-editor>
                    </div>
                </div>
            </div>


            <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                <div class="flex-container align-center margin-bottom-05">
                    <div class="flex-item flex-1">
                        <h4>In The Box</h4>
                    </div>
                    <div class="flex-item">



                        <button (click)="addInTheBox()" class="button tiny clear">
                            + Add
                        </button>
                    </div>
                </div>
                <div class="margin-bottom-05">
                    <div *ngFor="let item of in_the_box?.description" class="list-tile-container">
                        <div class="list-tile-item">
                            <div class="flex-container">
                                <div class="flex-item flex-1 margin-right-1">
                                    <app-form-input [label]="'Description'" (onClose)="updateInTheBox(item, $event)"
                                        [value]="item" isHideLabel="true" isHideAction="true"></app-form-input>

                                </div>
                                <div class="cursor flex-item">
                                    <fa-icon (click)="deleteInTheBox(item)" [icon]="faTrashAlt"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>


            <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                <div class="flex-container align-center margin-bottom-05">
                    <div class="flex-item flex-1">
                        <h4>Tech Spec ( All Product )</h4>
                    </div>
                    <div class="flex-item">



                        <button (click)="addTechSpec()" class="button tiny clear">
                            + Add
                        </button>
                    </div>
                </div>
                <div class="margin-bottom-05">
                    <div *ngFor="let item of tech_spec?.description" class="list-tile-container">
                        <div class="list-tile-item">
                            <div class="flex-container">
                                <div class="flex-item flex-1 margin-right-05">
                                    <app-form-input (onClose)="updateTechSpec(item, $event)" [label]="'Title'"
                                        [id]="'key'" [value]="item.key" isHideLabel="true" isHideAction="true">
                                    </app-form-input>

                                </div>
                                <div class="cursor flex-item flex-2 margin-right-1">

                                    <app-form-input (onClose)="updateTechSpec(item, $event)" [id]="'value'"
                                        [value]="item.value" isHideLabel="true" [label]="'Description'"
                                        isHideAction="true">
                                    </app-form-input>


                                </div>

                                <div class="cursor flex-item">



                                    <fa-icon (click)="deleteTechSpec(item)" [icon]="faTrashAlt"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

            <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                <div class="flex-container align-center margin-bottom-05">
                    <div class="flex-item flex-1">
                        <h4>Size Chart</h4>
                    </div>
                    <div class="flex-item">
                        <button (click)="addSizeChart()" class="button tiny clear">
                            + Add
                        </button>
                    </div>
                </div>
                <div class="margin-bottom-05">
                    <div *ngFor="let item of size_chart?.description" class="list-tile-container">
                        <div class="list-tile-item">
                            <div class="flex-container">
                                <div class="flex-item flex-1 margin-right-05">
                                    <app-form-input (onClose)="updateSize(item, $event)" [label]="'Title'" [id]="'key'"
                                        [value]="item.key" isHideLabel="true" isHideAction="true">
                                    </app-form-input>

                                </div>
                                <div class="cursor flex-item flex-2 margin-right-1">

                                    <app-form-input (onClose)="updateSize(item, $event)" [id]="'value'"
                                        [value]="item.value" isHideLabel="true" [label]="'Description'"
                                        isHideAction="true">
                                    </app-form-input>


                                </div>

                                <div class="cursor flex-item">



                                    <fa-icon (click)="deleteSize(item)" [icon]="faTrashAlt"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>



            <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                <div class="flex-container align-center margin-bottom-05">
                    <div class="flex-item flex-1">
                        <h4>Video</h4>
                    </div>
                    <div class="flex-item">



                        <button (click)="addVideo()" class="button tiny clear">
                            + Add
                        </button>
                    </div>
                </div>
                <div class="margin-bottom-05">
                    <div *ngFor="let item of this.video?.description" class="list-tile-container">
                        <div class="list-tile-item">
                            <div class="flex-container">
                                <div class="flex-item flex-05 margin-right-05">
                                    <app-form-input (onClose)="updateVideo(item, $event)" [label]="'Title'" [id]="'key'"
                                        [value]="item.key" isHideLabel="true" isHideAction="true"></app-form-input>

                                </div>
                                <div class="cursor flex-item flex-1 margin-right-1">

                                    <app-form-input (onClose)="updateVideo(item, $event)" [label]="'Link'"
                                        [id]="'value'" [value]="item.value" isHideLabel="true" isHideAction="true">
                                    </app-form-input>


                                </div>

                                <div class="cursor flex-item">



                                    <fa-icon (click)="deleteVideo(item)" [icon]="faTrashAlt"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>













            <div *ngIf="!this.selected_product.parrent_id"
                class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                <div class="flex-container align-center margin-bottom-05">
                    <div class="flex-item flex-1">
                        <h4>Variant</h4>
                    </div>
                    <div class="flex-item">
                        <button (click)="addVariant()" class="button tiny clear">
                            + Variant
                        </button>
                    </div>
                </div>
                <div *ngFor="let item of selected_product.variant"
                    class="callout padding-center-1 rounded border flex-container align-center margin-bottom-05">
                    <div class="flex-item flex-1 margin-right-05">
                        <input class="hide" type="file" (change)="onChangeVariant($event,item)" #fileUpload />

                        <div> <img (click)="fileUpload.click()" width="60" height="60"
                                style="width: 60px; height: 60px;" class="product-cover" [src]="item.feature_image"
                                alt=""></div>
                        <button (click)="deleteCoverImage(item)" class="button tiny clear">Reset Cover</button>
                        <button (click)="item.showCoverPick = true" class="button tiny clear">Pick Cover</button>


                        <div *ngIf="item.showCoverPick">
                            <div *ngFor="let cover of selected_product.gallery"
                            class="flex-item hover-show cursor hide_action">

                            <div> <img (click)="setVariantCoverImage(item,cover)" width="80" height="80" style="width: 80px; height: 80px;" class="product-cover"
                                    [src]="cover.url_path" alt=""></div>
                           

                        </div>
                        </div>
                       
                    </div>



                    <div class="flex-item flex-1">
                        <div class="small-text color-grey">Stock</div>
                        <div>{{item.qty}}</div>



                    </div>

                    <div class="flex-item flex-1 margin-right-05">

                        <app-form-input isHideAction="true" (onClose)="updateProduct(item,$event)" [id]="'weight'"
                            [value]="item.weight" [label]="'Weight'"></app-form-input>

                    </div>
                    <div class="flex-item flex-1">
                        <app-form-input isHideAction="true" (onClose)="updateProduct(item,$event)" [id]="'price'"
                            [value]="item.price" [label]="' Price'"></app-form-input>

                    </div>
                    <div class="flex-item flex-1">
                        <app-form-input isHideAction="true" (onClose)="updateProduct(item,$event)"
                            [id]="'special_price'" [value]="item.special_price" [label]="'Special Price'">
                        </app-form-input>

                    </div>

                    <div class="flex-item flex-1 margin-right-05">
                        <app-form-input isHideAction="true" (onClose)="updateProduct(item,$event)" [id]="'variant_name'"
                            [value]="item.variant_name" [label]="'Varian'"></app-form-input>
                    </div>

                    <div class="flex-item margin-right-1  text-right">

                        <label class="switch">
                            <input type="checkbox" [checked]="item.status"
                                (change)="updateStatus(item,'status',$event.target.checked)">
                            <span class="slider round"></span>
                        </label>

                    </div>

                    <div class="flex-item text-right">

                        <button (click)="deleteProductID(item)" class="button tiny clear">
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </button>

                    </div>

                    <div class="flex-item text-right margin-left-05">

                        <button (click)="this.selected_child_product = item" class="button tiny clear">
                            Details
                        </button>

                    </div>


                </div>
            </div>

            <!-- <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                <h4>Bonus</h4>
                <div class="callout padding-center-1 rounded border margin-bottom-05">
                    produk
                </div>
                <div class="callout padding-center-1 rounded border">
                    produk
                </div>
            </div>

            <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                <h4>Bundling</h4>
                <div class="callout padding-center-1 rounded border margin-bottom-05">
                    bundling
                </div>
                <div class="callout padding-center-1 rounded border">
                    bundling
                </div>
            </div> -->














        </div>
    </div>



</app-modal>

<app-product-view title="Edit Variant" (onClose)="this.selected_child_product == null"
    *ngIf="this.selected_child_product" [selected_product]="this.selected_child_product">
</app-product-view>