<div class="progress-container ">
    <div class="progress-goal"></div>
    <div [style.left]="value+'%'" class="progress-value color-grey">
        <span *ngIf="!isHideLabel">{{value}}</span>
        {{label}}</div>
    <div [style.width]="value+'%'" class="progress-content animate"></div>
</div>