<div class="main-content page-enter-from-right">
    <div *ngIf="purchase" class="row collapse">



        <div class="medium-9 columns">

            <div class="content-wrapper">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">

                        <div class="label-text medium">
                            <span (click)="navBack()" class="cursor">
                                <fa-icon [icon]="faChevronLeft"></fa-icon> Back
                            </span>
                            <div class="title">
                                Purchase Order

                                <!-- <button (click)="addPurchaseReceive()">rec</button>
                                <button (click)="addPurchasePayment()">pay</button> -->
                              
                            </div>

                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="medium-12 columns">
                        <div style="min-height: 40vh;"
                            class="callout padding-center  rounded medium-grey-bg margin-bottom-1">
                            <h4>Purchase Product</h4>
                            <div tabindex="-1" class="form search-container">


                                <app-form-search *ngIf="isAllowEdit()" [placeholder]="'Select Product'"
                                    [searchKey]="this.keyword" (onSearch)="searchChanges($event)">
                                </app-form-search>

                                <div *ngIf="products?.length>0"
                                    class="search-content callout padding-center-1 rounded border medium-grey-bg">
                                    <div class="list-tile-container">




                                        <div *ngFor="let item of products"
                                            class="list-tile-item cursor cursor flex-container">


                                            <div class="flex-item flex-1">
                                                {{item.name}}
                                            </div>
                                            <!-- <div class="flex-item flex-05 text-right margin-right-2">
                                            Stock {{item.qty}}
                                        </div> -->
                                            <div class="flex-item text-right">


                                                <div *ngIf="item.total_variant == 0">
                                                   
                                                    <button (click)="addPurchaseItem(item)" class="button tiny clear">
                                                        Add  <span class="color-grey"> Stock Level</span>

                                                        {{item.qty}}
                                                    </button>
                                                </div>

                                                <div *ngIf="item.total_variant>0">
                                                  

                                                    <button (click)="getProductVariant(item)" class="button tiny clear">
                                                        Select <span class="color-grey"> Varian</span>

                                                        {{item.total_variant}}
                                                    </button>
                                                </div>





                                            </div>

                                        </div>

                                    </div>

                    <!-- <div *ngIf="this.page>=1" lazyload (onShown)="loadMoreSearch()"></div> -->



                                </div>




                            </div>


                            <div class="table-header">

                                <div class="flex-container table-header-item">

                                    <div class="flex-item flex-15 ">
                                        Name
                                    </div>

                                    <div class="flex-item flex-1">
                                        Product Perfomance
                                    </div>


                                    <!-- <div class="flex-item flex-1">
                                        Suggest Qty
                                    </div> -->

                                    <div class="flex-item flex-1">
                                        Order Price
                                    </div>
                                    <div class="flex-item flex-1">
                                        Order Qty
                                    </div>
                                    <div class="flex-item" style="width: 50px;">

                                    </div>







                                </div>

                            </div>

                            <div class="table-body">

                                <div *ngFor="let item of purchase_item" class="flex-container table-body-item border">

                                    <div class="flex-item flex-15 ">

                                        <app-form-input [disabled]="!isAllowEdit()"
                                            (onClose)="updatePurchaseItem(item,$event)" isHideAction="true"
                                            [id]="'name'" [value]="item.name"></app-form-input>

                                    </div>




                                    <div class="flex-item flex-1">
                                        <button (click)="this.selected_product_id = item.product_id"
                                            class="button clear tiny">
                                            Check Perfomance
                                        </button>
                                    </div>

                                    <div class="flex-item flex-1">
                                        <!-- {{item.cogs}} -->
                                        <app-form-input [disabled]="!isAllowEdit()"
                                            (onClose)="updatePurchaseItem(item,$event)" [type]="'currency'"
                                            isHideAction="true" [id]="'cogs'" [value]="item.cogs"></app-form-input>
                                    </div>

                                    <div class="flex-item flex-1">
                                        <!-- {{item.qty}} -->
                                        <app-form-input [type]="'number'" (onClose)="updatePurchaseItem(item,$event)"
                                            isHideAction="true" [id]="'qty'" [value]="item.qty"></app-form-input>
                                    </div>

                                    <div class="flex-item text-right" style="width: 50px;">
                                        <button *ngIf="isAllowEdit()" class="clear button tiny"
                                            (click)="deletePurchaseItem(item)">
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                        </button>
                                        <div *ngIf="purchase.status=='WAIT_FOR_DELIVERY'">
                                            <button *ngIf="!item.is_receive" (click)="receiveItem(item)"
                                                class=" button tiny">Receive</button>

                                            <fa-icon *ngIf="item.is_receive" [icon]="faCheckCircle"></fa-icon>
                                        </div>

                                    </div>







                                </div>

                            </div>




                        </div>


                    </div>

                    <div *ngIf="purchase?.inventory" class="medium-12 columns">
                        <div class="callout padding-center medium-grey-bg rounded">
                            <h4>Inventory</h4>
                            <div class="table-header">
                                <div class="flex-container table-header-item">


                                    <div class="flex-item flex-15 ">
                                        Name
                                    </div>



                                    <div class="flex-item flex-1 ">
                                        Warehouse
                                    </div>





                                    <div class="flex-item flex-1 text-right">
                                        Status
                                    </div>


                                    <div class="flex-item flex-1 text-right">
                                        Sold Date
                                    </div>


                                </div>
                            </div>
                            <div class="table-body">
                                <div *ngFor="let item of purchase.inventory"
                                    class="flex-container  table-body-item border">

                                    <!-- <div class="flex-item flex-1 ">
                                       {{item.purchase_number}}
                                    </div>
        
                                    <div class="flex-item flex-1 ">
                                        {{item.product_id}}
                                    </div> -->
                                    <div class="flex-item flex-15 ">
                                        {{item.name}}
                                    </div>



                                    <div class="flex-item flex-1 ">
                                        {{item.warehouse?.name}}
                                    </div>





                                    <div class="flex-item flex-1 text-right">
                                        <span class="status-label">
                                            {{item.status=='ready_to_ship'?'Sold':item.status}}

                                            <span *ngIf="item.status=='ready_to_ship'">
                                                #{{item.order_number}}
                                            </span> </span>



                                    </div>

                                    <div class="flex-item flex-1 text-right">
                                        {{item.sold_date | date}}

                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>

                </div>

            </div>



        </div>

        <div class="medium-3 columns" style=" position: sticky;top: 0;">
            <div class="callout form padding-center fullheight medium-grey-bg">


                <div class="list-tile-container margin-bottom-1">
                    <div class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Status
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            <span class="status-label">
                                {{purchase.status}}
                            </span>
                        </div>
                    </div>
                    <div class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Payment Status
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            <span class="status-label">
                                {{purchase.payment_status?'Paid':'Unpaid'}}
                            </span>
                        </div>
                    </div>
                    <div class="flex-container list-tile-item">
                        <div class="flex-item flex-1 margin-right-1 color-grey">
                            Purchase Number
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            <span class="margin-right-1">#{{purchase.id}}</span>
                            <button *ngIf="purchase.status == 'APPROVE' || purchase.status == 'WAIT_FOR_DELIVERY'"
                                (click)="generatePdfs(purchase)" class="button clear active tiny">
                                Download
                            </button>
                        </div>
                    </div>





                    <div class="flex-container list-tile-item">
                        <div class="flex-item flex-1 margin-right-1 color-grey">
                            Vendor
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            {{purchase.vendor.name}}
                        </div>
                    </div>
                    <div class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Request By
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            {{purchase.create_by}}, {{purchase.created_at | date}}
                        </div>
                    </div>

                    <div *ngIf="purchase.approve_by" class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Approve By
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            {{purchase.approve_by}} , {{purchase.created_at | date}}
                        </div>
                    </div>

                    <div class="flex-container list-tile-item">
                        <div class="flex-item flex-1 margin-right-1 color-grey">
                            Delivery Number
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            <app-form-input (onClose)="updateDO($event)" isHideAction="true" [id]="'delivery_number'"
                                [value]="purchase.delivery_number"></app-form-input>

                            <div *ngIf="purchase.receive_date"> Receive on {{purchase.receive_date | date}}</div>

                        </div>
                    </div>




                    <div class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Payment Type
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            {{purchase.is_cbd?'Cash Before Delivery':'Cash on Delivery'}}
                        </div>
                    </div>
                    <div *ngIf=" purchase.status == 'WAIT_FOR_PAYMENT'" class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Payment Date
                        </div>
                        <!-- <div class="flex-item flex-15 margin-right-1">
                            <app-form-input (onClose)="updateTop($event)" isHideAction="true" [id]="'term_of_payment'"
                            [value]="purchase.term_of_payment"></app-form-input>
                        </div> -->
                        <div class="flex-item flex-1 margin-right-1">
                            <app-form-input [type]="'date'" (onClose)="updateTop($event)" isHideAction="true"
                                [id]="'payment_date'" [value]="purchase.payment_date"></app-form-input>


                        </div>
                        <div class="flex-item  margin-right-1">


                            <span class="status-label">
                                {{purchase.term_of_payment}} D
                            </span>
                        </div>

                    </div>



                    <div *ngIf="purchase.status == 'WAIT_FOR_APPROVAL' || purchase.status == 'DRAFT'"
                        class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Credit Limit
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            {{purchase.vendor.credit | currency : "Rp"}}
                        </div>
                    </div>

                    <!-- <div *ngIf="purchase.status == 'WAIT_FOR_APPROVAL' || purchase.status == 'DRAFT' " class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Next Payment
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            -
                        </div>
                    </div> -->
                    <div *ngIf="purchase.status == 'WAIT_FOR_APPROVAL' || purchase.status == 'DRAFT' "
                        class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Remain Credit
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            {{purchase.vendor.summary.remain_credit | currency : "IDR"}}
                        </div>
                    </div>



                    <div class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Total Order
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            {{purchase.total_order | currency : "Rp"}}
                        </div>
                    </div>

                    <div class="flex-container list-tile-item">
                        <div class="flex-item color-grey flex-1 margin-right-1">
                            Total Receive
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            {{purchase.total_receive | currency : "Rp"}}

                        </div>
                    </div>

                    <div class="flex-container list-tile-item">
                        <div class="flex-item flex-1 margin-right-1 color-grey">
                            Note
                        </div>
                        <div class="flex-item flex-15 margin-right-1">
                            <app-form-input (onClose)="addNote($event)" isHideAction="true" [id]="'note'"
                                [value]="purchase.note"></app-form-input>

                        </div>
                    </div>


                </div>




                <div *ngIf="!purchase.is_cbd">
                    <button *ngIf="purchase.status =='DRAFT'" [disabled]="this.purchase_item?.length == 0"
                        (click)="updateStatus('WAIT_FOR_APPROVAL')" class="button  expanded">
                        Request Purchase
                    </button>

                    <button [disabled]="this.purchase_item?.length == 0"
                        *ngIf="purchase.status =='WAIT_FOR_APPROVAL' && canApprove()" (click)="updateStatus('APPROVE')"
                        class="button expanded">
                        Approve
                    </button>

                    <button [disabled]="this.purchase_item?.length == 0"
                        *ngIf="purchase.status =='APPROVE' && canApply()"
                        (click)="updateStatus('WAIT_FOR_DELIVERY');this.generatePdfs(purchase)" class="button expanded">
                        Create Purchase Order
                    </button>

                    <button
                        *ngIf="purchase.status =='WAIT_FOR_DELIVERY'  && isAllReceive() && canApply() && purchase.delivery_number"
                        (click)="updateStatus('WAIT_FOR_PAYMENT')" class="button expanded">
                        Receive Purchase
                    </button>

                    <app-remove-button (onClick)="updateStatus('COMPLETE');updatePaymentStatus(true)">
                        <button *ngIf="purchase.status =='WAIT_FOR_PAYMENT' && canApprove()" class="button expanded">
                            Send Payment
                        </button>
                    </app-remove-button>

                </div>

                <div *ngIf="purchase.is_cbd">
                    <button *ngIf="purchase.status =='DRAFT'" (click)="updateStatus('WAIT_FOR_APPROVAL')"
                        class="button expanded">
                        Request Purchase
                    </button>

                    <button *ngIf="purchase.status =='WAIT_FOR_APPROVAL' && canApprove()"
                        (click)="updateStatus('APPROVE');updatePaymentStatus(true)" class="button expanded">
                        Approve & Send Payment
                    </button>


                    <button *ngIf="purchase.status =='APPROVE' && canApply()"
                        (click)="updateStatus('WAIT_FOR_DELIVERY')" class="button expanded">
                        Create Purchase Order
                    </button>

                    <button *ngIf="purchase.status =='WAIT_FOR_DELIVERY' && canApply()"
                        (click)="updateStatus('COMPLETE');updatePaymentStatus(true)" class="button expanded">
                        Receive Purchase
                    </button>
                </div>







            </div>
        </div>

    </div>
</div>


<app-modal-full *ngIf="showModal == 'journalTransactions'">
    <div *ngIf="journal_transactions">


        <div class="small-text bold border-bottom padding-bottom-05 margin-bottom-05 flex-container">
            <div class="flex-item flex-1">
                Account Number
            </div>
            <div class="flex-item flex-1">
                Account Name
            </div>
            <div class="flex-item flex-1">
                Credit
            </div>
            <div class="flex-item flex-1">
                Debit
            </div>
        </div>
        <div *ngFor="let item of journal_transactions"
            class="small-text border-bottom padding-bottom-05 margin-bottom-05 flex-container">
            <div class="flex-item flex-1">
                {{item.account_details.account_number}}
            </div>
            <div class="flex-item flex-1">
                {{item.account_details.account_name}}
            </div>
            <div class="flex-item flex-1">
                {{item.credit  | currency:'IDR':'Rp'}}
            </div>
            <div class="flex-item flex-1">
                {{item.debit  | currency:'IDR':'Rp'}}
            </div>
        </div>

        <div class="small-text bold border-bottom padding-bottom-05 margin-bottom-05 flex-container">
            <div class="flex-item flex-1">
                Total
            </div>
            <div class="flex-item flex-1">

            </div>
            <div class="flex-item flex-1">
                {{journal_transactions_credit | currency:'IDR':'Rp'}}
            </div>
            <div class="flex-item flex-1">
                {{journal_transactions_debit | currency:'IDR':'Rp'}}
            </div>
        </div>
    </div>
</app-modal-full>


<app-modal [title]="'Product Performance'" (onClose)="selected_product_id = null" *ngIf="selected_product_id"
    [isHalf]="true">
    <app-product-performance [product_id]="selected_product_id"></app-product-performance>
</app-modal>




<app-modal (onClose)="this.variant = null" title="Select Variant" (onClose)="variant = null" *ngIf="variant">
    <div *ngFor="let item of variant">
        <button class="button expanded clear active" (click)="addPurchaseItem(item)">{{item.variant_name}} - <span
                class="color-grey"> Stock Level</span>

            {{item.qty}}
        </button>
    </div>
</app-modal>