<div class="main-body fade-in">
  <div class="flex-container align-center">
    <div class="flex-item flex-1">
      <div class="flex-container align-end">
        <div class="flex-item flex-1 label-text medium">
          <div class="title">Journal Account</div>
        </div>
        <div class="flex-item">
          <a (click)="handleOpenCreateNewAccount()" class="white bold">+ Create New Account</a>
          <app-modal *ngIf="state.isOpenModal" title="Create New Journal Account"
            (onClose)="handleCloseCreateNewAccount()">
            <div class="flex flex-item margin-right-1" [formGroup]="form">
              <div class="form">
                <div class="small-text color-grey">Name</div>
                <input formControlName="name" type="text" />
                <form-error-display [formControlObject]="form.get('name')"></form-error-display>
              </div>
              <div class="form">
                <div class="small-text color-grey">Description</div>
                <textarea formControlName="description" type="text"></textarea>
                <form-error-display [formControlObject]="form.get('description')"></form-error-display>
              </div>
              <div class="form">
                <div class="small-text color-grey">Type</div>
                <select formControlName="type" class="selectAsOrdinaryText">
                  <option *ngFor="let opt of journalType" [value]="opt.type">
                    {{ opt.label }}
                  </option>
                </select>
                <form-error-display [formControlObject]="form.get('type')"></form-error-display>
              </div>
              <div class="form">
                <div class="small-text color-grey">Primary Account</div>
                <input formControlName="primary_account" type="text" />
              </div>

              <button (click)="handleSubmitCreateNewJournalAccount()" class="button tiny active">
                Submit
              </button>
            </div>
          </app-modal>
        </div>
      </div>
    </div>
  </div>

  <div class="table-header">
    <div class="flex-container table-header-item">
      <div class="flex-item flex-05">ID</div>

      <div class="flex-item flex-2">Name</div>
      <div class="flex-item flex-3">Description</div>
      <div class="flex-item flex-1">Type</div>
      <div class="flex-item flex-1">Primary Account</div>
      <div class="flex-item flex-1">Balance</div>
      <div class="flex-item flex-1">Action</div>

    </div>

    <div class="table-body">
      <div *ngFor="let item of journal_accounts" class="flex-container table-body-item">
        <div class="flex-item flex-05">
          {{ item.id }}
        </div>
        <div class="flex-item flex-2">
          <app-form-input isHideLabel="true" label="Name" [value]="item.name"
            (onClose)="handlePartialEdit(item.id, 'name', $event)"></app-form-input>
        </div>
        <div class="flex-item flex-3">
          <app-form-input label="Description" isHideLabel="true"
            (onClose)="handlePartialEdit(item.id, 'description', $event)" [value]="item.description"></app-form-input>
        </div>

        <div class="flex-item flex-1">
          <select class="selectAsOrdinaryText" (change)="handleChangeAccountType(item.id, $event)"
            [(ngModel)]="item.type" [id]="'journalTypeSelector' + item.id" placeholder="-">
            <option *ngFor="let opt of journalType" [value]="opt.type">
              {{ opt.label }}
            </option>
          </select>
        </div>
        <div class="flex-item flex-1">
          {{ item.primary_account }}
        </div>
        <div class="flex-item flex-1">
          {{ item.balance | currency : "IDR" }}
        </div>
        <div class="flex-item flex-1">
          <button class="button tiny expanded" (click)="handleViewAccountDetail(item.id)">
            View
          </button>
        </div>
      </div>
    </div>
  </div>