<div class="main-body fade-in">
  <div class="flex-container align-center">
    <div class="flex-item flex-1">
      <div class="flex-container align-end">
        <div class="flex-item flex-1 label-text medium">
          <div class="title">Journal Transaction</div>
        </div>
      </div>
    </div>
  </div>

  <div class="callout padding-bottom-1 margin-bottom-1" [formGroup]="form">
    <div>Search by parameters</div>
    <div class="callout form padding-center rounded medium-grey-bg">
      <div class="flex-container flex-wrap">
        <div class="flex-item flex-1 form">
          <p class="small-text">Sales Order ID</p>
          <input
            class="width100"
            placeholder="Type here..."
            formControlName="sales_order_id"
          />
        </div>
        <div class="flex-item flex-1 margin-left-05 form">
          <p class="small-text">Purchase ID</p>
          <input
            class="width100"
            placeholder="Type here..."
            formControlName="purchase_id"
          />
        </div>
        <div class="flex-item flex-1 margin-left-05 form">
          <p class="small-text">Warehouse Inventory ID</p>
          <input
            class="width100"
            placeholder="Type here..."
            formControlName="warehouse_inventory_id"
          />
        </div>
        <div class="flex-item flex-1 margin-left-05 form">
          <p class="small-text">Affiliate Transaction ID</p>
          <input
            class="width100"
            placeholder="Type here..."
            formControlName="affiliate_transaction_id"
          />
        </div>
        <div class="flex-item flex-1 margin-left-05 form">
          <p class="small-text">Reference Channel</p>

          <app-form-select
            [selected_option]="form.get('reference_channel').value"
            label="Reference"
            [option]="referenceChannelOptionsResult"
            [isLoadingOptions]="isLoadingReferenceChannelOptions"
            (onFocus)="
              handleSearchReferenceChannel(form.get('reference_channel').value)
            "
            (onBlur)="referenceChannelOptionsResult = []"
            (onSearch)="handleSearchReferenceChannel($event)"
            (onSelect)="form.get('reference_channel').setValue($event.id)"
          >
          </app-form-select>
        </div>
      </div>
    </div>
  </div>

  <div class="stickyTableHeader">
    <div class="flex-container margin-bottom-1 padding-bottom-1 border-bottom">
      <div class="flex-item flex-1 margin-right-05">
        <div class="callout padding-center rounded medium-grey-bg">
          <p class="small-text">Total Debit</p>
          <h4 class="margin-bottom-0">
            {{ data.summary.debit | currency : "IDR" : "Rp" }}
          </h4>
        </div>
      </div>

      <div class="flex-item flex-1 margin-right-05">
        <div class="callout padding-center rounded medium-grey-bg">
          <p class="small-text">Total Credit</p>
          <h4 class="margin-bottom-0">
            {{ data.summary.credit | currency : "IDR" : "Rp" }}
          </h4>
        </div>
      </div>

      <div class="flex-item flex-1">
        <div class="callout padding-center rounded medium-grey-bg">
          <p class="small-text">Balance</p>
          <h4 class="margin-bottom-0">
            {{ data.summary.balance | currency : "IDR" : "Rp" }}
          </h4>
        </div>
      </div>
    </div>

    <div class="table-header border-bottom margin-bottom-05 padding-bottom-05">
      <div class="flex-container">
        <div class="flex-item flex-05 table-header-item">ID</div>
        <div class="flex-item flex-1 table-header-item">Name</div>
        <div class="flex-item flex-2 table-header-item">Description</div>
        <div class="flex-item flex-1 table-header-item">Journal Account ID</div>
        <div class="flex-item flex-1 table-header-item">Sales Order ID</div>
        <div class="flex-item flex-1 table-header-item">Purchase ID</div>
        <div class="flex-item flex-1 table-header-item">Affiliate ID</div>
        <div class="flex-item flex-1 table-header-item">Type</div>
        <div class="flex-item flex-1 table-header-item">Value</div>
      </div>
    </div>
  </div>

  <div class="table-body">
    <div *ngIf="data.items.length === 0" class="flex-1">You have no items</div>
    <div
      *ngFor="let item of data.items"
      class="flex-container margin-bottom-05 padding-bottom-05 border-bottom align-center"
    >
      <div class="flex-05">
        {{ item.id }}
      </div>
      <div class="flex-1">
        {{ item.name }}
      </div>
      <div class="flex-2">
        {{ item.description }}
      </div>
      <div class="flex-1">
        {{ item.journal_account_id }}
      </div>
      <div class="flex-1">
        {{ item.sales_order_id }}
      </div>
      <div class="flex-1">
        {{ item.purchase_id }}
      </div>
      <div class="flex-1">
        {{ item.affiliate_transaction_id }}
      </div>
      <div class="flex-1">
        {{ item.type }}
      </div>
      <div class="flex-1">
        {{ item.value | currency : "IDR" : "Rp" }}
      </div>
    </div>
  </div>
</div>
