<div class="main-body">

    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                       Inventory
                    </div>

                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <a class="white bold" [routerLink]="['/inventory/add/']"
                    routerLinkActive="router-link-active">+
                   Add Inventory</a> 
            </div>
        </div>

        <div class="flex-container margin-bottom-1 padding-bottom-1 border-bottom">
            <div class="flex-item flex-1 margin-right-05">
                <div class="callout padding-center rounded medium-grey-bg">
                    <p class="small-text">Total Inventory Amount</p>
                    <h4 class="margin-bottom-0">{{total_order_price  | currency:"IDR":"Rp"}}</h4>
                </div>

            </div>

            <div class="flex-item flex-1 margin-right-05">
                <div class="callout padding-center rounded medium-grey-bg">
                    <p class="small-text">Stock Item Amount</p>
                    <h4 class="margin-bottom-0">{{total_stock_amount  | currency:"IDR":"Rp"}}</h4>
                </div>

            </div>

            <div class="flex-item flex-1 margin-right-05">
                <div class="callout padding-center rounded medium-grey-bg">
                    <p class="small-text">Consignment Amount</p>
                    <h4 class="margin-bottom-0">{{total_consignment_amount  | currency:"IDR":"Rp"}}</h4>
                </div>

            </div>
            <div class="flex-item flex-1 margin-right-05">
                <div class="callout padding-center rounded medium-grey-bg">
                    <p class="small-text">Total Product</p>
                    <h4 class="margin-bottom-0">{{total_product}} / {{total_product_left}} Left</h4>
                </div>

            </div>
          


        </div>



        <div class="flex-container ">
            <div class="flex-item flex-2">
                <ul class="menu">

                    <li class="flex-item margin-right-05 margin-bottom-1">
                        <a  [routerLink]="['./']"
                            class="button secondary chips ">
                            All Inventory</a>
                    </li>

                    <li class="flex-item margin-right-05 margin-bottom-1">
                        <a  [routerLink]="['./']"  [queryParams]="{ start: '30', end :'60'}"
                            class="button secondary chips ">
                            30 - 60 Days</a>
                    </li>

                    <li class="flex-item margin-right-05 margin-bottom-1">
                        <a   [routerLink]="['./']"
                        [queryParams]="{ start: '60', end :'90'}"
                            class="button secondary chips ">
                           60 - 90 Days</a>
                    </li>

                    <li class="flex-item margin-right-05 margin-bottom-1">
                        <a   [routerLink]="['./']"
                        [queryParams]="{ start: '90', end :'180'}"
                            class="button secondary chips ">
                           90 - 180 Days</a>
                    </li>

                    <li class="flex-item margin-right-05 margin-bottom-1">
                        <a  [routerLink]="['./']"
                        [queryParams]="{ start: '180', end :'9999999'}"
                            class="button secondary chips ">
                           180 > Deadstock</a>
                    </li>
                
                



                </ul>
            </div>
            <div class="flex-item flex-1">
                <ul style="justify-content: flex-end;" class="menu menu-right">


                    <li class="">
                        <button class="button  secondary chips ">
                         Sync Inventory to Product
                        </button>
                    </li>



                </ul>
            </div>
        </div>

        <div class="form">
         <input [(ngModel)]="query" (keyup)="search()" placeholder="Type product name / inventory id / po" class="form" type="text">
        </div> 

        <div class="table-header">

            <div class="flex-container table-header-item">
                <div class="flex-item flex-05  margin-right-05">
                  INV ID / PO ID
                </div>
                <div class="flex-item flex-05 margin-right-05">
                    Product Id
                </div>

                <div class="flex-item flex-2  margin-right-05">
                   Name
                </div>

                <div class="flex-item flex-1  margin-right-05">
                  Order Price
                </div>

                <div class="flex-item flex-05  margin-right-05">
                   Order Qty
                </div>

                <div class="flex-item flex-05  margin-right-05">
                    Stock Left
                </div>




                <div class="flex-item flex-1  margin-right-05">
                    Receive Date
                </div>
                <div class="flex-item flex-05  margin-right-05">
                    Inventory Age
                </div>
                <div class="flex-item flex-1  margin-right-05">
                    Inventory Type
                </div>

            







              
                <div class="flex-item flex-05 text-right ">
                    Action
                </div>



            </div>

        </div>

        <div class="table-body">

            <div *ngFor="let item of display_inventorys"   class="flex-container table-body-item">
                <div class="flex-item flex-05  margin-right-05">
                    {{item.inventory_item_id}} /  {{item.purchase_order_id}}
                </div>
                <div class="flex-item flex-05 margin-right-05">
                   {{item.product_id}}
                </div>

                <div class="flex-item flex-2  margin-right-05">
                    {{item.name}}
                </div>

                <div class="flex-item flex-1  margin-right-05">
                    {{item.order_price | currency:"IDR":"Rp"}}
                </div>

                <div class="flex-item flex-05  margin-right-05">
                    {{item.order_qty }}
                </div>

                <div class="flex-item flex-05  margin-right-05">
                    <span *ngIf="!item.isEdit"> {{item.stock_left}}</span>
                    <input *ngIf="item.isEdit" [(ngModel)]="item.stock_left" type="text">
                </div>




                <div class="flex-item flex-1  margin-right-05">
                    {{item.receive_date | date}}
                </div>
                <div class="flex-item flex-05  margin-right-05">
                   {{getInventoryAge(item.receive_date)}}
                </div>

                <div class="flex-item flex-1  margin-right-05">
                    {{item.inventory_type}}
                </div>

             






              
                <div class="flex-item flex-05 text-right ">
                    <button *ngIf="!item.isEdit" (click)="toggleEdit(item)" class="button tiny secondary margin-bottom-0">Edit</button>
                    <button *ngIf="item.isEdit" (click)="updateInventory(item)" class="button margin-right-05 tiny margin-bottom-0">Save</button>
                    <button *ngIf="item.isEdit" (click)="toggleEdit(item)" class="button tiny secondary margin-bottom-0">Cancel</button>
                </div>



            </div>

        </div>
      

    </div>
</div>
