<div class="main-body">
    <div class="row collapse">
        <!-- left -->
        <div class="medium-2 columns" style="position: sticky;top: 0;">
            <app-bisidebar></app-bisidebar>
        </div>
        <!-- right -->
        <div class="medium-10 columns" style="padding:0 3%">

            <div class="label-text large">
                <div class="title">
                    Generate Stock & Pricelist
                </div>
            </div>

            <div class="callout form padding-center rounded medium-grey-bg margin-bottom-1">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1 margin-right-05">
                        <label for="">Brand Name</label>
                        <input type="text" [(ngModel)]="priceListForm.brand" >
                    </div>
                    <div class="flex-item flex-1 margin-right-05">
                        <label for="">Send To ( Company Name )</label>
                        <input type="text" [(ngModel)]="priceListForm.company" >
                    </div>
                    <div class="flex-item flex-1 margin-right-05">
                        <label for="">PIC</label>
                        <input type="text" [(ngModel)]="priceListForm.pic">
                    </div>
                    <div class="flex-item flex-05 margin-right-05">
                        <label for="">Bonus Margin (%)</label>
                        <input type="number" [(ngModel)]="priceListForm.margin">
                    </div>
                    <div class="flex-item flex-05 margin-right-05 text-right">
                      
                        <button (click)="getProductList()" style="margin:0" class="button secondary tiny">Generate Pricelist</button>
                     </div>

                </div>
             
            </div>

            <div *ngIf="display_products.length > 0">

            <button (click)="download()" style="margin:0" class="button secondary tiny">Download</button>
                 
            <div class="flex-container small-text padding-bottom-1 margin-bottom-1 border-bottom">
                <div class="flex-item flex-05 margin-right-05">
                    ID
                </div>
                <div class="flex-item flex-2 margin-right-05">
                    Name   
                </div>
                <div class="flex-item flex-1 margin-right-05">
                   Stock
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    MSRP   
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    Bonus Price   
                </div>
                <div class="flex-item flex-1 margin-right-05">
                   Margin (%)
                </div>
            </div>

            <div class="flex-container small-text form padding-bottom-1 margin-bottom-1 border-bottom" *ngFor="let item of display_products ; let i = index">
                <div class="flex-item flex-05 margin-right-05">
                    {{item.id}}
                </div>
                <div class="flex-item flex-2 margin-right-05">
                    {{item.name}}
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    {{item.stock}}
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    <input [(ngModel)]="item.msrp" type="number">
              
                </div>
                <div class="flex-item flex-1 margin-right-05">
                   
                    <input [(ngModel)]="item.bonus_price" type="number">
                </div>
                <div class="flex-item flex-1 margin-right-05">
                    
                   {{ _getMargin(i,item.msrp,item.bonus_price) }} %
                </div>
            </div>

            </div>

           

           

          


            <!-- <mat-paginator #paginator [pageSizeOptions]="[10,20,50,100]" (page)="updatePage($event)">
            </mat-paginator> -->

        </div>
    </div>
</div>