<div class="main-body">
    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-1">
                <div class="label-text medium">
                    <div class="title">
                        Placement
                    </div>

                </div>
            </div>
            <div class="flex-item flex-1 text-right">
                <a (click)="addPlacement()">+ Create Placement </a>
            </div>
        </div>






        <div>
            <div class="table-header">
                <div class="flex-container table-header-item">

                    <div class="flex-item flex-1 margin-right-05">
                        Destination
                    </div>

                    <div class="flex-item flex-1 margin-right-05">
                        Desktop
                    </div>

                    <div class="flex-item flex-1 margin-right-05">
                        Mobile
                    </div>



                    <div class="flex-item flex-1 margin-right-05">
                        Start Date
                    </div>

                    <div class="flex-item flex-1 margin-right-05">
                        End Date
                    </div>


                    <div class="flex-item flex-1 margin-right-05">
                        Total Cick
                    </div>

                    <div class="flex-item flex-1 margin-right-05">
                        Status
                    </div>

                </div>
            </div>

            <div class="table-body">


                <div *ngFor="let item of placement" class="flex-container table-body-item">



                    <div class="flex-item flex-1 margin-right-05">
                        {{item.collection?.name}}
                        <button class="button clear tiny" (click)="selected_placement = item">
                            Set Destination
                        </button>
                    </div>

                    <div class="flex-item flex-1 margin-right-05">

                        <div>
                            <img class="product-cover" [src]="item.desktop_image_cover" alt="">
                        </div>
                        <input class="hide" type="file" (change)="onChange($event,item,'desktop_image_path')"
                            #fileUpload />


                        <button (click)="fileUpload.click()" class="button tiny clear">
                            + Gallery
                        </button>
                    </div>

                    <div class="flex-item flex-1 margin-right-05">
                        <div>
                            <img class="product-cover" [src]="item.mobile_image_cover" alt="">
                        </div>
                        <input class="hide" type="file" (change)="onChange($event,item,'mobile_image_path')"
                            #fileUploads />


                        <button (click)="fileUploads.click()" class="button tiny clear">
                            + Gallery
                        </button>
                    </div>



                    <div class="flex-item flex-1 margin-right-05">

                        <app-form-input [type]="'date'" (onClose)="updateProduct(item, $event)" isHideAction="true"
                            isHideLabel="true" [id]="'start_date'" [value]="item.start_date" [label]="'start_date'">
                        </app-form-input>
                    </div>

                    <div class="flex-item flex-1 margin-right-05">


                        <app-form-input [type]="'date'" (onClose)="updateProduct(item, $event)" isHideAction="true"
                            isHideLabel="true" [id]="'end_date'" [value]="item.end_date" [label]="'end_date'">
                        </app-form-input>
                    </div>

                    <div class="flex-item flex-1 margin-right-05">
                        Total Cick
                    </div>



                    <div class="flex-item flex-1 margin-right-05">
                        <label class="switch">
                            <input type="checkbox" [checked]="item.status"
                                (change)="updateStatus(item,'status',$event.target.checked)">
                            <span class="slider round"></span>
                        </label>

                    </div>

                </div>





            </div>




        </div>
    </div>
</div>


<app-modal *ngIf="selected_placement" title="Set Destination">
    <app-form-search (onSearch)="searchCollection($event)"></app-form-search>

    <div *ngIf="this.collection">
        <ng-container *ngFor="let type of ['BRAND','CATEGORY', 'ACTIVITY']">

            <div *ngIf="collection[type]?.length">
                <div class="list-tile-container" *ngFor="let category of collection[type]">
                    <div (click)="updateDestination(category,'category')" class="cursor border-bottom list-tile-item">
                        <div class="flex-container color-grey large-text">

                            <div class="flex-item nav flex-1">
                                {{ category.name | titlecase }}

                            </div>
                            <div class="flex-item">
                                <span class="span-label"> {{type}}</span>

                            </div>




                        </div>

                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</app-modal>