.notif-count{
    height: 13px;
    width: 13px;
    border-radius: 100%;
    line-height: 13px;
    background: brown;
    position: absolute;
    top: 1%;
    
    text-align: center;
    font-size: 8px;
}