
<nav *ngIf="this.user_account" class="global-navigation elevate border-bottom ">
    <div class="flex-container align-center large-text" style="justify-content:space-between;">
        <div *ngIf="getAccess()" class="flex-item margin-right-1">
            <span class="cursor bold" (click)="openModal('menuModal')">
                <fa-icon [icon]="faBars"></fa-icon> 
            </span>
        </div>
        <div *ngIf="getAccess()" class="flex-item flex-1 margin-right-05">
            <button [routerLink]="'/'" class="button tiny clear">
                <fa-icon style="margin-right:2px" [icon]="faHome"></fa-icon> Dashboard {{this.version}}
            </button>
        </div>
       

        <div class="flex-item text-center text-center">
            <div class="flex-container align-center">




                <div *ngFor="let item of top_bar_menu" class="flex-item margin-right-1">

                    <div class="flex-container">
                        <div *ngIf="item.is_active" class="flex-item">
                            <button [routerLink]="item.link" [queryParams]="{tab_view: item.query}" class="button tiny clear">
                                <fa-icon style="margin-right:2px" [icon]="item.icon"></fa-icon> {{item.name}}
                                <span *ngIf="item.count" class="notif">
                                    {{item.count}} {{item.notif_label}}
                                </span>

                                <span *ngIf="item.notif" class="notif">
                                    <span *ngFor="let item of item.notif" >
                                        {{item.label}}
                                        {{item.count}}
                                    </span>
                                   
                                </span>

                                
                            </button>
                        </div>
                        <!-- <div class="flex-item">
                            <button [routerLink]="item.link" class="button tiny clear  ">
                               +
                               </button>
                        </div> -->
                    </div>
                </div>
                <div class="flex-container">
                   
                    <div class="flex-item">
                        <button (click)="showAddOrder = true" class="button tiny clear  ">
                           + Order
                           </button>
                    </div>
                </div>




            </div>


        </div>








        

        <div class="flex-item flex-1 text-right margin-right-05">
            <button (click)="logout()" class="button tiny clear  ">
                <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout, {{this.user_account.firstname}}
            </button>



        </div>


    </div>
</nav>




<app-modal [title]="'Menu'" [isLeft]="true" (onClose)="closeModal()" *ngIf="showModal =='menuModal'">

    <app-bisidebar (onClick)="closeModal()"></app-bisidebar>
</app-modal>


<app-order-management-add (onClose)="showAddOrder = null" *ngIf="showAddOrder"></app-order-management-add>