.product-box{
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border:1px solid #b0b3b8 !important;
   a{
    color:#b0b3b8 !important;
    font-size: 16px;
    line-height: 1.5;
   }
}

.non_profit{
    color:brown !important
}
.profit{
    color: chartreuse;
}

.image-item{
    opacity: 0.4;object-fit: cover;
}
.soldOut{
    text-decoration: line-through;
    opacity: 0.5;
}


.error{
    color: red;
}

.note{
    background-color: #ffD300;
    padding: 4px;
    border-radius: 4px;
    p{
        font-size: 10pt;
        font-weight: 400;
    }
}

.summary-container{
    position: -webkit-sticky;
    position: sticky;
    top: 3%;
}

.chips{
    background: #3a3b3c;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    font-size: 14px !important;
    border:none;
    margin-bottom: 0.5rem;
    color:rgba(255,255,255,.7) !important;

    &.active{
        background: white !important;
        color: #3a3b3c !important;
    }
}

.product-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    padding: 15% 5%;
    background-color: rgba(0,0,0,0.9);
    .callout{
        background : #333333 !important
    }

}