


<div class="main-body">

    <div>
        <div class="flex-container align-center">
            <div class="flex-item flex-2">
                <div class="label-text medium">
                    <div class="title">
                        Purchase Order [old]
                    </div>

                </div>
            </div>
           
        </div>

        <div class="flex-container margin-bottom-1 padding-bottom-1">
            <div class="flex-item flex-1 margin-right-1">
                <div class="callout padding-center rounded medium-grey-bg">
                    <p class="small-text">Wait for Payment</p>
                    <h4 class="margin-bottom-0">{{purchase_order?.total_payment  | currency:'IDR':'Rp'}}</h4>
                </div>

            </div>
            <div class="flex-item flex-1 ">
                <div class="callout padding-center rounded medium-grey-bg">
                    <p class="small-text">Overdue Purchase</p>
                    <h4 class="margin-bottom-0">{{purchase_order?.overdue  | currency:'IDR':'Rp'}}</h4>
                </div>

            </div>


        </div>

        <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


        <app-table-action></app-table-action>



        <div class="table-header">

            <div class="flex-container table-header-item">

                <div class="flex-item flex-1 ">
                    #PO/DO
                </div>

                <div class="flex-item flex-1">
                    Vendor
                </div>


                <div class="flex-item flex-1  ">
                    Term of Payment
                </div>







                <div class="flex-item flex-1">
                    Total
                </div>


                <div class="flex-item flex-1  ">
                    Delivery Status
                </div>


                <div class="flex-item flex-1  ">
                    Payment Status
                </div>
                <div class="flex-item flex-05 text-right ">
                    Action
                </div>



            </div>

        </div>
        <div *ngIf="this.purchase_orders" class="table-body">

            <div *ngFor="let item of purchase_orders" class="flex-container table-body-item">

                <div class="flex-item flex-1 ">

                    PO #{{_getPurchaseOrderId(item.purchase_order_id)}} / DO #{{item.do_number}}

                    <div class="color-grey tiny-text">Order Date {{getDate(item.created_date) | date}}</div>
                </div>

                <div class="flex-item flex-1 ">
                    {{item.vendor}}
                </div>



                <div class="flex-item flex-1  ">
                    <span *ngIf="item.term_of_payment == '0'">Cash Before Delivery</span>
                    <span *ngIf="item.term_of_payment > '0'"> {{item.term_of_payment}} Days</span>

                    <div class="tiny-text color-grey">Due on {{getDate(item.due_date) | date}}</div>


                </div>



                <div class="flex-item flex-1">
                    {{item.purchase_amount | currency:'IDR':'Rp'}}
                </div>

                <div class="flex-item flex-1  ">

                    <div *ngIf="item.status == 'ON_PROCESS'">
                        <div class="status-label shipment">Wait for Delivery</div>
                    </div>
                    <div *ngIf="item.status == 'RECEIVED'">
                        <div class="status-label processing">Received</div>
                        <!-- <div *ngIf="item.receive_by" class="tiny-text italic">By {{item.receive_by}}</div>
                        <div *ngIf="item.receive_date" class="tiny-text italic">{{item.receive_date}}</div> -->
                    </div>


                </div>


                <div class="flex-item flex-1  ">
                    <div *ngIf="item.payment_status == 'PAID'" class="">
                        <span class="status-label processing">Paid</span>


                    </div>
                    <div *ngIf="item.payment_status == 'UN_PAID'" class="">
                        <span class="status-label"
                            [ngClass]="_getPaymentStatusClass(item)">{{_getPaymentStatus(item) }}</span>

                    </div>
                    <div *ngIf="item.payment_status == 'OPEN'" class="">
                        <span class="status-label"> Open Purchase </span>
                    </div>


                </div>
                <div class="flex-item flex-05 text-right ">
                    <a [routerLink]="['/purchase-order/view/', _getPurchaseOrderId(item.purchase_order_id) ]"
                        class="button tiny clear active rounded margin-bottom-0">
                        <fa-icon [icon]="faExpandAlt"></fa-icon>
                    </a>
                </div>


            </div>

        </div>


    </div>
</div>

<app-modal (onClose)="this.showModal=null" *ngIf="this.showModal=='createPurchase'" [title]="'Create Purchase Order'">
    <form class="form" [formGroup]="purchaseForm">
        <div class="margin-bottom-1 form padding-bottom-1">




            <div class="margin-bottom-1">
                <app-tab-option (onTab)="selectForm('purchase_company_id',$event.id)" [tab_option]="tab_option">
                </app-tab-option>

            </div>



           <div class="margin-bottom-05">
            <label for="">Vendor</label>

            <div class="input">
                <app-form-select [isClean]="false" [selected_option]="" [label]="'Vendor'" [option]="vendor_list"
                    (onSelect)="selectForm('purchase_vendor_id',$event.id)" (onSearch)="searchVendor($event)">
                </app-form-select>
            </div>
           </div>

            <label for="">Term of Payment</label>
            <input type="text" formControlName="term_of_payment">



            <div class="callout">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1 margin-right-05">
                        Cash Before Delivery
                    </div>
                    <div class="flex-item">
                        <label class="switch">
                            <input type="checkbox" formControlName="is_cbd">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>





         











        </div>
        <button [disabled]="!this.purchaseForm.valid" class="button expanded " (click)="addPurchase()"> Save &
            Continue</button>



    </form>
</app-modal>



<app-modal (onClose)="this.showModal=null" *ngIf="showModal=='addVendor'" [title]="'Add New Vendor'">
    <form class="form" [formGroup]="vendorForm">
        <div class="margin-bottom-1 form padding-bottom-1">


            <label for="">Name</label>
            <input type="text" formControlName="name">

            <label for="">Company</label>
            <select formControlName="purchase_company_id">
                <option value="1">WIA</option>
                <option value="2">PDB</option>

            </select>

            <label for="">NPWP</label>
            <input type="text" formControlName="npwp">

            <label for="">PIC</label>
            <input type="text" formControlName="pic">

            <label for="">Term of Payment</label>

            <select formControlName="term_of_payment">
                <option value="FULLPAYMENT">FULLPAYMENT</option>
                <option value="TEMPO">TEMPO</option>

            </select>

            <label for="">Credit Limit</label>
            <input type="number" formControlName="credit">



        </div>
        <button class="button expanded " (click)="addPurchaseVendor()">
            Add Vendor
        </button>



    </form>
</app-modal>