/* You can add global styles to this file, and also import other style files */
@import './../src/assets/css/app.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap');
@import '~ngx-toastr/toastr';



.angular-editor-toolbar,.ae-font,.ae-picker-label{
  background: none !important;
}
.angular-editor-button,.ae-font .ae-picker-options{
  background: #2a2e34 !important;
  border: 1px solid #3c414a !important;
}

.angular-editor-toolbar{
  border: 1px solid #3c414a !important;
}
.angular-editor-textarea{
  border: 1px solid #3c414a !important;
}


:root {
  color-scheme: dark;
  
}
input {
  color-scheme: dark;
}

.product-cover{
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  background: white;
  border: 1px solid #5e5e5e66 !important;

}

.table-container {
  position: relative;
  .bar{
    width: 60px;background: black;position: absolute;right:0;top:0;height: 100%;z-index: 99;   background: rgb(48,53,60);
                    background: linear-gradient(270deg, rgb(41, 45, 51) 0%, rgba(48,53,60,0) 100%);
  }
  .parrent{
    width: 100%;
    overflow-y: auto;
  }
 .child{
  min-width: max-content;
 }
}



input[readonly]{
  background: none;
}

input {
  color-scheme: dark;
}

.global-navigation{
  background: #22242a;
  
    // position: sticky;
    // top: 0;
    // z-index: 9999;
}



.main-body{
  padding: 2rem;
}
.table-body{
  // overflow-wrap: anywhere;
}
.mini-menu-container{
  position: relative;
  .mini-menu{
      position: absolute;
      width: 100%;
      z-index: 9999;
      background: black;
      border: 2px solid #eee;
      border-radius: 10px;
      padding: 0.5rem;
      a{
          &:hover{
              color: rgba(255, 255, 255, 0.726);
          }
      }
  }

}
.list-tile-container{
  .list-tile-item{
    padding: 0.7rem 0;
    font-size: 14px;
    border-bottom:1px solid #5e5e5e66 !important;
    // &:last-child{
    //   border-bottom: none  !important;
    // }
    @media only screen and (min-width: 961px) and (max-width: 1180px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
      font-size: 12px;
      padding: 0.5rem 0;
    }
  }
}
.margin-right-02{
  margin-right: 0.2rem;
}
.span-label{
  text-transform: uppercase;
  font-size: 9px;
  border-radius: 3px;
  padding: 2px 5px;
  font-weight: 600;
  letter-spacing: 1px;
  background: rgb(127 119 241 / 72%);
  border: 1px solid rgb( 127, 119, 241 );

  &.clear{
    background: #2a2e34 !important;
 
     border: 1px solid #5e5e5e66 !important;
   }
}
.button {
  &.clear{
   background: #2a2e34 !important;

    border: 1px solid #2a2e34 !important;
  }
  
  
  &.active{
    background:#30353c !important;
    border: 1px solid #5e5e5e66 !important;


  }

  &.hollow{
    border: 1px solid #5e5e5e66 !important;
  }
  
}




body,
.main-body {
  background: #26292f;
  scrollbar-color: dark;
  scrollbar-width: thin;
  color: rgb(240, 241, 243) !important
}


// a:hover{
//   color: rgb(240, 241, 243) !important
// }

.padding-bottom-05{
  padding-bottom:0.5rem;
}

.summary-container{
  position: -webkit-sticky;
  position: sticky;
  top: 3%;
}
.button.tiny{
  font-size: 11px;
}
.sticky-bottom{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: black !important;
  border-top:1px solid #42424247 !important
}

.hover-show{
  &:hover{
    .hide{
      display: inline-block !important;
    }
  }
}


.profitable{
  color: chartreuse;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #616161
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #616161
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #616161
}

.content-wrapper{
  padding: 0 3%
}

.border-bottom{
border-bottom:1px solid rgb( 60, 65, 74 )!important;
}

.mat-progress-bar-buffer{
  background-color: #101010 !important; 
}

.callout.padding-center {
  padding:  2em;
}

.gray-color{
  color:rgba(255,255,255,.7) !important
}
.medium-grey-bg{
  background-color:#30353c !important;
  
 
}

.dark-grey-bg{
  background-color: rgb( 42, 46, 52 ) !important;
 
}
.chips{
  background-color: #42424247 !important;
  color:rgba(255,255,255,.7);
  padding:0.8rem 1.5rem !important;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 600;
  display: block;
  &.active{
    background: rgba(255,255,255,.7) !important;
    color:  #333333 !important;
  }
}

.page-enter-from-right {
  animation: page-enter-from-right .3s;
}

@keyframes page-enter-from-right {
  0% {
    transform: translateX(50%);
    opacity: 0.4;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.form {
  input, select, textarea {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    font-size: 16px !important;
    border-radius: 0 !important;
    padding: .5rem !important;
    line-height: 1.4;
    border-radius: 3px !important;
   color:rgba(255,255,255,.7) !important;
    background:#373c43 !important;
  }
}

form {
  input, select, textarea {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    font-size: 16px !important;
    border-radius: 0 !important;
    padding: .5rem !important;
    line-height: 1.4;
    color:rgba(255,255,255,.7) !important;
    background: #272829 !important;
  }
}


.fade-in {
  animation: fadeIn 0.4s;
}

.long-fade-in {
  animation: fadeIn 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}



.light-grey-bg{
  background-color: #3a3b3c;
}

.mat-radio-button{
  display: block !important;
  font-family: unset !important;
}

.mat-radio-label-content{
  width: 100% !important;
}

.mat-form-field{
  font-family: unset !important;
}

.mat-slide-toggle-label{
  flex-direction: row-reverse !important;
}

.mat-dialog-mobile{
  mat-dialog-container{
    padding: 0% !important
  }
}

.toast_primary {
  background: #333333!important;
  color: #fff;
}

.toast_info {
  background: #eeeeee !important;
  color: #333333;
}

.toast_warning {
  background: #f57224!important;
  color: #fff;
}

.toast_danger {
  background: #f57224!important;
  color: #fff;

}

.toast_success {
  background: #333333!important;
  color: #fff;
   
}

.overflow-container{
  max-height: 70vh;
  min-height: 70vh;
  overflow-y: auto;
}




.profit-100{
  color: #7fff00;
}

.profit-95{
  color: #7fff00bf;
}
.profit-90{
  color: #fff908;
}
.profit-85{
  color: #fff908bf;
}

.profit-80{
  color: #ff9208;
}

.profit-75{
  color: #ff9208bf;
}

.profit-70{
  color: #ff5908;
}
.profit-65{
  color: #ff5908bf;
}

.alert{
  color:brown
}


.pulse{
  animation: chat-pulse 1.5s infinite;
  @keyframes chat-pulse {
   0% {
     transform: scale(0.99);
     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
   }
   
   
   
   100% {
     transform: scale(1);
     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
   }
 }
}


.button{
  position: relative;
  .notif{
    position: absolute;
    right: 1px;
    top: -3px;
    font-size: 8px !important;
    background: rgb( 127, 119, 241 );
    
    font-weight: 600;
    padding: 0 5px;
    height: 14px;
    line-height: 14px;
    border-radius: 8px;

   
  }
}
.modal-container{
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  padding: 3% 0;
  z-index: 99999;
 
  .close{
    position: absolute;
    top: 5%;
    right: 5%;
    font-weight: bold;
  }
}


.container {
 display: inline-block;
	position: relative;
	// padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
color: white !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  .text{
    padding-left: 27px;
  }

	input {
		// position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked {
			~ {
				.checkmark {
					background-color: #2a2e34;
					&:after {
						display: block;
					}
				}
			}
		}
	}
	&:hover {
		input {
			~ {
				.checkmark {
					background-color: #2a2e34;
				}
			}
		}
	}
	.checkmark {
		&:after {
			left: 8px;
			top: 4px;
			width: 5px;
			height: 10px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
      border-radius: 2px;
		}
	}
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 23px;
	width: 23px;
	border-radius: 5px;
	background-color: #2a2e34;
	border: 1px solid #5e5e5e66 !important;
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}



.table-action {
  padding: 0.5rem 0;

  input {
    margin: 0
  }
}

.table-container{
  overflow-x: auto;
}

.table-header {

  // position: sticky;
  // top: 0;
  // z-index: 99;
  // background-color: #2a2e34;

  
  .table-header-item {
    padding: 1rem 1rem;
    font-size: 13px;
    
    @media only screen and (min-width: 961px) and (max-width: 1180px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
     font-size: 11px !important;
    
    
    }
    
    
   
    color: rgb( 135, 144, 158 ) !important;

    

    .flex-item {
      margin-right: 0.7rem;
       &:last-child{
        margin-right: 0 !important;
      }
    }

    &:hover {
      transition: all .3s ease;
    }
  }
}





.cursor {
  cursor: pointer;
}


.table-body {
  .table-body-item {
    padding: 1rem;
    font-size: 13px;
    background: rgba(48, 53, 60, 0.547) !important;
    border-radius: 3px;
    margin-bottom: 2px;
    transition: background 0.3s ease-in-out;

    @media only screen and (min-width: 961px) and (max-width: 1180px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
      font-size: 11px !important;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.055);
    }

    // Fix the loading animation
    &.loading {
      height: 50px;
    
      animation: pulse 1.5s infinite ease-in-out;
    }

    &.border {
      border-top: 1px solid rgb(60, 65, 74);
      background: transparent !important;
      border-radius: unset !important;

      &:hover {
        background: rgba(123, 131, 143, 0.118) !important;
      }
    }

    .flex-item {
      margin-right: 0.7rem;

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  .table-body-item:last-child {
    border-bottom: none;
  }
}



.color-grey {
  color: rgb( 135, 144, 158 ) !important;
}



.fade-in {
  animation: fadeIn 0.4s;
}

.long-fade-in {
  animation: fadeIn 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}


.tooltip{
    position: absolute;
    bottom: 0;
    z-index: 9999;
    min-width: 300px;
    width: auto;
}

.status-label {
  position: relative;
    border-radius: 6px;
    border: 1px solid #5e5e5e66 !important;
    text-align: center;
    display: inline-block;
    line-height: 2;
    padding: 0px 10px;
    font-size: 14px;
    background: rgb( 42, 46, 52 ) !important;

    position: relative;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    .icon-container{
     
      .icon {
        line-height: 1.5;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background: #cccccc !important;
      }
    }


  &.PROCESSING{
    color: aqua;
    // border: 1px solid aqua !important;
  }
  &.WAIT_FOR_PAYMENT{
    color: burlywood;
    // border: 1px solid aqua !important;
  }
  &.pickedup{
    color: lightgreen;
    // border: 1px solid lightgreen !important;

  }
  &.COMPLETE{
    color: steelblue;
    // border: 1px solid lightgreen !important;

  }
  &.CANCELED{
    color: brown;
    // border: 1px solid lightgreen !important;

  }
  &.SHIPMENT{
    color: lightgreen;
    // border: 1px solid bisque !important;

  }
  &.Due{
    background: brown  !important;
    // border: 1px solid bisque !important;

  }
  
  
    .action {
      // position: absolute;
      // right: 2px;
    border-left: 1px solid #5e5e5ea5 !important;
      padding-left: 7px;
      margin-left:7px;
      margin-right: 0 !important;
  
      
    }
  
    .status-menu {
      position: absolute;
      border: 1px solid rgba(119, 119, 119, 0.189) !important;
      bottom: 1;
      box-shadow: 0 2px 16px #0006;
      background: rgb( 48, 53, 60 )  !important;
      padding: 0.5rem;
      margin-top: 7px;
      left: 0;
      
      width: auto;
      min-width: 100%;
      border-radius: 6px;
      z-index:9999;
  
      a {
        font-size: 12px;
        color: #cccccc;
        text-align: left !important;
        padding: 0.5rem;
        display: block;
        
        border-radius: 3px;
        margin: 0;
  
        &:hover {
          background: rgb( 60, 65, 74 )  !important;
    
        }
      }
  
    }
  
    cursor: pointer;
  
    &.green {
      background: green !important;
      ;
    }
    &.yellow {
      background: #ff981f !important;
      ;
    }
  
  
  
  
  
  }



  /* IPAD */
@media only screen and (min-width: 961px) and (max-width: 1180px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .hide-on-tablet {
    display: none !important;
  }

  .label-text.medium .title{
    font-size: 20px;
  }

  .huge-text{
    font-size: 14px !important;
  }

  .large-text{
    font-size: 12px !important;
  }

  .small-text{
    font-size: 10px !important;
  }
  h4{
    font-size: 14px;
  }
  .main-body{
    padding: 1rem;
  }
  .callout.padding-center-1{
    padding: 14px !important;
  }
  .callout.padding-center{
    padding: 1.3rem !important;
  }


}




