.sidebar {

    .nav {

        font-size: 14px;
        line-height: 1.3;
        padding: 0.7rem;
        border-radius: 3px;
        color: #F0F1F2 !important;

        &:hover {
            transition: ease 0.5s all;
            background: #42424247 !important;
        }
    }

}

.icon {
    color: white;
    width: 15px;
    margin-right: 0.5rem;
    display: inline-block;
}