<div class="show-for-medium sidebar small-text" style="min-height: 100vh;position: sticky;top: 0;">



    <ul class="menu vertical margin-bottom-1">
        <li>
            <div class="nav">Finance</div>

        </li>
        <li *ngFor="let item of finance_menu">

            <div *ngIf="item.is_active" (click)="navigateTo(item.link)" class="flex-container large-text nav cursor">
                <div class="flex-item flex-05 ">
                    <fa-icon [icon]="item.icon"></fa-icon>
                </div>
                <div class="flex-item flex-3">
                    {{item.name}}
                </div>
            </div>
        </li>
    </ul>

    <ul class="menu vertical margin-bottom-1">
        <li>
            <div class="nav">Operational</div>

        </li>
        <li *ngFor="let item of operational_menu">

            <div *ngIf="item.is_active" (click)="navigateTo(item.link)" class="flex-container large-text nav cursor">
                <div class="flex-item flex-05 ">
                    <fa-icon [icon]="item.icon"></fa-icon>
                </div>
                <div class="flex-item flex-3">
                    {{item.name}}
                </div>
            </div>
        </li>
    </ul>

    <ul class="menu vertical margin-bottom-1">
        <li>
            <div class="nav">Marketing</div>

        </li>
        <li *ngFor="let item of marketing_menu">

            <div *ngIf="item.is_active" (click)="navigateTo(item.link)" class="flex-container large-text nav cursor">
                <div class="flex-item flex-05 ">
                    <fa-icon [icon]="item.icon"></fa-icon>
                </div>
                <div class="flex-item flex-3">
                    {{item.name}}
                </div>
            </div>
        </li>
    </ul>

    <ul *ngIf="isAdmin()" class="menu vertical margin-bottom-1">

        <li *ngFor="let item of admin_menu">

            <div *ngIf="item.is_active" (click)="navigateTo(item.link)" class="flex-container large-text nav cursor">
                <div class="flex-item flex-05 ">
                    <fa-icon [icon]="item.icon"></fa-icon>
                </div>
                <div class="flex-item flex-3">
                    {{item.name}}
                </div>
            </div>
        </li>
    </ul>







</div>