<div class="main-body">
  <div class="label-text medium border-bottom margin-bottom-1">
    <div class="flex-container horizontal justify-space-between align-center">
      <div class="flex-item flex-1 margin-right-1">
        <a style="color: white" (click)="handleGoBack()">
          <fa-icon [icon]="faChevronLeft"></fa-icon> Back</a
        >
        <div class="bold margin-bottom-1">Journal Account Detail</div>
        <div class="title">
          {{ journalDetail.account.id }} - {{ journalDetail.account.name }}
        </div>
        <div class="subtitle">{{ journalDetail.account.description }}</div>
      </div>
      <div class="flex-item flex-1">
        <div class="text-right">
          <div class="subtitle">
            Account Type: {{ journalDetail.account.type }}
          </div>
          <div class="subtitle">
            Balance : {{ journalDetail.account.balance | currency : "IDR" }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-container margin-bottom-1 padding-bottom-1 border-bottom">
    <div class="flex-item flex-1 margin-right-05">
      <div class="callout padding-center rounded medium-grey-bg">
        <p class="small-text">Search By Date</p>
        <div class="flex-container">
          <div class="form margin-right-05">
            <label>Start Date</label>
            <input
              type="date"
              [value]="searchParams.start_date"
              (change)="handleFinishChangeStartDate()"
              [(ngModel)]="searchParams.start_date"
            />
          </div>
          <div class="form">
            <label>End Date</label>
            <input
              type="date"
              [min]="searchParams.start_date"
              (change)="handleFinishChangeEndDate()"
              [(ngModel)]="searchParams.end_date"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-container margin-bottom-1 padding-bottom-1 border-bottom">
    <div class="flex-item flex-1 margin-right-05">
      <div class="callout padding-center rounded medium-grey-bg">
        <p class="small-text">Total Debit</p>
        <h4 class="margin-bottom-0">
          {{ journalDetail.summary.debit | currency : "IDR" : "Rp" }}
        </h4>
      </div>
    </div>

    <div class="flex-item flex-1 margin-right-05">
      <div class="callout padding-center rounded medium-grey-bg">
        <p class="small-text">Total Credit</p>
        <h4 class="margin-bottom-0">
          {{ journalDetail.summary.credit | currency : "IDR" : "Rp" }}
        </h4>
      </div>
    </div>

    <div class="flex-item flex-1">
      <div class="callout padding-center rounded medium-grey-bg">
        <p class="small-text">Balance</p>
        <h4 class="margin-bottom-0">
          {{ journalDetail.summary.balance | currency : "IDR" : "Rp" }}
        </h4>
      </div>
    </div>
  </div>

  <div class="table-header">
    <div
      class="flex-container small-text bold border-bottom padding-bottom-1 margin-bottom-1"
    >
      <div class="flex-item flex-1">ID</div>
      <div class="flex-item flex-1">Name</div>
      <div class="flex-item flex-1">Type</div>
      <div class="flex-item flex-1">Value</div>
    </div>
  </div>
  <div class="table-body">
    <div *ngIf="journalDetail.items.length === 0" class="flex-1">
      You have no items
    </div>
    <div
      *ngFor="let item of journalDetail.items"
      class="flex-container align-center small-text bold border-bottom padding-bottom-1 margin-bottom-1"
    >
      <div class="flex-item flex-1">
        {{ item.id }}
      </div>
      <div class="flex-item flex-1">
        {{ item.name }}
      </div>
      <div class="flex-item flex-1">
        {{ item.type }}
      </div>
      <div class="flex-item flex-1">
        {{ item.value | currency : "IDR" : "Rp" }}
      </div>
    </div>
  </div>
</div>
