<app-modal (onClose)="closeModal()" [title]="selected_promotion?.title" isBorder="true" isHalf="true">

    <div topbar>
        <div class="flex-container ">
            <div class="flex-item flex-1">
                <ul class="menu">



                    <li class="flex-item margin-right-05 margin-bottom-0">
                        <!-- <app-remove-button (onClick)="duplicateProduct()">
                            <button class="button   clear small active  ">
                                Duplicate
                            </button>
                        </app-remove-button> -->

                    </li>



                </ul>
            </div>

        </div>

    </div>



    <div class="timeline-container medium-grey-bg" sidebar>

        <div class="callout padding-center border-bottom">

            <app-form-input isHideLabel="true" isHideAction="true"
                            (onClose)="updateProduct(selected_promotion,$event)" [id]="'title'"
                            [value]="selected_promotion.title" [label]="'title'">
                        </app-form-input>


        </div>
        <div  class="callout padding-center">


            <input class="hide" type="file" (change)="onChange($event,selected_promotion)" #fileUpload />

            <div> <img (click)="fileUpload.click()" width="60" height="60"
                    style="width: 60px; height: 60px;" class="product-cover" [src]="selected_promotion.image_path"
                    alt=""></div>

                 <button (click)="fileUpload.click()" class="button tiny clear">
                    +Cover
                 </button>


            <div *ngIf="selected_promotion.type == 'bundling'" class="list-tile-container">


                <div class="list-tile-item flex-container">
                    <div class="flex-1 margin-right-05">
                        <button [ngClass]="{'hollow ': this.selected_promotion.value_type == 'fix_price'}"
                            (click)="changeValueType(selected_promotion,'fix_price')" class="button clear  expanded">Fix
                            Price</button>
                    </div>
                    <div class="flex-1 ">
                        <button [ngClass]="{'hollow ': this.selected_promotion.value_type == 'percentage'}"
                            (click)="changeValueType(selected_promotion,'percentage')"
                            class="button clear  expanded">Percentage</button>

                    </div>
                </div>



                <div *ngIf="selected_promotion.value_type" class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        {{selected_promotion.value_type}}
                    </div>
                    <div class="flex-1 ">
                        <app-form-input isHideLabel="true" isHideAction="true"
                            (onClose)="updateProduct(selected_promotion,$event)" [id]="'value'"
                            [value]="selected_promotion.value" [label]="'value'">
                        </app-form-input>

                    </div>
                </div>





            







            </div>

            <div class="list-tile-container">
                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        Start Date
                    </div>
                    <div class="flex-1 ">
                        <app-form-input [type]="'date'" isHideLabel="true" isHideAction="true"
                            (onClose)="updateProduct(selected_promotion,$event)" [id]="'start_date'"
                            [value]="selected_promotion.start_date" [label]="'Special Price Start'">
                        </app-form-input>

                    </div>
                </div>

                <div class="list-tile-item flex-container">
                    <div class="flex-1 color-grey">
                        End Date
                    </div>
                    <div class="flex-1 ">
                        <app-form-input [type]="'date'" isHideLabel="true" isHideAction="true"
                            (onClose)="updateProduct(selected_promotion,$event)" [id]="'end_date'"
                            [value]="selected_promotion.end_date" [label]="'Special Price Start'">
                        </app-form-input>

                    </div>
                </div>
            </div>



        </div>


    </div>

    <div>
        <div class="fade-in">

            <h3>{{selected_promotion.type == 'bundling' ? 'Bundling':'Bonus'}} Product</h3>

            <div>
                <app-form-search (onSearch)="searchProduct($event)"></app-form-search>
            </div>

            <div class="table-body">
                <div *ngFor="let item of product" class="flex-container table-body-item border">
                    <div class="flex-item margin-right-05">
                        <div class="cursor">
                            <img *ngIf="is_search" width="50" height="50" style="width: 50px; height: 50px;"
                                class="product-cover" [src]="item.feature_image" alt="">

                                <img *ngIf="!is_search" width="50" height="50" style="width: 50px; height: 50px;"
                                class="product-cover" [src]="item.product.feature_image" alt="">

                        
                        </div>

                    </div>
                    <div class="flex-item flex-1 small-text">
                        {{ is_search?item.name:item.product.name}} 
                        
                    </div>
                    <div *ngIf="!is_search && selected_promotion.type == 'bundling'" class="flex-item flex-1 small-text">
                        <div class="small-text color-grey">Bundling Price</div>
                        {{item.bundling_price | currency : "Rp"}}
                    </div>
                    <div *ngIf="!is_search && selected_promotion.type == 'bundling'" class="flex-item flex-1 small-text">
                        <app-form-input isHideLabel="true" isHideAction="true"
                            (onClose)="updateCustomPrice(item,$event)" [id]="'value'"
                            [value]="item.value" [label]="'Custom Bundling Price'">
                        </app-form-input>

                    </div>
                    <div class="flex-item">
                        <button *ngIf="!item.is_added" (click)="addThisProduct(true,item)" class="button tiny clear">
                            <fa-icon [icon]="faPlusCircle"></fa-icon> Add
                        </button>


                        <button *ngIf="item.is_added && !is_search" (click)="addThisProduct(false,item)"
                            class="button tiny clear">
                            <fa-icon [icon]="faMinusCircle"></fa-icon> Remove
                        </button>

                        <button *ngIf="item.is_added && is_search" class="button tiny clear">
                            <fa-icon [icon]="faCheckCircle"></fa-icon> Added
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="is_search" lazyload (onShown)="loadMoreSearch()"></div>

























        </div>
    </div>



</app-modal>