


<div *ngIf="messages?.length > 0" class="message-container">
    <div *ngFor="let item of messages" class="white small-text callout padding-center-1 margin-bottom-05 rounded ele fade-in message-content">
        <div class="flex-container align-center">
            <div class="flex-item flex-2 margin-right-05">
                {{item.msg}}
            </div>
          
            <div class="flex-item">
                <a (click)='dismiss(item)'>
                    <fa-icon [icon]="faTimes"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>
