.message-container{
    position: fixed;
    
    animation: show-from-top 0.3s;
    z-index: 9999999999;
   max-width: 350px;
   min-width: 350px;
   padding: 5px;
   top: 0;
   right: 0;
  
  }
  
  .message-content{
    background: rgba(0,0,0,0.96);
  }
  
  .close-button{
    position: absolute;
    top: 5px;
    right: 5px;
    
  }
  
  .ele{
    box-shadow: 0 2px 16px #0006;
  }
  
  
  @keyframes show-from-top {
    0% {
      top: -10%;
    
    
     
    }
  
    100% {
      top: 0;
     
     
    }
  }
  