<!-- <app-table-action [sortListItems]="sortListItems"></app-table-action> -->

<div class="flex-container">
    <div class="flex-item margin-right-2  "
        style="padding-right: 1rem; width:250px;border-right: 1px solid #5e5e5e66 !important">
        <app-form-search (onSearch)="getCategoryCollection($event)"></app-form-search>



        <div *ngIf="collection" class="fade-in padding-right-2  border-right "
            style="max-height: 75vh;overflow: scroll;padding-right: 1rem;">

            <ng-container *ngFor="let type of ['BRAND','CATEGORY', 'ACTIVITY']">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1 large-text bold">
                        {{type}}
                    </div>
                    <div class="flex-item">
                        <button (click)="addCategory(type)" class="button tiny clear">
                            + Add

                        </button>
                    </div>

                </div>
                <ul *ngIf="collection[type]?.length">
                    <ng-container *ngFor="let category of collection[type]">
                        <li>
                            <div class="cursor border-bottom">
                                <div class="flex-container color-grey large-text">
                                    <!-- <div *ngIf="category.child_count" (click)="getCategoryChild(category)"
                                        class="flex-item margin-right-05">
                                        <fa-icon [icon]="faPlusSquare"></fa-icon>

                                    </div> -->
                                    <div [ngClass]="{'white': category.id == this.category_id}"
                                        (click)="getCategoryChild(category);navigateTo(category)"
                                        class="flex-item nav flex-1">
                                        {{ category.name | titlecase }}

                                    </div>




                                </div>

                            </div>

                            <ul *ngIf="category.child?.length">
                                <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: category.child }">
                                </ng-container>
                            </ul>
                        </li>
                    </ng-container>
                </ul>
            </ng-container>

            <ng-template #recursiveList let-children>
                <ng-container *ngFor="let child of children">
                    <li>

                        <div class=" border-bottom">
                            <div class="flex-container color-grey large-text">

                                <!-- <div *ngIf="child.child_count" (click)="getCategoryChild(child)"
                                        class="flex-item margin-right-05">
                                        <fa-icon [icon]="faPlusSquare"></fa-icon>

                                    </div> -->


                                <div [ngClass]="{'white': child.id == this.category_id}"
                                    (click)="getCategoryChild(child);navigateTo(child)"
                                    class="nav cursor flex-item flex-1">
                                    {{ child.name | titlecase}}

                                </div>

                            </div>

                        </div>


                        <ul *ngIf="child.child?.length">
                            <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: child.child }">
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-template>

        </div>
    </div>
    <div *ngIf="show_details" class="flex-item flex-1 margin-right-2  fade-in">
        <div *ngIf="category_id">

            <div *ngIf="show_details" class="callout padding-center rounded medium-grey-bg margin-bottom-1">


                <div class="flex-container align-center margin-bottom-05">
                    <div class="flex-item flex-1">
                        <div (click)="navigateTo(category.parrent)" class="small-text color-grey cursor" *ngIf="category.parrent?.id">
                            <fa-icon [icon]="faChevronLeft"></fa-icon>
                            {{category.parrent.name}} </div>
                        <h1>{{category.name}}</h1>
                    </div>
                    <div class="flex-item">

                        <app-remove-button (onClick)="deleteCategory(this.category)">
                            <button class="button tiny clear expanded">
                                Delete

                            </button>
                        </app-remove-button>
                    </div>
                </div>

                <div class="list-tile-container margin-bottom-1">
                    <div class="list-tile-item">

                        <app-form-input (onClose)="updateCategoryField(category, $event)" isHideAction="true"
                            [id]="'name'" [value]="category.name" [label]="'Name'"></app-form-input>
                    </div>
                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateCategoryField(category, $event)" isHideAction="true"
                            [id]="'description'" [value]="category.description" [label]="'Description'">
                        </app-form-input>
                    </div>
                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateCategoryField(category, $event)" isHideAction="true"
                            [id]="'warranty'" [value]="category.warranty" [label]="'warranty'">
                        </app-form-input>
                    </div>
                    

                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateCategoryField(category, $event)" isHideAction="true"
                            [id]="'affiliate_percentage'" [type]="'currency'" [value]="category.affiliate_percentage" [label]="'affiliate_percentage'">
                        </app-form-input>
                    </div>

                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateCategoryField(category, $event)" isHideAction="true"
                            [id]="'url_key'" [value]="category.url_key" [label]="'url_key'">
                        </app-form-input>
                    </div>


                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateCategoryField(category, $event)" isHideAction="true"
                            [id]="'meta_title'" [value]="category.meta_title" [label]="'Meta Title'">
                        </app-form-input>
                    </div>

                    <div class="list-tile-item">
                        <app-form-input (onClose)="updateCategoryField(category, $event)" isHideAction="true"
                            [id]="'meta_description'" [value]="category.meta_description" [label]="'Meta Description'">
                        </app-form-input>
                    </div>
                </div>

            </div>
            <div *ngIf="show_details">
                <app-card [title]="'Product'" [is_expand]="true">

                    <div>
                        <app-form-search (onSearch)="searchProduct($event)"></app-form-search>
                    </div>

                   <div class="table-body">
                    <div *ngFor="let item of product"
                    class="flex-container table-body-item border">
                        <div (click)="selected_product = item" class="flex-item margin-right-05">
                            <div class="cursor">
                                <img *ngIf="item.feature_image" width="50" height="50"
                                    style="width: 50px; height: 50px;" class="product-cover" [src]="item.feature_image"
                                    alt="">

                                <div style="width: 50px;height: 50px;" *ngIf="!item.feature_image"
                                    class="callout product-cover text-center dark-grey-bg">

                                </div>
                            </div>

                        </div>
                        <div (click)="this.selected_product = item" class="flex-item flex-1 small-text">
                            {{item.name}}

                            <div *ngIf="item.total_variant">
                                <span class="span-label">{{item.total_variant}} Variant</span>
                            </div>
                        </div>
                        <div class="flex-item">
                            <button *ngIf="!item.is_added" (click)="addThisProduct(true,item)"
                                class="button tiny clear">
                                <fa-icon [icon]="faPlusCircle"></fa-icon> Add
                            </button>


                            <button *ngIf="item.is_added && !is_search" (click)="addThisProduct(false,item)"
                                class="button tiny clear">
                                <fa-icon [icon]="faMinusCircle"></fa-icon> Remove
                            </button>

                            <button *ngIf="item.is_added && is_search" (click)="addThisProduct(false,item)"
                                class="button tiny clear">
                                <fa-icon [icon]="faCheckCircle"></fa-icon> Added
                            </button>
                        </div>
                    </div>
                   </div>
                 

                    <!-- <div *ngIf="page>=1" lazyload (onShown)="loadMore()"></div> -->
                    <div *ngIf="is_search" lazyload (onShown)="loadMoreSearch()"></div>
                    <div *ngIf="!is_search" lazyload (onShown)="loadMore()"></div>

                    <app-product-view (onClose)="this.selected_product = null" *ngIf="this.selected_product"
                        [selected_product]="this.selected_product">
                    </app-product-view>
                </app-card>
            </div>
        </div>
    </div>
    <div *ngIf="show_details"   class="flex-item fade-in" style="width: 350px;">
        <div *ngIf="category_id">


            <div class="callout padding-center rounded medium-grey-bg">

                <div class="margin-bottom-2">
                    <div class="flex-container align-center margin-bottom-05">
                        <div class="flex-item flex-1">
                            <h4>Gallery</h4>
                        </div>
                        <div class="flex-item">
                            <input class="hide" type="file" (change)="onChange($event)" #fileUpload />


                            <button (click)="fileUpload.click()" class="button tiny clear">
                                + Gallery
                            </button>
                        </div>
                    </div>

                    <div class="flex-container">


                        <div *ngFor="let item of category.gallery"
                            class="flex-item hover-show cursor hide_action margin-right-05">

                            <div> <img width="80" height="80" style="width: 80px; height: 80px;" class="product-cover"
                                    [src]="item.url_path" alt=""></div>
                            <div class="hide">
                                <!-- <button (click)="setCoverImage(item)" class="button tiny clear">Set Cover</button> -->
                                <button (click)="deleteProductGallery(item)" class="button tiny clear">
                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                </button>
                            </div>


                        </div>


                    </div>
                </div>
                <div class="flex-container align-center margin-bottom-05">
                    <div class="flex-item flex-1">
                        <h4>{{category.name}} Subcategory</h4>
                    </div>
                    <div class="flex-item">
                        <input class="hide" type="file" (change)="onChange($event)" #fileUpload />


                        <button (click)="addCategory(this.category.type,this.category.id)" class="button tiny clear">
                            + Add

                        </button>
                    </div>
                </div>
                <div class="list-tile-cosntainer">
                    <div (click)="navigateTo(item)" *ngFor="let item of category.child"
                        class="padding-bottom-05 margin-bottom-05 color-grey small-text cursor border-bottom">
                        {{item.name}}
                    </div>
                </div>





            </div>
        </div>



    </div>
</div>

<!-- 
<app-category-view></app-category-view> -->