<div class="main-body ">




    <div class="flex-container align-center">
        <div class="flex-item flex-2">
            <div class="label-text medium">
                <div class="title">
                   Product Report
                </div>

            </div>
        </div>

    </div>

    <div class="form  flex-container callout padding-center-1 border rounded  align-center medium-grey-bg margin-bottom-1 align">
        <div class="flex-item flex-05 margin-right-05">
            <div class="">


                <div>
                    <p class="small-text color-grey">Start Date</p>
                    <input class="margin-bottom-0" [(ngModel)]="start_date" type="date">
                </div>

            </div>

        </div>
        <div class="flex-item flex-05 margin-right-05">
            <div>



                <div class="flex-container">

                    <div class="flex-item  flex-1">
                        <p class="small-text color-grey">End Date</p>
                        <input class="margin-bottom-0" [(ngModel)]="end_date" type="date">
                    </div>
                </div>

            </div>






        </div>

        <div class="flex-item flex-05 margin-right-1">
            <div>
                <p class="small-text color-grey">Sales Channel</p>
                <select class="margin-bottom-0" #mySelectss (change)='changeAsset(mySelectss.value)' name="" id="">
                    <option *ngFor="let item of sourceList" [selected]="item.id == current_asset" [value]="item.id">
                        {{item.label}} </option>

                </select>
            </div>

        </div>
        <div class="flex-item text-right">
            <button (click)="search()" class="button circle small clear margin-bottom-0">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>

        </div>
    </div>


    <div class="flex-container margin-bottom-05 ">


        <div class="flex-item flex-1 margin-right-05">
            <div class="callout padding-center-1 border rounded medium-grey-bg">
                <p class="small-text color-grey">Total Gross Revenue </p>
                <h4 class="margin-bottom-0">
                    {{salesOrderSummary.gross_revenue +  this.salesOrderSummary.total_trx_fee_income | currency:'IDR':'Rp'}}
                    ( {{this.salesOrderSummary.total_qty}} Qty)</h4>
                <!-- <div class="tiny-text"> Product Sales
                    {{salesOrderSummary.gross_revenue | currency:'IDR':'Rp'}} + Trx Fee Inc
                    {{ this.salesOrderSummary.total_trx_fee_income | currency:'IDR':'Rp'}}</div> -->
            </div>

        </div>

        <div class="flex-item flex-1 margin-right-05">
            <div class="callout padding-center-1 border rounded medium-grey-bg">
                <p class="small-text color-grey">Total Inventory ( COGS )</p>
                <h4 class="margin-bottom-0">{{salesOrderSummary.total_cogs | currency:'IDR':'Rp'}}</h4>
            </div>

        </div>

        <div class="flex-item flex-1 margin-right-05">
            <div class="callout padding-center-1 border rounded medium-grey-bg">
                <p class="small-text color-grey">Total Bonus ( COGS )</p>
                <h4 class="margin-bottom-0">{{salesOrderSummary.total_bonus | currency:'IDR':'Rp'}}</h4>
            </div>

        </div>

        <div class="flex-item flex-1">
            <div class="callout padding-center-1 border rounded medium-grey-bg">
                <p class="small-text color-grey">Total Sales Discount</p>
                <h4 class="margin-bottom-0">{{salesOrderSummary.total_sales_discount | currency:'IDR':'Rp'}}
                </h4>
            </div>

        </div>






    </div>



    <div class="flex-container margin-bottom-1 padding-bottom-1 border-bottom">



        <div class="flex-item flex-1 margin-right-05">
            <div class="callout padding-center-1 border rounded medium-grey-bg">
                <p class="small-text color-grey">Total Trx Fee</p>
                <h4 class="margin-bottom-0">{{salesOrderSummary.total_trx_fee | currency:'IDR':'Rp'}}</h4>
            </div>

        </div>

        <div class="flex-item flex-1 margin-right-05">
            <div class="callout padding-center-1 border rounded medium-grey-bg">
                <p class="small-text color-grey">Shipping Cost Revenue </p>
                <h4 class="margin-bottom-0">{{salesOrderSummary.total_shipping_cost | currency:'IDR':'Rp'}}
                </h4>
            </div>

        </div>

        <div class="flex-item flex-1  margin-right-05">
            <div class="callout padding-center-1 border rounded medium-grey-bg">
                <p class="small-text color-grey">Loss Profit Transaction</p>
                <h4 class="margin-bottom-0">{{salesOrderSummary.total_loss_profit | currency:'IDR':'Rp'}}
                </h4>

            </div>

        </div>

        <div class="flex-item flex-1 ">
            <div class="callout padding-center-1 border rounded medium-grey-bg">
                <p class="small-text color-grey">Gross Profit</p>
                <h4 class="margin-bottom-0">{{salesOrderSummary.gross_profit | currency:'IDR':'Rp'}}
                </h4>
            </div>

        </div>




    </div>

    <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>



  





    <div class="form">
        <input type="text"
            [placeholder]="'Filter by product name / customer / order number / voucher code / bonus item '"
            [(ngModel)]="searchInput" (keyup)="searchKeyword()">

    </div>


    <div class="table-container">
       
        <div class="parrent">
            <div class="child">
                <div class="table-header margin-bottom-0">

                    <div class="flex-container table-header-item">


                        <div style="width: 50px !important;" class="flex-item flex-1 ">
                            <div># Order</div>

                        </div>

                        <div style="width: 50px !important;" class="flex-item flex-1 ">
                            <div>Date</div>

                        </div>

                        <div style="width: 175px !important;" class="flex-item flex-2 margin-right-05">
                            Product
                        </div>
                        <div style="width: 50px !important;" class="flex-item flex-05">
                            Qty
                        </div>

                        <div style="width: 200px !important;" class="flex-item flex-1">
                            Sell Price
                        </div>
                        <div style="width: 200px !important;" class="flex-item flex-1">
                            COGS
                           
                          </div>
  

                       


                        <div style="width: 200px !important;" class="flex-item flex-1">
                            Discount 
                        </div>



                        <div style="width: 200px !important;" class="flex-item flex-1">
                            T.Fee / Item
                            <div class="tiny-text small-text color-grey color-grey">Income</div>
                        </div>

                        <div style="width: 200px !important;" class="flex-item flex-1 ">
                            T.Fee / Item
                            <div class="tiny-text small-text color-grey color-grey">Expense</div>
                        </div>

                        <div style="width: 200px !important;" class="flex-item flex-1 ">
                            Bonus / Item
                            <div class="tiny-text small-text color-grey color-grey">Bonus Name</div>
                        </div>


                        <div style="width: 200px !important;" class="flex-item flex-1">
                            Ship / Item
                            <div class="tiny-text small-text color-grey color-grey">Income</div>
                        </div>


                      
                        <div style="width: 200px !important;position: sticky;right: 0;background: #2a2e34 !important;border-left: 1px solid #454c57;" class="flex-item flex-1 text-right">
                            Gross Profit
                        </div>

                        


                    </div>

                </div>

                <div *ngIf="products" class="table-body">

                    <div *ngFor="let item of products" class="flex-container table-body-item align-center">



                        <div class="flex-item flex-1">
                            #{{item.order_id}} 
                            <div class="tiny-text color-grey">
                                {{item.source}}
                            </div>
                            <!-- <div class="small-text color-grey color-grey tiny-text">{{item.date | date}} - {{item.source}}
                            </div>
                            <div class="small-text color-grey">#{{item.order_id}}</div>
                            <div class="tiny-text">{{item.customer}}</div> -->


                        </div>
                        <div class="flex-item flex-1 ">
                          
                            {{item.date | date}}

                        </div>


                        <div class="flex-item flex-2 margin-right-05">
                            <img style="border-radius: 10px;margin-right: 5px;" width="60" height="60" [src]="item.image" alt="">

                            {{item.product_name}}
                        </div>
                        <div class="flex-item flex-05 ">

                            {{item.qty | number}}
                        </div>

                        <div class="flex-item flex-1">
                            {{item.sell_price  | currency:'IDR':'Rp'}}
                        </div>

                        <div class="flex-item flex-1 margin-right-05">
                            {{item.cogs  | currency:'IDR':'Rp'}}
                         


                        </div>
                      

                        <div class="flex-item flex-1">

                            {{item.promo_discount_amount  | currency:'IDR':'Rp'}}

                            <div class="color-grey small-text color-grey">{{item.coupon_code}}</div>
                        </div>




                        <div class="flex-item flex-1">
                            {{item.transaction_fee_income_per_item  | currency:'IDR':'Rp'}}


                        </div>

                        <div class="flex-item flex-1 form">
                            <div *ngIf="!item.edit"> {{item.transaction_fee  | currency:'IDR':'Rp'}}</div>

                            <input *ngIf="item.edit" placeholder="T.Fee Value" [(ngModel)]="item.transaction_fee"
                                type="number">
                            <div *ngIf="!item.edit" class="small-text color-grey color-grey">{{item.payment_method}}</div>
                        </div>

                        <div class="flex-item flex-1 margin-right-05 form">
                            <div *ngIf="!item.edit"> {{item.bonus_value | currency:'IDR':'Rp'}}</div>

                            <input *ngIf="item.edit" placeholder="Bonus Value" [(ngModel)]="item.bonus_value"
                                type="number">
                            <input *ngIf="item.edit" placeholder="Bonus Name" [(ngModel)]="item.bonus_item" type="text">

                            <div *ngIf="!item.edit" class="small-text color-grey color-grey">
                                {{getBonusItemName(item)}}

                            </div>

                        </div>

                        <div class="flex-item flex-1 margin-right-05">
                            {{item.shipping_cost  | currency:'IDR':'Rp'}}
                            <div class="small-text color-grey color-grey">{{item.shipping_method}}</div>
                        </div>


                      

                       
                        <div style="position: sticky;right: 0;background: #30353ceb !important;border-left: 1px solid #454c57;" class="flex-item flex-1 text-right">


                            <span [ngClass]="{red: item.lost_profit}" class="status-label">
                                {{item.gross_profit  | currency:'IDR':'Rp'}}
                            </span>



                        </div>


                      


                    </div>




                </div>
            </div>
        </div>
    </div>




</div>