.flex-container{
    align-items: baseline;
}
.body-item{
    align-items: stretch;
   
    &:hover{
        background: #42424247 !important;
    }
    padding: 0;
    .flex-item
    {
        display: inline-block;
        padding: 0.5rem 0.3rem;
    }
}

.header-item{
    
    .flex-item
    {
        display: inline-block;
        padding: 0.3rem;
        
    }
}
.red{
    background: #a52a2a3d !important;
   
    color: white !important;
}

.table-body .table-body-item {
    padding: 0  !important;
    font-size: 13px;
    overflow-wrap: break-word;
    background: rgba(48, 53, 60, 0.547) !important;
    border-radius: 3px;
    margin-bottom: 1px;
    align-items: center;
    .flex-item{
        padding: 0.5rem;
        min-height:max-content;
        align-self: normal;
        
    }
}

.table-header .table-header-item {
    padding: 0  !important;
  
    .flex-item{
        padding: 0.5rem;
        min-height:max-content;
        align-self: normal;
        
    }
}