<app-modal *ngIf="order" (onClose)="closeModal()" [title]="order?.increment_id" [isBorder]="true" [isHalf]="true">
    <div topbar>
        <div class="flex-container ">
            <div class="flex-item flex-1">
                <ul class="menu">
                    <li *ngIf="order.state == 'new' &&   canApprove()" class="flex-item margin-right-05 margin-bottom-0">
                        <button style="background:royalblue !important;color:white"
                            (click)="updateStatus(order,'new','new')" class="button   clear small active  ">
                            <fa-icon [icon]="faWallet"></fa-icon> Receive Payment
                        </button>
                    </li>

                    <!-- <li *ngIf="order.status == 'processing'" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus(order,'shipment','complete')"
                            class="button   clear small active  ">
                            <fa-icon [icon]="faShippingFast"></fa-icon> Ship
                        </button>
                    </li> -->

                    <li *ngIf="canApprove()" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="updateStatus(order,'complete','complete')"
                            class="button   clear small active  ">
                            <fa-icon [icon]="faCheckCircle"></fa-icon> Complete
                        </button>
                    </li>

                    <li *ngIf="order.status !== 'canceled'"  class="flex-item margin-right-05 margin-bottom-0">
                      

                        <app-remove-button (onClick)="updateStatus(order,'canceled','canceled')">
                            <button class="button small clear active rounded margin-right-05">
                                Cancel
                            </button>
                        </app-remove-button>
    
                    </li>








                </ul>
            </div>
            <div class="flex-item">
                <ul style="justify-content: flex-end;" class="menu menu-right">

                    <li *ngIf="order.state !== 'new'" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="generatePdfs(order,'PRINT_INVOICE')" class="button   clear small active  ">
                            <fa-icon [icon]="faPrint"></fa-icon> Print Invoice
                        </button>
                    </li>

                    <li *ngIf="order.state !== 'new'" class="flex-item margin-right-05 margin-bottom-0">
                        <button (click)="generatePdfs(order,'PRINT_PACKING')" class="button   clear small active  ">
                            <fa-icon [icon]="faPrint"></fa-icon> Print Packing
                        </button>
                    </li>






                </ul>
            </div>
        </div>

    </div>

    <div class="timeline-container medium-grey-bg" sidebar>
        <div class="callout padding-center">
            <div class="list-tile-container rounded margin-bottom-2">
                <h4>Order Information</h4>


                <div class="flex-container list-tile-item">
                    <div class="flex-item flex-1">
                        Status

                    </div>

                    <div class="flex-item flex-1 text-right">

                        <span class="status-label"
                        [ngClass]="{processing: order.state=='processing',shipment: order.status=='shipment', pickedup: order.status=='shipment_update'}">{{order.status_label}}</span>
                    </div>
                </div>

                <div class="flex-container list-tile-item">
                    <div class="flex-item flex-1">
                        Date

                    </div>

                    <div class="flex-item flex-1 text-right">

                       
                        {{order.order_date | date}}
                    </div>
                </div>



              

                <div class="flex-container list-tile-item">
                    <div class="flex-item flex-1">
                        Name

                    </div>

                    <div class="flex-item flex-1 text-right">

                        {{order.shipping_address.firstname}}
                    </div>
                </div>
                <div class="flex-container list-tile-item">
                    <div class="flex-item flex-1">
                        Email

                    </div>

                    <div class="flex-item flex-1 text-right">

                        {{order.shipping_address.email}}
                    </div>
                </div>
                <div class="flex-container list-tile-item">
                    <div class="flex-item flex-1">
                        Phone

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{order.shipping_address.telephone}}

                    </div>
                </div>

                <div class="flex-container list-tile-item margin-bottom-1">
                    <div class="flex-item flex-1">
                      Payment Receive By

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{order.sales_rep?order.sales_rep:'Online Payment'}}

                    </div>
                </div>
                <div class="flex-container list-tile-item margin-bottom-1">
                    <div class="flex-item flex-1">
                        Note

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{order.customer_note}}

                    </div>
                </div>







            </div>
            <div class="list-tile-container margin-bottom-2">
                <h4>Delivery Information</h4>
                <div class="large-text margin-bottom-05">
                    <!-- {{order.shipping_address.firstname}} -  {{order.shipping_address.telephone}} -->
                </div>
    
                <div class="large-text margin-bottom-1">
                    {{order.shipping_address.street}} - {{order.shipping_address.city}} -
                    {{order.shipping_address.region}}
                </div>
    
    
    
                <div class="flex-container list-tile-item">
                    <div class="flex-item flex-1">
                        Shipping Method
    
                    </div>
    
                    <div class="flex-item flex-1 text-right">
                        {{order.shipping_method}}
    
    
                    </div>
                </div>
                <div class="flex-container list-tile-item">
                    <div class="flex-item flex-1">
                        Tracking Code
    
                    </div>
    
                    <div class="flex-item flex-1 text-right">
                        {{order.tracking.title}} - {{order.tracking.number}}
    
    
                    </div>
                </div>
    
    
    
                <div *ngIf="order.gift.gift_message_id"
                    class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Send as Gift
                    </div>
    
                    <div class="flex-item flex-1 text-right">
                        Yes
    
                    </div>
    
    
                </div>
    
                <div *ngIf="order.gift.gift_message_id"
                    class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item">
                        Recipient
                    </div>
    
                    <div class="flex-item flex-1 text-right">
                        {{order.gift.recipient}}
    
    
                    </div>
    
    
                </div>
    
                <div *ngIf="order.gift.gift_message_id"
                    class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item">
                        Message
                    </div>
    
                    <div class="flex-item flex-1 text-right">
    
                        {{order.gift.message}}
    
                    </div>
    
    
                </div>
    
    
    
            </div>
    
            <div class=" list-tile-container rounded margin-bottom-2">
                <h4>Payment Information</h4>
                <div *ngIf="!order.midtrans">
                    {{order.payment_method}}
                </div>
                <div *ngIf="order.midtrans">
                    <div class="flex-container list-tile-item">
                        <div class="flex-item flex-1">
                            Midtrans Payment Type
    
                        </div>
    
                        <div class="flex-item flex-1 text-right">
                            {{this.order.midtrans.payment_type}}
                        </div>
                    </div>
    
                    <div *ngIf="this.order.midtrans.transaction_status" class="flex-container list-tile-item">
                        <div class="flex-item flex-1">
                            Midtrans Status
    
                        </div>
    
                        <div class="flex-item flex-1 text-right">
                            {{this.order.midtrans.transaction_status}}
                        </div>
                    </div>
    
                    <div *ngIf="this.order.midtrans.fraud_status" class="flex-container list-tile-item">
                        <div class="flex-item flex-1">
                            Fraud Status
    
                        </div>
    
                        <div class="flex-item flex-1 text-right">
                            {{this.order.midtrans.fraud_status}}
                        </div>
                    </div>
    
                    <div *ngFor="let item of this.order.midtrans.va_numbers" class="flex-container list-tile-item">
                        <div class="flex-item flex-1">
                            Virtual Account
    
                        </div>
    
                        <div class="flex-item flex-1 text-right">
                            {{item.va_number}} - {{item.bank}}
    
                        </div>
                    </div>
                    <div *ngIf="this.order.midtrans.installment" class="flex-container list-tile-item">
                        <div class="flex-item flex-1">
                            Bank
                        </div>
    
                        <div class="flex-item flex-1 text-right">
                            {{this.order.midtrans.bank}} -
                            <span *ngIf="this.order.midtrans.installment">{{this.order.midtrans.installment}}x</span>
    
    
                        </div>
                    </div>
                </div>
            </div>

            <h4>History</h4>
            <div class="">
                <div class="timeline" *ngFor="let item of order.history">
                    <div class="large-text">
                        <b>{{item.created_at | date}} - {{item.status}}</b>
    
                    </div>
                    <div class="color-grey small-text">
                        {{item.comment}}
                    </div>
                    <span class="node"></span>
                    <span class="bar"></span>
    
                </div>
    
    
    
    
            </div>
    
        </div>


    </div>
    <div class="fade-in">
       



        <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
            <h4>Product Details</h4>



            <div class="table-header">
                <div class="table-header-item flex-container">
                    <div class="flex-item flex-2">
                        Name
                    </div>


                    <div class="flex-item flex-05">
                         Qty
                    </div>
                   
                    <div class="flex-item flex-1">
                        Discount
                    </div>

                    <div class="flex-item flex-1">
                        Price
                    </div>
                    <div class="flex-item flex-1">
                        Inventory
                    </div>

                  
                </div>
            </div>

            <div class="table-body">
                <div class="table-body-item border flex-container" *ngFor="let item of order.items">
                    <div class="flex-item flex-2">
                        {{item.name}}



                        <div *ngIf="item.bonus_item">
                            Bundling / Bonus Item : {{item.bonus_item.name}}

                            <div *ngFor="let item of item.bonus_item">
                                {{item.name}}

                            </div>

                        </div>





                        <div *ngFor="let item of item.options.options">
                            {{item.label}} : {{item.option_value}}
                        </div>

                        <div *ngFor="let item of item.options.attributes_info">
                            #{{item.label}} : {{item.value}}
                        </div>

                    </div>







                    <div class="flex-item flex-05">
                        {{item.qty | number}}
                    </div>
                    
                    <div class="flex-item flex-1">
                        {{item.promo_discount_amount | currency:"IDR":"Rp"}}
                        <div class="small-text color-grey">
                            {{item.promo_code }}
                        </div>

                    </div>
                    <div class="flex-item flex-1">
                        {{item.sell_price | currency:"IDR":"Rp"}}
                    </div>

                    <div class="flex-item flex-1 form">
                        <span *ngIf="this._getTotalAllocate(item.product_id)"> {{this._getTotalAllocate(item.product_id) | number}}
                        </span>
                       
                        <!-- <button *ngIf="!this._getTotalAllocate(item.product_id)"
                            (click)="findInventory(item.qty,item.product_id,1)" class="tiny button  clear margin-right-05"> Get Inventory
                             </button> -->

                            <select *ngIf="!this._getTotalAllocate(item.product_id)" (change)="onChange(item,$event)">
                                <option value="">+ Warehouse</option>
                                <option *ngFor="let item of warehouse" [value]="item.id">{{item.name}}</option>
                            </select>

                    </div>

                   
                </div>

            </div>


            <div class="callout">
                <div class="flex-container small-text  margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Subtotal

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{order.subtotal  | currency:"IDR":"Rp"}}
                    </div>
                </div>
                <div class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Discount

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{order.discount  | currency:"IDR":"Rp"}}
                    </div>
                </div>

                <div class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Shipping

                    </div>

                    <div class="flex-item flex-1 text-right">
                        {{order.shipping_cost  | currency:"IDR":"Rp"}}
                    </div>
                </div>


                <div class="flex-container small-text margin-bottom-05 border-bottom padding-bottom-05">
                    <div class="flex-item flex-1">
                        Total

                    </div>

                    <div class="flex-item flex-1 text-right">
                        <b> {{order.grand_total  | currency:"IDR":"Rp"}}</b>

                    </div>
                </div>
            </div>

        </div>

        <div class="callout padding-center medium-grey-bg rounded margin-bottom-1">
            <h4>Inventory</h4>



            <div class="table-header">
                <div class="table-header-item flex-container">
                    


                    <div class="flex-item flex-1">
                        Packing Photo
                    </div>
                    <div class="flex-item flex-05">
                        Rack
                    </div>
                   
                   
                    <div class="flex-item flex-05">
                        Age
                    </div>
                    <div class="flex-item flex-1">
                        Type
                    </div>

                    <div class="flex-item flex-1">
                        Status
                    </div>

                    <div style="width: 50px;" class="flex-item">
                        
                    </div>
                </div>
            </div>
            <div class="table-body">
                <div *ngFor="let item of inventory" class="table-body-item border flex-container">
                 

                    <div class="flex-item flex-1">
                        <div>{{item.name}}</div>
                        <img *ngIf="item.image_url" class="packing_photo cursor"
                            (click)="selected_image = item.image_url" width="100" height="100" [src]="item.image_url"
                            alt="">

                    </div>

                    <div class="flex-item flex-05">
                        <div>{{item.location?.location}}</div>
                        {{item.location?.name}} - {{item.location?.chamber}}
                    </div>
                   
                   
                    <div class="flex-item flex-05">
                        {{item.age}} D
                    </div>

                    <div class="flex-item flex-1">
                        {{item.type}} 
                    </div>

                    <div class="flex-item flex-1">
                        <span class="status-label">
                            {{item.status}}
                        </span>
                        
                    </div>

                    <div style="width: 50px;" class="flex-item text-right">
                        
                        <button (click)="statusUpdate(item)" class="button tiny clear margin-bottom-0">
                            -
                        </button>
                    </div>

                  
                </div>
            </div>



        </div>

        




       


    </div>

    <app-modal-full (onClose)="selected_image =null" *ngIf="selected_image">
        <img width="100%" height="100%" [src]="selected_image" alt="">
    </app-modal-full>

    
</app-modal>

