
.edited{
    background: rgba(0,23,23,0.8);
}


.balance{
    color: #ccff0070
}
.non-profit{
    color: brown !important
}   

.relative{
    position: relative;
}
.menu-container{
    position: absolute;
    background: #424242fa !important;
    padding: 0.5rem;
    z-index: 9999999999;
   
    a{
        font-size: 16px;
    }
}



.modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 5% 10%;
    background: rgba(0,0,0,0.9);
    .callout{
        background : #333333 !important
    }
}