<div class="main-body">
  <div>
    <div class="label-text medium border-bottom margin-bottom-1">
      <div class="flex-container horizontal justify-space-between align-center">
        <div class="flex-item flex-1 margin-right-1">
          <a style="color: white" (click)="navBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon> Back</a
          >
          <div class="title">
            {{ account.account_number }} - {{ account.account_name }}
          </div>
          <div *ngIf="account.account_description" class="subtitle">
            {{ account.account_description }}
          </div>
        </div>
        <div class="flex-item flex-1 text-right">
          <div class="subtitle">
            Balance : {{ account.account_balance | currency : "IDR" : "Rp" }}
          </div>

          <button [disabled]="!containsEntries" (click)="handleDownloadCSV()">
            <fa-icon [icon]="faFileDownload"></fa-icon>
            Download as CSV
          </button>
        </div>
      </div>
    </div>
    <div class="flex-container margin-bottom-05">
      <div class="flex-item flex-05 margin-right-05">
        <div class="callout form padding-center rounded medium-grey-bg">
          <p class="small-text">Selected Year</p>
          <select
            #mySelects
            (change)="changeYear(mySelects.value)"
            name=""
            id=""
          >
            <option
              *ngFor="let item of years"
              [selected]="item.value == current_year"
              [value]="item.value"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="flex-item flex-05">
        <div class="callout form padding-center rounded medium-grey-bg">
          <p class="small-text">Selected Month</p>
          <select
            #mySelect
            (change)="changeMonth(mySelect.value)"
            name=""
            id=""
          >
            <option
              *ngFor="let item of months"
              [selected]="item.value == current_month"
              [value]="item.value"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="flex-container margin-bottom-1 padding-bottom-1 border-bottom">
      <div class="flex-item flex-1 margin-right-05">
        <div class="callout padding-center rounded medium-grey-bg">
          <p class="small-text">Total Debit</p>
          <h4 class="margin-bottom-0">
            {{ total_debit | currency : "IDR" : "Rp" }}
          </h4>
        </div>
      </div>

      <div class="flex-item flex-1 margin-right-05">
        <div class="callout padding-center rounded medium-grey-bg">
          <p class="small-text">Total Credit</p>
          <h4 class="margin-bottom-0">
            {{ total_credit | currency : "IDR" : "Rp" }}
          </h4>
        </div>
      </div>

      <div class="flex-item flex-1">
        <div class="callout padding-center rounded medium-grey-bg">
          <p class="small-text">Balance</p>
          <h4 class="margin-bottom-0">
            {{ total_credit - total_debit | currency : "IDR" : "Rp" }}
          </h4>
        </div>
      </div>
    </div>

    <div class="table-header margin-bottom-1">
      <div class="flex-container small-text bold">
        <div class="flex-item flex-05 margin-right-05">ID</div>
        <div class="flex-item flex-05 margin-right-05">Date</div>

        <div class="flex-item flex-2 margin-right-05">Description</div>
        <div class="flex-item flex-1 margin-right-05">Debit</div>

        <div class="flex-item flex-1 margin-right-05">Credit</div>

        <div class="flex-item flex-1">Action</div>
      </div>
    </div>

    <div class="table-body">
      <div
        class="flex-container align-center small-text bold border-bottom padding-bottom-1 margin-bottom-1"
        *ngIf="!containsEntries"
      >
        <div class="flex-item flex-05 margin-right-05">
          There are no entries available. Please select another month and/or
          year
        </div>
      </div>
      <div
        *ngFor="let item of account.transactions"
        class="flex-container align-center small-text bold border-bottom padding-bottom-1 margin-bottom-1"
      >
        <div class="flex-item flex-05 margin-right-05">
          {{ item.id }}
        </div>
        <div class="flex-item flex-05 margin-right-05">
          {{ item.create_date | date }}
        </div>

        <div class="flex-item flex-2 margin-right-05">
          <a (click)="goToDetails(item.reference_id, item.reference_type)">
            {{ item.account_description }} ( View Details )
          </a>
          <div class="">
            {{ item.reference_type }} - Reference Number #{{
              item.reference_id
            }}
          </div>
        </div>
        <div class="flex-item flex-1 margin-right-05">
          {{ item.debit | currency : "IDR" : "Rp" }}
        </div>
        <div class="flex-item flex-1 margin-right-05">
          {{ item.credit | currency : "IDR" : "Rp" }}
        </div>

        <div class="flex-item flex-1">
          <button
            (click)="deleteItem(item)"
            class="button tiny white margin-bottom-0"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
