<div *ngIf="promo" class="main-content page-enter-from-right">
    <div class="padding-center">
        <div class="row">



            <div class="medium-12 columns">

                <div class="content-wrapper">
                    <span [queryParams]="{tab_view: promo.type}" [routerLink]="'/product/'" class="cursor">
                        <fa-icon [icon]="faChevronLeft"></fa-icon> Back
                    </span>

                    <h1>{{this.promo.type == 'special_price'?'Special Price':'Product Voucher'}}</h1>


                    <div class="flex-container ">
                        <div class="flex-item flex-1">
                            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


                        </div>

                    </div>


                    <div *ngIf="tab_view == 'setting'">

                        <div *ngIf="promo.type == 'product_discount'">
                            <div class="row">
                                <div class="medium-6 columns">
                                    <div class="callout padding-center rounded border margin-bottom-1 medium-grey-bg">
                                        <h3>Information</h3>

                                        <input class="hide" type="file" (change)="onChange($event,promo)" #fileUpload />


                                        <!-- 
                                        <button (click)="item.is_valid = true" class="button tiny clear active" style="margin-right: 2px;">
                                            <fa-icon  [icon]="faBarcode"></fa-icon>
                                        </button> -->


                                        <div class="list-tile-container">
                                            <div class="list-tile-item">
                                                <div class="flex-container">
                                                    <div class="flex-item flex-1">
                                                        <img style="width: 50px;height: 50px;object-fit: cover;"
                                                            [src]="promo.image_url" alt="">

                                                    </div>
                                                    <div class="flex-item text-right">
                                                        <button (click)="fileUpload.click()"
                                                            class="button tiny clear active" style="margin-right: 2px;">
                                                            Upload
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-tile-item">
                                                <div class="flex-container">
                                                    <div class="flex-item flex-1">
                                                        Status
                                                    </div>
                                                    <div class="flex-item text-right">
                                                        <label class="switch">
                                                            <input type="checkbox" [checked]="promo.status"
                                                                (change)="updateStatus('status',$event.target.checked)">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-tile-item">
                                                <div class="flex-container">
                                                    <div class="flex-item flex-1">
                                                        Show on product and checkout page ?
                                                    </div>
                                                    <div class="flex-item text-right">
                                                        <label class="switch">
                                                            <input type="checkbox" [checked]="promo.is_show"
                                                                (change)="updateStatus('is_show',$event.target.checked)">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-tile-item">
                                                <div class="flex-container">
                                                    <div class="flex-item flex-1">
                                                        Claim Voucher?
                                                    </div>
                                                    <div class="flex-item text-right">
                                                        <label class="switch">
                                                            <input type="checkbox" [checked]="promo.is_claim"
                                                                (change)="updateStatus('is_claim',$event.target.checked)">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-tile-item">
                                                <app-form-input [label]="'Name'" [id]="'name'"
                                                    (onClose)="updatePromo($event)" [value]="promo.name">
                                                </app-form-input>
                                            </div>
                                            <div class="list-tile-item">
                                                <app-form-input disabled="true" [label]="'Voucher Code'"
                                                    [id]="'promo_code'" [value]="promo.promo_code">
                                                </app-form-input>
                                            </div>

                                            <div class="list-tile-item">
                                                <app-form-input [label]="'Campaign Name'" [id]="'campaign'"
                                                    (onClose)="updatePromo($event)" [value]="promo.campaign">
                                                </app-form-input>
                                            </div>

                                            <div class="flex-container">
                                                <div class="flex-item flex-1 margin-right-1">
                                                    <div class="list-tile-item">
                                                        <app-form-input [type]="'date'" (onClose)="updatePromo($event)"
                                                            [label]="'Start Date'" [id]="'start_date'"
                                                            [value]="promo.start_date">
                                                        </app-form-input>
                                                    </div>
                                                </div>
                                                <div class="flex-item flex-1">
                                                    <div class="list-tile-item">
                                                        <app-form-input [type]="'date'" (onClose)="updatePromo($event)"
                                                            [label]="'End Date'" [id]="'end_date'"
                                                            [value]="promo.end_date">
                                                        </app-form-input>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex-container">
                                                <div class="flex-item flex-1 margin-right-1">
                                                    <div class="list-tile-item">
                                                        <app-form-input [type]="'number'" [label]="'Quota'"
                                                            [id]="'quota'" (onClose)="updatePromo($event)"
                                                            [value]="promo.quota">
                                                        </app-form-input>
                                                    </div>
                                                </div>
                                                <div class="flex-item flex-1">
                                                    <div class="list-tile-item">
                                                        <app-form-input [type]="'number'" [label]="'Use Per Customer'"
                                                            [id]="'use_per_customer'" (onClose)="updatePromo($event)"
                                                            [value]="promo.use_per_customer">
                                                        </app-form-input>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-tile-item">
                                                <app-form-input [label]="'Term and Conditions'" [id]="'term_conditions'"
                                                    (onClose)="updatePromo($event)" [value]="promo.term_conditions">
                                                </app-form-input>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="medium-6 columns">
                                    <div class="callout padding-center rounded border margin-bottom-1 medium-grey-bg">
                                        <h3 class="margin-bottom-1">Discount Rule / Product</h3>

                                        <div class="list-tile-container">

                                            <div class="list-tile-items">
                                                <div class="flex-container align-center">

                                                    <div class="flex-item flex-1 text-right margin-right-05">
                                                        <button
                                                            [ngClass]="{hollow: promo.discount_type=='fixed_amount'}"
                                                            (click)="updateStatus('discount_type','fixed_amount')"
                                                            class="button clear active   expanded small ">
                                                            Fixed Amount
                                                        </button>
                                                    </div>
                                                    <div class="flex-item flex-1 text-right">
                                                        <button [ngClass]="{hollow: promo.discount_type=='percentage'}"
                                                            (click)="updateStatus('discount_type','percentage')"
                                                            class="button  expanded small clear active ">
                                                            Percentage
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="promo.discount_type">
                                                <div class="flex-container">

                                                    <div class="flex-item flex-1">
                                                        <div class="list-tile-item">
                                                            <app-form-input
                                                                *ngIf="promo.discount_type == 'fixed_amount'"
                                                                [type]="'number'" [label]="'Discount Amount'"
                                                                [id]="'discount_amount'" (onClose)="updatePromo($event)"
                                                                [value]="promo.discount_amount">
                                                            </app-form-input>

                                                            <app-form-input *ngIf="promo.discount_type == 'percentage'"
                                                                [type]="'number'" [label]="'Percentage Amount'"
                                                                [id]="'percentage_value'"
                                                                (onClose)="updatePromo($event)"
                                                                [value]="promo.percentage_value">
                                                            </app-form-input>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="promo.discount_type == 'percentage'"
                                                        class="flex-item flex-1 margin-left-1">
                                                        <div class="list-tile-item">
                                                            <app-form-input [type]="'number'"
                                                                [label]="'Max. Discount Amount'"
                                                                [id]="'max_discount_amount'"
                                                                (onClose)="updatePromo($event)"
                                                                [value]="promo.max_discount_amount">
                                                            </app-form-input>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex-container">
                                                    <div class="flex-item flex-1 margin-right-1">
                                                        <div class="list-tile-item">
                                                            <app-form-input [type]="'number'"
                                                                [label]="'Min. Product Price'"
                                                                [id]="'min_product_price'"
                                                                (onClose)="updatePromo($event)"
                                                                [value]="promo.min_product_price">
                                                            </app-form-input>
                                                        </div>
                                                    </div>
                                                    <div class="flex-item flex-1">
                                                        <div class="list-tile-item">
                                                            <app-form-input [type]="'number'"
                                                                [label]="'Min. Product Qty'" [id]="'min_product_qty'"
                                                                (onClose)="updatePromo($event)"
                                                                [value]="promo.min_product_qty">
                                                            </app-form-input>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="list-tile-item">
                                                    <div class="flex-container">
                                                        <div class="flex-item flex-1">
                                                            Apply on discount product?
                                                        </div>
                                                        <div class="flex-item text-right">
                                                            <label class="switch">
                                                                <input type="checkbox"
                                                                    [checked]="promo.is_apply_on_discount"
                                                                    (change)="updateStatus('is_apply_on_discount',$event.target.checked)">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-tile-item">
                                                    <div class="flex-container">
                                                        <div class="flex-item flex-1">
                                                            Apply to all product?
                                                        </div>
                                                        <div class="flex-item text-right">
                                                            <label class="switch">
                                                                <input type="checkbox"
                                                                    [checked]="promo.is_apply_to_all_product"
                                                                    (change)="updateStatus('is_apply_to_all_product',$event.target.checked)">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>







                        </div>
                        <div *ngIf="promo.type == 'special_price'">
                            <div class="row">
                                <div class="medium-6 columns">
                                    <div class="callout padding-center rounded border margin-bottom-1 medium-grey-bg">
                                        <h3>Information</h3>

                                        <input class="hide" type="file" (change)="onChange($event,promo)" #fileUpload />


                                        <!-- 
                                        <button (click)="item.is_valid = true" class="button tiny clear active" style="margin-right: 2px;">
                                            <fa-icon  [icon]="faBarcode"></fa-icon>
                                        </button> -->


                                        <div class="list-tile-container">

                                            <div class="list-tile-item">
                                                <div class="flex-container">
                                                    <div class="flex-item flex-1">
                                                        Status
                                                    </div>
                                                    <div class="flex-item text-right">
                                                        <label class="switch">
                                                            <input type="checkbox" [checked]="promo.status"
                                                                (change)="updateStatus('status',$event.target.checked)">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="list-tile-item">
                                                <app-form-input [label]="'Name'" [id]="'name'"
                                                    (onClose)="updatePromo($event)" [value]="promo.name">
                                                </app-form-input>
                                            </div>



                                            <div class="flex-container">
                                                <div class="flex-item flex-1 margin-right-1">
                                                    <div class="list-tile-item">
                                                        <app-form-input [type]="'date'" (onClose)="updatePromo($event)"
                                                            [label]="'Start Date'" [id]="'start_date'"
                                                            [value]="promo.start_date">
                                                        </app-form-input>
                                                    </div>
                                                </div>
                                                <div class="flex-item flex-1">
                                                    <div class="list-tile-item">
                                                        <app-form-input [type]="'date'" (onClose)="updatePromo($event)"
                                                            [label]="'End Date'" [id]="'end_date'"
                                                            [value]="promo.end_date">
                                                        </app-form-input>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="list-tile-item">
                                                <app-form-input [label]="'Term and Conditions'" [id]="'term_conditions'"
                                                    (onClose)="updatePromo($event)" [value]="promo.term_conditions">
                                                </app-form-input>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="medium-6 columns">


                                    <div class="callout padding-center rounded border margin-bottom-1 medium-grey-bg">
                                        <h3 class="margin-bottom-1">Discount Rule / Product</h3>

                                        <div class="list-tile-container">

                                            <div class="list-tile-items">
                                                <div class="flex-container align-center">

                                                    <div class="flex-item flex-1 text-right margin-right-05">
                                                        <button
                                                            [ngClass]="{hollow: promo.discount_type=='fixed_amount'}"
                                                            (click)="updateStatus('discount_type','fixed_amount')"
                                                            class="button clear active   expanded small ">
                                                            Fixed Amount
                                                        </button>
                                                    </div>
                                                    <div class="flex-item flex-1 text-right">
                                                        <button [ngClass]="{hollow: promo.discount_type=='percentage'}"
                                                            (click)="updateStatus('discount_type','percentage')"
                                                            class="button  expanded small clear active ">
                                                            Percentage
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="promo.discount_type">
                                                <div class="flex-container">

                                                    <div class="flex-item flex-1">
                                                        <div class="list-tile-item">
                                                            <app-form-input
                                                                *ngIf="promo.discount_type == 'fixed_amount'"
                                                                [type]="'number'" [label]="'Discount Amount'"
                                                                [id]="'discount_amount'" (onClose)="updatePromo($event)"
                                                                [value]="promo.discount_amount">
                                                            </app-form-input>

                                                            <app-form-input *ngIf="promo.discount_type == 'percentage'"
                                                                [type]="'number'" [label]="'Percentage Amount'"
                                                                [id]="'percentage_value'"
                                                                (onClose)="updatePromo($event)"
                                                                [value]="promo.percentage_value">
                                                            </app-form-input>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="promo.discount_type == 'percentage'"
                                                        class="flex-item flex-1 margin-left-1">
                                                        <div class="list-tile-item">
                                                            <app-form-input [type]="'number'"
                                                                [label]="'Max. Discount Amount'"
                                                                [id]="'max_discount_amount'"
                                                                (onClose)="updatePromo($event)"
                                                                [value]="promo.max_discount_amount">
                                                            </app-form-input>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex-container">
                                                    <div class="flex-item flex-1">
                                                        <div class="list-tile-item">
                                                            <app-form-input [type]="'number'"
                                                                [label]="'Min. Product Price'"
                                                                [id]="'min_product_price'"
                                                                (onClose)="updatePromo($event)"
                                                                [value]="promo.min_product_price">
                                                            </app-form-input>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="medium-12 columns">
                                    <div class="callout padding-center medium-grey-bg rounded ">
                                        <div class="flex-container">
                                            <div class="flex-item flex-1">
                                                <h3>Collection</h3>
                                            </div>

                                            <div class="flex-item">
                                                <button (click)="showModal = 'addCollectionModal'"
                                                    class="button white tiny margin-right-05">
                                                    + Add Collection
                                                </button>
                                            </div>

                                            <div *ngIf="product?.length>0" class="flex-item">
                                                <button (click)="fetch()" class="button white tiny margin-right-05">
                                                    Fetch
                                                </button>
                                            </div>
                                        </div>


                                        <div class="list-tile-container">
                                            <div class="list-tile-item" *ngFor="let item of product">
                                                <div class="flex-container">
                                                    <div class="flex-item flex-1">
                                                        {{item.name}}
                                                    </div>

                                                    <div class="flex-item">



                                                        <button (click)="removeSpecialPrice(item)"
                                                            class="button tiny clear "> Remove</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>







                        </div>
                    </div>

                    <div *ngIf="tab_view == 'product'">
                        <app-table-action [sortListItems]="sortListItems">

                            <button *ngIf="selected_added_product.length>0" (click)="deleteItem()"
                                class="button white margin-right-05 tiny">
                                Delete Selected
                            </button>

                            <button (click)="showModal = 'addProductModal'" class="button white tiny margin-right-05">
                                + Add Product
                            </button>

                        </app-table-action>
                        <div class="table-header">


                            <div class="table-header-item flex-container">

                                <div class="flex-item flex-05">
                                    <span class="cursor border-bottom" (click)="selectAllSelected()"> Select All</span>
                                </div>
                                <div class="flex-item flex-1">
                                    Product Id


                                </div>

                                <div class="flex-item flex-1">
                                    Brand

                                </div>

                                <div class="flex-item flex-2">
                                    Name
                                </div>

                                <div class="flex-item flex-05 text-right">
                                    Status
                                </div>

                            </div>



                        </div>
                        <div class="table-body">


                            <div *ngFor="let item of product" class="table-body-item flex-container">


                                <div class="flex-item flex-05">

                                    <label class="container">
                                        <input type="checkbox" [checked]="is_select_all"
                                            (change)="selectAddedProduct($event.target.checked,item.id)">
                                        <span class="checkmark"></span>
                                    </label>

                                </div>

                                <div class="flex-item flex-1">
                                    {{item.entity_id}}

                                </div>
                                <div class="flex-item flex-1">
                                    {{item.brand}}

                                </div>


                                <div class="flex-item flex-2">
                                    {{item.name}}
                                </div>

                                <div (click)="deletePromoProduct(item.id)" class="flex-item flex-05 text-right">
                                    <fa-icon class="cursor" [icon]="faTrashAlt"></fa-icon>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>



            </div>


        </div>
    </div>

    <app-modal-full (onClose)="this.showModal = null" *ngIf="this.showModal == 'addProductModal'"
        [title]="'Add Product'">
        <app-table-action [sortListItems]="sortListItems">
            <button (click)="addProduct()" [disabled]="selected_product.length == 0" class="button white tiny">
                + Add Item
            </button>


        </app-table-action>

        <div class="table-header">


            <div class="table-header-item flex-container">


                <div class="flex-item flex-05">
                    <span class="cursor border-bottom" (click)="selectAllSearch()"> Select All</span>
                </div>
                <div class="flex-item flex-1">
                    Product Id


                </div>

                <div class="flex-item flex-1">
                    Brand

                </div>

                <div class="flex-item flex-2">
                    Name
                </div>

                <div class="flex-item flex-05 text-right">
                    Status
                </div>

            </div>



        </div>
        <div class="table-body">


            <div *ngFor="let item of search_product" class="table-body-item flex-container">


                <div class="flex-item flex-05">

                    <label class="container">
                        <input type="checkbox" [checked]="item.checked"
                            (change)="selectProduct($event.target.checked,item)" [disabled]="item.isAdded"
                            [checked]="item.check || item.isAdded">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="flex-item flex-1">
                    {{item.entity_id}}



                </div>

                <div class="flex-item flex-1">
                    {{item.brand}}



                </div>

                <div class="flex-item flex-2">
                    {{item.name}}



                </div>

                <div class="flex-item flex-05 text-right">
                    <span *ngIf="item.isAdded" class="status-label">Added</span>
                    <span *ngIf="!item.isAdded" class="status-label">-</span>

                </div>

            </div>



        </div>
    </app-modal-full>

    <app-modal (onClose)="showModal = false" *ngIf="showModal == 'addCollectionModal'" title="Add To Brand">
        <app-form-search (onSearch)="searchCollection($event)"></app-form-search>

        <div class="flex-container">
            <div class="flex-item flex-1 margin-right-05">
                <h4>Brand</h4>
                <div class="list-tile-container">
                    <div (click)="addCategoryProduct(item)" *ngFor="let item of collection.BRAND"
                        class="list-tile-item cursor">
                        {{item.name}}
                    </div>


                </div>
            </div>

        </div>
    </app-modal>
</div>