<div class="main-body page-enter-from-right">

    <div *ngIf="warehouse">
        <div *ngIf="!this.isWarehouse">
            <div class="label-text medium">
                <span [routerLink]="'/warehouse/'" class="cursor">
                    <fa-icon [icon]="faChevronLeft"></fa-icon> Back
                </span>
                <div class="title">
                    {{warehouse.name}}
                </div>

            </div>

            <div class="flex-container margin-bottom-1">
                <div class="flex-item flex-1 margin-right-05">
                    <div class="callout flex-container padding-center-1 medium-grey-bg border rounded align-center">
                        <div class="flex-item flex-2 margin-right-1">
                            <div class="small-text color-grey">
                                Purchase Inventory
                            </div>
                            <h4> {{warehouse.summary.purchase_inventory?.value | currency : 'Rp'}}</h4>

                        </div>
                        <div class="flex-item flex-1 text-right margin-right-1 ">
                            <div class="large-text">
                                {{warehouse.summary.purchase_inventory?.count}} Items
                            </div>


                        </div>

                    </div>
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    <div class="callout flex-container padding-center-1 medium-grey-bg border rounded align-center">
                        <div class="flex-item flex-2 margin-right-1">
                            <div class="small-text color-grey">
                                Flashdeal Inventory
                            </div>
                            <h4> {{warehouse.summary.flashdeal_inventory?.value | currency : 'Rp'}}</h4>

                        </div>
                        <div class="flex-item flex-1 text-right margin-right-1 ">
                            <div class="large-text">
                                {{warehouse.summary.flashdeal_inventory?.count}} Items
                            </div>


                        </div>

                    </div>
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    <div class="callout flex-container padding-center-1 medium-grey-bg border rounded align-center">
                        <div class="flex-item flex-2 margin-right-1">
                            <div class="small-text color-grey">
                                Consignment Inventory
                            </div>
                            <h4> {{warehouse.summary.consign_inventory?.value | currency : 'Rp'}}</h4>

                        </div>
                        <div class="flex-item flex-1 text-right margin-right-1 ">
                            <div class="large-text">
                                {{warehouse.summary.consign_inventory?.count}} Items
                            </div>


                        </div>

                    </div>
                </div>

                <div class="flex-item flex-1 margin-right-05">
                    <div class="callout flex-container padding-center-1 medium-grey-bg border rounded align-center">
                        <div class="flex-item flex-2 margin-right-1">
                            <div class="small-text color-grey">
                                Bonus Inventory
                            </div>
                            <h4> {{warehouse.summary.bonus_inventory?.value | currency : 'Rp'}}</h4>

                        </div>
                        <div class="flex-item flex-1 text-right margin-right-1 ">
                            <div class="large-text">
                                {{warehouse.summary.bonus_inventory?.count}} Items
                            </div>


                        </div>

                    </div>
                </div>



                <div class="flex-item flex-1">
                    <div class="callout flex-container padding-center-1 medium-grey-bg border rounded align-center">
                        <div class="flex-item flex-2 margin-right-1">
                            <div class="small-text color-grey">
                                Overstock
                            </div>
                            <h4> {{warehouse.summary.overstock?.value | currency : 'Rp'}}</h4>

                        </div>
                        <div class="flex-item flex-1 text-right margin-right-1 ">
                            <div class="large-text">
                                {{warehouse.summary.overstock?.count}} Brands
                            </div>


                        </div>

                    </div>
                </div>



            </div>
        </div>


        <div class="flex-container margin-bottom-2">

            <div class="flex-item flex-1 margin-right-05">
                <div (click)="_navigateTo('stock_opname')"
                    class="callout cursor padding-center-1 medium-grey-bg border rounded">
                    <div class="small-text color-grey">
                        Opname Request
                    </div>
                    <h4>{{warehouse.summary.stock_opname}}</h4>

                </div>
            </div>

            <div class="flex-item flex-1 margin-right-05">
                <div (click)="_navigateTo('delivered')"
                    class="callout cursor padding-center-1 medium-grey-bg border rounded">
                    <div class="small-text color-grey">
                        Check In Request
                    </div>
                    <h4>{{warehouse.summary.delivered}}</h4>

                </div>
            </div>

            <div class="flex-item flex-1 margin-right-05">
                <div (click)="_navigateTo('wait_to_pack')"
                    class="callout cursor padding-center-1 medium-grey-bg border rounded">
                    <div class="small-text color-grey">
                        Packing Request
                    </div>
                    <h4>{{warehouse.summary.wait_to_pack}}</h4>

                </div>
            </div>

            <div class="flex-item flex-1 margin-right-05">
                <div (click)="_navigateTo('on_leave')"
                    class="callout cursor padding-center-1 medium-grey-bg border rounded">
                    <div class="small-text color-grey">
                        On Leave
                    </div>
                    <h4>{{warehouse.summary.on_leave}}</h4>

                </div>
            </div>

            <div class="flex-item flex-1">
                <div (click)="_navigateTo('missing')"
                    class="callout cursor  padding-center-1 medium-grey-bg border rounded">
                    <div class="small-text color-grey">
                        Missing Item
                    </div>
                    <h4>{{warehouse.summary.missing}}</h4>

                </div>
            </div>






        </div>


        <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>

        <div *ngIf="tab_view =='inventory'">
            <app-table-action [sortListItems]="sortListItems">
                <button (click)="showModal = 'addInventory'" class="button small clear hollow margin-right-05">
                    + Receive Inventory
                </button>

                <button (click)="getWarehouse()" class="button small clear hollow">
                    Transfer Stock
                    <span *ngIf="this.selected_warehouse">{{selected_warehouse.name}}</span>
                </button>


            </app-table-action>
            <div class="table-container">



                <div class="parrent">

                    <div class="child">

                        <div class="table-header">
                            <div class=" flex-container table-header-item">





                                <div style="width: 300px !important;" class="flex-item flex-15">
                                    Name
                                </div>

                                <div style="width: 100px !important;" class="flex-item flex-1">
                                    Type
                                </div>
                                <div style="width: 100px !important;" class="flex-item flex-1">
                                    Brand
                                </div>

                                <div style="width: 200px !important;" class="flex-item flex-1">
                                    COGS
                                </div>

                                <div style="width: 50px !important;" class="flex-item flex-05">
                                    Age
                                </div>





                                <div style="width: 200px !important;" class="flex-item flex-1">
                                    Location
                                </div>










                                <div style="width: 200px !important;" class="flex-item flex-1">
                                    Status
                                </div>
                                <div class="flex-item flex-1">
                                    Order Number
                                </div>
                                <div *ngIf="selected_warehouse" class="flex-item flex-1">
                                    Transfer
                                </div>

                            </div>
                        </div>

                        <div class="table-body">

                            <div *ngFor="let item of inventory" class=" flex-container table-body-item">

                                <!-- <div class="flex-item flex-1">
                                    {{item.purchase_number}}
                                </div> -->

                                <!-- <div  class="flex-item flex-1">
                                    {{item.product_id}} 
                                    <button *ngIf="!item.order_number" (click)="deleteInventory(item.id)" class="button tiny clear">
                                        Remove
                                    </button>
                                </div> -->

                                <div class="flex-item flex-15">
                                    {{item.name}}
                                    <div class="small color-grey"> ID : {{item.product_id}}
                                        <button *ngIf="!item.order_number  && item.type == 'CONSIGNMENT'"
                                            (click)="deleteInventory(item.id)" class="button tiny clear active">
                                            Remove
                                        </button>
                                    </div>
                                    <div class="color-grey small-text"> <span *ngIf="item.serial_number"
                                            class="status-label">
                                            SN : {{item.serial_number}}
                                        </span></div>
                                    <!-- <div> <button class="button tiny clear" (click)="statusUpdate(item,'wait_to_pack')">packing</button>
                                    <button class="button tiny clear" (click)="statusUpdate(item,'stock_opname')">opname</button></div>
                                     -->
                                </div>
                                <div class="flex-item flex-1">
                                    {{item.type}}

                                    <!-- <div> <button class="button tiny clear" (click)="statusUpdate(item,'wait_to_pack')">packing</button>
                                    <button class="button tiny clear" (click)="statusUpdate(item,'stock_opname')">opname</button></div>
                                     -->
                                </div>
                                <div class="flex-item flex-1">
                                    {{item.brand}}

                                    <!-- <div> <button class="button tiny clear" (click)="statusUpdate(item,'wait_to_pack')">packing</button>
                                    <button class="button tiny clear" (click)="statusUpdate(item,'stock_opname')">opname</button></div>
                                     -->
                                </div>

                                <div class="flex-item flex-1">
                                    {{item.cogs | currency : "Rp"}}
                                    <div *ngIf="item.purchase_number" class="small-text color-grey">
                                        #Purchase {{item.purchase_number}}
                                    </div>
                                </div>

                                <div class="flex-item flex-05">

                                    <span class="status-label">
                                        {{item.age}} D
                                    </span>

                                </div>




                                <div class="flex-item flex-1">
                                    {{item.location?.name}} - {{item.location?.chamber}}
                                    <div class="small-text ">
                                        <span class="color-grey"> Receive </span> {{item.created_at |date}}
                                    </div>
                                    <div class="small-text ">
                                        <span class="color-grey"> Last Opname</span> {{item.opname_check_date |date}}
                                    </div>
                                </div>








                                <div class="flex-item flex-1">
                                    <span class="status-label">
                                        {{item.status=='ready_to_ship' || item.status=='wait_to_pack'?'Sold':item.status}}
                                    </span>



                                </div>
                                <div class="flex-item flex-1">
                                    <span *ngIf="item.order_number" class="status-label">
                                        {{item.order_number}} {{item.source}}

                                    </span>
                                    <div *ngIf="item.sold_date" class="small-text color-grey">
                                        Sold Date {{item.sold_date | date }}
                                    </div>




                                </div>
                                <div *ngIf="selected_warehouse" class="flex-item flex-1">
                                    <button [disabled]="item.transfer_status" (click)="transfer(item)"
                                        *ngIf="item.status == 'check_in'" class="button tiny">
                                        <span *ngIf="item.transfer_status">Transfer Success</span>
                                        <span *ngIf="!item.transfer_status"> Transfer to
                                            {{selected_warehouse.name}}</span>


                                    </button>


                                </div>


                            </div>
                        </div>

                        <div *ngIf="page>=1" lazyload (onShown)="loadMore()"></div>
                    </div>
                </div>


            </div>


        </div>


        <div *ngIf="tab_view =='rack'">
            <app-table-action>
                <button (click)="showModal = 'addRackModal'" class="button small clear hollow">
                    + Rack / Chamber
                </button>
            </app-table-action>


            <div class="table-header">
                <div class=" flex-container table-header-item">



                    <div class="flex-item flex-1">
                        Location
                    </div>

                    <div class="flex-item flex-15 ">
                        Rack ID
                    </div>

                    <div class="flex-item flex-1 ">
                        Chamber ID
                    </div>





                    <div class="flex-item flex-1">
                        Capacity
                    </div>

                    <div class="flex-item flex-1">
                        Avarage Age
                    </div>




                </div>
            </div>

            <div class="table-body">
                <div *ngFor="let item of rack" class=" flex-container table-body-item">


                    <div class="flex-item flex-1">
                        {{item.location}}
                    </div>

                    <div class="flex-item flex-15 ">
                        {{item.name}}
                    </div>

                    <div class="flex-item flex-1 ">
                        {{item.chamber}}
                    </div>





                    <div class="flex-item flex-1">
                        {{item.size}}
                    </div>

                    <div class="flex-item flex-1">
                        Avarage Age
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="tab_view =='stock_buffer'">
            <app-table-action>
                <button (click)="showModal = 'addStockModal'" class="button small clear hollow">
                    + Stock Buffer
                </button>
            </app-table-action>


            <div class="table-header">
                <div class=" flex-container table-header-item">



                    <div class="flex-item flex-1">
                        Brand
                    </div>



                    <div class="flex-item flex-1 ">
                        Current Stock
                    </div>

                    <div class="flex-item flex-1 ">
                        Buffer Stock
                    </div>



                    <div class="flex-item flex-15 ">
                        Status
                    </div>

                    <div class="flex-item flex-1 ">
                        Sold in 30 Day
                    </div>

                    <div class="flex-item flex-1 ">
                        Suggestion
                    </div>









                </div>
            </div>

            <div class="table-body">
                <div *ngFor="let item of buffer" class=" flex-container table-body-item">



                    <div class="flex-item flex-1">
                        {{item.brand}}
                    </div>

                    <!-- <div class="flex-item flex-15 ">
                       {{item.type}}
                    </div> -->

                    <div class="flex-item flex-1 ">
                        {{item.current_stock | currency : 'Rp'}}


                    </div>

                    <div class="flex-item flex-1 ">
                        <!-- {{item.inventory_value | currency : 'Rp'}} -->

                        <app-form-input isHideAction="true" (onClose)="updateWarehouseBuffer($event,item.id)"
                            [type]="'currency'" [value]="item.inventory_value" [id]="'inventory_value'">
                        </app-form-input>
                    </div>





                    <div class="flex-item flex-15 ">
                        <span class="status-label margin-right-05">
                            {{item.stock_status}}



                        </span>

                        <!-- <span class="status-label">
                            <span *ngIf="item.stock_status == 'overstock'">
                                {{item.overstock_value | currency : 'Rp'}}
    
                                </span>
                                <span *ngIf="item.stock_status == 'understock'">
                                     {{item.understock_value | currency : 'Rp'}}
    
                                </span>
                            </span> -->





                    </div>


                    <div class="flex-item flex-1 ">
                        {{item.sold.value | currency : "Rp"}} <span class="tiny-text"> ({{item.sold.count}}
                            items)</span>
                    </div>

                    <div class="flex-item flex-1 ">
                        {{item.insight}}
                    </div>











                </div>
            </div>

        </div>

        <app-opname-order (onItemUpdate)="onItemUpdate($event)" [inventory]="opname" *ngIf="tab_view =='stock_opname'">
        </app-opname-order>
        <app-racking-order (onItemUpdate)="onItemUpdate($event)" [inventory]="checkin" [rack]="rack"
            *ngIf="tab_view =='delivered'"></app-racking-order>
        <app-packing-order (onItemUpdate)="onItemUpdate($event)" [inventory]="packing"
            *ngIf="tab_view =='wait_to_pack'"></app-packing-order>










    </div>
</div>




<app-modal (onClose)="showModal = null" *ngIf="showModal == 'addStockModal'" [title]="'Add Stock Buffer'">
    <form class="form" [formGroup]="bufferForm">
        <div class="margin-bottom-1 padding-bottom-1">

            <app-form-search [placeholder]="'Search Brand'" (onSearch)="getBrands($event)">
            </app-form-search>

            <div tabindex="-1" class="form search-container">



                <div *ngIf="brands.length > 0"
                    class="search-content callout padding-center-1 rounded border medium-grey-bg">
                    <div class="list-tile-container">
                        <div (click)="addThisBrand(item)" *ngFor="let item of brands"
                            class="list-tile-item cursor cursor flex-container">


                            <div class="flex-item flex-1">
                                {{item.name}}
                            </div>
                            <div class="flex-item">
                                <button class="button tiny clear">
                                    Add
                                </button>
                            </div>
                        </div>

                    </div>
                </div>



            </div>




            <label for="">Brand</label>
            {{this.bufferForm.get('brand').value}}
            <label for="">Desc</label>
            <input type="text" formControlName="description">

            <label for="">Value</label>
            <input type="number" formControlName="inventory_value">










        </div>
        <button [disabled]="!this.bufferForm.valid" class="button expanded " (click)="addWarehouseBuffer()">Add
            Rack</button>



    </form>
</app-modal>


<app-modal (onClose)="showModal = null" *ngIf="showModal == 'addRackModal'" [title]="'Add Rack'">
    <form class="form" [formGroup]="rackForm">
        <div class="margin-bottom-1 form padding-bottom-1">






            <label for="">Location</label>
            <input type="text" formControlName="location">

            <label for="">Rack Name</label>
            <input type="text" formControlName="name">

            <label for="">Chamber ID</label>
            <input type="text" formControlName="chamber">

            <label for="">Capacity</label>
            <input type="text" formControlName="size">









        </div>
        <button [disabled]="!this.rackForm.valid" class="button expanded " (click)="addWarehouseRack()">Add
            Rack</button>



    </form>
</app-modal>

<app-modal isHalf="true" (onClose)="showModal = null;this.ngOnInit()" *ngIf="showModal == 'addInventory'"
    [title]="'Receive Inventory'">

    <app-form-search [placeholder]="'Select Product'" (onSearch)="searchChanges($event)">
    </app-form-search>

    <div tabindex="-1" class="form search-container">



        <div *ngIf="products?.length>0" class="search-content callout padding-center-1 rounded border medium-grey-bg list-tile-container">
            <!-- <div class="list-tile-container">
                <div (click)="addThisProduct(item)" *ngFor="let item of products"
                    class="list-tile-item cursor cursor flex-container">


                    <div class="flex-item flex-1">
                        {{item.name}}
                    </div>
                    <div class="flex-item">
                        <button class="button tiny clear">
                            Add
                        </button>
                    </div>
                </div>

            </div> -->

            <div *ngFor="let item of products" class="list-tile-item cursor cursor flex-container">


                <div class="flex-item flex-1">
                    {{item.name}}
                </div>
              
                <div class="flex-item text-right">


                    <div *ngIf="item.total_variant == 0">

                        <button (click)="addThisProduct(item)" class="button tiny clear">
                            Add <span class="color-grey"> Stock Level</span>

                            {{item.qty}}
                        </button>
                    </div>

                    <div *ngIf="item.total_variant>0">


                        <button (click)="getProductVariant(item)" class="button tiny clear">
                            Select <span class="color-grey"> Varian</span>

                            {{item.total_variant}}
                        </button>
                    </div>





                </div>

            </div>


            <div *ngIf="this.page>=1" lazyload (onShown)="loadMoreSearch()"></div>

        </div>
    </div>

    <div class="margin-bottom-1 padding-bottom-1">




        <div class="table-header">
            <div class=" flex-container table-header-item">

                <div class="flex-item flex-1">
                    Product ID
                </div>

                <div class="flex-item flex-15">
                    Product Name
                </div>
                <div class="flex-item flex-1">
                    COGS
                </div>
                <!-- 
                <div class="flex-item flex-1">
                    Location
                </div> -->

                <div class="flex-item flex-1">
                    Type
                </div>



                <div class="flex-item flex-1">
                    Qty
                </div>


                <div class="flex-item flex-1 text-right">
                    Action
                </div>






            </div>
        </div>

        <div class="form table-body">
            <div *ngFor="let item of Inventorys; let i = index;" class="flex-container table-body-item">

                <div class="flex-item flex-1">
                    {{ item.product_id }}
                </div>

                <div class="flex-item flex-15">
                    {{ item.name }}
                </div>

                <div class="flex-item flex-1">
                    <input [(ngModel)]="item.cogs" type="number">
                </div>

                <div class="flex-item flex-1">
                    <select [(ngModel)]="item.type">
                        <option value="CONSIGNMENT">CONSIGNMENT</option>
                        <option value="BONUS">BONUS</option>
                    </select>
                </div>

                <div class="flex-item flex-1">
                    <input [(ngModel)]="item.qty" type="number">
                </div>

                <div class="flex-item flex-1 text-right">
                    <button [disabled]="item.isAdded || !item.type || !item.cogs || !item.qty"
                        (click)="receiveItem(item)" class="button tiny clear">
                        {{ item.isAdded ? 'Added' : 'Receive' }}
                    </button>
                </div>

            </div>
        </div>







    </div>
</app-modal>

<app-modal *ngIf="showWarehouse">
    <div *ngFor="let item of warehouse_list">
        {{item.name}} <button (click)="selectWarehouse(item)">Select</button>
    </div>
</app-modal>



<app-modal (onClose)="this.variant = null" title="Select Variant" (onClose)="variant = null" *ngIf="variant">
    <div *ngFor="let item of variant">
        <button class="button expanded clear active" (click)="addThisProduct(item)">{{item.variant_name}} - <span
                class="color-grey"> Stock Level</span>

            {{item.qty}}
        </button>
    </div>
</app-modal>