.search-container{
    position: relative;
    .search-content{
        position: absolute;
        z-index: 9999;
        width: 100%;
        box-shadow: 0 2px 16px rgba(0,0,0,.4);
        max-height: 300px;
        overflow: auto;
    }
}